Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

codecov.yml:

coverage:
  status:
    project:
      target: 90%
      # send notification if coverage change exceed this threshold
      threshold: 5%
    core-packages:
      target: 100%
      flags: 
        - core-packages
    plugins:
      target: 50%
      flags: 
        - plugins

flags:
  core-packages:
    paths:
      - packages
  plugins:
    paths:
      - plugins

Ignore lint error
  .eslintrc.js
Due: none

Fix a typo
  packages/superset-ui-chart-controls/src/index.ts
Due: core-packages

fix(legacy-preset-chart-nvd3): make wide bar chart scrollable (#903)
  plugins/legacy-preset-chart-nvd3/src/ReactNVD3.jsx
Due: plugins

feat(plugin-chart-echarts): Add xAxis label format && showMin and showMax labels (#894)
  .eslintrc.js
  packages/superset-ui-chart-controls/src/index.ts
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  packages/superset-ui-chart-controls/src/types.ts
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
Due: core-packages, plugins

feat(legacy-preset-chart-nvd3): subject Add legend option to nvd3 chart
  plugins/legacy-preset-chart-nvd3/src/DualLine/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/NVD3Controls.tsx
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
Due: plugins

feat(legacy-plugin-chart-histogram): subject Add legend option to histogram chart
  plugins/legacy-plugin-chart-heatmap/src/controlPanel.ts
  plugins/legacy-plugin-chart-histogram/src/Histogram.jsx
  plugins/legacy-plugin-chart-histogram/src/controlPanel.ts
  plugins/legacy-plugin-chart-histogram/src/transformProps.js
Due: plugins

feat(legacy-preset-chart-nvd3): subject Add legend option to nvd3 chart (#904)
  plugins/legacy-preset-chart-nvd3/src/DualLine/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/NVD3Controls.tsx
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
Due: plugins

feat(legacy-plugin-chart-histogram): subject Add legend option to histogram chart (#905)
  plugins/legacy-plugin-chart-heatmap/src/controlPanel.ts
  plugins/legacy-plugin-chart-histogram/src/Histogram.jsx
  plugins/legacy-plugin-chart-histogram/src/controlPanel.ts
  plugins/legacy-plugin-chart-histogram/src/transformProps.js
Due: plugins

feat(plugin-chart-echarts): add legend customization options
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Pie/Stories.tsx
  plugins/plugin-chart-echarts/src/Pie/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Pie/types.ts
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
  plugins/plugin-chart-echarts/src/controls.ts
  plugins/plugin-chart-echarts/src/defaults.ts
  plugins/plugin-chart-echarts/src/types.ts
  plugins/plugin-chart-echarts/src/utils/series.ts
  plugins/plugin-chart-echarts/test/Pie/transformProps.test.ts
  plugins/plugin-chart-echarts/test/utils/series.test.ts
Due: core-packages, plugins

feat(plugin-chart-echarts): subject Add rich tooltip
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
Due: plugins

feat(plugin-chart-echarts): add legend customization options (#833)
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Pie/Stories.tsx
  plugins/plugin-chart-echarts/src/Pie/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Pie/types.ts
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
  plugins/plugin-chart-echarts/src/controls.ts
  plugins/plugin-chart-echarts/src/defaults.ts
  plugins/plugin-chart-echarts/src/types.ts
  plugins/plugin-chart-echarts/src/utils/series.ts
  plugins/plugin-chart-echarts/test/Pie/transformProps.test.ts
  plugins/plugin-chart-echarts/test/utils/series.test.ts
Due: core-packages, plugins

chore: publish v0.16.9
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/plugin-filter-antd/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

fix(legacy-preset-chart-nvd3): remove data fetching from multiline chart (#899)
  plugins/legacy-preset-chart-nvd3/src/LineMulti/LineMulti.jsx
  plugins/legacy-preset-chart-nvd3/src/LineMulti/index.js
Due: plugins

chore: publish v0.16.10
  lerna.json
  plugins/legacy-preset-chart-nvd3/package.json
Due: plugins

feat(legacy-preset-chart-nvd3): subject Add Y bounds for nvd3 charts
  plugins/legacy-preset-chart-nvd3/src/DistBar/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/DualLine/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/LineMulti/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/NVD3Controls.tsx
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
  plugins/legacy-preset-chart-nvd3/src/transformProps.js
Due: plugins

fix: remove max-width from tooltip div
  plugins/legacy-preset-chart-nvd3/src/utils.js
Due: plugins

remove unused parameter
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
  plugins/legacy-preset-chart-nvd3/src/utils.js
Due: plugins

barebone plugin
  plugins/plugin-chart-echarts/src/Graph/EchartsGraph.tsx
  plugins/plugin-chart-echarts/src/Graph/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Graph/images/thumbnail.png
  plugins/plugin-chart-echarts/src/Graph/index.ts
  plugins/plugin-chart-echarts/src/Graph/sample_input.json
  plugins/plugin-chart-echarts/src/Graph/transformProps.ts
  plugins/plugin-chart-echarts/src/Graph/types.ts
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
Due: plugins

feat(plugin-chart-echarts): subject Add rich tooltip
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
Due: plugins

feat(plugin-chart-echarts): subject Add time formatter on tooltip title
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Due: plugins

Fix lint
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Due: plugins

chore: make controlPanel to single column
  .gitignore
  plugins/legacy-preset-chart-big-number/src/BigNumber/controlPanel.tsx
  plugins/legacy-preset-chart-nvd3/src/Bar/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/DistBar/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Line/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/LineMulti/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/NVD3Controls.tsx
  plugins/legacy-preset-chart-nvd3/src/TimePivot/controlPanel.ts
Due: plugins

fix(chart-controls): add a tooltip to span in ColumnOption
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-chart-controls/src/components/ColumnOption.tsx
  packages/superset-ui-chart-controls/src/components/InfoTooltipWithTrigger.tsx
  packages/superset-ui-chart-controls/src/components/Tooltip.tsx
Due: core-packages

Fix unit test
  packages/superset-ui-chart-controls/test/components/InfoTooltipWithTrigger.test.tsx
Due: core-packages

chore: move all controls for NVD3 and Big Number charts to separate rows (#913)
  .gitignore
  plugins/legacy-preset-chart-big-number/src/BigNumber/controlPanel.tsx
  plugins/legacy-preset-chart-nvd3/src/Bar/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/DistBar/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Line/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/LineMulti/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/NVD3Controls.tsx
  plugins/legacy-preset-chart-nvd3/src/TimePivot/controlPanel.ts
Due: plugins

fix: remove max-width from tooltip div (#909)
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
  plugins/legacy-preset-chart-nvd3/src/utils.js
Due: plugins

feat(legacy-preset-chart-nvd3): subject Add Y bounds for nvd3 charts (#908)
  plugins/legacy-preset-chart-nvd3/src/DistBar/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/DualLine/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/LineMulti/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/NVD3Controls.tsx
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
  plugins/legacy-preset-chart-nvd3/src/transformProps.js
Due: plugins

Gray out null (N/A) values
  plugins/plugin-chart-table/src/Styles.tsx
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/buildQuery.ts
  plugins/plugin-chart-table/src/utils/formatValue.ts
Due: plugins

Address PR comments
  packages/superset-ui-core/src/query/extractQueryFields.ts
  packages/superset-ui-core/src/utils/removeDuplicates.ts
Due: core-packages

Upgrade match-sorter
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  yarn.lock
Due: plugins

Fix typo
  packages/superset-ui-core/test/utils/removeDuplicates.test.ts
Due: core-packages

chore: publish v0.17.0
  lerna.json
  packages/generator-superset/package.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/plugin-filter-antd/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

Fix
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Due: plugins

Fix lint
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
Due: plugins

feat(plugin-chart-echarts): subject Add time formatter on the tooltip title (#912)
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Due: plugins

Add comment
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
Due: plugins
