Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

Use D3 value formatting
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
  plugins/plugin-chart-pivot-table/src/plugin/controlPanel.ts
  plugins/plugin-chart-pivot-table/src/plugin/transformProps.ts
  plugins/plugin-chart-pivot-table/src/types.ts
Due: plugins

Change thumbnail
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-pivot-table/src/images/thumbnail.png
Due: plugins

Replace console logs with TODO comments
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
Due: plugins

clean up geojson; migrate countries.js to TS
  plugins/legacy-plugin-chart-country-map/scripts/Country Map GeoJSON Generator.ipynb
  plugins/legacy-plugin-chart-country-map/src/controlPanel.ts
  plugins/legacy-plugin-chart-country-map/src/countries.ts
  plugins/legacy-plugin-chart-country-map/src/countries/belgium.geojson
  plugins/legacy-plugin-chart-country-map/src/countries/brazil.geojson
  plugins/legacy-plugin-chart-country-map/src/countries/bulgaria.geojson
  plugins/legacy-plugin-chart-country-map/src/countries/canada.geojson
  plugins/legacy-plugin-chart-country-map/src/countries/china.geojson
  plugins/legacy-plugin-chart-country-map/src/countries/egypt.geojson
  plugins/legacy-plugin-chart-country-map/src/countries/france.geojson
  plugins/legacy-plugin-chart-country-map/src/countries/germany.geojson
  plugins/legacy-plugin-chart-country-map/src/countries/india.geojson
  plugins/legacy-plugin-chart-country-map/src/countries/iran.geojson
  plugins/legacy-plugin-chart-country-map/src/countries/italy.geojson
  plugins/legacy-plugin-chart-country-map/src/countries/japan.geojson
  plugins/legacy-plugin-chart-country-map/src/countries/korea.geojson
  plugins/legacy-plugin-chart-country-map/src/countries/liechtenstein.geojson
  plugins/legacy-plugin-chart-country-map/src/countries/morocco.geojson
  plugins/legacy-plugin-chart-country-map/src/countries/myanmar.geojson
  plugins/legacy-plugin-chart-country-map/src/countries/netherlands.geojson
  plugins/legacy-plugin-chart-country-map/src/countries/portugal.geojson
  plugins/legacy-plugin-chart-country-map/src/countries/russia.geojson
  plugins/legacy-plugin-chart-country-map/src/countries/singapore.geojson
  plugins/legacy-plugin-chart-country-map/src/countries/spain.geojson
  plugins/legacy-plugin-chart-country-map/src/countries/switzerland.geojson
  plugins/legacy-plugin-chart-country-map/src/countries/syria.geojson
  plugins/legacy-plugin-chart-country-map/src/countries/thailand.geojson
  plugins/legacy-plugin-chart-country-map/src/countries/timorleste.geojson
  plugins/legacy-plugin-chart-country-map/src/countries/uk.geojson
  plugins/legacy-plugin-chart-country-map/src/countries/ukraine.geojson
  plugins/legacy-plugin-chart-country-map/src/countries/uruguay.geojson
  plugins/legacy-plugin-chart-country-map/src/countries/usa.geojson
  plugins/legacy-plugin-chart-country-map/src/countries/zambia.geojson
  plugins/legacy-plugin-chart-country-map/src/geojson.d.ts
Due: plugins

Make country name required field
  plugins/legacy-plugin-chart-country-map/src/controlPanel.ts
Due: plugins

Optimize error handling
  plugins/legacy-plugin-chart-country-map/src/CountryMap.js
  plugins/legacy-plugin-chart-country-map/src/transformProps.js
Due: plugins

Implement z-a sorting
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-pivot-table/src/plugin/controlPanel.ts
  plugins/plugin-chart-pivot-table/test/plugin/transformProps.test.ts
Due: plugins

Fix lint errors
  plugins/legacy-plugin-chart-country-map/src/CountryMap.js
Due: plugins

chore(legacy-plugin-chart-country-map): clean up dead code
  plugins/legacy-plugin-chart-country-map/src/controlPanel.ts
Due: plugins

chore: publish v0.17.31
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-country-map/package.json
Due: core-packages, plugins

storybokk updated
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Tree/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Tree/data.ts
Due: core-packages

Rename CODEOWNERS to CODEOWNERSTerrica
  .github/CODEOWNERSTerrica
Due: none

Added pagination and detokenisation
  plugins/plugin-chart-table/src/DataTable/components/Pagination.tsx
  plugins/plugin-chart-table/src/buildQuery.ts
  plugins/plugin-chart-table/src/controlPanel.tsx
  plugins/plugin-chart-table/src/transformProps.ts
  plugins/plugin-chart-table/src/types.ts
Due: plugins

chore(plugin-chart-table): add muted attribute of video tag to whitelist
  plugins/plugin-chart-table/src/utils/formatValue.ts
Due: plugins

fix(plugin-chart-echarts): fix unnecessary highlight
  plugins/plugin-chart-echarts/src/components/Echart.tsx
Due: plugins

docs: fix comment
  packages/superset-ui-core/src/chart/models/ChartProps.ts
Due: core-packages

refactor(native-filters): Update `dataMask` structure (#1040)
  packages/superset-ui-core/src/chart/models/ChartProps.ts
  packages/superset-ui-core/src/chart/registries/ChartBuildQueryRegistrySingleton.ts
  packages/superset-ui-core/src/chart/types/Base.ts
  packages/superset-ui-core/src/chart/types/TransformFunction.ts
  packages/superset-ui-core/src/query/buildQueryContext.ts
  plugins/plugin-chart-echarts/src/BoxPlot/EchartsBoxPlot.tsx
  plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
  plugins/plugin-chart-echarts/src/BoxPlot/types.ts
  plugins/plugin-chart-echarts/src/Pie/EchartsPie.tsx
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Pie/types.ts
  plugins/plugin-chart-table/src/DataTable/utils/externalAPIs.ts
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/buildQuery.ts
  plugins/plugin-chart-table/src/transformProps.ts
Due: core-packages, plugins

simplify code
  plugins/plugin-chart-echarts/src/components/Echart.tsx
Due: plugins

fix(plugin-chart-echarts): fix unnecessary highlight (#1052)
  plugins/plugin-chart-echarts/src/components/Echart.tsx
Due: plugins

chore(core): refactor ExtraFormData
  packages/superset-ui-core/src/query/buildQueryContext.ts
  packages/superset-ui-core/src/query/buildQueryObject.ts
  packages/superset-ui-core/src/query/constants.ts
  packages/superset-ui-core/src/query/processExtraFormData.ts
  packages/superset-ui-core/src/query/types/Query.ts
  packages/superset-ui-core/src/query/types/QueryFormData.ts
  packages/superset-ui-core/test/query/buildQueryContext.test.ts
  packages/superset-ui-core/test/query/buildQueryObject.test.ts
  packages/superset-ui-core/test/query/processExtraFormData.test.ts
  plugins/plugin-chart-echarts/src/BoxPlot/EchartsBoxPlot.tsx
  plugins/plugin-chart-echarts/src/BoxPlot/buildQuery.ts
  plugins/plugin-chart-echarts/src/Pie/EchartsPie.tsx
  plugins/plugin-chart-table/src/TableChart.tsx
Due: core-packages, plugins

Add slovenia.geojson
  plugins/legacy-plugin-chart-country-map/src/countries/slovenia.geojson
Due: plugins

Update countries.ts
  plugins/legacy-plugin-chart-country-map/src/countries.ts
Due: plugins

chore(plugin-chart-table): add muted attribute of video tag to whitelist (#1051)
  plugins/plugin-chart-table/src/utils/formatValue.ts
Due: plugins

feat(legacy-plugin-chart-country-map): Add Slovenia map (#1054)
  plugins/legacy-plugin-chart-country-map/src/countries.ts
  plugins/legacy-plugin-chart-country-map/src/countries/slovenia.geojson
Due: plugins

infer override keys from mappings and remove redundant time_range
  packages/superset-ui-core/src/query/constants.ts
  packages/superset-ui-core/src/query/types/QueryFormData.ts
Due: core-packages

rename cross to interactive
  packages/superset-ui-core/src/query/constants.ts
  packages/superset-ui-core/src/query/types/QueryFormData.ts
Due: core-packages

Update README
  plugins/plugin-chart-pivot-table/README.md
Due: plugins

rename CROSS_FILTER to INTERACTIVE_CHART
  packages/superset-ui-core/src/chart/types/Base.ts
  plugins/plugin-chart-echarts/src/BoxPlot/index.ts
  plugins/plugin-chart-echarts/src/Pie/index.ts
  plugins/plugin-chart-table/src/index.ts
Due: core-packages, plugins

feat(viz): Pivot table chart POC (#1023)
  packages/superset-ui-core/src/connection/callApi/callApi.ts
  plugins/plugin-chart-pivot-table/README.md
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
  plugins/plugin-chart-pivot-table/src/images/thumbnail.png
  plugins/plugin-chart-pivot-table/src/index.ts
  plugins/plugin-chart-pivot-table/src/plugin/buildQuery.ts
  plugins/plugin-chart-pivot-table/src/plugin/controlPanel.ts
  plugins/plugin-chart-pivot-table/src/plugin/index.ts
  plugins/plugin-chart-pivot-table/src/plugin/transformProps.ts
  plugins/plugin-chart-pivot-table/src/types.ts
  plugins/plugin-chart-pivot-table/test/index.test.ts
  plugins/plugin-chart-pivot-table/test/plugin/buildQuery.test.ts
  plugins/plugin-chart-pivot-table/test/plugin/transformProps.test.ts
  plugins/plugin-chart-pivot-table/tsconfig.json
  plugins/plugin-chart-pivot-table/types/external.d.ts
  yarn.lock
Due: core-packages, plugins

remove ts-ignore
  packages/superset-ui-core/src/query/processExtraFormData.ts
Due: core-packages

chore(core): simplify ExtraFormData (#1053)
  packages/superset-ui-core/src/chart/types/Base.ts
  packages/superset-ui-core/src/query/buildQueryContext.ts
  packages/superset-ui-core/src/query/buildQueryObject.ts
  packages/superset-ui-core/src/query/constants.ts
  packages/superset-ui-core/src/query/processExtraFormData.ts
  packages/superset-ui-core/src/query/types/Query.ts
  packages/superset-ui-core/src/query/types/QueryFormData.ts
  packages/superset-ui-core/test/query/buildQueryContext.test.ts
  packages/superset-ui-core/test/query/buildQueryObject.test.ts
  packages/superset-ui-core/test/query/processExtraFormData.test.ts
  plugins/plugin-chart-echarts/src/BoxPlot/EchartsBoxPlot.tsx
  plugins/plugin-chart-echarts/src/BoxPlot/buildQuery.ts
  plugins/plugin-chart-echarts/src/BoxPlot/index.ts
  plugins/plugin-chart-echarts/src/Pie/EchartsPie.tsx
  plugins/plugin-chart-echarts/src/Pie/index.ts
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/index.ts
Due: core-packages, plugins

chore: publish v0.17.32
  lerna.json
  packages/generator-superset/package.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

children list seperated instead of mutating data,if root node not provided defaault it to node with most children
  plugins/plugin-chart-echarts/src/Tree/transformProps.ts
Due: plugins

remove logs,optimization needed
  plugins/plugin-chart-echarts/src/Tree/transformProps.ts
Due: plugins

Update notebook with Slovenia parameters
  plugins/legacy-plugin-chart-country-map/scripts/Country Map GeoJSON Generator.ipynb
Due: plugins

chore(legacy-plugin-chart-country-map): update notebook with Slovenia parameters (#1058)
  plugins/legacy-plugin-chart-country-map/scripts/Country Map GeoJSON Generator.ipynb
Due: plugins

feat(plugin-chart-echarts): radar chart mvp
  plugins/plugin-chart-echarts/src/Radar/EchartsRadar.tsx
  plugins/plugin-chart-echarts/src/Radar/buildQuery.ts
  plugins/plugin-chart-echarts/src/Radar/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Radar/images/thumbnail.png
  plugins/plugin-chart-echarts/src/Radar/index.ts
  plugins/plugin-chart-echarts/src/Radar/transformProps.ts
  plugins/plugin-chart-echarts/src/Radar/types.ts
  plugins/plugin-chart-echarts/src/constants.ts
  plugins/plugin-chart-echarts/src/types.ts
Due: plugins

fix lint
  plugins/plugin-chart-echarts/src/Radar/transformProps.ts
Due: plugins

fix TS error
  plugins/plugin-chart-echarts/src/Radar/transformProps.ts
  plugins/plugin-chart-echarts/src/Radar/types.ts
Due: plugins

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
