Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

chore: bump eslint 5.3.0
  .eslintrc.js
  package-lock.json
  package.json
Due: none

Fix typing and import errors
  packages/superset-ui-core/src/query/buildQueryObject.ts
  packages/superset-ui-core/src/query/getMetricLabel.ts
  packages/superset-ui-core/src/query/types/Column.ts
Due: core-packages

fix lint
  .eslintignore
  .eslintrc.js
  package-lock.json
  package.json
  packages/superset-ui-demo/.eslintrc
  packages/superset-ui-demo/package.json
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/BoxPlot/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Funnel/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Gauge/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Graph/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Pie/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Radar/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Tree/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Treemap/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/preset-chart-xy/Line/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/preset-chart-xy/ScatterPlot/Stories.tsx
  packages/superset-ui-demo/storybook/stories/superset-ui-chart/SuperChartStories.tsx
  packages/superset-ui-demo/storybook/stories/superset-ui-style/ThemeStories.jsx
Due: core-packages

fix(core): simplify babel config for emotion css
  babel.config.js
Due: none

feat: remove the default Y-axis truncate in bar chart
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/index.ts
Due: plugins

make all charts consistently
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
Due: plugins

update test
  packages/superset-ui-core/test/connection/SupersetClient.test.ts
Due: core-packages

CLDN-1045 Pipeline for superset-ui (#18)
  azure-pipelines.yml
  publish-template.yml
Due: none

feat: Set default for Accept field in header to take application/json (#1413)
  packages/superset-ui-core/src/connection/SupersetClientClass.ts
  packages/superset-ui-core/test/connection/SupersetClient.test.ts
Due: core-packages

fix lint
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/controlPanel.tsx
Due: plugins

chore: tweak unittest
  packages/superset-ui-core/test/query/buildQueryObject.test.ts
  packages/superset-ui-core/test/query/extractTimegrain.test.ts
  packages/superset-ui-core/test/query/types/AnnotationLayer.test.ts
  packages/superset-ui-core/test/time-format/formatters/smartDateDetailed.test.ts
  plugins/plugin-chart-echarts/src/index.ts
  plugins/plugin-chart-echarts/src/types.ts
  plugins/plugin-chart-echarts/test/utils/series.test.ts
Due: core-packages, plugins

lint
  packages/superset-ui-core/test/query/buildQueryObject.test.ts
  packages/superset-ui-core/test/time-format/formatters/smartDateDetailed.test.ts
Due: core-packages

chore: tweak unittest (#1460)
  packages/superset-ui-core/test/query/buildQueryObject.test.ts
  packages/superset-ui-core/test/query/extractTimegrain.test.ts
  packages/superset-ui-core/test/query/types/AnnotationLayer.test.ts
  packages/superset-ui-core/test/time-format/formatters/smartDateDetailed.test.ts
  plugins/plugin-chart-echarts/src/index.ts
  plugins/plugin-chart-echarts/src/types.ts
  plugins/plugin-chart-echarts/test/utils/series.test.ts
Due: core-packages, plugins

chore: bump @typescript-eslint/eslint-plugin 5.3.0 (#1457)
  .eslintignore
  .eslintrc.js
  package-lock.json
  package.json
  packages/superset-ui-demo/.eslintrc
  packages/superset-ui-demo/package.json
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/BoxPlot/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Funnel/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Gauge/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Graph/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Pie/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Radar/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Tree/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Treemap/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/preset-chart-xy/Line/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/preset-chart-xy/ScatterPlot/Stories.tsx
  packages/superset-ui-demo/storybook/stories/superset-ui-chart/SuperChartStories.tsx
  packages/superset-ui-demo/storybook/stories/superset-ui-style/ThemeStories.jsx
Due: core-packages

change to prettier.config.js
  .prettierrc
  prettier.config.js
Due: none

printWidth to 80
  prettier.config.js
Due: none

tweak
  plugins/legacy-plugin-chart-event-flow/src/transformProps.ts
  plugins/legacy-plugin-chart-time-table/src/SparklineCell.tsx
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
Due: plugins

Fix saved expression type guard
  packages/superset-ui-chart-controls/src/types.ts
  packages/superset-ui-core/src/query/types/QueryFormData.ts
Due: core-packages

Delete yarn.lock
  yarn.lock
Due: none

feat: remove the default Y-axis truncate in bar chart (#1450)
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
Due: plugins

Fix typing
  plugins/plugin-chart-echarts/src/BoxPlot/types.ts
Due: plugins

Remove redundant import
  plugins/plugin-chart-echarts/src/BoxPlot/types.ts
Due: plugins

Make Echarts and PivotTable handle AdhocColumns properly
  packages/superset-ui-core/src/query/types/Query.ts
  plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
  plugins/plugin-chart-echarts/src/BoxPlot/types.ts
  plugins/plugin-chart-echarts/src/Funnel/transformProps.ts
  plugins/plugin-chart-echarts/src/Funnel/types.ts
  plugins/plugin-chart-echarts/src/Gauge/types.ts
  plugins/plugin-chart-echarts/src/MixedTimeseries/types.ts
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Pie/types.ts
  plugins/plugin-chart-echarts/src/Radar/types.ts
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
  plugins/plugin-chart-echarts/src/Treemap/transformProps.ts
  plugins/plugin-chart-echarts/src/Treemap/types.ts
  plugins/plugin-chart-echarts/src/types.ts
  plugins/plugin-chart-pivot-table/src/plugin/buildQuery.ts
Due: core-packages, plugins

Fix lint
  packages/superset-ui-core/src/query/types/Column.ts
Due: core-packages

feat(core): add support for adhoc columns (#1342)
  packages/superset-ui-chart-controls/src/operators/boxplotOperator.ts
  packages/superset-ui-chart-controls/src/operators/pivotOperator.ts
  packages/superset-ui-chart-controls/src/operators/timeComparePivotOperator.ts
  packages/superset-ui-chart-controls/src/types.ts
  packages/superset-ui-chart-controls/test/types.test.ts
  packages/superset-ui-core/src/query/buildQueryObject.ts
  packages/superset-ui-core/src/query/extractQueryFields.ts
  packages/superset-ui-core/src/query/getColumnLabel.ts
  packages/superset-ui-core/src/query/index.ts
  packages/superset-ui-core/src/query/types/Column.ts
  packages/superset-ui-core/src/query/types/Metric.ts
  packages/superset-ui-core/src/query/types/Query.ts
  packages/superset-ui-core/src/query/types/QueryFormData.ts
  packages/superset-ui-core/test/query/getColumnLabel.test.ts
  packages/superset-ui-core/test/query/getMetricLabel.test.ts
  plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
  plugins/plugin-chart-echarts/src/BoxPlot/types.ts
  plugins/plugin-chart-echarts/src/Funnel/transformProps.ts
  plugins/plugin-chart-echarts/src/Funnel/types.ts
  plugins/plugin-chart-echarts/src/Gauge/transformProps.ts
  plugins/plugin-chart-echarts/src/Gauge/types.ts
  plugins/plugin-chart-echarts/src/MixedTimeseries/types.ts
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Pie/types.ts
  plugins/plugin-chart-echarts/src/Radar/transformProps.ts
  plugins/plugin-chart-echarts/src/Radar/types.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
  plugins/plugin-chart-echarts/src/Treemap/transformProps.ts
  plugins/plugin-chart-echarts/src/Treemap/types.ts
  plugins/plugin-chart-echarts/src/types.ts
  plugins/plugin-chart-echarts/src/utils/series.ts
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
  plugins/plugin-chart-pivot-table/src/plugin/buildQuery.ts
  plugins/plugin-chart-pivot-table/src/types.ts
Due: core-packages, plugins

chore: publish v0.18.21
  lerna.json
  package-lock.json
  packages/generator-superset/package.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

chore: coordinate superset-ui unittest with main repository
  .esprintrc
  jest.config.js
  packages/superset-ui-core/test/translation/Translator.test.ts
  packages/superset-ui-core/test/utils/logging.test.ts
  test/__mocks__/mockExportObject.js
  test/__mocks__/mockExportString.js
  test/__mocks__/svgrMock.tsx
Due: core-packages

fix(plugin-chart-echarts): fix opacity on area chart
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
Due: plugins

chore: coordinate superset-ui unittest with main repository (#1463)
  .esprintrc
  jest.config.js
  packages/superset-ui-core/test/translation/Translator.test.ts
  packages/superset-ui-core/test/utils/logging.test.ts
  test/__mocks__/mockExportObject.js
  test/__mocks__/mockExportString.js
  test/__mocks__/svgrMock.tsx
Due: core-packages

fix(plugin-chart-echarts): fix opacity on area chart (#1464)
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
Due: plugins

fix(plugin-chart-pivot-table): cross filtering by adhoc column
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
Due: plugins

fix: update chart sorting control labels/descriptions
  packages/superset-ui-chart-controls/src/shared-controls/dndControls.tsx
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
Due: core-packages

fix: update chart sorting control labels/descriptions (#1462)
  packages/superset-ui-chart-controls/src/shared-controls/dndControls.tsx
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
Due: core-packages

chore: publish v0.18.22
  lerna.json
  package-lock.json
  packages/generator-superset/package.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

chore: coordinate storybook with main repository
  packages/superset-ui-demo/package.json
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-chord/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-country-map/CountryMapStories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/BoxPlot/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Funnel/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Gauge/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Graph/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/MixedTimeseries/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Pie/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Radar/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Timeseries/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Tree/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Treemap/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/TableStories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-word-cloud/Stories.tsx
  packages/superset-ui-demo/tsconfig.json
  plugins/legacy-plugin-chart-country-map/src/index.js
  plugins/plugin-chart-echarts/src/index.ts
  plugins/plugin-chart-word-cloud/src/index.ts
Due: core-packages, plugins

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
