Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

codecov.yml:

coverage:
  status:
    project:
      target: 90%
      # send notification if coverage change exceed this threshold
      threshold: 5%
    core-packages:
      target: 100%
      flags: 
        - core-packages
    plugins:
      target: 50%
      flags: 
        - plugins

flags:
  core-packages:
    paths:
      - packages
  plugins:
    paths:
      - plugins

Update controlPanel.jsx
  plugins/legacy-plugin-chart-rose/src/controlPanel.jsx
Due: plugins

feat: update time_compare description and choices (#818)
  plugins/legacy-plugin-chart-partition/src/controlPanel.jsx
  plugins/legacy-plugin-chart-rose/src/controlPanel.jsx
  plugins/legacy-preset-chart-nvd3/src/NVD3Controls.tsx
Due: plugins

feat(plugin-chart-echarts): add support for formula annotations
  packages/superset-ui-core/src/query/types/AnnotationLayer.ts
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/utils/annotation.ts
  plugins/plugin-chart-echarts/test/Timeseries/transformProps.test.ts
  yarn.lock
Due: core-packages, plugins

address comments
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/test/utils/annotation.test.ts
Due: plugins

feat(plugin-chart-echarts): add support for formula annotations (#817)
  packages/superset-ui-core/src/query/types/AnnotationLayer.ts
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/utils/annotation.ts
  plugins/plugin-chart-echarts/test/Timeseries/transformProps.test.ts
  plugins/plugin-chart-echarts/test/utils/annotation.test.ts
  yarn.lock
Due: core-packages, plugins

fix: move @superset-ui/core to a peerDependency
  packages/superset-ui-chart-controls/package.json
Due: core-packages

feat(plugin-chart-echarts): make groupby optional
  plugins/plugin-chart-echarts/src/BoxPlot/controlPanel.ts
  plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
  plugins/plugin-chart-echarts/src/utils/series.ts
  plugins/plugin-chart-echarts/test/BoxPlot/transformProps.test.ts
  plugins/plugin-chart-echarts/test/utils/series.test.ts
Due: plugins

feat(plugin-chart-echarts): make groupby optional (#820)
  plugins/plugin-chart-echarts/src/BoxPlot/controlPanel.ts
  plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
  plugins/plugin-chart-echarts/src/utils/series.ts
  plugins/plugin-chart-echarts/test/BoxPlot/transformProps.test.ts
  plugins/plugin-chart-echarts/test/utils/series.test.ts
Due: plugins

chore: publish v0.15.12
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

fix(plugin-chart-echarts): fix broken boxplot storybook example
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/BoxPlot/data.ts
Due: core-packages

fix(plugin-chart-echarts): fix broken boxplot storybook example (#823)
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/BoxPlot/data.ts
Due: core-packages

chore: bump yarn.lock
  yarn.lock
Due: none

fix: point version badge to npm page
  README.md
  packages/generator-superset/README.md
  packages/generator-superset/generators/plugin-chart/templates/README.erb
  packages/superset-ui-chart-controls/README.md
  packages/superset-ui-core/README.md
  packages/superset-ui-demo/README.md
  plugins/legacy-plugin-chart-calendar/README.md
  plugins/legacy-plugin-chart-chord/README.md
  plugins/legacy-plugin-chart-country-map/README.md
  plugins/legacy-plugin-chart-event-flow/README.md
  plugins/legacy-plugin-chart-force-directed/README.md
  plugins/legacy-plugin-chart-heatmap/README.md
  plugins/legacy-plugin-chart-histogram/README.md
  plugins/legacy-plugin-chart-horizon/README.md
  plugins/legacy-plugin-chart-map-box/README.md
  plugins/legacy-plugin-chart-paired-t-test/README.md
  plugins/legacy-plugin-chart-parallel-coordinates/README.md
  plugins/legacy-plugin-chart-partition/README.md
  plugins/legacy-plugin-chart-pivot-table/README.md
  plugins/legacy-plugin-chart-rose/README.md
  plugins/legacy-plugin-chart-sankey-loop/README.md
  plugins/legacy-plugin-chart-sankey/README.md
  plugins/legacy-plugin-chart-sunburst/README.md
  plugins/legacy-plugin-chart-time-table/README.md
  plugins/legacy-plugin-chart-treemap/README.md
  plugins/legacy-plugin-chart-world-map/README.md
  plugins/legacy-preset-chart-big-number/README.md
  plugins/legacy-preset-chart-nvd3/README.md
  plugins/plugin-chart-choropleth-map/README.md
  plugins/plugin-chart-echarts/README.md
  plugins/plugin-chart-table/README.md
  plugins/plugin-chart-word-cloud/README.md
  plugins/preset-chart-xy/README.md
Due: core-packages, plugins

chore: bump yarn.lock (#826)
  yarn.lock
Due: none

fix: point version badge to npm page (#821)
  README.md
  packages/generator-superset/README.md
  packages/generator-superset/generators/plugin-chart/templates/README.erb
  packages/superset-ui-chart-controls/README.md
  packages/superset-ui-core/README.md
  packages/superset-ui-demo/README.md
  plugins/legacy-plugin-chart-calendar/README.md
  plugins/legacy-plugin-chart-chord/README.md
  plugins/legacy-plugin-chart-country-map/README.md
  plugins/legacy-plugin-chart-event-flow/README.md
  plugins/legacy-plugin-chart-force-directed/README.md
  plugins/legacy-plugin-chart-heatmap/README.md
  plugins/legacy-plugin-chart-histogram/README.md
  plugins/legacy-plugin-chart-horizon/README.md
  plugins/legacy-plugin-chart-map-box/README.md
  plugins/legacy-plugin-chart-paired-t-test/README.md
  plugins/legacy-plugin-chart-parallel-coordinates/README.md
  plugins/legacy-plugin-chart-partition/README.md
  plugins/legacy-plugin-chart-pivot-table/README.md
  plugins/legacy-plugin-chart-rose/README.md
  plugins/legacy-plugin-chart-sankey-loop/README.md
  plugins/legacy-plugin-chart-sankey/README.md
  plugins/legacy-plugin-chart-sunburst/README.md
  plugins/legacy-plugin-chart-time-table/README.md
  plugins/legacy-plugin-chart-treemap/README.md
  plugins/legacy-plugin-chart-world-map/README.md
  plugins/legacy-preset-chart-big-number/README.md
  plugins/legacy-preset-chart-nvd3/README.md
  plugins/plugin-chart-choropleth-map/README.md
  plugins/plugin-chart-echarts/README.md
  plugins/plugin-chart-table/README.md
  plugins/plugin-chart-word-cloud/README.md
  plugins/preset-chart-xy/README.md
Due: core-packages, plugins

feat(plugin-chart-echarts): implement event and interval annotations
  packages/superset-ui-core/src/query/types/AnnotationLayer.ts
  packages/superset-ui-core/test/query/types/AnnotationFilter.test.ts
  packages/superset-ui-core/test/query/types/AnnotationLayer.test.ts
  plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
  plugins/plugin-chart-echarts/src/utils/annotation.ts
  plugins/plugin-chart-echarts/test/utils/annotation.test.ts
Due: core-packages, plugins

address comments
  packages/superset-ui-core/src/query/types/AnnotationLayer.ts
  packages/superset-ui-core/test/query/types/AnnotationLayer.test.ts
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
  plugins/plugin-chart-echarts/src/utils/annotation.ts
  plugins/plugin-chart-echarts/src/utils/series.ts
  plugins/plugin-chart-echarts/test/utils/series.test.ts
Due: core-packages, plugins

add tests
  packages/superset-ui-core/src/query/types/AnnotationLayer.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/utils/annotation.ts
  plugins/plugin-chart-echarts/test/Timeseries/transformProps.test.ts
  plugins/plugin-chart-echarts/test/tsconfig.json
Due: core-packages, plugins

chore(chart-controls): clean up typing
  packages/superset-ui-chart-controls/src/components/InfoTooltipWithTrigger.tsx
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  packages/superset-ui-chart-controls/src/types.ts
  yarn.lock
Due: core-packages

feat(legacy-plugin-chart-sankey): allow sort by metric
  plugins/legacy-plugin-chart-sankey/src/controlPanel.ts
Due: plugins

chore(chart-controls): clean up typing (#825)
  packages/superset-ui-chart-controls/src/components/InfoTooltipWithTrigger.tsx
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  packages/superset-ui-chart-controls/src/types.ts
  yarn.lock
Due: core-packages

feat(legacy-plugin-chart-sankey): allow sort by metric (#831)
  plugins/legacy-plugin-chart-sankey/src/controlPanel.ts
Due: plugins

feat(plugin-chart-echarts): implement event interval and timeseries annotations (#828)
  packages/superset-ui-core/src/query/types/AnnotationLayer.ts
  packages/superset-ui-core/test/query/types/AnnotationFilter.test.ts
  packages/superset-ui-core/test/query/types/AnnotationLayer.test.ts
  plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
  plugins/plugin-chart-echarts/src/utils/annotation.ts
  plugins/plugin-chart-echarts/src/utils/series.ts
  plugins/plugin-chart-echarts/test/Timeseries/transformProps.test.ts
  plugins/plugin-chart-echarts/test/tsconfig.json
  plugins/plugin-chart-echarts/test/utils/annotation.test.ts
  plugins/plugin-chart-echarts/test/utils/series.test.ts
Due: core-packages, plugins

chore: publish v0.15.13
  lerna.json
  packages/generator-superset/package.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

chore: bump mathjs to latest version on all plugins
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
  plugins/plugin-chart-echarts/package.json
  yarn.lock
Due: plugins

chore: bump mathjs to latest version on all plugins (#832)
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
  plugins/plugin-chart-echarts/package.json
  yarn.lock
Due: plugins

chore: publish v0.15.14
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
Due: core-packages, plugins

fix(plugin-chart-echarts): default to 45 degree rotated labels
  plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
Due: plugins

refactor: relocating/renaming various chart controls
  packages/superset-ui-chart-controls/src/sections.tsx
  packages/superset-ui-chart-controls/src/types.ts
  packages/superset-ui-core/src/color/CategoricalColorScale.ts
  packages/superset-ui-core/src/color/SequentialScheme.ts
  plugins/legacy-plugin-chart-calendar/src/controlPanel.js
  plugins/legacy-plugin-chart-country-map/src/controlPanel.ts
  plugins/legacy-plugin-chart-event-flow/src/controlPanel.tsx
  plugins/legacy-plugin-chart-force-directed/src/controlPanel.js
  plugins/legacy-plugin-chart-heatmap/src/controlPanel.js
  plugins/legacy-plugin-chart-histogram/src/controlPanel.js
  plugins/legacy-plugin-chart-paired-t-test/src/controlPanel.ts
  plugins/legacy-plugin-chart-partition/src/controlPanel.jsx
  plugins/legacy-plugin-chart-treemap/src/controlPanel.js
  plugins/legacy-preset-chart-nvd3/src/Area/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Bubble/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/LineMulti/controlPanel.ts
Due: core-packages, plugins

feat: add AntD filter components
  plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
  plugins/plugin-filter-antd/src/Range/AntdRangeFilter.tsx
  plugins/plugin-filter-antd/src/Range/buildQuery.ts
  plugins/plugin-filter-antd/src/Range/controlPanel.ts
  plugins/plugin-filter-antd/src/Range/index.ts
  plugins/plugin-filter-antd/src/Range/transformProps.ts
  plugins/plugin-filter-antd/src/Range/types.ts
  plugins/plugin-filter-antd/src/Select/types.ts
  yarn.lock
Due: plugins

typo
  plugins/legacy-plugin-chart-event-flow/src/controlPanel.tsx
Due: plugins

add missing files
  plugins/plugin-filter-antd/README.md
  plugins/plugin-filter-antd/package.json
  plugins/plugin-filter-antd/src/Select/AntdSelectFilter.tsx
  plugins/plugin-filter-antd/src/Select/buildQuery.ts
  plugins/plugin-filter-antd/src/Select/controlPanel.ts
  plugins/plugin-filter-antd/src/Select/index.ts
  plugins/plugin-filter-antd/src/Select/transformProps.ts
  plugins/plugin-filter-antd/src/index.ts
  plugins/plugin-filter-antd/src/types.ts
  plugins/plugin-filter-antd/test/index.test.ts
  plugins/plugin-filter-antd/test/plugin/buildQuery.test.ts
  plugins/plugin-filter-antd/test/plugin/transformProps.test.ts
  plugins/plugin-filter-antd/tsconfig.json
  plugins/plugin-filter-antd/types/external.d.ts
Due: plugins

add filter hook
  plugins/plugin-filter-antd/src/Select/AntdSelectFilter.tsx
  plugins/plugin-filter-antd/src/Select/controlPanel.ts
  plugins/plugin-filter-antd/src/Select/transformProps.ts
  plugins/plugin-filter-antd/src/Select/types.ts
Due: plugins

fix hook name
  plugins/plugin-filter-antd/src/Select/AntdSelectFilter.tsx
  plugins/plugin-filter-antd/src/Select/buildQuery.ts
  plugins/plugin-filter-antd/src/Select/transformProps.ts
  plugins/plugin-filter-antd/src/Select/types.ts
Due: plugins

required thumbnail
  plugins/plugin-filter-antd/src/images/thumbnail.png
Due: plugins

add native filters to where clause
  packages/superset-ui-core/src/query/processFilters.ts
  plugins/plugin-filter-antd/src/Select/buildQuery.ts
Due: core-packages, plugins

fix(legacy-plugin-chart-pivot-table): remove nulls from table
  plugins/legacy-plugin-chart-pivot-table/src/PivotTable.js
Due: plugins

fix(legacy-plugin-chart-pivot-table): remove nulls from table (#839)
  plugins/legacy-plugin-chart-pivot-table/src/PivotTable.js
Due: plugins

add isNativeFilter flag to ChartMetadata
  packages/superset-ui-core/src/chart/models/ChartMetadata.ts
  plugins/plugin-filter-antd/src/Range/images/thumbnail.png
  plugins/plugin-filter-antd/src/Range/index.ts
  plugins/plugin-filter-antd/src/Select/images/thumbnail.png
  plugins/plugin-filter-antd/src/Select/index.ts
Due: core-packages, plugins

rename native_filters to extra_form_data
  packages/superset-ui-core/src/query/processFilters.ts
Due: core-packages
