Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

Refactor and simplify
  packages/superset-ui-core/src/color/CategoricalColorNamespace.ts
  packages/superset-ui-core/src/color/CategoricalColorScale.ts
  packages/superset-ui-core/test/color/CategoricalColorNameSpace.test.ts
Due: core-packages

Update tests
  packages/superset-ui-core/test/color/CategoricalColorNameSpace.test.ts
Due: core-packages

fix can't import styled
  packages/superset-ui-demo/.storybook/main.js
Due: core-packages

Remove unnecessary ColorMapControl
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  packages/superset-ui-chart-controls/src/types.ts
Due: core-packages

add ref type for superchart
  packages/superset-ui-core/src/chart/components/SuperChart.tsx
Due: core-packages

add ref type for superchart (#1411)
  packages/superset-ui-core/src/chart/components/SuperChart.tsx
Due: core-packages

chore: publish v0.18.14
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

Update SupersetClientClass.ts
  packages/superset-ui-core/src/connection/SupersetClientClass.ts
Due: core-packages

chore: adapte storybook 6 params
  packages/superset-ui-demo/.storybook/preview.js
Due: core-packages

chore: adapte storybook 6 params (#1414)
  packages/superset-ui-demo/.storybook/preview.js
Due: core-packages

disable build Storybook job
  .github/workflows/chromatic.yml.disabled
  .github/workflows/ci.yml
Due: none

refactor: replace yarn with npm
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .npmrc
  CONTRIBUTING.md
  docs/debugging.md
  docs/storybook.md
  lerna.json
  package-lock.json
  package.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-chart-controls/src/components/Select.tsx
  packages/superset-ui-demo/README.md
  packages/superset-ui-demo/package.json
  plugins/plugin-chart-pivot-table/package.json
  scripts/build.js
  temporary-plugins/superset-ui-plugins-demo/README.md
  temporary-plugins/superset-ui-plugins-demo/package.json
  yarn.lock
Due: core-packages, plugins

update lock file
  package-lock.json
Due: none

rebase master and bump encodable/color to 1.1.1
  .github/workflows/chromatic.yml
  .github/workflows/ci.yml
  package-lock.json
  packages/superset-ui-demo/.storybook/main.js
  packages/superset-ui-demo/package.json
Due: core-packages

fix linting errors
  .prettierrc
  package-lock.json
  package.json
  packages/superset-ui-chart-controls/src/components/ControlForm/ControlFormItem.tsx
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/types.ts
  packages/superset-ui-chart-controls/src/types.ts
  packages/superset-ui-core/src/chart-composition/legend/WithLegend.tsx
  packages/superset-ui-core/src/chart/components/NoResultsComponent.tsx
  packages/superset-ui-core/src/chart/models/ChartPlugin.ts
  packages/superset-ui-core/src/models/RegistryWithDefaultKey.ts
  packages/superset-ui-core/src/query/api/v1/makeApi.ts
  packages/superset-ui-core/src/query/buildQueryContext.ts
  packages/superset-ui-core/test/query/buildQueryObject.test.ts
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-histogram/data.ts
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-pivot-table/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/testData.ts
  plugins/legacy-plugin-chart-country-map/src/index.js
  plugins/legacy-plugin-chart-heatmap/src/index.js
  plugins/legacy-plugin-chart-map-box/src/index.js
  plugins/legacy-plugin-chart-paired-t-test/src/TTestTable.jsx
  plugins/legacy-plugin-chart-parallel-coordinates/src/transformProps.js
  plugins/legacy-plugin-chart-partition/src/index.js
  plugins/legacy-plugin-chart-pivot-table/src/index.js
  plugins/legacy-plugin-chart-rose/src/index.js
  plugins/legacy-plugin-chart-sankey-loop/src/index.js
  plugins/legacy-plugin-chart-sunburst/src/index.js
  plugins/legacy-plugin-chart-treemap/src/index.js
  plugins/plugin-chart-echarts/src/MixedTimeseries/EchartsMixedTimeseries.tsx
  plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Pie/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  plugins/plugin-chart-table/src/DataTable/hooks/useSticky.tsx
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/preset-chart-xy/src/components/legend/types.ts
  temporary-plugins/hold-potentially-deprecate/superset-ui-plugin-chart-table/src/Table.tsx
  temporary-plugins/plugin-chart-choropleth-map/src/chart/ChoroplethMap.tsx
Due: core-packages, plugins

revert npm requirement back to 14 for vercel
  package.json
Due: none

add resolved in lock file and restriction on @encodable/color
  package-lock.json
  packages/superset-ui-demo/package.json
Due: core-packages

update package-lock.json
  package-lock.json
Due: none

remove restriction on @encodable/color
  package-lock.json
  packages/superset-ui-demo/package.json
Due: core-packages

change node version format to satisfy vercel
  package.json
Due: none

rename yarn.lock to package-lock.json
  .github/workflows/codecov.sh
  .gitignore
Due: none

install dependences by npm ci
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  docs/debugging.md
  docs/storybook.md
  packages/superset-ui-demo/README.md
  temporary-plugins/superset-ui-plugins-demo/README.md
Due: core-packages

Add saudi arabia provinces geojson - source https://maps.elastic.co/#file/saudi_arabia_provinces
  plugins/legacy-plugin-chart-country-map/src/countries.ts
  plugins/legacy-plugin-chart-country-map/src/countries/saudi_arabia.geojson
Due: plugins

Remove unnecessary const
  packages/superset-ui-core/src/color/CategoricalColorNamespace.ts
Due: core-packages

fix format of goejson to follow superset format parsed by CountryMap.js
  plugins/legacy-plugin-chart-country-map/src/countries/saudi_arabia.geojson
Due: plugins

feat: add drag-and-drop column rearrangement for tables
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/DataTable/hooks/useSticky.tsx
  plugins/plugin-chart-table/src/DataTable/types/react-table.d.ts
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/controlPanel.tsx
  plugins/plugin-chart-table/src/transformProps.ts
  plugins/plugin-chart-table/src/types.ts
Due: plugins

feat: add drag and drop column rearrangement for table plugin
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/DataTable/hooks/useSticky.tsx
  plugins/plugin-chart-table/src/DataTable/types/react-table.d.ts
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/controlPanel.tsx
  plugins/plugin-chart-table/src/transformProps.ts
  plugins/plugin-chart-table/src/types.ts
Due: plugins

fix: typescript props error
  plugins/plugin-chart-table/src/DataTable/types/react-table.d.ts
Due: plugins

fix: lint issues
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/TableChart.tsx
Due: plugins

feat: added to storybook Big Table
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/TableStories.tsx
Due: core-packages

Update countries.ts
  plugins/legacy-plugin-chart-country-map/src/countries.ts
Due: plugins

chore: export module that use in main repo
  packages/superset-ui-core/src/chart/index.ts
  packages/superset-ui-core/src/color/index.ts
  packages/superset-ui-demo/.storybook/main.js
Due: core-packages

chore: export module that use in main repo (#1425)
  packages/superset-ui-core/src/chart/index.ts
  packages/superset-ui-core/src/color/index.ts
  packages/superset-ui-demo/.storybook/main.js
Due: core-packages

fix: remove package-lock.json
  package.json
Due: none

Remove control label_colors
  packages/superset-ui-chart-controls/src/sections/sections.tsx
  plugins/legacy-plugin-chart-chord/src/controlPanel.ts
  plugins/legacy-plugin-chart-histogram/src/controlPanel.ts
  plugins/legacy-plugin-chart-partition/src/controlPanel.tsx
  plugins/legacy-plugin-chart-rose/src/controlPanel.tsx
  plugins/legacy-plugin-chart-sankey-loop/src/controlPanel.ts
  plugins/legacy-plugin-chart-sankey/src/controlPanel.ts
  plugins/legacy-plugin-chart-treemap/src/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Area/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Bar/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Bubble/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Compare/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/DistBar/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/DualLine/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Line/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/LineMulti/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Pie/controlPanel.ts
  plugins/plugin-chart-echarts/src/MixedTimeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Regular/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Step/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-word-cloud/src/plugin/controlPanel.ts
  plugins/preset-chart-xy/src/BoxPlot/controlPanel.ts
Due: core-packages, plugins

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
