Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

codecov.yml:

coverage:
  status:
    project:
      target: 90%
      # send notification if coverage change exceed this threshold
      threshold: 5%
    core-packages:
      target: 100%
      flags: 
        - core-packages
    plugins:
      target: 50%
      flags: 
        - plugins

flags:
  core-packages:
    paths:
      - packages
  plugins:
    paths:
      - plugins

move font size multipliers to constants
  plugins/plugin-chart-echarts/src/Gauge/constants.ts
  plugins/plugin-chart-echarts/src/Gauge/transformProps.ts
Due: plugins

add tests
  plugins/plugin-chart-echarts/src/Gauge/constants.ts
  plugins/plugin-chart-echarts/src/Gauge/transformProps.ts
  plugins/plugin-chart-echarts/test/Gauge/buildQuery.test.ts
  plugins/plugin-chart-echarts/test/Gauge/transformProps.test.ts
Due: plugins

rename roundcap
  plugins/plugin-chart-echarts/src/Gauge/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Gauge/transformProps.ts
  plugins/plugin-chart-echarts/src/Gauge/types.ts
  plugins/plugin-chart-echarts/test/Gauge/transformProps.test.ts
Due: plugins

tying fix
  plugins/plugin-chart-echarts/src/Tree/transformProps.ts
  plugins/plugin-chart-echarts/src/Tree/types.ts
Due: plugins

fix(chart-controls): transform emotion css prop
  babel.config.js
  package.json
  packages/superset-ui-chart-controls/src/components/ControlForm/index.tsx
  packages/superset-ui-core/package.json
  scripts/build.js
  yarn.lock
Due: core-packages

Add jest support
  jest.config.js
  package.json
  packages/superset-ui-core/package.json
  yarn.lock
Due: core-packages

fix(chart-controls): transform emotion css prop (#1036)
  babel.config.js
  jest.config.js
  package.json
  packages/superset-ui-chart-controls/src/components/ControlForm/index.tsx
  packages/superset-ui-core/package.json
  scripts/build.js
  yarn.lock
Due: core-packages

chore: publish v0.17.26
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

feat: extra_jwt support to be used in dashboard_rbac (#1021)
  packages/superset-ui-core/src/query/buildQueryContext.ts
  packages/superset-ui-core/src/query/types/Query.ts
  packages/superset-ui-core/src/query/types/QueryFormData.ts
  packages/superset-ui-core/src/utils/featureFlags.ts
  packages/superset-ui-core/test/query/buildQueryContext.test.ts
Due: core-packages

chore: publish v0.17.27
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

improved types accuracy
  plugins/plugin-chart-echarts/src/Tree/transformProps.ts
  plugins/plugin-chart-echarts/src/Tree/types.ts
Due: plugins

Code review fixes
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/DataTable/hooks/useSticky.tsx
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/buildQuery.ts
  plugins/plugin-chart-table/src/transformProps.ts
  plugins/plugin-chart-table/src/utils/formatValue.ts
Due: plugins

Use dnd with percentage metrics and sortby controls
  packages/superset-ui-chart-controls/src/shared-controls/dndControls.tsx
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  plugins/plugin-chart-table/src/controlPanel.tsx
Due: core-packages, plugins

Fix typo
  plugins/plugin-chart-table/src/controlPanel.tsx
Due: plugins

Fix totals with percentage metrics
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
Due: plugins

Make totals checkbox tooltip more descriptive
  plugins/plugin-chart-table/src/controlPanel.tsx
Due: plugins

Change totals tooltip
  plugins/plugin-chart-table/src/controlPanel.tsx
Due: plugins

Remove console.log
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/TableChart.tsx
  yarn.lock
Due: plugins

feat(plugin-chart-table): implement totals row
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/DataTable/hooks/useSticky.tsx
  plugins/plugin-chart-table/src/Styles.tsx
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/buildQuery.ts
  plugins/plugin-chart-table/src/controlPanel.tsx
  plugins/plugin-chart-table/src/transformProps.ts
  plugins/plugin-chart-table/src/types.ts
  plugins/plugin-chart-table/src/utils/formatValue.ts
Due: plugins

Fix typing error
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-table/src/transformProps.ts
  yarn.lock
Due: plugins

Use array destructuring
  plugins/plugin-chart-table/src/transformProps.ts
Due: plugins

clean,typing fix
  plugins/plugin-chart-echarts/src/Tree/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Tree/transformProps.ts
  plugins/plugin-chart-echarts/src/Tree/types.ts
Due: plugins

stories added
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Tree/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Tree/data.ts
Due: core-packages

feat: add place type
  packages/superset-ui-core/src/chart/models/ChartProps.ts
  packages/superset-ui-core/src/chart/types/Base.ts
Due: core-packages

optional metric control
  plugins/plugin-chart-echarts/src/Tree/controlPanel.tsx
Due: plugins

bigger thumbnail
  plugins/plugin-chart-echarts/src/Tree/images/thumbnail.png
Due: plugins

fix(plugin-chart-table): add text align to table header
  plugins/plugin-chart-table/src/TableChart.tsx
Due: plugins

fix(plugin-chart-table): add text align to table header (#1039)
  plugins/plugin-chart-table/src/TableChart.tsx
Due: plugins

chore: publish v0.17.28
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/plugin-chart-table/package.json
Due: core-packages, plugins

refactor: fix CR notes
  packages/superset-ui-core/src/chart/models/ChartProps.ts
  packages/superset-ui-core/src/chart/types/Base.ts
Due: core-packages

Fix typo
  packages/superset-ui-chart-controls/src/shared-controls/dndControls.tsx
Due: core-packages

refactor: change own state
  packages/superset-ui-core/src/chart/models/ChartProps.ts
  packages/superset-ui-core/src/chart/types/Base.ts
  packages/superset-ui-core/src/query/buildQueryObject.ts
  packages/superset-ui-core/src/query/types/QueryFormData.ts
  plugins/plugin-chart-table/src/DataTable/utils/externalAPIs.ts
  plugins/plugin-chart-table/src/buildQuery.ts
Due: core-packages, plugins

docs: update comments
  packages/superset-ui-core/src/chart/models/ChartProps.ts
Due: core-packages

refactor: change own state
  packages/superset-ui-core/src/query/types/QueryFormData.ts
  plugins/plugin-chart-table/src/buildQuery.ts
  plugins/plugin-chart-table/src/transformProps.ts
Due: core-packages, plugins

fix: fix CR notes
  packages/superset-ui-core/src/chart/models/ChartProps.ts
  packages/superset-ui-core/src/chart/types/Base.ts
Due: core-packages

refactor: update TS for extra form data
  packages/superset-ui-core/src/query/types/QueryFormData.ts
Due: core-packages

add modulo on color picking to wrap around the color scheme
  plugins/plugin-chart-echarts/src/Gauge/transformProps.ts
Due: plugins

feat(plugin-chart-table): Implement showing totals (#1034)
  packages/superset-ui-chart-controls/src/shared-controls/dndControls.tsx
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/DataTable/hooks/useSticky.tsx
  plugins/plugin-chart-table/src/Styles.tsx
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/buildQuery.ts
  plugins/plugin-chart-table/src/controlPanel.tsx
  plugins/plugin-chart-table/src/transformProps.ts
  plugins/plugin-chart-table/src/types.ts
  plugins/plugin-chart-table/src/utils/formatValue.ts
  yarn.lock
Due: core-packages, plugins

feat(plugin-chart-table): enable emitting cross-filters
  plugins/plugin-chart-table/src/Styles.tsx
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/controlPanel.tsx
  plugins/plugin-chart-table/src/index.ts
  plugins/plugin-chart-table/src/transformProps.ts
Due: plugins

add alert/report ALERTS_ATTACH_REPORTS feature flag
  packages/superset-ui-core/src/utils/featureFlags.ts
Due: core-packages
