Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

codecov.yml:

coverage:
  status:
    project:
      target: 90%
      # send notification if coverage change exceed this threshold
      threshold: 5%
    core-packages:
      target: 100%
      flags: 
        - core-packages
    plugins:
      target: 50%
      flags: 
        - plugins

flags:
  core-packages:
    paths:
      - packages
  plugins:
    paths:
      - plugins

feat(legacy-preset-chart-nvd3): update by comment
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
  plugins/legacy-preset-chart-nvd3/src/Pie/controlPanel.ts
Due: plugins

feat(legacy-preset-chart-nvd3): further dry up
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
Due: plugins

feat(legacy-preset-chart-nvd3): fix tooltip
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
Due: plugins

fix(query): equals operator, duplicate filters and time range endpoints (#700)
  packages/superset-ui-query/src/buildQueryObject.ts
  packages/superset-ui-query/src/extractExtras.ts
  packages/superset-ui-query/src/processFilters.ts
  packages/superset-ui-query/src/types/Operator.ts
  packages/superset-ui-query/src/types/QueryFormData.ts
  packages/superset-ui-query/test/convertFilter.test.ts
  packages/superset-ui-query/test/extractExtras.test.ts
  packages/superset-ui-query/test/processFilters.test.ts
  packages/superset-ui-query/test/types/Filter.test.ts
Due: core-packages

chore: publish v0.14.15
  lerna.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-query/package.json
  packages/superset-ui-superset-ui/package.json
Due: core-packages

fix: charts rerender with zero-height during tab switch
  plugins/legacy-plugin-chart-world-map/src/WorldMap.js
  plugins/legacy-plugin-chart-world-map/src/transformProps.js
  plugins/plugin-chart-table/src/DataTable/hooks/useSticky.tsx
Due: plugins

chore(plugin-chart-parallel-coordinates): convert para coords chart to emotion styling (#641)
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/src/ParallelCoordinates.css
  plugins/legacy-plugin-chart-parallel-coordinates/src/ParallelCoordinates.js
  plugins/legacy-plugin-chart-parallel-coordinates/src/ReactParallelCoordinates.jsx
  plugins/legacy-plugin-chart-parallel-coordinates/src/index.js
Due: plugins

refactor: refactor transform props
  plugins/plugin-chart-waterfall/src/plugin/buildQuery.ts
  plugins/plugin-chart-waterfall/src/plugin/controlPanel.tsx
  plugins/plugin-chart-waterfall/src/plugin/transformProps.ts
Due: plugins

refactor: add thumbnail / refactor code for CR
  plugins/plugin-chart-waterfall/src/Waterfall.tsx
  plugins/plugin-chart-waterfall/src/components/Waterfall.tsx
  plugins/plugin-chart-waterfall/src/components/WaterfallBar.tsx
  plugins/plugin-chart-waterfall/src/components/WaterfallLegend.tsx
  plugins/plugin-chart-waterfall/src/components/WaterfallTick.tsx
  plugins/plugin-chart-waterfall/src/components/utils.ts
  plugins/plugin-chart-waterfall/src/images/thumbnail.png
  plugins/plugin-chart-waterfall/src/plugin/controlPanel.ts
  plugins/plugin-chart-waterfall/src/plugin/controlPanel.tsx
  plugins/plugin-chart-waterfall/src/plugin/index.ts
  plugins/plugin-chart-waterfall/src/plugin/transformProps.ts
Due: plugins

test: add first test
  plugins/plugin-chart-waterfall/src/components/WaterfallLegend.tsx
  plugins/plugin-chart-waterfall/src/plugin/transformProps.ts
  plugins/plugin-chart-waterfall/test/components/Waterfall.test.tsx
  plugins/plugin-chart-waterfall/test/mocks/waterfallData.ts
Due: plugins

refactor: add TS props to transforProps
  plugins/plugin-chart-waterfall/src/components/Waterfall.tsx
  plugins/plugin-chart-waterfall/src/plugin/transformProps.ts
  yarn.lock
Due: plugins

chore: update yarn.lock
  yarn.lock
Due: none

feat(legacy-plugin-chart-rose): add time grain (#696)
  plugins/legacy-plugin-chart-rose/src/controlPanel.jsx
Due: plugins

fix(plugin-chart-table): value undefined when table name has dot (#686)
  packages/superset-ui-chart-composition/package.json
  packages/superset-ui-chart/package.json
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/testData.ts
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/test/TableChart.test.tsx
  plugins/plugin-chart-table/test/testData.ts
  plugins/plugin-chart-word-cloud/package.json
  scripts/build.js
  temporary-plugins/package.json
  temporary-plugins/superset-ui-plugins-demo/package.json
  yarn.lock
Due: core-packages, plugins

chore: publish v0.14.14
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
Due: core-packages, plugins

fix(legacy-plugin-chart-pivot-table): formatting non-numeric values (#695)
  plugins/legacy-plugin-chart-pivot-table/src/PivotTable.js
Due: plugins

chore: publish v0.14.11
  lerna.json
  packages/superset-ui-chart-composition/package.json
  packages/superset-ui-chart/package.json
  packages/superset-ui-connection/package.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-superset-ui/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
Due: core-packages, plugins

chore: publish v0.14.13
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-treemap/package.json
Due: core-packages, plugins

fix: implement extra filter logic (#688)
  packages/superset-ui-query/src/buildQueryObject.ts
  packages/superset-ui-query/src/extractExtras.ts
  packages/superset-ui-query/src/processExtras.ts
  packages/superset-ui-query/src/processFilters.ts
  packages/superset-ui-query/src/types/Query.ts
  packages/superset-ui-query/src/types/QueryFormData.ts
  packages/superset-ui-query/test/extractExtras.test.ts
  packages/superset-ui-query/test/processFilters.test.ts
  plugins/plugin-chart-word-cloud/src/plugin/buildQuery.ts
Due: core-packages, plugins

fix(legacy-plugin-chart-treemap): incorrect template literal (#693)
  plugins/legacy-plugin-chart-treemap/src/Treemap.js
Due: plugins

chore: publish v0.14.12
  lerna.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-query/package.json
  packages/superset-ui-superset-ui/package.json
  plugins/plugin-chart-word-cloud/package.json
Due: core-packages, plugins

refactor: fix TS errors
  plugins/plugin-chart-waterfall/package.json
  plugins/plugin-chart-waterfall/src/components/Waterfall.tsx
  plugins/plugin-chart-waterfall/src/components/WaterfallBar.tsx
  plugins/plugin-chart-waterfall/src/components/WaterfallTick.tsx
  plugins/plugin-chart-waterfall/src/components/utils.ts
  plugins/plugin-chart-waterfall/src/plugin/buildQuery.ts
  plugins/plugin-chart-waterfall/src/plugin/transformProps.ts
  plugins/plugin-chart-waterfall/yarn.lock
  yarn.lock
Due: plugins

test: fix TS
  plugins/plugin-chart-waterfall/test/components/Waterfall.test.tsx
Due: plugins

lint: Fix lint
  plugins/plugin-chart-waterfall/test/components/Waterfall.test.tsx
Due: plugins

feat(legacy-preset-chart-nvd3): refactor to getNumberFormatter
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
Due: plugins

fix: charts rerender with zero-height during tab switch (#703)
  plugins/legacy-plugin-chart-world-map/src/WorldMap.js
  plugins/legacy-plugin-chart-world-map/src/transformProps.js
  plugins/plugin-chart-table/src/DataTable/hooks/useSticky.tsx
Due: plugins

chore: publish v0.14.16
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-table/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

feat(legacy-preset-chart-nvd3): add a new label type to pie chart (#699)
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
  plugins/legacy-preset-chart-nvd3/src/Pie/controlPanel.ts
Due: plugins

chore: publish v0.14.17
  lerna.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/preset-chart-xy/package.json
Due: plugins

add predictive analytics
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.ts
Due: plugins

fix controls
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
Due: plugins

feat: waterfall chart
  plugins/plugin-chart-waterfall/README.md
  plugins/plugin-chart-waterfall/package.json
  plugins/plugin-chart-waterfall/src/components/Waterfall.tsx
  plugins/plugin-chart-waterfall/src/components/WaterfallBar.tsx
  plugins/plugin-chart-waterfall/src/components/WaterfallLegend.tsx
  plugins/plugin-chart-waterfall/src/components/WaterfallTick.tsx
  plugins/plugin-chart-waterfall/src/components/utils.ts
  plugins/plugin-chart-waterfall/src/images/thumbnail.png
  plugins/plugin-chart-waterfall/src/index.ts
  plugins/plugin-chart-waterfall/src/plugin/buildQuery.ts
  plugins/plugin-chart-waterfall/src/plugin/controlPanel.ts
  plugins/plugin-chart-waterfall/src/plugin/index.ts
  plugins/plugin-chart-waterfall/src/plugin/transformProps.ts
  plugins/plugin-chart-waterfall/test/components/Waterfall.test.tsx
  plugins/plugin-chart-waterfall/test/index.test.ts
  plugins/plugin-chart-waterfall/test/mocks/waterfallData.ts
  plugins/plugin-chart-waterfall/types/external.d.ts
Due: plugins

fix: fix git
  plugins/plugin-chart-waterfall/src/components/Waterfall.tsx
Due: plugins

test: add tests for waterfall chart
  plugins/plugin-chart-waterfall/src/components/Waterfall.tsx
  plugins/plugin-chart-waterfall/src/components/WaterfallBar.tsx
  plugins/plugin-chart-waterfall/src/components/WaterfallLegend.tsx
  plugins/plugin-chart-waterfall/src/components/WaterfallTick.tsx
  plugins/plugin-chart-waterfall/src/plugin/buildQuery.ts
  plugins/plugin-chart-waterfall/src/plugin/transformProps.ts
  plugins/plugin-chart-waterfall/test/components/Waterfall.test.tsx
  yarn.lock
Due: plugins
