Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

feat: add function to wrap api calls
  packages/superset-ui-connection/src/withSupersetClient.ts
  packages/superset-ui-query/package.json
  packages/superset-ui-query/src/api/postApiV1ChartData.ts
  packages/superset-ui-query/src/api/withSupersetClient.ts
  packages/superset-ui-query/src/types/QueryResponse.ts
Due: core-packages

feat: add function to wrap api calls with returned type
  packages/superset-ui-query/src/api/legacy/fetchExploreJson.ts
  packages/superset-ui-query/src/api/legacy/types.ts
  packages/superset-ui-query/src/api/v1/postChartData.ts
  packages/superset-ui-query/src/api/v1/types.ts
  packages/superset-ui-query/src/api/withSupersetClient.ts
  packages/superset-ui-query/src/index.ts
  packages/superset-ui-query/src/types/QueryResponse.ts
Due: core-packages

fix: remove deprecated
  packages/superset-ui-connection/src/withSupersetClient.ts
Due: core-packages

fix: rename
  packages/superset-ui-query/src/api/legacy/fetchExploreJson.ts
Due: core-packages

fix: unit tests
  packages/superset-ui-chart/src/clients/ChartClient.ts
  packages/superset-ui-chart/test/clients/ChartClient.test.ts
Due: core-packages

test: add unit test
  packages/superset-ui-query/package.json
  packages/superset-ui-query/src/api/legacy/fetchExploreJson.ts
  packages/superset-ui-query/src/api/v1/postChartData.ts
  packages/superset-ui-query/test/api/fixtures/constants.ts
  packages/superset-ui-query/test/api/v1/postChartData.test.ts
Due: core-packages

test: add unit tests
  packages/superset-ui-query/src/api/legacy/fetchExploreJson.ts
  packages/superset-ui-query/test/api/legacy/fetchExploreJson.test.ts
Due: core-packages

feat(style): export emotion-theming utilities
  packages/superset-ui-demo/.storybook/themeDecorator.js
  packages/superset-ui-style/README.md
  packages/superset-ui-style/package.json
  packages/superset-ui-style/src/index.ts
  plugins/plugin-chart-word-cloud/package.json
  plugins/plugin-chart-word-cloud/src/chart/WordCloud.tsx
Due: core-packages, plugins

Also export `styled` as named export
  packages/superset-ui-style/README.md
  packages/superset-ui-style/src/index.ts
Due: core-packages

Type in variable declaration instead of `as`
  packages/superset-ui-style/src/index.ts
Due: core-packages

feat(superset-ui-style): export ThemeProvider and useTheme (#553)
  packages/superset-ui-demo/.storybook/themeDecorator.js
  packages/superset-ui-style/README.md
  packages/superset-ui-style/package.json
  packages/superset-ui-style/src/index.ts
  plugins/plugin-chart-word-cloud/package.json
  plugins/plugin-chart-word-cloud/src/chart/WordCloud.tsx
Due: core-packages, plugins

feat(demo): add helpers for resizable chart demo
  packages/superset-ui-demo/package.json
  packages/superset-ui-demo/storybook/shared/components/ResizableChartDemo.tsx
  packages/superset-ui-demo/storybook/shared/components/ResizablePanel.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-word-cloud/Stories.tsx
  packages/superset-ui-demo/storybook/stories/superset-ui-chart/SuperChartStories.tsx
  yarn.lock
Due: core-packages

Use css-in-js for SupersetBody
  packages/superset-ui-demo/.storybook/storybook.css
  packages/superset-ui-demo/package.json
  packages/superset-ui-demo/storybook/shared/components/ResizableChartDemo.tsx
  packages/superset-ui-demo/storybook/shared/components/ResizablePanel.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-table/TableStories.tsx
Due: core-packages

feat(plugin-chart-choropleth-map): scaffold and load map (#527)
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-country-map/data.ts
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-choropleth-map/Stories.tsx
  plugins/plugin-chart-choropleth-map/README.md
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-choropleth-map/src/chart/ChoroplethMap.tsx
  plugins/plugin-chart-choropleth-map/src/chart/MapMetadata.ts
  plugins/plugin-chart-choropleth-map/src/chart/Projection.ts
  plugins/plugin-chart-choropleth-map/src/chart/loadMap.ts
  plugins/plugin-chart-choropleth-map/src/images/thumbnail.png
  plugins/plugin-chart-choropleth-map/src/index.ts
  plugins/plugin-chart-choropleth-map/src/maps/index.ts
  plugins/plugin-chart-choropleth-map/src/maps/usa-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/world-topo.json
  plugins/plugin-chart-choropleth-map/src/plugin/index.ts
  plugins/plugin-chart-choropleth-map/src/plugin/transformProps.ts
  plugins/plugin-chart-choropleth-map/src/types.ts
  plugins/plugin-chart-choropleth-map/test/index.test.ts
  plugins/plugin-chart-choropleth-map/types/external.d.ts
  plugins/plugin-chart-word-cloud/package.json
  yarn.lock
Due: core-packages, plugins

feat(plugin-chart-choropleth-map): add zooming (#528)
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-choropleth-map/src/chart/ChoroplethMap.tsx
  plugins/plugin-chart-choropleth-map/src/chart/components.ts
  yarn.lock
Due: plugins

build: bump dependency
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-word-cloud/package.json
  yarn.lock
Due: plugins

feat(plugin-chart-choropleth-map): add more country maps (#529)
  plugins/plugin-chart-choropleth-map/src/maps/belgium-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/brazil-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/bulgaria-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/canada-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/china-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/france-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/germany-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/index.ts
  plugins/plugin-chart-choropleth-map/src/maps/india-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/iran-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/italy-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/japan-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/korea-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/liechtenstein-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/morocco-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/myanmar-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/netherlands-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/portugal-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/russia-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/singapore-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/spain-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/switzerland-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/thailand-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/timorleste-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/uk-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/ukraine-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/zambia-topo.json
Due: plugins

build: mark private
  plugins/plugin-chart-choropleth-map/package.json
Due: plugins

build: update dependency
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-word-cloud/package.json
  yarn.lock
Due: plugins

feat(plugin-chart-choropleth-map): add tooltip (#548)
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-choropleth-map/Stories.tsx
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-choropleth-map/src/chart/ChoroplethMap.tsx
  plugins/plugin-chart-choropleth-map/src/chart/Encoder.ts
  plugins/plugin-chart-choropleth-map/src/chart/MapMetadata.ts
  plugins/plugin-chart-choropleth-map/src/chart/MapTooltip.tsx
  yarn.lock
Due: core-packages, plugins

feat(plugin-chart-choropleth-map): add encoding (#541)
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-choropleth-map/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-choropleth-map/generateFakeMapData.ts
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-choropleth-map/useFakeMapData.ts
  plugins/plugin-chart-choropleth-map/src/chart/ChoroplethMap.tsx
  plugins/plugin-chart-choropleth-map/src/chart/Encoder.ts
  plugins/plugin-chart-choropleth-map/src/plugin/transformProps.ts
Due: core-packages, plugins

Not a component
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-calendar/src/Calendar.js
  plugins/legacy-plugin-chart-calendar/src/ReactCalendar.js
Due: plugins

swith to emotion styled
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-calendar/src/Calendar.js
  plugins/legacy-plugin-chart-calendar/src/ReactCalendar.js
  plugins/legacy-plugin-chart-calendar/src/ReactCalendar.jsx
Due: plugins

add proptypes to pass unit test
  plugins/legacy-plugin-chart-calendar/src/ReactCalendar.jsx
Due: plugins

feat(demo): add helpers for resizable chart demo (#557)
  packages/superset-ui-demo/.storybook/storybook.css
  packages/superset-ui-demo/package.json
  packages/superset-ui-demo/storybook/shared/components/ResizableChartDemo.tsx
  packages/superset-ui-demo/storybook/shared/components/ResizablePanel.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-table/TableStories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-word-cloud/Stories.tsx
  packages/superset-ui-demo/storybook/stories/superset-ui-chart/SuperChartStories.tsx
  yarn.lock
Due: core-packages

feat(plugin-chart-table): rewrite with react-table
  packages/superset-ui-demo/.storybook/main.js
  packages/superset-ui-demo/package.json
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/TableStories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/birthNames.json
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/data.js
  plugins/plugin-chart-table/README.md
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/DataTable/README.md
  plugins/plugin-chart-table/src/DataTable/components/GlobalFilter.tsx
  plugins/plugin-chart-table/src/DataTable/components/Pagination.tsx
  plugins/plugin-chart-table/src/DataTable/components/SelectPageSize.tsx
  plugins/plugin-chart-table/src/DataTable/index.tsx
  plugins/plugin-chart-table/src/DataTable/types.ts
  plugins/plugin-chart-table/src/Table.css
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/controlPanel.tsx
  plugins/plugin-chart-table/src/images/thumbnail.png
  plugins/plugin-chart-table/src/images/thumbnailLarge.png
  plugins/plugin-chart-table/src/index.ts
  plugins/plugin-chart-table/src/transformProps.ts
  plugins/plugin-chart-table/src/types.ts
  plugins/plugin-chart-table/test/ReactDataTable.test.tsx
  plugins/plugin-chart-table/test/testData.ts
  plugins/plugin-chart-table/types/external.d.ts
  yarn.lock
Due: core-packages, plugins

Refine typing, enable sticky
  packages/superset-ui-demo/.storybook/main.js
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/TableStories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/birthNames.json
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/DataTable/Styles.tsx
  plugins/plugin-chart-table/src/DataTable/components/Pagination.tsx
  plugins/plugin-chart-table/src/DataTable/hooks/useColumnCellProps.ts
  plugins/plugin-chart-table/src/DataTable/hooks/useSticky.ts
  plugins/plugin-chart-table/src/DataTable/types.ts
  plugins/plugin-chart-table/src/DataTable/types/react-table.d.ts
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/transformProps.ts
  plugins/plugin-chart-table/src/types.ts
Due: core-packages, plugins

Add resizable wrapper to table chart stories
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/TableStories.tsx
Due: core-packages

Use storybook knobs instead of custom controls
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/TableStories.tsx
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/DataTable/components/SelectPageSize.tsx
  plugins/plugin-chart-table/src/DataTable/types.ts
  plugins/plugin-chart-table/src/TableChart.tsx
Due: core-packages, plugins

Fix test case
  plugins/plugin-chart-table/test/TableChart.test.tsx
Due: plugins

Add sort icons
  packages/superset-ui-demo/.storybook/main.js
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/DataTable/Styles.tsx
  plugins/plugin-chart-table/src/DataTable/components/Pagination.tsx
  plugins/plugin-chart-table/src/DataTable/components/SelectPageSize.tsx
  plugins/plugin-chart-table/src/DataTable/types.ts
  plugins/plugin-chart-table/src/Table.css
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/transformProps.ts
  plugins/plugin-chart-table/src/types.ts
  plugins/plugin-chart-table/test/TableChart.test.tsx
  yarn.lock
Due: core-packages, plugins

Memoimize for pagination
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/TableStories.tsx
Due: core-packages

feat(query): add functions to wrap api calls with typings (#555)
  packages/superset-ui-query/package.json
  packages/superset-ui-query/src/api/legacy/fetchExploreJson.ts
  packages/superset-ui-query/src/api/legacy/types.ts
  packages/superset-ui-query/src/api/v1/postChartData.ts
  packages/superset-ui-query/src/api/v1/types.ts
  packages/superset-ui-query/src/index.ts
  packages/superset-ui-query/test/api/fixtures/constants.ts
  packages/superset-ui-query/test/api/legacy/fetchExploreJson.test.ts
  packages/superset-ui-query/test/api/v1/postChartData.test.ts
Due: core-packages

chore: publish v0.13.26
  lerna.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-query/package.json
  packages/superset-ui-style/package.json
  packages/superset-ui-superset-ui/package.json
  plugins/plugin-chart-word-cloud/package.json
Due: core-packages, plugins

docs: update changelog
  CHANGELOG.md
Due: none

add emotion styling to Markup chart
  plugins/legacy-plugin-chart-markup/package.json
  plugins/legacy-plugin-chart-markup/src/Markup.css
  plugins/legacy-plugin-chart-markup/src/Markup.jsx
Due: plugins

feat: add more api wrappers
  packages/superset-ui-query/src/api/legacy/fetchExploreJson.ts
  packages/superset-ui-query/src/api/legacy/getDatasourceMetadata.ts
  packages/superset-ui-query/src/api/legacy/getFormData.ts
  packages/superset-ui-query/src/api/legacy/index.ts
  packages/superset-ui-query/src/api/types.ts
  packages/superset-ui-query/src/api/v1/index.ts
  packages/superset-ui-query/src/api/v1/postChartData.ts
  packages/superset-ui-query/src/index.ts
Due: core-packages

test: add unit tests
  packages/superset-ui-query/src/api/legacy/getFormData.ts
  packages/superset-ui-query/test/api/fixtures/constants.ts
  packages/superset-ui-query/test/api/legacy/fetchExploreJson.test.ts
  packages/superset-ui-query/test/api/legacy/getDatasourceMetadata.test.ts
  packages/superset-ui-query/test/api/legacy/getFormData.test.ts
  packages/superset-ui-query/test/api/setupClientForTest.ts
  packages/superset-ui-query/test/api/v1/postChartData.test.ts
Due: core-packages

Address PR comments
  packages/superset-ui-demo/.storybook/main.js
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/DataTable/components/Pagination.tsx
  plugins/plugin-chart-table/src/DataTable/components/SelectPageSize.tsx
  plugins/plugin-chart-table/src/DataTable/types/react-table.d.ts
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/transformProps.ts
Due: core-packages, plugins

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
