Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

feat(plugin-chart-echarts): emit filter events when clicking on slice
  plugins/plugin-chart-echarts/src/Pie/EchartsPie.tsx
  plugins/plugin-chart-echarts/src/Pie/index.ts
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Pie/types.ts
  plugins/plugin-chart-echarts/src/components/Echart.tsx
  plugins/plugin-chart-echarts/src/types.ts
Due: plugins

PR fixes
  plugins/legacy-plugin-chart-country-map/src/countries/syria.geojson
Due: plugins

feat(plugin-chart-echarts): enable emitting filter
  plugins/plugin-chart-echarts/src/Pie/EchartsPie.tsx
  plugins/plugin-chart-echarts/src/Pie/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Pie/types.ts
Due: plugins

clean up filter state
  plugins/plugin-chart-echarts/src/Pie/EchartsPie.tsx
Due: plugins

check eventHandlers by emitFilter flag
  plugins/plugin-chart-echarts/src/Pie/EchartsPie.tsx
Due: plugins

feat(plugin-chart-echarts): multiple choices for filter
  plugins/plugin-chart-echarts/src/Pie/EchartsPie.tsx
Due: plugins

chore: translation strings in histogram display (#981)
  plugins/legacy-plugin-chart-histogram/src/Histogram.jsx
Due: plugins

push state outside plugin
  plugins/plugin-chart-echarts/src/Pie/EchartsPie.tsx
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Pie/types.ts
Due: plugins

WIP
  plugins/plugin-chart-echarts/src/Pie/EchartsPie.tsx
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Pie/types.ts
Due: plugins

feat: support warning_markdown on metrics
  packages/superset-ui-chart-controls/src/components/MetricOption.tsx
  packages/superset-ui-core/package.json
  packages/superset-ui-core/src/components/SafeMarkdown.tsx
  packages/superset-ui-core/src/components/index.ts
  packages/superset-ui-core/src/index.ts
  packages/superset-ui-core/src/query/types/Metric.ts
  yarn.lock
Due: core-packages

feat: support warning_markdown on metrics (#1011)
  packages/superset-ui-chart-controls/src/components/MetricOption.tsx
  packages/superset-ui-core/package.json
  packages/superset-ui-core/src/components/SafeMarkdown.tsx
  packages/superset-ui-core/src/components/index.ts
  packages/superset-ui-core/src/index.ts
  packages/superset-ui-core/src/query/types/Metric.ts
  yarn.lock
Due: core-packages

fix: time formatter test
  packages/superset-ui-core/test/time-format/factories/createD3TimeFormatter.test.ts
Due: core-packages

fix: time formatter test (#1012)
  packages/superset-ui-core/test/time-format/factories/createD3TimeFormatter.test.ts
Due: core-packages

chore: publish v0.17.21
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

feat(plugin-chart-echarts): select multiple values
  plugins/plugin-chart-echarts/src/Pie/EchartsPie.tsx
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Pie/types.ts
  plugins/plugin-chart-echarts/src/components/Echart.tsx
  plugins/plugin-chart-echarts/src/types.ts
Due: plugins

add conditional control item for emitting filter
  plugins/plugin-chart-echarts/src/Pie/controlPanel.tsx
Due: plugins

add cross filter for box plot chart
  plugins/plugin-chart-echarts/src/BoxPlot/EchartsBoxPlot.tsx
  plugins/plugin-chart-echarts/src/BoxPlot/controlPanel.ts
  plugins/plugin-chart-echarts/src/BoxPlot/index.ts
  plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
  plugins/plugin-chart-echarts/src/BoxPlot/types.ts
Due: plugins

refactor: combine values and indexes single object
  plugins/plugin-chart-echarts/src/BoxPlot/EchartsBoxPlot.tsx
  plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
  plugins/plugin-chart-echarts/src/BoxPlot/types.ts
  plugins/plugin-chart-echarts/src/Pie/EchartsPie.tsx
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Pie/types.ts
  plugins/plugin-chart-echarts/src/components/Echart.tsx
  plugins/plugin-chart-echarts/src/types.ts
Due: plugins

fix: eslint
  plugins/plugin-chart-echarts/src/BoxPlot/types.ts
Due: plugins

feat: add syria to Country Maps (#1000)
  plugins/legacy-plugin-chart-country-map/src/countries.js
  plugins/legacy-plugin-chart-country-map/src/countries/syria.geojson
Due: plugins

Add default emitFilter for BoxPlot. Check emit filter before handle crossFilter
  plugins/plugin-chart-echarts/src/BoxPlot/EchartsBoxPlot.tsx
  plugins/plugin-chart-echarts/src/BoxPlot/controlPanel.ts
  plugins/plugin-chart-echarts/src/BoxPlot/types.ts
  plugins/plugin-chart-echarts/src/Pie/EchartsPie.tsx
Due: plugins

feat(plugin-chart-echarts): Emit cross filters for pie and boxplot (#1010)
  plugins/plugin-chart-echarts/src/BoxPlot/EchartsBoxPlot.tsx
  plugins/plugin-chart-echarts/src/BoxPlot/controlPanel.ts
  plugins/plugin-chart-echarts/src/BoxPlot/index.ts
  plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
  plugins/plugin-chart-echarts/src/BoxPlot/types.ts
  plugins/plugin-chart-echarts/src/Pie/EchartsPie.tsx
  plugins/plugin-chart-echarts/src/Pie/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Pie/index.ts
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Pie/types.ts
  plugins/plugin-chart-echarts/src/components/Echart.tsx
  plugins/plugin-chart-echarts/src/types.ts
Due: plugins

fix(plugin-chart-echarts): fill missing values when stacked chart
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/utils/series.ts
  plugins/plugin-chart-echarts/test/index.test.ts
  plugins/plugin-chart-echarts/test/utils/series.test.ts
Due: plugins

Add cross filter for timeseries chart
  plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
Due: plugins

fix(plugin-chart-echarts): fill missing values when stacked chart (#1014)
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/utils/series.ts
  plugins/plugin-chart-echarts/test/index.test.ts
  plugins/plugin-chart-echarts/test/utils/series.test.ts
Due: plugins

initial
  plugins/plugin-chart-echarts/src/Tree/EchartsTree.tsx
  plugins/plugin-chart-echarts/src/Tree/buildQuery.ts
  plugins/plugin-chart-echarts/src/Tree/constants.ts
  plugins/plugin-chart-echarts/src/Tree/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Tree/images/thumbnail.png
  plugins/plugin-chart-echarts/src/Tree/index.ts
  plugins/plugin-chart-echarts/src/Tree/transformProps.ts
  plugins/plugin-chart-echarts/src/Tree/types.ts
Due: plugins

tests added,1 typing issue present
  plugins/plugin-chart-echarts/src/Tree/constants.ts
  plugins/plugin-chart-echarts/src/Tree/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Tree/images/thumbnail.png
  plugins/plugin-chart-echarts/src/Tree/transformProps.ts
  plugins/plugin-chart-echarts/src/Tree/types.ts
  plugins/plugin-chart-echarts/test/Tree/buildQuery.test.ts
  plugins/plugin-chart-echarts/test/Tree/transformProps.test.ts
Due: plugins

remove log
  plugins/plugin-chart-echarts/src/Tree/transformProps.ts
  plugins/plugin-chart-echarts/src/Tree/types.ts
Due: plugins

remove color
  plugins/plugin-chart-echarts/src/Tree/constants.ts
  plugins/plugin-chart-echarts/src/Tree/controlPanel.tsx
Due: plugins

remove duplicate tooltip
  plugins/plugin-chart-echarts/src/Tree/constants.ts
Due: plugins

initial commit
  packages/superset-ui-core/src/utils/featureFlags.ts
Due: core-packages

feat: extra_jwt support to be used in dashboard_rbac for BE validation of data-access based on dashboard access
  packages/superset-ui-core/src/query/buildQueryContext.ts
Due: core-packages

test: extra_jwt existence
  packages/superset-ui-core/test/query/buildQueryContext.test.ts
Due: core-packages

chore: extra_jwt in BaseFormData
  packages/superset-ui-core/src/query/types/QueryFormData.ts
Due: core-packages

fix: add missing ff to enum
  packages/superset-ui-core/src/utils/featureFlags.ts
Due: core-packages

fix: incorporating ScheduleQueries into featureFlags (#1020)
  packages/superset-ui-core/src/utils/featureFlags.ts
Due: core-packages

fix: missing :
  packages/superset-ui-core/src/query/types/QueryFormData.ts
Due: core-packages

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
