Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

codecov.yml:

coverage:
  status:
    project:
      target: 90%
      # send notification if coverage change exceed this threshold
      threshold: 5%
    core-packages:
      target: 100%
      flags: 
        - core-packages
    plugins:
      target: 50%
      flags: 
        - plugins

flags:
  core-packages:
    paths:
      - packages
  plugins:
    paths:
      - plugins

fix: add test
  packages/superset-ui-chart-controls/test/shared-controls/emitFilterControl.test.ts
Due: core-packages

fix: codedev
  packages/superset-ui-chart-controls/src/shared-controls/emitFilterControl.tsx
  packages/superset-ui-chart-controls/test/shared-controls/emitFilterControl.test.ts
Due: core-packages

fix: test
  packages/superset-ui-chart-controls/test/shared-controls/emitFilterControl.test.tsx
Due: core-packages

chore: remove V2 and add Deprecated
  plugins/legacy-plugin-chart-pivot-table/src/index.js
  plugins/legacy-plugin-chart-treemap/src/index.js
  plugins/plugin-chart-echarts/src/Treemap/index.ts
  plugins/plugin-chart-pivot-table/src/plugin/index.ts
Due: plugins

feat(chart-controls): move cross-filtering control to data panel (#1248)
  packages/superset-ui-chart-controls/src/shared-controls/emitFilterControl.tsx
  packages/superset-ui-chart-controls/test/shared-controls/emitFilterControl.test.tsx
  plugins/plugin-chart-echarts/src/BoxPlot/controlPanel.ts
  plugins/plugin-chart-echarts/src/Funnel/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Gauge/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Pie/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Radar/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Treemap/controlPanel.tsx
  plugins/plugin-chart-pivot-table/src/plugin/controlPanel.ts
  plugins/plugin-chart-table/src/controlPanel.tsx
  plugins/plugin-chart-table/src/transformProps.ts
  plugins/plugin-chart-table/src/types.ts
Due: core-packages, plugins

add feature flags to pag control
  plugins/plugin-chart-table/src/controlPanel.tsx
Due: plugins

add feature flags to pag control (#1251)
  plugins/plugin-chart-table/src/controlPanel.tsx
Due: plugins

chore: remove V2 and add Deprecated (#1250)
  plugins/legacy-plugin-chart-pivot-table/src/index.js
  plugins/legacy-plugin-chart-treemap/src/index.js
  plugins/plugin-chart-echarts/src/Treemap/index.ts
  plugins/plugin-chart-pivot-table/src/plugin/index.ts
Due: plugins

chore: publish v0.17.76
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

Revert "chore: remove V2 and add Deprecated (#1250)"
  plugins/legacy-plugin-chart-pivot-table/src/index.js
  plugins/legacy-plugin-chart-treemap/src/index.js
  plugins/plugin-chart-echarts/src/Treemap/index.ts
  plugins/plugin-chart-pivot-table/src/plugin/index.ts
Due: plugins

docs: update publishing instructions
  CONTRIBUTING.md
Due: none

added emit target name
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/ColumnConfigControl.tsx
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/constants.tsx
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/controlPanel.tsx
Due: core-packages, plugins

code review fix
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/constants.tsx
  plugins/plugin-chart-table/src/controlPanel.tsx
Due: core-packages, plugins

code review fix
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/ColumnConfigControl.tsx
Due: core-packages

Revert "chore: remove V2 and add Deprecated (#1250)" (#1253)
  plugins/legacy-plugin-chart-pivot-table/src/index.js
  plugins/legacy-plugin-chart-treemap/src/index.js
  plugins/plugin-chart-echarts/src/Treemap/index.ts
  plugins/plugin-chart-pivot-table/src/plugin/index.ts
Due: plugins

chore: add echarts tag for pie and radar
  plugins/plugin-chart-echarts/src/Pie/index.ts
  plugins/plugin-chart-echarts/src/Radar/index.ts
Due: plugins

fix(plugin-chart-echarts): delete debugger
  plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
Due: plugins

feat(plugin-chart-echarts): add x-filter for MixedTimeseries
  plugins/plugin-chart-echarts/src/MixedTimeseries/EchartsMixedTimeseries.tsx
  plugins/plugin-chart-echarts/src/MixedTimeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/MixedTimeseries/index.ts
  plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/MixedTimeseries/types.ts
Due: plugins

fix(plugin-chart-echarts): mix-timeseries supports x-filtering
  plugins/plugin-chart-echarts/src/MixedTimeseries/EchartsMixedTimeseries.tsx
  plugins/plugin-chart-echarts/src/MixedTimeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/MixedTimeseries/index.ts
  plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/MixedTimeseries/types.ts
Due: plugins

fix(plugin-chart-echarts): mix-timeseries query
  plugins/plugin-chart-echarts/src/MixedTimeseries/EchartsMixedTimeseries.tsx
  plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/MixedTimeseries/types.ts
Due: plugins

chore: add echarts tag for pie and radar (#1255)
  plugins/plugin-chart-echarts/src/Pie/index.ts
  plugins/plugin-chart-echarts/src/Radar/index.ts
Due: plugins

add note about prerequisite of being a committer on superset-ui
  CONTRIBUTING.md
Due: none

feat(plugin-chart-echarts): implement cross filter in mixd-timeseries chart (#1256)
  plugins/plugin-chart-echarts/src/MixedTimeseries/EchartsMixedTimeseries.tsx
  plugins/plugin-chart-echarts/src/MixedTimeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/MixedTimeseries/index.ts
  plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/MixedTimeseries/types.ts
Due: plugins

added partial finland map
  plugins/legacy-plugin-chart-country-map/src/countries.ts
  plugins/legacy-plugin-chart-country-map/src/countries/finland.geojson
Due: plugins

added new line
  plugins/legacy-plugin-chart-country-map/src/countries/finland.geojson
Due: plugins

docs: update publishing instructions (#1254)
  CONTRIBUTING.md
Due: none

fix(legacy-preset-chart-nvd3): dual line dnd control missing
  packages/superset-ui-chart-controls/src/shared-controls/dndControls.tsx
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  plugins/legacy-preset-chart-nvd3/src/DualLine/controlPanel.ts
Due: core-packages, plugins

fix(legacy-preset-chart-nvd3): dual line dnd control missing (#1259)
  packages/superset-ui-chart-controls/src/shared-controls/dndControls.tsx
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  plugins/legacy-preset-chart-nvd3/src/DualLine/controlPanel.ts
Due: core-packages, plugins

fix(plugin-chart-echarts): missing dnd control in tree chart
  plugins/plugin-chart-echarts/src/Tree/controlPanel.tsx
Due: plugins

fix(plugin-chart-echarts): missing dnd control in tree chart (#1260)
  plugins/plugin-chart-echarts/src/Tree/controlPanel.tsx
Due: plugins

fix(plugin-chart-pivot-table): make date formatting clearable
  plugins/plugin-chart-pivot-table/src/plugin/controlPanel.ts
Due: plugins

feat(plugin-chart-pivot-table): add sort by result to data pane
  plugins/plugin-chart-pivot-table/src/plugin/buildQuery.ts
Due: plugins

Use getMetricLabel helper function
  plugins/plugin-chart-pivot-table/src/plugin/buildQuery.ts
Due: plugins

feat(plugin-chart-echarts): create separate entry points for timeseries
  plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Area/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Line/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/SmoothLine/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/StepEnd/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/StepMiddle/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/StepStart/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/controlPanel.tsx
  plugins/plugin-chart-echarts/src/index.ts
Due: plugins

Mark nvd3 area chart as deprecated
  plugins/legacy-preset-chart-nvd3/src/Area/index.js
Due: plugins

chore: improve metadata for ts charts
  plugins/legacy-preset-chart-nvd3/src/Area/index.js
  plugins/legacy-preset-chart-nvd3/src/Bar/index.js
  plugins/legacy-preset-chart-nvd3/src/Line/index.js
  plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Area/images/thumbnail.png
  plugins/plugin-chart-echarts/src/Timeseries/Area/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/images/thumbnail.png
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Line/images/thumbnail.png
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Line/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/images/thumbnail.png
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/SmoothLine/images/thumbnail.png
  plugins/plugin-chart-echarts/src/Timeseries/Regular/SmoothLine/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/StepStart/images/thumbnail.png
  plugins/plugin-chart-echarts/src/Timeseries/Regular/StepStart/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/index.ts
Due: plugins

chore: rename
  plugins/plugin-chart-echarts/src/Timeseries/Area/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Line/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/SmoothLine/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/StepStart/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/index.ts
Due: plugins

Implement dynamic tooltip
  packages/superset-ui-chart-controls/src/components/ColumnOption.tsx
  packages/superset-ui-chart-controls/src/components/MetricOption.tsx
Due: core-packages

chore: publish v0.17.77
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

feat(plugin-chart-pivot-table): add automatic conditional formatter
  packages/superset-ui-chart-controls/src/types.ts
  packages/superset-ui-chart-controls/src/utils/getColorFormatters.ts
  packages/superset-ui-chart-controls/test/utils/getColorFormatters.test.ts
  yarn.lock
Due: core-packages
