Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

build: upgrade codecov-action and disable failing_ci_if_error (#723)
  .github/workflows/ci.yml
Due: none

Refactor typing
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/DataTable/types/react-table.d.ts
  plugins/plugin-chart-table/src/TableChart.tsx
Due: plugins

feat: align metrics title to the right
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/DataTable/hooks/useColumnCellProps.ts
  plugins/plugin-chart-table/src/DataTable/index.tsx
  plugins/plugin-chart-table/src/DataTable/types/react-table.d.ts
  plugins/plugin-chart-table/src/TableChart.tsx
Due: plugins

Fix table cells missing keys warning
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/TableChart.tsx
Due: plugins

Clean up
  plugins/plugin-chart-table/src/DataTable/types/react-table.d.ts
Due: plugins

feat: align metrics title to the right (#721)
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/DataTable/hooks/useColumnCellProps.ts
  plugins/plugin-chart-table/src/DataTable/index.tsx
  plugins/plugin-chart-table/src/DataTable/types/react-table.d.ts
  plugins/plugin-chart-table/src/TableChart.tsx
Due: plugins

feat: improve world map colors (#711)
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-plugin-chart-world-map/src/WorldMap.js
  plugins/legacy-plugin-chart-world-map/src/controlPanel.js
  plugins/legacy-plugin-chart-world-map/src/transformProps.js
Due: plugins

Add shims for window.console
  packages/superset-ui-core/src/utils/logging.ts
Due: core-packages

feat: properly translate table chart
  packages/superset-ui-core/src/index.ts
  packages/superset-ui-core/src/utils/logging.ts
  packages/superset-ui-translation/package.json
  packages/superset-ui-translation/src/Translator.ts
  packages/superset-ui-translation/src/TranslatorSingleton.ts
  packages/superset-ui-translation/src/index.ts
  packages/superset-ui-translation/src/types.ts
  packages/superset-ui-translation/src/types/index.ts
  packages/superset-ui-translation/src/types/jed.ts
  packages/superset-ui-translation/test/Translator.test.ts
  packages/superset-ui-translation/test/languagePacks/en.ts
  packages/superset-ui-translation/test/languagePacks/zh.ts
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/DataTable/components/SelectPageSize.tsx
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/controlPanel.tsx
  plugins/plugin-chart-table/src/i18n.ts
Due: core-packages, plugins

Add tests for logging
  packages/superset-ui-core/test/utils/logging.test.ts
Due: core-packages

Minor improvements
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Due: plugins

Fix a typo; more robust testing
  packages/superset-ui-core/test/utils/logging.test.ts
  packages/superset-ui-translation/src/Translator.ts
Due: core-packages

Lint fix
  package.json
  packages/superset-ui-core/test/utils/logging.test.ts
Due: core-packages

feat: properly translate the table chart (#724)
  package.json
  packages/superset-ui-core/src/index.ts
  packages/superset-ui-core/src/utils/logging.ts
  packages/superset-ui-core/test/utils/logging.test.ts
  packages/superset-ui-translation/package.json
  packages/superset-ui-translation/src/Translator.ts
  packages/superset-ui-translation/src/TranslatorSingleton.ts
  packages/superset-ui-translation/src/index.ts
  packages/superset-ui-translation/src/types.ts
  packages/superset-ui-translation/src/types/index.ts
  packages/superset-ui-translation/src/types/jed.ts
  packages/superset-ui-translation/test/Translator.test.ts
  packages/superset-ui-translation/test/languagePacks/en.ts
  packages/superset-ui-translation/test/languagePacks/zh.ts
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/DataTable/components/SelectPageSize.tsx
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/controlPanel.tsx
  plugins/plugin-chart-table/src/i18n.ts
Due: core-packages, plugins

chore: publish v0.14.20
  lerna.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-style/package.json
  packages/superset-ui-superset-ui/package.json
  packages/superset-ui-translation/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/plugin-chart-table/package.json
Due: core-packages, plugins

fix: dist bar will render value multi times (#713)
  plugins/legacy-preset-chart-nvd3/src/utils.js
  yarn.lock
Due: plugins

chore: update lock file
  yarn.lock
Due: none

Move prettier configs to package.json
  .prettierignore
  lerna.json
  package.json
  prettier.config.js
  tsconfig.json
  tsconfig.options.json
Due: none

Revert typescript strategy
  .prettierignore
  package.json
  scripts/build.js
  tsconfig.json
  tsconfig.options.json
Due: none

Fix babel build
  package.json
  packages/superset-ui-chart-composition/test/legend/WithLegend.test.tsx
  packages/superset-ui-chart/test/components/SuperChart.test.tsx
  packages/superset-ui-chart/test/components/SuperChartCore.test.tsx
  packages/superset-ui-dimension/test/getMultipleTextDimensions.test.ts
  packages/superset-ui-dimension/test/getTextDimension.test.ts
Due: core-packages

Optimize build script
  .esprintrc
  .github/workflows/ci.yml
  package.json
  packages/superset-ui-core/test/index.test.ts
  packages/superset-ui-core/test/models/ExtensibleFunction.test.ts
  packages/superset-ui-core/test/models/Plugin.test.ts
  packages/superset-ui-core/test/models/Preset.test.ts
  packages/superset-ui-core/test/models/Registry.test.ts
  packages/superset-ui-core/test/models/RegistryWithDefaultKey.test.ts
  packages/superset-ui-core/test/translation/TranslatorSingleton.test.ts
  packages/superset-ui-core/test/utils/convertKeysToCamelCase.test.ts
  packages/superset-ui-core/test/utils/isDefined.test.ts
  packages/superset-ui-core/test/utils/isRequired.test.ts
  packages/superset-ui-core/test/utils/makeSingleton.test.ts
  packages/superset-ui-core/test/utils/promiseTimeout.test.ts
  scripts/build.js
  yarn.lock
Due: core-packages

Optimize build script
  package.json
  scripts/build.js
  yarn.lock
Due: none

Update bad imports
  packages/superset-ui-core/src/connection/README.md
  packages/superset-ui-core/src/translation/README.md
  plugins/preset-chart-xy/src/components/Line/Encoder.ts
Due: core-packages, plugins

Update doc
  packages/superset-ui-core/src/connection/README.md
Due: core-packages

Update docs
  README.md
  packages/superset-ui-core/src/connection/README.md
  packages/superset-ui-core/src/query/README.md
Due: core-packages

Build esm modules
  .eslintrc.js
  babel.config.js
  scripts/build.js
Due: none

Update logging
  scripts/build.js
Due: none

add tooltip
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Due: plugins

fix: correctly parse empty string (#731)
  plugins/plugin-chart-table/src/transformProps.ts
Due: plugins

feat(legacy-plugin-chart-pivot-table): add support for timestamp format
  plugins/legacy-plugin-chart-pivot-table/src/PivotTable.js
  plugins/legacy-plugin-chart-pivot-table/src/controlPanel.js
  plugins/legacy-plugin-chart-pivot-table/src/transformProps.js
Due: plugins

add @superset-ui/time-format to deps
  plugins/legacy-plugin-chart-pivot-table/package.json
Due: plugins

Charts draw and resize correctly
  plugins/plugin-chart-echarts/src/Pie/EchartsPie.tsx
  plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
Due: plugins

clean up code
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
  plugins/plugin-chart-echarts/src/utils.ts
  plugins/plugin-chart-echarts/test/Timeseries/transformProps.test.ts
  plugins/plugin-chart-echarts/test/utils.test.ts
Due: plugins

lint
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
  plugins/plugin-chart-echarts/src/utils.ts
Due: plugins

yet more lint
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/types.ts
  plugins/plugin-chart-echarts/src/utils.ts
  plugins/plugin-chart-echarts/test/utils.test.ts
Due: plugins

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
