Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

chore: url prop for MetricOption should be optional
  packages/superset-ui-chart-controls/src/components/MetricOption.tsx
Due: core-packages

chore: move react-bootstrap and react-loadable to peerDependencies, too
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  yarn.lock
Due: core-packages

chore: url prop for MetricOption should be optional (#775)
  packages/superset-ui-chart-controls/src/components/MetricOption.tsx
Due: core-packages

chore: move @types/react to peerDependencies (#774)
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  yarn.lock
Due: core-packages, plugins

build: enable skipLibCheck for tsc (#769)
  package.json
  plugins/legacy-plugin-chart-calendar/tsconfig.json
  plugins/legacy-plugin-chart-chord/tsconfig.json
  plugins/legacy-plugin-chart-country-map/tsconfig.json
  plugins/legacy-plugin-chart-event-flow/tsconfig.json
  plugins/legacy-plugin-chart-force-directed/tsconfig.json
  plugins/legacy-plugin-chart-heatmap/tsconfig.json
  plugins/legacy-plugin-chart-histogram/tsconfig.json
  plugins/legacy-plugin-chart-horizon/tsconfig.json
  plugins/legacy-plugin-chart-map-box/tsconfig.json
  plugins/legacy-plugin-chart-paired-t-test/tsconfig.json
  plugins/legacy-plugin-chart-parallel-coordinates/tsconfig.json
  plugins/legacy-plugin-chart-partition/tsconfig.json
  plugins/legacy-plugin-chart-pivot-table/tsconfig.json
  plugins/legacy-plugin-chart-rose/tsconfig.json
  plugins/legacy-plugin-chart-sankey-loop/tsconfig.json
  plugins/legacy-plugin-chart-sankey/tsconfig.json
  plugins/legacy-plugin-chart-sunburst/tsconfig.json
  plugins/legacy-plugin-chart-time-table/tsconfig.json
  plugins/legacy-plugin-chart-treemap/tsconfig.json
  plugins/legacy-plugin-chart-world-map/tsconfig.json
  plugins/legacy-preset-chart-big-number/tsconfig.json
  plugins/legacy-preset-chart-nvd3/tsconfig.json
  plugins/plugin-chart-choropleth-map/tsconfig.json
  plugins/plugin-chart-echarts/tsconfig.json
  plugins/plugin-chart-table/tsconfig.json
  plugins/plugin-chart-word-cloud/tsconfig.json
  plugins/preset-chart-xy/tsconfig.json
  scripts/build.js
  tsconfig.options.json
Due: plugins

retype TimeseriesDataRecord in ECharts
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
  plugins/plugin-chart-echarts/src/utils/prophet.ts
  plugins/plugin-chart-echarts/src/utils/series.ts
Due: plugins

refactor: convert legacy-plugin-chart-event-flow to typescript
  packages/superset-ui-chart-controls/src/utils/columnChoices.ts
  packages/superset-ui-core/src/chart/types/QueryResponse.ts
  plugins/legacy-plugin-chart-event-flow/src/EventFlow.tsx
  plugins/legacy-plugin-chart-event-flow/src/controlPanel.tsx
  plugins/legacy-plugin-chart-event-flow/src/index.ts
  plugins/legacy-plugin-chart-event-flow/src/transformProps.ts
  plugins/legacy-plugin-chart-event-flow/src/types/external.d.ts
Due: core-packages, plugins

refactor: convert legacy-plugin-chart-event-flow to typescript (#771)
  packages/superset-ui-chart-controls/src/utils/columnChoices.ts
  packages/superset-ui-core/src/chart/types/QueryResponse.ts
  plugins/legacy-plugin-chart-event-flow/src/EventFlow.tsx
  plugins/legacy-plugin-chart-event-flow/src/controlPanel.tsx
  plugins/legacy-plugin-chart-event-flow/src/index.ts
  plugins/legacy-plugin-chart-event-flow/src/transformProps.ts
  plugins/legacy-plugin-chart-event-flow/src/types/external.d.ts
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
  plugins/plugin-chart-echarts/src/utils/prophet.ts
  plugins/plugin-chart-echarts/src/utils/series.ts
Due: core-packages, plugins

fix: add back nvd3 missing css
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
Due: plugins

fix: add back nvd3 missing css (#776)
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
Due: plugins

chore: publish v0.15.1
  lerna.json
  packages/generator-superset/package.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

feat: make GET request work for fetchExploreJson, closes #668
  packages/superset-ui-core/src/query/api/legacy/fetchExploreJson.ts
  packages/superset-ui-core/test/query/api/legacy/fetchExploreJson.test.ts
Due: core-packages

fix import
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/utils/formatters.ts
  plugins/plugin-chart-echarts/src/utils/series.ts
  plugins/plugin-chart-echarts/test/Pie/transformProps.test.ts
  plugins/plugin-chart-echarts/test/utils/formatters.test.ts
Due: plugins

chore: move all superset-ui/core deps out of peerDependencies
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/plugin-chart-echarts/package.json
Due: plugins

Address comments
  plugins/plugin-chart-echarts/src/Pie/EchartsPie.tsx
  plugins/plugin-chart-echarts/src/Pie/controlPanel.ts
  plugins/plugin-chart-echarts/src/Pie/index.ts
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Pie/types.ts
  plugins/plugin-chart-echarts/src/utils/formatters.ts
  plugins/plugin-chart-echarts/test/Pie/transformProps.test.ts
  plugins/plugin-chart-echarts/test/utils/formatters.test.ts
Due: plugins

chore: move all superset-ui/core deps out of peerDependencies (#779)
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/plugin-chart-echarts/package.json
Due: plugins

feat: make GET request work for fetchExploreJson, closes #668 (#777)
  packages/superset-ui-core/src/query/api/legacy/fetchExploreJson.ts
  packages/superset-ui-core/test/query/api/legacy/fetchExploreJson.test.ts
Due: core-packages

feat: implement ECharts pie chart (#772)
  plugins/legacy-preset-chart-nvd3/src/Pie/controlPanel.ts
  plugins/plugin-chart-echarts/src/Pie/EchartsPie.tsx
  plugins/plugin-chart-echarts/src/Pie/controlPanel.ts
  plugins/plugin-chart-echarts/src/Pie/images/thumbnail.png
  plugins/plugin-chart-echarts/src/Pie/index.ts
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
  plugins/plugin-chart-echarts/src/Timeseries/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/utils/series.ts
  plugins/plugin-chart-echarts/test/Pie/buildQuery.test.ts
  plugins/plugin-chart-echarts/test/Pie/transformProps.test.ts
  plugins/plugin-chart-echarts/test/Timeseries/buildQuery.test.ts
  plugins/plugin-chart-echarts/test/Timeseries/transformProps.test.ts
  plugins/plugin-chart-echarts/test/utils/series.test.ts
Due: plugins

chore: publish v0.15.2
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

chore: update pacakge version on generator template
  packages/generator-superset/generators/plugin-chart/templates/package.erb
Due: core-packages

fix: update lineMulti when queryData changes
  plugins/legacy-preset-chart-nvd3/src/LineMulti/LineMulti.jsx
Due: plugins

fix: update lineMulti when queryData changes (#782)
  plugins/legacy-preset-chart-nvd3/src/LineMulti/LineMulti.jsx
Due: plugins

chore: add id prop to chart-control DatasourceMeta
  packages/superset-ui-chart-controls/src/types.ts
Due: core-packages

add more fields
  packages/superset-ui-chart-controls/src/types.ts
Due: core-packages

feat(plugin-chart-echarts): add more robust formatting for series
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/constants.ts
  plugins/plugin-chart-echarts/src/utils/series.ts
  plugins/plugin-chart-echarts/test/utils/series.test.ts
Due: plugins

address comments
  plugins/plugin-chart-echarts/src/utils/series.ts
  plugins/plugin-chart-echarts/test/utils/series.test.ts
Due: plugins

feat(plugin-chart-echarts): remove loading from timeseries tooltip
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Due: plugins

fix(plugin-chart-word-cloud): make colors schemes work
  plugins/plugin-chart-word-cloud/src/chart/WordCloud.tsx
Due: plugins

feat(plugin-chart-echarts): remove loading from timeseries tooltip (#787)
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Due: plugins

chore: add more props to DatasourceMeta for chart-controls (#786)
  packages/superset-ui-chart-controls/src/types.ts
Due: core-packages

move to plugin definition
  plugins/plugin-chart-word-cloud/src/chart/WordCloud.tsx
  plugins/plugin-chart-word-cloud/src/plugin/index.ts
Due: plugins

add boxplot
  plugins/preset-chart-xy/src/BoxPlot/index.ts
Due: plugins

fix(plugin-chart-word-cloud): make colors schemes work (#788)
  plugins/plugin-chart-word-cloud/src/plugin/index.ts
  plugins/preset-chart-xy/src/BoxPlot/index.ts
Due: plugins

feat(plugin-chart-echarts): add more robust formatting for series (#783)
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/constants.ts
  plugins/plugin-chart-echarts/src/utils/series.ts
  plugins/plugin-chart-echarts/test/utils/series.test.ts
Due: plugins

chore: publish v0.15.3
  lerna.json
  packages/generator-superset/package.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

fix: copying controls from Sankey to Sankey Loop
  plugins/legacy-plugin-chart-sankey-loop/src/controlPanel.js
Due: plugins

fix: copying controls from Sankey to Sankey Loop (#797)
  plugins/legacy-plugin-chart-sankey-loop/src/controlPanel.js
Due: plugins

fix: echarts formdata series -> groupby
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
Due: plugins

fix(plugin-chart-echarts): fix incorrect groupby in buildQuery
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.ts
  plugins/plugin-chart-echarts/test/Timeseries/buildQuery.test.ts
  plugins/plugin-chart-echarts/test/Timeseries/transformProps.test.ts
Due: plugins

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
