Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

codecov.yml:

coverage:
  status:
    project:
      target: 90%
      # send notification if coverage change exceed this threshold
      threshold: 5%
    core-packages:
      target: 100%
      flags: 
        - core-packages
    plugins:
      target: 50%
      flags: 
        - plugins

flags:
  core-packages:
    paths:
      - packages
  plugins:
    paths:
      - plugins

code style
  plugins/plugin-chart-echarts/src/BoxPlot/buildQuery.ts
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
Due: plugins

Clean up include_time and is_timeseries
  packages/superset-ui-core/src/query/buildQueryObject.ts
  packages/superset-ui-core/src/query/extractQueryFields.ts
Due: core-packages

Hit 100% test coverage
  packages/superset-ui-core/src/query/extractQueryFields.ts
  packages/superset-ui-core/test/query/extractQueryFields.test.ts
  packages/superset-ui-core/test/query/getMetricLabel.test.ts
Due: core-packages

Clean up
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/birthNames.json
Due: core-packages

Remove queryFields
  .nvmrc
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/buildQuery.erb
  packages/generator-superset/generators/plugin-chart/templates/test/plugin/buildQuery.test.erb
  packages/superset-ui-core/src/query/buildQueryObject.ts
  packages/superset-ui-core/src/query/extractQueryFields.ts
  packages/superset-ui-core/src/query/types/QueryFormData.ts
  packages/superset-ui-core/test/query/buildQueryObject.test.ts
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-time-table/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-preset-chart-nvd3/Compare/stories/timeFormat.tsx
  plugins/plugin-chart-word-cloud/test/plugin/buildQuery.test.ts
  scripts/build.js
Due: core-packages, plugins

Remove queryField
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/controlPanel.erb
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  packages/superset-ui-chart-controls/src/types.ts
  packages/superset-ui-core/test/query/getMetricLabel.test.ts
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/birthNames.json
Due: core-packages

Fix test cases
  packages/superset-ui-core/test/query/getMetricLabel.test.ts
Due: core-packages

Don't allow refer predefined metric as an object
  packages/superset-ui-core/src/query/getMetricLabel.ts
  packages/superset-ui-core/src/query/types/Metric.ts
  packages/superset-ui-core/src/query/types/QueryFormData.ts
Due: core-packages

chore: publish v0.16.1
  lerna.json
  packages/generator-superset/package.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/plugin-filter-antd/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

chore: add types to all control panels
  plugins/legacy-plugin-chart-calendar/src/controlPanel.ts
  plugins/legacy-plugin-chart-chord/src/controlPanel.ts
  plugins/legacy-plugin-chart-force-directed/src/controlPanel.ts
  plugins/legacy-plugin-chart-heatmap/src/controlPanel.ts
  plugins/legacy-plugin-chart-histogram/src/controlPanel.ts
  plugins/legacy-plugin-chart-horizon/src/controlPanel.ts
  plugins/legacy-plugin-chart-map-box/src/controlPanel.ts
  plugins/legacy-plugin-chart-partition/src/OptionDescription.tsx
  plugins/legacy-plugin-chart-partition/src/controlPanel.tsx
  plugins/legacy-plugin-chart-pivot-table/src/controlPanel.ts
  plugins/legacy-plugin-chart-rose/src/controlPanel.tsx
  plugins/legacy-plugin-chart-sankey-loop/src/controlPanel.ts
  plugins/legacy-plugin-chart-treemap/src/controlPanel.ts
  plugins/legacy-plugin-chart-world-map/src/controlPanel.ts
Due: plugins

move nvd3 shared section to individual viz
  plugins/legacy-preset-chart-nvd3/src/Area/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Bar/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Compare/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Line/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/NVD3Controls.tsx
Due: plugins

chore: remove antD-filter-plugin and move to main repo
  plugins/plugin-filter-antd/README.md
  plugins/plugin-filter-antd/package.json
  plugins/plugin-filter-antd/src/Range/AntdRangeFilter.tsx
  plugins/plugin-filter-antd/src/Range/buildQuery.ts
  plugins/plugin-filter-antd/src/Range/controlPanel.ts
  plugins/plugin-filter-antd/src/Range/images/thumbnail.png
  plugins/plugin-filter-antd/src/Range/index.ts
  plugins/plugin-filter-antd/src/Range/transformProps.ts
  plugins/plugin-filter-antd/src/Range/types.ts
  plugins/plugin-filter-antd/src/Select/AntdSelectFilter.tsx
  plugins/plugin-filter-antd/src/Select/buildQuery.ts
  plugins/plugin-filter-antd/src/Select/controlPanel.ts
  plugins/plugin-filter-antd/src/Select/images/thumbnail.png
  plugins/plugin-filter-antd/src/Select/index.ts
  plugins/plugin-filter-antd/src/Select/transformProps.ts
  plugins/plugin-filter-antd/src/Select/types.ts
  plugins/plugin-filter-antd/src/index.ts
  plugins/plugin-filter-antd/src/types.ts
  plugins/plugin-filter-antd/test/index.test.ts
  plugins/plugin-filter-antd/tsconfig.json
  plugins/plugin-filter-antd/types/external.d.ts
Due: plugins

chore: another removal
  README.md
  packages/superset-ui-demo/storybook/stories/plugins/plugin-filter-antd/Select/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-filter-antd/Select/data.ts
Due: core-packages

fix: fix nvd3 and histogram regressions and migrate control panels to TS (#875)
  plugins/legacy-plugin-chart-calendar/src/controlPanel.ts
  plugins/legacy-plugin-chart-chord/src/controlPanel.ts
  plugins/legacy-plugin-chart-force-directed/src/controlPanel.ts
  plugins/legacy-plugin-chart-heatmap/src/controlPanel.ts
  plugins/legacy-plugin-chart-histogram/src/controlPanel.ts
  plugins/legacy-plugin-chart-horizon/src/controlPanel.ts
  plugins/legacy-plugin-chart-map-box/src/controlPanel.ts
  plugins/legacy-plugin-chart-partition/src/OptionDescription.tsx
  plugins/legacy-plugin-chart-partition/src/controlPanel.tsx
  plugins/legacy-plugin-chart-pivot-table/src/controlPanel.ts
  plugins/legacy-plugin-chart-rose/src/controlPanel.tsx
  plugins/legacy-plugin-chart-sankey-loop/src/controlPanel.ts
  plugins/legacy-plugin-chart-treemap/src/controlPanel.ts
  plugins/legacy-plugin-chart-world-map/src/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Area/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Bar/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Compare/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Line/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/NVD3Controls.tsx
Due: plugins

chore: publish v0.16.2
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-nvd3/package.json
Due: core-packages, plugins

fix(legacy-preset-chart-nvd3): fix LineMulti and Pie control panels
  plugins/legacy-preset-chart-nvd3/src/Pie/controlPanel.ts
Due: plugins

test: fix tests
  packages/superset-ui-core/test/chart/components/SuperChart.test.tsx
  packages/superset-ui-core/test/chart/components/SuperChartCore.test.tsx
  packages/superset-ui-core/test/chart/models/ChartPlugin.test.tsx
  packages/superset-ui-core/test/chart/models/ChartProps.test.ts
Due: core-packages

test: fix tests
  packages/superset-ui-core/test/chart/models/ChartProps.test.ts
  plugins/legacy-preset-chart-big-number/test/transformProps.test.ts
  plugins/plugin-chart-echarts/test/BoxPlot/transformProps.test.ts
  plugins/plugin-chart-echarts/test/Pie/transformProps.test.ts
  plugins/plugin-chart-word-cloud/test/legacyPlugin/transformProps.test.ts
Due: core-packages, plugins

lint: fix lint
  packages/superset-ui-demo/storybook/stories/plugins/legacy-preset-chart-big-number/BigNumber/BigNumberStories.tsx
Due: core-packages

refactor: fix CR notes
  packages/superset-ui-core/src/chart/models/ChartProps.ts
Due: core-packages

refactor: remove queryData from Chart Provider
  packages/generator-superset/generators/plugin-chart/templates/README.erb
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/transformProps.erb
  packages/generator-superset/generators/plugin-chart/templates/test/plugin/transformProps.test.erb
  packages/superset-ui-core/src/chart/clients/ChartClient.ts
  packages/superset-ui-core/src/chart/components/ChartDataProvider.tsx
  packages/superset-ui-core/test/chart/clients/ChartClient.test.ts
  packages/superset-ui-core/test/chart/components/ChartDataProvider.test.tsx
  packages/superset-ui-core/test/chart/components/SuperChart.test.tsx
  packages/superset-ui-demo/storybook/shared/components/createQueryStory.tsx
  packages/superset-ui-demo/storybook/stories/superset-ui-chart/ChartDataProviderStories.tsx
Due: core-packages

fix(legacy-plugin-chart-pivot-table): empty value for string aggregate
  plugins/legacy-plugin-chart-pivot-table/src/PivotTable.js
  plugins/legacy-plugin-chart-pivot-table/src/utils/formatCells.js
  plugins/legacy-plugin-chart-pivot-table/test/PivotTable.test.tsx
Due: plugins

fix(plugin): bug fix
  plugins/legacy-plugin-chart-pivot-table/src/PivotTable.js
Due: plugins

fix(plugin): fix test
  plugins/legacy-plugin-chart-pivot-table/src/PivotTable.js
  plugins/legacy-plugin-chart-pivot-table/src/utils/formatCells.js
  plugins/legacy-plugin-chart-pivot-table/test/PivotTable.test.tsx
Due: plugins

fix(test): fixted function name
  plugins/legacy-plugin-chart-pivot-table/src/PivotTable.js
Due: plugins

lint fixed
  plugins/legacy-plugin-chart-pivot-table/src/PivotTable.js
Due: plugins

lint
  plugins/legacy-plugin-chart-pivot-table/src/utils/formatCells.js
  plugins/legacy-plugin-chart-pivot-table/test/PivotTable.test.tsx
Due: plugins

handle null values
  plugins/legacy-plugin-chart-pivot-table/src/utils/formatCells.js
  plugins/legacy-plugin-chart-pivot-table/test/PivotTable.test.tsx
Due: plugins

chore: publish v0.16.3
  lerna.json
  packages/generator-superset/package.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/plugin-filter-antd/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

nit picks
  plugins/legacy-plugin-chart-pivot-table/src/PivotTable.js
  plugins/legacy-plugin-chart-pivot-table/src/utils/formatCells.js
  plugins/legacy-plugin-chart-pivot-table/test/PivotTable.test.ts
Due: plugins

js to ts
  plugins/legacy-plugin-chart-pivot-table/src/utils/formatCells.ts
Due: plugins

nit picks
  plugins/legacy-plugin-chart-pivot-table/src/utils/formatCells.ts
Due: plugins

ci: switch chromatic action to workflow_run
  .github/workflows/chromatic.yml
  .github/workflows/ci.yml
Due: none

fix(core): 'AND undefined' error in sql query
  packages/superset-ui-core/src/query/processExtraFormData.ts
  packages/superset-ui-core/test/query/processExtraFormData.test.ts
Due: core-packages

fix(core): 'AND undefined' error in sql query (#886)
  packages/superset-ui-core/src/query/processExtraFormData.ts
  packages/superset-ui-core/test/query/processExtraFormData.test.ts
Due: core-packages

chore: publish v0.16.4
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/plugin-filter-antd/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

ci: switch chromatic action to workflow_run (#884)
  .github/workflows/chromatic.yml
  .github/workflows/ci.yml
Due: none
