Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

Revert "chore(release): publish v0.13.8"
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
Due: core-packages, plugins

chore(release): publish v0.13.8
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
Due: core-packages, plugins

Revert "chore(release): publish v0.13.7"
  lerna.json
  packages/superset-ui-chart/package.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-query/package.json
  packages/superset-ui-superset-ui/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-nvd3/package.json
Due: core-packages, plugins

first stages change for charts
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-partition/src/OptionDescription.jsx
  plugins/legacy-plugin-chart-partition/src/controlPanel.js
  plugins/legacy-plugin-chart-partition/test/optionDescirption.test.jsx
Due: plugins

chore(release): publish v0.13.7
  lerna.json
  packages/superset-ui-chart-composition/package.json
  packages/superset-ui-chart/package.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-superset-ui/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
Due: core-packages, plugins

addressing PR feedback
  packages/superset-ui-control-utils/package.json
  packages/superset-ui-control-utils/src/InfoTooltipWithTrigger.tsx
  packages/superset-ui-control-utils/test/InfoTooltipWithTrigger.test.tsx
Due: core-packages

fix: lint
  packages/superset-ui-chart/test/components/MockChartPlugins.tsx
Due: core-packages

fix: more lints
  packages/superset-ui-connection/src/callApi/callApi.ts
  packages/superset-ui-connection/src/types.ts
  packages/superset-ui-connection/test/SupersetClient.test.ts
  packages/superset-ui-connection/test/SupersetClientClass.test.ts
  packages/superset-ui-connection/test/callApi/callApi.test.ts
  packages/superset-ui-connection/test/callApi/callApiAndParseWithTimeout.test.ts
  packages/superset-ui-translation/src/Translator.ts
  packages/superset-ui-translation/src/TranslatorSingleton.ts
  plugins/legacy-plugin-chart-table/src/ReactDataTable.tsx
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
  plugins/preset-chart-xy/src/BoxPlot/legacy/transformProps.ts
  plugins/preset-chart-xy/src/BoxPlot/transformProps.ts
  plugins/preset-chart-xy/src/ScatterPlot/legacy/transformProps.ts
  plugins/preset-chart-xy/src/components/BoxPlot/BoxPlot.tsx
  plugins/preset-chart-xy/src/components/Line/Line.tsx
  plugins/preset-chart-xy/src/components/ScatterPlot/ScatterPlot.tsx
Due: core-packages, plugins

tweaking bootstrap types
  packages/superset-ui-control-utils/package.json
Due: core-packages

fix: more lints
  packages/superset-ui-chart/src/models/ChartPlugin.ts
  packages/superset-ui-chart/test/components/createLoadableRenderer.test.tsx
  packages/superset-ui-connection/test/SupersetClientClass.test.ts
  packages/superset-ui-connection/test/callApi/parseResponse.test.ts
Due: core-packages

fix: comment
  packages/superset-ui-chart/test/components/ChartDataProvider.test.tsx
Due: core-packages

fix: any
  packages/superset-ui-chart/src/models/ChartPlugin.ts
Due: core-packages

fix test
  packages/superset-ui-control-utils/test/InfoTooltipWithTrigger.test.tsx
Due: core-packages

test enter key
  packages/superset-ui-control-utils/test/InfoTooltipWithTrigger.test.tsx
Due: core-packages

fix: Remove .ts suffix from imports
  plugins/legacy-preset-chart-nvd3/src/transformProps.js
  plugins/legacy-preset-chart-nvd3/test/utils/tokenize.test.js
Due: plugins

add lint disable
  plugins/legacy-preset-chart-nvd3/test/utils/tokenize.test.js
Due: plugins

yet more
  plugins/legacy-preset-chart-nvd3/src/transformProps.js
Due: plugins

fix: Remove .ts suffix from NVD3 imports (#453)
  plugins/legacy-preset-chart-nvd3/src/transformProps.js
  plugins/legacy-preset-chart-nvd3/test/utils/tokenize.test.js
Due: plugins

moar tests
  packages/superset-ui-control-utils/src/InfoTooltipWithTrigger.tsx
  packages/superset-ui-control-utils/test/InfoTooltipWithTrigger.test.tsx
Due: core-packages

chore(release): publish v0.13.8
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

code > key
  packages/superset-ui-control-utils/src/InfoTooltipWithTrigger.tsx
  packages/superset-ui-control-utils/test/InfoTooltipWithTrigger.test.tsx
Due: core-packages

fix: ChartDataProvider test lint
  packages/superset-ui-chart/test/components/ChartDataProvider.test.tsx
Due: core-packages

ugh fine
  packages/superset-ui-control-utils/src/InfoTooltipWithTrigger.tsx
  packages/superset-ui-control-utils/test/InfoTooltipWithTrigger.test.tsx
Due: core-packages

fix: lints
  packages/superset-ui-connection/test/SupersetClientClass.test.ts
  packages/superset-ui-connection/test/callApi/callApi.test.ts
Due: core-packages

fix: chartprops
  plugins/preset-chart-xy/src/BoxPlot/legacy/transformProps.ts
Due: plugins

word cloud control panel
  plugins/plugin-chart-word-cloud/package.json
  plugins/plugin-chart-word-cloud/src/plugin/controlPanel.ts
  yarn.lock
Due: plugins

fix: hundreds lint warning (#447)
  packages/superset-ui-chart/src/models/ChartPlugin.ts
  packages/superset-ui-chart/test/components/ChartDataProvider.test.tsx
  packages/superset-ui-chart/test/components/MockChartPlugins.tsx
  packages/superset-ui-chart/test/components/createLoadableRenderer.test.tsx
  packages/superset-ui-connection/src/callApi/callApi.ts
  packages/superset-ui-connection/src/types.ts
  packages/superset-ui-connection/test/SupersetClient.test.ts
  packages/superset-ui-connection/test/SupersetClientClass.test.ts
  packages/superset-ui-connection/test/callApi/callApi.test.ts
  packages/superset-ui-connection/test/callApi/callApiAndParseWithTimeout.test.ts
  packages/superset-ui-connection/test/callApi/parseResponse.test.ts
  packages/superset-ui-translation/src/Translator.ts
  packages/superset-ui-translation/src/TranslatorSingleton.ts
  plugins/legacy-plugin-chart-table/src/ReactDataTable.tsx
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
  plugins/preset-chart-xy/src/BoxPlot/legacy/transformProps.ts
  plugins/preset-chart-xy/src/BoxPlot/transformProps.ts
  plugins/preset-chart-xy/src/ScatterPlot/legacy/transformProps.ts
  plugins/preset-chart-xy/src/components/BoxPlot/BoxPlot.tsx
  plugins/preset-chart-xy/src/components/Line/Line.tsx
  plugins/preset-chart-xy/src/components/ScatterPlot/ScatterPlot.tsx
Due: core-packages, plugins

docs: update changelog
  CHANGELOG.md
Due: none

chore: more refactor
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-partition/src/controlPanel.jsx
  plugins/legacy-plugin-chart-partition/test/optionDescirption.test.jsx
  yarn.lock
Due: plugins

feat(control-utils): add infotooltipwithtrigger (#442)
  packages/superset-ui-control-utils/package.json
  packages/superset-ui-control-utils/src/InfoTooltipWithTrigger.tsx
  packages/superset-ui-control-utils/src/index.ts
  packages/superset-ui-control-utils/test/InfoTooltipWithTrigger.test.tsx
Due: core-packages

oops, control panel should actually be used
  plugins/plugin-chart-word-cloud/src/plugin/index.ts
Due: plugins

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
