Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

fix: lint
  plugins/legacy-plugin-chart-country-map/src/CountryMap.js
Due: plugins

chore: move files
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-country-map/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-country-map/data.js
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-country-map/index.js
Due: core-packages

docs: update storybook
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-country-map/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-country-map/data.ts
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-country-map/index.js
Due: core-packages

docs: wire storybook
  packages/superset-ui-demo/package.json
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-country-map/Stories.tsx
Due: core-packages

fix: lint
  README.md
  plugins/legacy-plugin-chart-parallel-coordinates/src/vendor/parcoords/d3.parcoords.js
  plugins/legacy-plugin-chart-parallel-coordinates/src/vendor/parcoords/divgrid.js
Due: plugins

build: remove demo page build
  .github/workflows/release.yml
Due: none

chore(release): publish v0.12.21
  lerna.json
  packages/generator-superset/package.json
  packages/superset-ui-chart-composition/package.json
  packages/superset-ui-chart/package.json
  packages/superset-ui-color/package.json
  packages/superset-ui-connection/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-dimension/package.json
  packages/superset-ui-number-format/package.json
  packages/superset-ui-query/package.json
  packages/superset-ui-style/package.json
  packages/superset-ui-superset-ui/package.json
  packages/superset-ui-time-format/package.json
  packages/superset-ui-translation/package.json
  packages/superset-ui-validator/package.json
  plugins/big-number/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-iframe/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-markup/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/table/package.json
Due: core-packages, plugins

fix: test case
  packages/superset-ui-query/test/types/Filter.test.ts
Due: core-packages

fix: make all filter operators uppercase
  packages/superset-ui-query/src/types/Operator.ts
Due: core-packages

fix: convertFilter test case
  packages/superset-ui-query/test/convertFilter.test.ts
Due: core-packages

feat: enable table filter and better typing
  package.json
  packages/superset-ui-chart-composition/package.json
  packages/superset-ui-chart/package.json
  packages/superset-ui-chart/src/clients/ChartClient.ts
  packages/superset-ui-chart/src/components/ChartDataProvider.tsx
  packages/superset-ui-chart/src/index.ts
  packages/superset-ui-chart/src/models/ChartProps.ts
  packages/superset-ui-chart/src/types/QueryResponse.ts
  packages/superset-ui-chart/test/models/ChartProps.test.ts
  packages/superset-ui-demo/package.json
  packages/superset-ui-demo/storybook/stories/plugins/table/birthNames.json
  packages/superset-ui-query/src/types/Datasource.ts
  packages/superset-ui-query/src/types/Query.ts
  plugins/big-number/src/BigNumber/transformProps.ts
  plugins/big-number/src/tests/transformProps.test.ts
  plugins/big-number/src/utils/getTimeFormatterForGranularity.ts
  plugins/table/package.json
  plugins/table/src/ReactDataTable.tsx
  plugins/table/src/Table.css
  plugins/table/src/transformProps.ts
  plugins/table/test/testData.ts
  scripts/build.js
  yarn.lock
Due: core-packages, plugins

feat: poc using style package in big-number
  packages/superset-ui-demo/storybook/stories/plugins/big-number/BigNumber/BigNumberStories.tsx
  plugins/big-number/package.json
  plugins/big-number/src/BigNumber/BigNumber.css
  plugins/big-number/src/BigNumber/BigNumber.tsx
  plugins/big-number/yarn.lock
Due: core-packages, plugins

Refactor how ChartProps get overrides
  packages/superset-ui-query/src/types/Datasource.ts
  plugins/big-number/src/BigNumber/transformProps.ts
  plugins/big-number/test/transformProps.test.ts
  plugins/table/src/transformProps.ts
Due: core-packages, plugins

Update doc strings
  packages/superset-ui-chart/src/models/ChartProps.ts
Due: core-packages

feat: add retry to callApi
  packages/superset-ui-connection/package.json
  packages/superset-ui-connection/src/SupersetClientClass.ts
  packages/superset-ui-connection/src/callApi/callApi.ts
  packages/superset-ui-connection/src/constants.ts
  packages/superset-ui-connection/src/types.ts
  packages/superset-ui-connection/test/callApi/callApi.test.ts
  yarn.lock
Due: core-packages

feat(table): enable table filter and better typing (#344)
  package.json
  packages/superset-ui-chart-composition/package.json
  packages/superset-ui-chart/package.json
  packages/superset-ui-chart/src/clients/ChartClient.ts
  packages/superset-ui-chart/src/components/ChartDataProvider.tsx
  packages/superset-ui-chart/src/index.ts
  packages/superset-ui-chart/src/models/ChartProps.ts
  packages/superset-ui-chart/src/types/QueryResponse.ts
  packages/superset-ui-chart/test/models/ChartProps.test.ts
  packages/superset-ui-demo/package.json
  packages/superset-ui-demo/storybook/stories/plugins/table/birthNames.json
  packages/superset-ui-query/src/types/Datasource.ts
  packages/superset-ui-query/src/types/Query.ts
  plugins/big-number/src/BigNumber/transformProps.ts
  plugins/big-number/src/utils/getTimeFormatterForGranularity.ts
  plugins/big-number/test/transformProps.test.ts
  plugins/table/package.json
  plugins/table/src/ReactDataTable.tsx
  plugins/table/src/Table.css
  plugins/table/src/transformProps.ts
  plugins/table/test/testData.ts
  scripts/build.js
  yarn.lock
Due: core-packages, plugins

feat: add retry to callApi (#384)
  packages/superset-ui-connection/package.json
  packages/superset-ui-connection/src/SupersetClientClass.ts
  packages/superset-ui-connection/src/callApi/callApi.ts
  packages/superset-ui-connection/src/constants.ts
  packages/superset-ui-connection/src/types.ts
  packages/superset-ui-connection/test/callApi/callApi.test.ts
  yarn.lock
Due: core-packages

chore(release): publish v0.12.22
  lerna.json
  packages/superset-ui-chart-composition/package.json
  packages/superset-ui-chart/package.json
  packages/superset-ui-connection/package.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-query/package.json
  packages/superset-ui-superset-ui/package.json
  plugins/big-number/package.json
  plugins/table/package.json
Due: core-packages, plugins

fix: unset row_limit when it's not a number
  packages/superset-ui-query/src/buildQueryObject.ts
Due: core-packages

fix: address comments
  packages/superset-ui-query/src/buildQueryObject.ts
Due: core-packages

fix: unset row_limit when it's not a number (#387)
  packages/superset-ui-query/src/buildQueryObject.ts
Due: core-packages

chore(release): publish v0.12.23
  lerna.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-query/package.json
  packages/superset-ui-superset-ui/package.json
Due: core-packages

add shared controls utilities
  packages/superset-ui-chart/README.md
  packages/superset-ui-chart/package.json
  packages/superset-ui-chart/src/controls/D3Formatting.ts
  packages/superset-ui-chart/src/controls/NVD3.ts
  packages/superset-ui-chart/src/controls/sections.tsx
  packages/superset-ui-chart/src/controls/selectOptions.ts
  packages/superset-ui-chart/yarn.lock
Due: core-packages

chore: ignore yarn.lock in child packages
  .gitignore
Due: none

accidentally yarn lock
  packages/superset-ui-chart/yarn.lock
Due: core-packages

bring in date formatting fix
  packages/superset-ui-chart/src/controls/D3Formatting.ts
Due: core-packages

build: reformat and simplify auto release workflow
  .github/workflows/release.yml
Due: none

build: yarn prettier remove "--write"
  package.json
Due: none

fix(big-number): make mainColor optional
  packages/superset-ui-demo/package.json
  plugins/big-number/package.json
  plugins/big-number/src/BigNumber/BigNumber.tsx
Due: core-packages, plugins

chore(legacy-table): move @types/datatables.net to dependencies
  plugins/table/package.json
Due: plugins

turn off no-plusplus rule
  package.json
Due: none

address PR feedback, reorganize modules a bit
  packages/superset-ui-chart/src/controls/index.ts
  packages/superset-ui-chart/src/controls/sections.tsx
  packages/superset-ui-chart/src/index.ts
  temporary-plugins/superset-ui-legacy-preset-chart-nvd3/src/NVD3Controls.tsx
Due: core-packages

turn off no-plusplus
  package.json
Due: none

bring in new external changes
  packages/superset-ui-chart/src/controls/sections.tsx
  temporary-plugins/superset-ui-legacy-preset-chart-nvd3/src/NVD3Controls.tsx
Due: core-packages

fix: export superset theme props
  packages/superset-ui-style/src/index.ts
Due: core-packages

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
