Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

codecov.yml:

coverage:
  status:
    project:
      target: 90%
      # send notification if coverage change exceed this threshold
      threshold: 5%
    core-packages:
      target: 100%
      flags: 
        - core-packages
    plugins:
      target: 50%
      flags: 
        - plugins

flags:
  core-packages:
    paths:
      - packages
  plugins:
    paths:
      - plugins

Delete turkey.geojson
  turkey.geojson
Due: none

fix(plugin-chart-echarts): fix treemap
  plugins/plugin-chart-echarts/src/Treemap/constants.ts
  plugins/plugin-chart-echarts/src/Treemap/transformProps.ts
Due: plugins

fix(plugin-chart-echarts): ci
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Waterfall/Stories.tsx
  plugins/plugin-chart-echarts/src/Waterfall/transformProps.ts
Due: core-packages, plugins

feat(plugin-chart-echarts): add a bar chart which include two type(timeseries and none-timeseries)
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Bar/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Bar/constants.ts
  plugins/plugin-chart-echarts/src/Bar/EchartsBar.tsx
  plugins/plugin-chart-echarts/src/Bar/buildQuery.ts
  plugins/plugin-chart-echarts/src/Bar/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Bar/images/thumbnail.png
  plugins/plugin-chart-echarts/src/Bar/index.ts
  plugins/plugin-chart-echarts/src/Bar/transformProps.ts
  plugins/plugin-chart-echarts/src/Bar/types.ts
  plugins/plugin-chart-echarts/src/index.ts
  plugins/plugin-chart-echarts/test/Bar/buildQuery.test.ts
  plugins/plugin-chart-echarts/test/Bar/transformProps.test.ts
Due: core-packages, plugins

feat: expose form_data to datasourceControl (#1148)
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
Due: core-packages

fix(plugin-chart-echarts): order by timeseries limit metric
  plugins/plugin-chart-echarts/src/MixedTimeseries/buildQuery.ts
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
  plugins/plugin-chart-echarts/test/Timeseries/buildQuery.test.ts
Due: plugins

fix(plugin-chart-echarts): order by timeseries limit metric (#1156)
  plugins/plugin-chart-echarts/src/MixedTimeseries/buildQuery.ts
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
  plugins/plugin-chart-echarts/test/Timeseries/buildQuery.test.ts
Due: plugins

chore: publish v0.17.54
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

fix(plugin-chart-echarts): lint:fix bar chart
  plugins/plugin-chart-echarts/src/Bar/transformProps.ts
Due: plugins

fix(plugin-chart-echarts):
  plugins/plugin-chart-echarts/src/Bar/controlPanel.tsx
Due: plugins

added emit target name
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/ColumnConfigControl.tsx
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/constants.tsx
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/controlPanel.tsx
Due: core-packages, plugins

chore(plugin-chart-echarts): bump echarts to 5.1.2
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-echarts/src/Tree/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Treemap/EchartsTreemap.tsx
  plugins/plugin-chart-echarts/src/components/Echart.tsx
Due: plugins

chore(core): add new fields to metadata class (#1149)
  packages/superset-ui-core/src/chart/models/ChartMetadata.ts
Due: core-packages

fix: tooltips on nvd3 charts
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
Due: plugins

fix: tooltips on nvd3 charts (#1162)
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
Due: plugins

fix: commit yarn lock change for release
  yarn.lock
Due: none

chore: publish v0.17.55
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

Add ALLOW_FULL_CSV_EXPORT feature flag
  packages/superset-ui-core/src/utils/featureFlags.ts
Due: core-packages

Add ALLOW_FULL_CSV_EXPORT feature flag (#1165)
  packages/superset-ui-core/src/utils/featureFlags.ts
Due: core-packages

chore: publish v0.17.56
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

chore(plugin-chart-echarts): bump echarts to 5.1.2 (#1159)
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-echarts/src/Tree/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Treemap/EchartsTreemap.tsx
  plugins/plugin-chart-echarts/src/components/Echart.tsx
Due: plugins

fix: remove unnecessary export
  packages/superset-ui-chart-controls/src/types.ts
Due: core-packages

fix: add export for type check
  packages/superset-ui-chart-controls/src/types.ts
Due: core-packages

chore(chart-controls): improve typing for mapStateToProps
  packages/superset-ui-chart-controls/src/types.ts
  plugins/plugin-chart-table/src/controlPanel.tsx
Due: core-packages, plugins

feat(plugin-chart-pivot-table): enable metrics to be used as row groups
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
  plugins/plugin-chart-pivot-table/src/plugin/controlPanel.ts
  plugins/plugin-chart-pivot-table/src/plugin/transformProps.ts
  plugins/plugin-chart-pivot-table/src/types.ts
  plugins/plugin-chart-pivot-table/test/plugin/transformProps.test.ts
Due: plugins

Revert "update"
  packages/superset-ui-core/src/chart/components/NoResultsComponent.tsx
Due: core-packages

feat(plugin-chart-pivot-table): enable metrics to be used as row groups (#1172)
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
  plugins/plugin-chart-pivot-table/src/plugin/controlPanel.ts
  plugins/plugin-chart-pivot-table/src/plugin/transformProps.ts
  plugins/plugin-chart-pivot-table/src/types.ts
  plugins/plugin-chart-pivot-table/test/plugin/transformProps.test.ts
Due: plugins

chore: publish v0.17.57
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
Due: core-packages, plugins

fix(core): remove height and width requirement on SuperChart
  packages/superset-ui-core/src/chart/components/SuperChart.tsx
Due: core-packages

simply by removing state
  packages/superset-ui-core/src/chart/components/SuperChart.tsx
Due: core-packages

chore(core): adjustments to chart metadata
  packages/superset-ui-core/src/chart/models/ChartMetadata.ts
Due: core-packages

fix(core): remove height and width requirement on SuperChart (#1176)
  packages/superset-ui-core/src/chart/components/SuperChart.tsx
Due: core-packages

chore: publish v0.17.58
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

fix(plugin-chart-echarts): sanitize series from html tags
  plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
  plugins/plugin-chart-echarts/src/Funnel/transformProps.ts
  plugins/plugin-chart-echarts/src/Graph/transformProps.ts
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/utils/prophet.ts
  plugins/plugin-chart-echarts/src/utils/series.ts
  plugins/plugin-chart-echarts/test/utils/series.test.ts
Due: plugins

use echarts html encoder
  plugins/plugin-chart-echarts/src/utils/series.ts
Due: plugins

fix(plugin-chart-echarts): [treemap v2] the section color and disabling the zoom on the explore
  plugins/plugin-chart-echarts/src/Treemap/constants.ts
  plugins/plugin-chart-echarts/src/Treemap/transformProps.ts
Due: plugins

chore(core): adjustments to chart metadata (#1177)
  packages/superset-ui-core/src/chart/models/ChartMetadata.ts
Due: core-packages

changed name
  packages/superset-ui-core/src/utils/featureFlags.ts
Due: core-packages
