Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

chore: pass datasource to metrics control (#1438)
  packages/superset-ui-chart-controls/src/shared-controls/dndControls.tsx
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  plugins/plugin-chart-table/src/controlPanel.tsx
Due: core-packages, plugins

chore: add rat script
  .gitignore
  .rat-excludes
  scripts/check_license.sh
Due: none

fix: revert default series limit and update eligible choices (#1430)
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
Due: core-packages

docs: update chart sorting control labels/descriptions (#1436)
  packages/superset-ui-chart-controls/src/shared-controls/dndControls.tsx
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
Due: core-packages

chore: publish v0.18.17
  lerna.json
  package-lock.json
  packages/generator-superset/package.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
  scripts/commitlint.js
  scripts/lernaVersion.sh
Due: core-packages, plugins

feat: support rich tooltip sort by metric
  plugins/plugin-chart-echarts/src/MixedTimeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Regular/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Step/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/controls.tsx
Due: plugins

fix: vercel ci
  plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Regular/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Step/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
Due: plugins

Redirect on 401
  packages/superset-ui-core/src/connection/callApi/callApiAndParseWithTimeout.ts
  packages/superset-ui-core/src/connection/callApi/parseResponse.ts
  packages/superset-ui-core/src/connection/types.ts
Due: core-packages

feat: support sort the rich tooltip by metric desc (#1445)
  plugins/plugin-chart-echarts/src/MixedTimeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Regular/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Step/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/controls.tsx
Due: plugins

chore(plugin-chart-echarts): bump echarts to 5.2.2
  plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
Due: plugins

bump package
  package-lock.json
  plugins/plugin-chart-echarts/package.json
Due: plugins

chore(plugin-chart-echarts): bump echarts to 5.2.2 (#1440)
  package-lock.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
Due: plugins

fix(plugin-chart-echarts): fix tick labels and tooltip
  plugins/plugin-chart-echarts/src/MixedTimeseries/EchartsMixedTimeseries.tsx
  plugins/plugin-chart-echarts/src/MixedTimeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/MixedTimeseries/types.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
Due: plugins

remove redundant conditional expression
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
Due: plugins

feat: Add Saudi Arabia country map (#1416)
  plugins/legacy-plugin-chart-country-map/src/countries.ts
  plugins/legacy-plugin-chart-country-map/src/countries/saudi_arabia.geojson
Due: plugins

fix(plugin-chart-echarts): fix tick labels and tooltip (#1447)
  plugins/plugin-chart-echarts/src/MixedTimeseries/EchartsMixedTimeseries.tsx
  plugins/plugin-chart-echarts/src/MixedTimeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/MixedTimeseries/types.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
Due: plugins

fix(plugin-chart-echarts): boxplot groupby incorrect
  packages/superset-ui-core/src/query/types/PostProcessing.ts
  packages/superset-ui-core/test/query/types/PostProcessing.test.ts
  plugins/plugin-chart-echarts/src/BoxPlot/buildQuery.ts
  plugins/plugin-chart-echarts/test/BoxPlot/buildQuery.test.ts
Due: core-packages, plugins

add tests
  packages/superset-ui-core/src/query/types/PostProcessing.ts
  packages/superset-ui-core/test/query/types/PostProcessing.test.ts
  plugins/plugin-chart-echarts/src/BoxPlot/buildQuery.ts
  plugins/plugin-chart-echarts/test/BoxPlot/buildQuery.test.ts
Due: core-packages, plugins

use formData instead of QueryObject
  packages/superset-ui-chart-controls/src/operators/boxplotOperator.ts
  plugins/plugin-chart-echarts/src/BoxPlot/buildQuery.ts
Due: core-packages, plugins

lint
  plugins/plugin-chart-echarts/test/BoxPlot/buildQuery.test.ts
Due: plugins

feat(plugin-chart-echarts): support always show annotation label
  packages/superset-ui-core/src/query/types/AnnotationLayer.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
Due: core-packages, plugins

fix(plugin-chart-echarts): boxplot groupby incorrect (#1448)
  packages/superset-ui-chart-controls/src/operators/boxplotOperator.ts
  packages/superset-ui-core/src/query/types/PostProcessing.ts
  packages/superset-ui-core/test/query/types/PostProcessing.test.ts
  plugins/plugin-chart-echarts/test/BoxPlot/buildQuery.test.ts
Due: core-packages, plugins

chore: publish v0.18.18
  lerna.json
  package-lock.json
  packages/generator-superset/package.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

fix: Color consistency (#1406)
  packages/superset-ui-chart-controls/src/sections/sections.tsx
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  packages/superset-ui-chart-controls/src/types.ts
  packages/superset-ui-core/src/color/CategoricalColorNamespace.ts
  packages/superset-ui-core/src/color/CategoricalColorScale.ts
  packages/superset-ui-core/test/color/CategoricalColorNameSpace.test.ts
  plugins/legacy-plugin-chart-chord/src/controlPanel.ts
  plugins/legacy-plugin-chart-histogram/src/controlPanel.ts
  plugins/legacy-plugin-chart-partition/src/controlPanel.tsx
  plugins/legacy-plugin-chart-rose/src/controlPanel.tsx
  plugins/legacy-plugin-chart-sankey-loop/src/controlPanel.ts
  plugins/legacy-plugin-chart-sankey/src/controlPanel.ts
  plugins/legacy-plugin-chart-treemap/src/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Area/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Bar/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Bubble/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Compare/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/DistBar/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/DualLine/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Line/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/LineMulti/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Pie/controlPanel.ts
  plugins/plugin-chart-echarts/src/MixedTimeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Regular/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Step/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-word-cloud/src/plugin/controlPanel.ts
  plugins/preset-chart-xy/src/BoxPlot/controlPanel.ts
Due: core-packages, plugins

chore: publish v0.18.19
  lerna.json
  package-lock.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

fix: lock file blocked CI
  package-lock.json
  package.json
  scripts/build.js
Due: none

increase coverage
  packages/superset-ui-core/test/color/CategoricalColorNameSpace.test.ts
Due: core-packages

chore: update lockfile (#1451)
  package-lock.json
  package.json
  packages/superset-ui-core/test/color/CategoricalColorNameSpace.test.ts
  scripts/build.js
Due: core-packages

feat(legacy-plugin-chart-calendar): increasecontrast of calendar heatmap
  plugins/legacy-plugin-chart-calendar/src/vendor/cal-heatmap.css
  plugins/legacy-plugin-chart-calendar/src/vendor/cal-heatmap.js
Due: plugins

chore: check npm and node version in learn publish
  package-lock.json
  package.json
  scripts/lernaVersion.sh
Due: none

update error
  scripts/lernaVersion.sh
Due: none

distinguished between node and npm
  scripts/lernaVersion.sh
Due: none

chore: check node and npm version in release workflow (#1454)
  package-lock.json
  package.json
  scripts/lernaVersion.sh
Due: none

feat(plugin-chart-echarts): support always show annotation label (#1449)
  packages/superset-ui-core/src/query/types/AnnotationLayer.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
Due: core-packages, plugins

rename getContrastingColor and put it core
  packages/superset-ui-core/src/color/index.ts
  packages/superset-ui-core/src/color/utils.ts
  packages/superset-ui-core/test/color/utils.test.ts
  plugins/legacy-plugin-chart-calendar/src/vendor/cal-heatmap.js
Due: core-packages, plugins

fix: unit test
  packages/superset-ui-core/src/color/utils.ts
  packages/superset-ui-core/test/color/utils.test.ts
Due: core-packages

feat(legacy-plugin-chart-calendar): increase the contrast of calendar heatmap color and label (#1452)
  packages/superset-ui-core/src/color/index.ts
  packages/superset-ui-core/src/color/utils.ts
  packages/superset-ui-core/test/color/utils.test.ts
  plugins/legacy-plugin-chart-calendar/src/vendor/cal-heatmap.css
  plugins/legacy-plugin-chart-calendar/src/vendor/cal-heatmap.js
Due: core-packages, plugins

chore: publish v0.18.20
  lerna.json
  package-lock.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
