Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

codecov.yml:

coverage:
  status:
    project:
      target: 90%
      # send notification if coverage change exceed this threshold
      threshold: 5%
    core-packages:
      target: 100%
      flags: 
        - core-packages
    plugins:
      target: 50%
      flags: 
        - plugins

flags:
  core-packages:
    paths:
      - packages
  plugins:
    paths:
      - plugins

ut coverage
  packages/superset-ui-chart-controls/test/utils/rollingWindow.test.ts
  packages/superset-ui-chart-controls/test/utils/timeCompare.test.ts
Due: core-packages

wip
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/rollingWindow.ts
Due: core-packages

fix ut
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/rollingWindow.ts
  packages/superset-ui-chart-controls/test/utils/rollingWindow.test.ts
Due: core-packages

fix: wip
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
Due: plugins

wip
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/rollingWindow.ts
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/timeCompare.ts
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/utils/getMetricOffsetsMap.ts
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/utils/isValidTimeCompare.ts
  packages/superset-ui-core/src/query/types/PostProcessing.ts
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
Due: core-packages, plugins

codes massage
  packages/superset-ui-chart-controls/src/sections/AdvancedAnalytics.tsx
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/index.ts
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/rollingWindow.ts
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/timeCompare.ts
  packages/superset-ui-core/src/query/types/PostProcessing.ts
  packages/superset-ui-core/src/utils/ensureIsInt.ts
  packages/superset-ui-core/test/utils/ensureIsInt.test.ts
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
Due: core-packages, plugins

lint
  packages/superset-ui-chart-controls/src/sections/AdvancedAnalytics.tsx
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
Due: core-packages, plugins

wip
  packages/superset-ui-chart-controls/test/utils/rollingWindow.test.ts
  packages/superset-ui-chart-controls/test/utils/timeCompare.test.ts
Due: core-packages

wip
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/rollingWindow.ts
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
Due: core-packages, plugins

improve code coverage
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/timeCompare.ts
  packages/superset-ui-chart-controls/test/utils/rollingWindow.test.ts
Due: core-packages

fix ut
  packages/superset-ui-core/src/query/types/QueryFormData.ts
Due: core-packages

control UT
  packages/superset-ui-chart-controls/src/sections/AdvancedAnalytics.tsx
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/rollingWindow.ts
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/timeCompare.ts
  packages/superset-ui-chart-controls/test/utils/rollingWindow.test.ts
  packages/superset-ui-chart-controls/test/utils/timeCompare.test.ts
  packages/superset-ui-core/src/query/types/AdvancedAnalytics.ts
Due: core-packages

fix ut
  packages/superset-ui-chart-controls/test/utils/rollingWindow.test.ts
  packages/superset-ui-chart-controls/test/utils/timeCompare.test.ts
Due: core-packages

jest coverage
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/rollingWindow.ts
  packages/superset-ui-chart-controls/test/utils/rollingWindow.test.ts
Due: core-packages

minor fix
  packages/superset-ui-chart-controls/src/operators/rollingWindowOperator.ts
  packages/superset-ui-chart-controls/src/operators/timeComparePivotOperator.ts
  packages/superset-ui-chart-controls/src/operators/utils/constants.ts
  packages/superset-ui-chart-controls/src/operators/utils/getMetricOffsetsMap.ts
  packages/superset-ui-chart-controls/src/operators/utils/index.ts
  packages/superset-ui-chart-controls/src/sections/advancedAnalytics.tsx
  packages/superset-ui-chart-controls/src/sections/sections.tsx
Due: core-packages

fix ut coverage
  packages/superset-ui-chart-controls/test/utils/operators/pivotOperator.test.ts
Due: core-packages

use mean agg in pivot operator
  packages/superset-ui-chart-controls/src/operators/pivotOperator.ts
  packages/superset-ui-chart-controls/src/operators/timeComparePivotOperator.ts
  packages/superset-ui-chart-controls/test/utils/operators/pivotOperator.test.ts
Due: core-packages

fix rolling total
  packages/superset-ui-chart-controls/src/utils/operators/index.ts
  packages/superset-ui-chart-controls/src/utils/operators/pivotOperator.ts
  packages/superset-ui-chart-controls/src/utils/operators/rollingWindowOperator.ts
  packages/superset-ui-chart-controls/src/utils/operators/sortOperator.ts
  packages/superset-ui-chart-controls/src/utils/operators/timeCompareOperator.ts
  packages/superset-ui-chart-controls/src/utils/operators/timeComparePivotOperator.ts
  packages/superset-ui-chart-controls/src/utils/operators/types.ts
  packages/superset-ui-chart-controls/src/utils/operators/utils/constants.ts
  packages/superset-ui-chart-controls/src/utils/operators/utils/getMetricOffsetsMap.ts
  packages/superset-ui-chart-controls/src/utils/operators/utils/index.ts
  packages/superset-ui-chart-controls/src/utils/operators/utils/isValidTimeCompare.ts
  packages/superset-ui-chart-controls/test/utils/operators/pivotOperator.test.ts
  packages/superset-ui-chart-controls/test/utils/operators/rollingWindowOperator.test.ts
  packages/superset-ui-chart-controls/test/utils/operators/sortOperator.test.ts
  packages/superset-ui-chart-controls/test/utils/operators/timeCompareOperator.test.ts
  packages/superset-ui-core/src/query/types/PostProcessing.ts
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
  plugins/plugin-chart-echarts/test/Timeseries/buildQuery.test.ts
Due: core-packages, plugins

frontend follow ups iteratrion 1
  packages/superset-ui-chart-controls/src/sections/advancedAnalytics.tsx
  packages/superset-ui-chart-controls/src/sections/index.ts
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/rollingWindow.ts
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/timeCompare.ts
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/types.ts
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/utils/getMetricOffsetsMap.ts
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/utils/isValidTimeCompare.ts
  packages/superset-ui-core/src/query/types/PostProcessing.ts
Due: core-packages

revert changes
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
Due: plugins

refactor
  packages/superset-ui-chart-controls/src/index.ts
  packages/superset-ui-chart-controls/src/operators/index.ts
  packages/superset-ui-chart-controls/src/operators/pivotOperator.ts
  packages/superset-ui-chart-controls/src/operators/rollingWindowOperator.ts
  packages/superset-ui-chart-controls/src/operators/sortOperator.ts
  packages/superset-ui-chart-controls/src/operators/timeCompareOperator.ts
  packages/superset-ui-chart-controls/src/operators/timeComparePivotOperator.ts
  packages/superset-ui-chart-controls/src/operators/types.ts
  packages/superset-ui-chart-controls/src/operators/utils/constants.ts
  packages/superset-ui-chart-controls/src/operators/utils/getMetricOffsetsMap.ts
  packages/superset-ui-chart-controls/src/operators/utils/index.ts
  packages/superset-ui-chart-controls/src/operators/utils/isValidTimeCompare.ts
  packages/superset-ui-chart-controls/src/utils/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
Due: core-packages, plugins

wip
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/rollingWindow.ts
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/timeCompare.ts
  packages/superset-ui-chart-controls/test/utils/rollingWindow.test.ts
  packages/superset-ui-chart-controls/test/utils/timeCompare.test.ts
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
Due: core-packages, plugins

aa frontend follow ups
  packages/superset-ui-chart-controls/src/operators/pivotOperator.ts
  packages/superset-ui-chart-controls/test/utils/operators/timeCompareOperator.test.ts
Due: core-packages

feat(plugin-chart-echarts): implement x-filter opacity in ts chart
  plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
Due: plugins

address comments
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
Due: plugins

feat(plugin-chart-echarts): implement x-filter opacity in ts chart (#1244)
  plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
Due: plugins

feat: advanced analytics for timeseries in echart viz (#1170)
  packages/superset-ui-chart-controls/src/index.ts
  packages/superset-ui-chart-controls/src/operators/index.ts
  packages/superset-ui-chart-controls/src/operators/pivotOperator.ts
  packages/superset-ui-chart-controls/src/operators/rollingWindowOperator.ts
  packages/superset-ui-chart-controls/src/operators/sortOperator.ts
  packages/superset-ui-chart-controls/src/operators/timeCompareOperator.ts
  packages/superset-ui-chart-controls/src/operators/timeComparePivotOperator.ts
  packages/superset-ui-chart-controls/src/operators/types.ts
  packages/superset-ui-chart-controls/src/operators/utils/constants.ts
  packages/superset-ui-chart-controls/src/operators/utils/getMetricOffsetsMap.ts
  packages/superset-ui-chart-controls/src/operators/utils/index.ts
  packages/superset-ui-chart-controls/src/operators/utils/isValidTimeCompare.ts
  packages/superset-ui-chart-controls/src/sections/advancedAnalytics.tsx
  packages/superset-ui-chart-controls/src/sections/index.ts
  packages/superset-ui-chart-controls/src/sections/sections.tsx
  packages/superset-ui-chart-controls/test/utils/operators/pivotOperator.test.ts
  packages/superset-ui-chart-controls/test/utils/operators/rollingWindowOperator.test.ts
  packages/superset-ui-chart-controls/test/utils/operators/sortOperator.test.ts
  packages/superset-ui-chart-controls/test/utils/operators/timeCompareOperator.test.ts
  packages/superset-ui-core/src/query/types/AdvancedAnalytics.ts
  packages/superset-ui-core/src/query/types/PostProcessing.ts
  packages/superset-ui-core/src/query/types/index.ts
  packages/superset-ui-core/src/utils/ensureIsInt.ts
  packages/superset-ui-core/test/utils/ensureIsInt.test.ts
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/test/Timeseries/buildQuery.test.ts
Due: core-packages, plugins

chore: publish v0.17.74
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

chore: only keey Distribution category
  plugins/legacy-plugin-chart-sankey/src/index.js
  plugins/legacy-plugin-chart-treemap/src/index.js
  plugins/legacy-preset-chart-nvd3/src/DistBar/index.js
Due: plugins

chore: only keey Distribution category (#1245)
  plugins/legacy-plugin-chart-sankey/src/index.js
  plugins/legacy-plugin-chart-treemap/src/index.js
  plugins/legacy-preset-chart-nvd3/src/DistBar/index.js
Due: plugins

add feature flag
  packages/superset-ui-core/src/utils/featureFlags.ts
Due: core-packages

add feature flag (#1246)
  packages/superset-ui-core/src/utils/featureFlags.ts
Due: core-packages

chore: publish v0.17.75
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

feat(chart-controls): move cross-filtering control to data panel
  packages/superset-ui-chart-controls/src/index.ts
  packages/superset-ui-chart-controls/src/shared-controls/emitFilterControl.ts
  plugins/plugin-chart-echarts/src/BoxPlot/controlPanel.ts
  plugins/plugin-chart-echarts/src/Funnel/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Gauge/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Pie/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Radar/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Treemap/controlPanel.tsx
  plugins/plugin-chart-pivot-table/src/plugin/controlPanel.ts
  plugins/plugin-chart-table/src/controlPanel.tsx
  plugins/plugin-chart-table/src/transformProps.ts
  plugins/plugin-chart-table/src/types.ts
Due: core-packages, plugins

feat(plugin-chart-pivot-table): add sort by result to data pane (#1243)
  plugins/plugin-chart-pivot-table/src/plugin/buildQuery.ts
Due: plugins

feat(plugin-chart-echarts): create separate entry points for timeseries
  plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Area/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Line/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/SmoothLine/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/StepEnd/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/StepMiddle/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/StepStart/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/controlPanel.tsx
  plugins/plugin-chart-echarts/src/index.ts
Due: plugins

Mark nvd3 area chart as deprecated
  plugins/legacy-preset-chart-nvd3/src/Area/index.js
Due: plugins

fix: license
  packages/superset-ui-chart-controls/src/shared-controls/emitFilterControl.ts
Due: core-packages

fix: add test
  packages/superset-ui-chart-controls/test/shared-controls/emitFilterControl.test.ts
Due: core-packages
