Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

codecov.yml:

coverage:
  status:
    project:
      target: 90%
      # send notification if coverage change exceed this threshold
      threshold: 5%
    core-packages:
      target: 100%
      flags: 
        - core-packages
    plugins:
      target: 50%
      flags: 
        - plugins

flags:
  core-packages:
    paths:
      - packages
  plugins:
    paths:
      - plugins

Updates
  iframe.html
Due: none

add controls to chart for para
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/src/controlPanel.ts
  plugins/legacy-plugin-chart-parallel-coordinates/src/index.js
Due: plugins

Rename funcs
  packages/superset-ui-query/src/extractQueryFields.ts
  packages/superset-ui-query/test/extractQueryFields.test.ts
Due: core-packages

moving style package to peer deps to fix some SUPER annoying errors
  plugins/legacy-preset-chart-big-number/package.json
Due: plugins

nixing css style, to let Emotion do the talking
  plugins/legacy-preset-chart-big-number/src/BigNumber/BigNumber.css
Due: plugins

moving wordCloud to style pkg to peerDeps.
  plugins/plugin-chart-word-cloud/package.json
Due: plugins

Simplify extractQueryFields
  packages/superset-ui-query/src/extractQueryFields.ts
Due: core-packages

fix
  packages/superset-ui-query/src/extractQueryFields.ts
Due: core-packages

feat: add control grouping functionality (#485)
  packages/superset-ui-control-utils/src/shared-controls.tsx
  packages/superset-ui-query/src/buildQueryObject.ts
  packages/superset-ui-query/src/convertMetric.ts
  packages/superset-ui-query/src/extractQueryFields.ts
  packages/superset-ui-query/src/processGroupby.ts
  packages/superset-ui-query/src/processMetrics.ts
  packages/superset-ui-query/src/types/Metric.ts
  packages/superset-ui-query/src/types/Query.ts
  packages/superset-ui-query/src/types/QueryFormData.ts
  packages/superset-ui-query/test/buildQueryObject.test.ts
  packages/superset-ui-query/test/extractQueryFields.test.ts
  packages/superset-ui-query/test/processGroupby.test.ts
  packages/superset-ui-query/test/processMetrics.test.ts
  plugins/plugin-chart-word-cloud/src/plugin/buildQuery.ts
  plugins/plugin-chart-word-cloud/test/plugin/buildQuery.test.ts
Due: core-packages, plugins

wip
  packages/superset-ui-time-format/src/TimeRangeFormatter.ts
  packages/superset-ui-time-format/src/types.ts
Due: core-packages

fix: update format
  packages/superset-ui-time-format/src/TimeFormatsForGranularity.ts
Due: core-packages

feat: refactor getFormatter
  packages/superset-ui-time-format/src/TimeFormatterRegistrySingleton.ts
  packages/superset-ui-time-format/src/TimeRangeFormatter.ts
Due: core-packages

feat: create time range from granularity
  packages/superset-ui-time-format/src/TimeFormatterRegistrySingleton.ts
  packages/superset-ui-time-format/src/index.ts
  packages/superset-ui-time-format/src/utils/createDate.ts
  packages/superset-ui-time-format/src/utils/createTimeRangeFromGranularity.ts
  packages/superset-ui-time-format/test/utils/createDate.test.ts
  packages/superset-ui-time-format/test/utils/createTimeRangeFromGranularity.test.ts
Due: core-packages

feat(time-format): add support for granularity
  packages/superset-ui-time-format/src/TimeFormatsForGranularity.ts
  packages/superset-ui-time-format/src/TimeFormatterRegistrySingleton.ts
  packages/superset-ui-time-format/src/types.ts
  packages/superset-ui-time-format/src/utils/createTimeRangeFromGranularity.ts
  packages/superset-ui-time-format/test/factories/getTimeFormatterForGranularity.test.ts
Due: core-packages

feat: reconcile api
  packages/superset-ui-time-format/src/TimeFormatter.ts
  packages/superset-ui-time-format/src/TimeFormatterRegistrySingleton.ts
  packages/superset-ui-time-format/src/TimeRangeFormatter.ts
  packages/superset-ui-time-format/src/index.ts
  packages/superset-ui-time-format/src/types.ts
  packages/superset-ui-time-format/src/utils/stringifyTimeInput.ts
  packages/superset-ui-time-format/test/utils/createTimeRangeFromGranularity.test.ts
Due: core-packages

refactor: clean up
  packages/superset-ui-time-format/src/TimeFormatsForGranularity.ts
  packages/superset-ui-time-format/src/TimeFormatterRegistrySingleton.ts
  packages/superset-ui-time-format/src/TimeRangeFormatter.ts
  packages/superset-ui-time-format/src/factories/getTimeFormatterForGranularity.ts
  packages/superset-ui-time-format/test/TimeFormatterRegistrySingleton.test.ts
  packages/superset-ui-time-format/test/factories/getTimeFormatterForGranularity.test.ts
Due: core-packages

test: add unit tests
  packages/superset-ui-time-format/src/factories/createMultiFormatter.ts
  packages/superset-ui-time-format/src/utils/createTimeRangeFromGranularity.ts
  packages/superset-ui-time-format/src/utils/d3Time.ts
  packages/superset-ui-time-format/test/utils/createTimeRangeFromGranularity.test.ts
  packages/superset-ui-time-format/test/utils/d3Time.test.ts
Due: core-packages

refactor: createTime
  packages/superset-ui-time-format/src/utils/createDate.ts
  packages/superset-ui-time-format/src/utils/createTime.ts
  packages/superset-ui-time-format/src/utils/createTimeRangeFromGranularity.ts
  packages/superset-ui-time-format/test/utils/createDate.test.ts
  packages/superset-ui-time-format/test/utils/createTime.test.ts
Due: core-packages

chore: publish v0.13.17
  lerna.json
  packages/superset-ui-control-utils/package.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-query/package.json
  packages/superset-ui-superset-ui/package.json
  plugins/plugin-chart-word-cloud/package.json
Due: core-packages, plugins

refactor: improve end time computation to be daylight saving compatible
  packages/superset-ui-time-format/src/utils/createTimeRangeFromGranularity.ts
Due: core-packages

add controls to chart
  plugins/legacy-plugin-chart-paired-t-test/src/controlPanel.ts
  plugins/legacy-plugin-chart-paired-t-test/src/index.js
Due: plugins

Nixing CSS file, putting all the styles in one place at export
  plugins/legacy-preset-chart-big-number/src/BigNumber/BigNumber.css
  plugins/legacy-preset-chart-big-number/src/BigNumber/BigNumber.tsx
Due: plugins

condensing imports
  plugins/legacy-preset-chart-big-number/src/BigNumber/BigNumber.tsx
Due: plugins

nixing extraneous package
  plugins/legacy-preset-chart-big-number/package.json
Due: plugins

getting emotion stuff out of word cloud for now (that's another PR!)
  plugins/plugin-chart-word-cloud/package.json
  plugins/plugin-chart-word-cloud/src/chart/WordCloud.tsx
Due: plugins

feat(legacy-plugin-chart-event-flow): migrate package
  packages/superset-ui-demo/package.json
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-event-flow/Stories.jsx
  plugins/legacy-plugin-chart-event-flow/README.md
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-event-flow/src/EventFlow.jsx
  plugins/legacy-plugin-chart-event-flow/src/controlPanel.jsx
  plugins/legacy-plugin-chart-event-flow/src/images/thumbnail.png
  plugins/legacy-plugin-chart-event-flow/src/images/thumbnailLarge.png
  plugins/legacy-plugin-chart-event-flow/src/index.js
  plugins/legacy-plugin-chart-event-flow/src/transformProps.js
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-event-flow/Stories.jsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-event-flow/index.js
  yarn.lock
Due: core-packages, plugins

Update package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
Due: plugins

feat(legacy-preset-big-number): use emotion styling (#455)
  packages/superset-ui-demo/.storybook/preview.js
  packages/superset-ui-demo/.storybook/themeDecorator.js
  packages/superset-ui-style/README.md
  plugins/big-number/yarn.lock
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-big-number/src/BigNumber/BigNumber.css
  plugins/legacy-preset-chart-big-number/src/BigNumber/BigNumber.tsx
Due: core-packages, plugins

feat(legacy-plugin-chart-parallel-coordinates): add control panels (#510)
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/src/controlPanel.ts
  plugins/legacy-plugin-chart-parallel-coordinates/src/index.js
Due: plugins

update package
  plugins/legacy-plugin-chart-paired-t-test/package.json
Due: plugins

feat: adding style package for Emotion support
  plugins/plugin-chart-word-cloud/package.json
Due: plugins

importing supersetTheme
  plugins/plugin-chart-word-cloud/src/chart/WordCloud.tsx
Due: plugins

using theme (directly)
  plugins/plugin-chart-word-cloud/src/chart/WordCloud.tsx
Due: plugins

fix: missing bracket, little linty things
  plugins/legacy-preset-chart-big-number/src/BigNumber/BigNumber.tsx
Due: plugins

chore: publish v0.13.18
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-preset-chart-big-number/package.json
Due: core-packages, plugins

updating encoder with direct font implementation
  plugins/plugin-chart-word-cloud/src/chart/Encoder.ts
Due: plugins

remove .ts ext from import
  plugins/legacy-plugin-chart-parallel-coordinates/src/index.js
Due: plugins
