Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

chore: publish v0.13.11
  lerna.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-style/package.json
  packages/superset-ui-superset-ui/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

feat(legacy-plugin-chart-chord): control panel
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-chord/src/controlPanel.js
  plugins/legacy-plugin-chart-chord/src/index.js
Due: plugins

feat(legacy-plugin-chart-markup): add controls to markup chart (#479)
  plugins/legacy-plugin-chart-markup/package.json
  plugins/legacy-plugin-chart-markup/src/controlPanel.js
  plugins/legacy-plugin-chart-markup/src/index.js
Due: plugins

test: codecov ignore tsx/jsx
  codecov.yml
Due: none

feat(control-utils): add shared controls + dependencies, convert to typescript (#459)
  packages/superset-ui-control-utils/package.json
  packages/superset-ui-control-utils/src/ColumnOption.tsx
  packages/superset-ui-control-utils/src/ColumnTypeLabel.tsx
  packages/superset-ui-control-utils/src/constants.ts
  packages/superset-ui-control-utils/src/index.ts
  packages/superset-ui-control-utils/src/mainMetric.ts
  packages/superset-ui-control-utils/src/shared-controls.tsx
  packages/superset-ui-control-utils/test/ColumnOption.test.tsx
  packages/superset-ui-control-utils/test/ColumnTypeLabel.test.tsx
  packages/superset-ui-control-utils/test/mainMetric.test.ts
Due: core-packages

chore: publish v0.13.12
  lerna.json
  packages/superset-ui-control-utils/package.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-superset-ui/package.json
  plugins/legacy-plugin-chart-markup/package.json
Due: core-packages, plugins

test: codecov ignore tsx/jsx (#482)
  codecov.yml
Due: none

feat(plugin-chart-word-cloud): allow minimum size
  plugins/plugin-chart-word-cloud/src/legacyPlugin/transformProps.ts
Due: plugins

fix: type
  plugins/plugin-chart-word-cloud/src/legacyPlugin/types.ts
Due: plugins

feat(legacy-plugin-chart-chord): control panel (#481)
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-chord/src/controlPanel.js
  plugins/legacy-plugin-chart-chord/src/index.js
Due: plugins

fix: test
  plugins/plugin-chart-word-cloud/test/legacyPlugin/transformProps.test.ts
Due: plugins

fix(legacy-plugin-chart-nvd3): disable linting rule that conflicts with having actual working code
  package.json
  plugins/legacy-preset-chart-nvd3/src/Area/index.js
  plugins/legacy-preset-chart-nvd3/src/Bar/index.js
  plugins/legacy-preset-chart-nvd3/src/Bubble/index.js
  plugins/legacy-preset-chart-nvd3/src/Bullet/index.js
  plugins/legacy-preset-chart-nvd3/src/Compare/index.js
  plugins/legacy-preset-chart-nvd3/src/DistBar/index.js
  plugins/legacy-preset-chart-nvd3/src/DualLine/index.js
  plugins/legacy-preset-chart-nvd3/src/Line/index.js
  plugins/legacy-preset-chart-nvd3/src/LineMulti/index.js
  plugins/legacy-preset-chart-nvd3/src/Pie/index.js
  plugins/legacy-preset-chart-nvd3/src/TimePivot/index.js
Due: plugins

cleanup unnecessary eslint-disable
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-calendar/Stories.tsx
  plugins/legacy-plugin-chart-sunburst/src/index.js
  plugins/legacy-preset-chart-nvd3/src/transformProps.js
  plugins/legacy-preset-chart-nvd3/test/utils/tokenize.test.js
Due: core-packages, plugins

fix(legacy-plugin-chart-nvd3): disable bad linting rule (#488)
  package.json
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-calendar/Stories.tsx
  plugins/legacy-plugin-chart-sunburst/src/index.js
  plugins/legacy-preset-chart-nvd3/src/Area/index.js
  plugins/legacy-preset-chart-nvd3/src/Bar/index.js
  plugins/legacy-preset-chart-nvd3/src/Bubble/index.js
  plugins/legacy-preset-chart-nvd3/src/Bullet/index.js
  plugins/legacy-preset-chart-nvd3/src/Compare/index.js
  plugins/legacy-preset-chart-nvd3/src/DistBar/index.js
  plugins/legacy-preset-chart-nvd3/src/DualLine/index.js
  plugins/legacy-preset-chart-nvd3/src/Line/index.js
  plugins/legacy-preset-chart-nvd3/src/LineMulti/index.js
  plugins/legacy-preset-chart-nvd3/src/Pie/index.js
  plugins/legacy-preset-chart-nvd3/src/TimePivot/index.js
  plugins/legacy-preset-chart-nvd3/src/transformProps.js
  plugins/legacy-preset-chart-nvd3/test/utils/tokenize.test.js
Due: core-packages, plugins

feat(plugin-chart-word-cloud): allow minimum size (#487)
  plugins/plugin-chart-word-cloud/src/legacyPlugin/transformProps.ts
  plugins/plugin-chart-word-cloud/src/legacyPlugin/types.ts
  plugins/plugin-chart-word-cloud/test/legacyPlugin/transformProps.test.ts
Due: plugins

feat: add plugin generator
  packages/generator-superset/generators/app/index.js
  packages/generator-superset/generators/plugin-chart/index.js
  packages/generator-superset/generators/plugin-chart/templates/README.md
  packages/generator-superset/generators/plugin-chart/templates/_package.json
Due: core-packages

feat: add templates
  packages/generator-superset/generators/plugin-chart/index.js
  packages/generator-superset/generators/plugin-chart/templates/_README.md
  packages/generator-superset/generators/plugin-chart/templates/src/MyChart.tsx
  packages/generator-superset/generators/plugin-chart/templates/src/images/thumbnail.png
  packages/generator-superset/generators/plugin-chart/templates/src/index.ts
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/index.ts
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/transformProps.ts
  packages/generator-superset/generators/plugin-chart/templates/test/_index.test.ts
  packages/generator-superset/generators/plugin-chart/templates/types/external.d.ts
Due: core-packages

feat: add templates
  packages/generator-superset/generators/plugin-chart/index.js
  packages/generator-superset/generators/plugin-chart/templates/README.erb
  packages/generator-superset/generators/plugin-chart/templates/package.erb
  packages/generator-superset/generators/plugin-chart/templates/src/MyChart.erb
  packages/generator-superset/generators/plugin-chart/templates/src/index.erb
  packages/generator-superset/generators/plugin-chart/templates/src/index.ts
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/index.erb
  packages/generator-superset/generators/plugin-chart/templates/test/_index.test.ts
  packages/generator-superset/generators/plugin-chart/templates/test/index.erb
  packages/generator-superset/test/plugin-chart.test.js
  yarn.lock
Due: core-packages

fix: wrong path
  packages/generator-superset/generators/plugin-chart/index.js
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/index.erb
Due: core-packages

fix: unit test
  packages/generator-superset/test/plugin-chart.test.js
Due: core-packages

fix: coverage
  packages/generator-superset/generators/plugin-chart/index.js
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/transformProps.txt
Due: core-packages

fix: simplify template
  packages/generator-superset/generators/plugin-chart/templates/src/MyChart.erb
Due: core-packages

feat(generator-superset): add scaffolder for chart plugin (#456)
  packages/generator-superset/generators/app/index.js
  packages/generator-superset/generators/plugin-chart/index.js
  packages/generator-superset/generators/plugin-chart/templates/README.erb
  packages/generator-superset/generators/plugin-chart/templates/package.erb
  packages/generator-superset/generators/plugin-chart/templates/src/MyChart.erb
  packages/generator-superset/generators/plugin-chart/templates/src/images/thumbnail.png
  packages/generator-superset/generators/plugin-chart/templates/src/index.erb
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/index.erb
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/transformProps.txt
  packages/generator-superset/generators/plugin-chart/templates/test/index.erb
  packages/generator-superset/generators/plugin-chart/templates/types/external.d.ts
  packages/generator-superset/test/plugin-chart.test.js
  yarn.lock
Due: core-packages

docs: update changelog
  CHANGELOG.md
Due: none

chore: publish v0.13.13
  lerna.json
  packages/generator-superset/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-word-cloud/package.json
Due: core-packages, plugins

Address PR comments
  packages/superset-ui-demo/storybook/stories/plugins/legacy-preset-chart-big-number/BigNumber/BigNumberStories.tsx
  packages/superset-ui-time-format/src/factories/getTimeFormatterForGranularity.ts
  packages/superset-ui-time-format/src/index.ts
  packages/superset-ui-time-format/src/types.ts
Due: core-packages

Add unit tests
  packages/superset-ui-time-format/src/types.ts
  packages/superset-ui-time-format/test/factories/getTimeFormatterForGranularity.test.ts
Due: core-packages

feat(legacy-preset-chart-big-number): add full-date to weekly time formatter
  packages/superset-ui-demo/storybook/stories/plugins/legacy-preset-chart-big-number/BigNumber/BigNumberStories.tsx
  packages/superset-ui-time-format/src/factories/getTimeFormatterForGranularity.ts
  packages/superset-ui-time-format/src/index.ts
  plugins/legacy-preset-chart-big-number/src/BigNumber/transformProps.ts
  plugins/legacy-preset-chart-big-number/test/transformProps.test.ts
Due: core-packages, plugins

feat(time-format): add full-date to weekly time formatter (#486)
  packages/superset-ui-demo/storybook/stories/plugins/legacy-preset-chart-big-number/BigNumber/BigNumberStories.tsx
  packages/superset-ui-time-format/src/factories/getTimeFormatterForGranularity.ts
  packages/superset-ui-time-format/src/index.ts
  packages/superset-ui-time-format/src/types.ts
  packages/superset-ui-time-format/test/factories/getTimeFormatterForGranularity.test.ts
  plugins/legacy-preset-chart-big-number/src/BigNumber/transformProps.ts
  plugins/legacy-preset-chart-big-number/test/transformProps.test.ts
Due: core-packages, plugins

chore: publish v0.13.14
  lerna.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-superset-ui/package.json
  packages/superset-ui-time-format/package.json
  plugins/legacy-preset-chart-big-number/package.json
Due: core-packages, plugins

feat: add control grouping functionality
  packages/superset-ui-query/src/buildQueryObject.ts
  packages/superset-ui-query/src/processMetrics.ts
  packages/superset-ui-query/src/types/Metric.ts
  packages/superset-ui-query/src/types/Query.ts
  packages/superset-ui-query/src/types/QueryFormData.ts
  packages/superset-ui-query/test/buildQueryObject.test.ts
  packages/superset-ui-query/test/processMetrics.test.ts
Due: core-packages

fix tests
  packages/superset-ui-query/test/buildQueryObject.test.ts
Due: core-packages

implement controlGroups on WordCloud
  plugins/plugin-chart-word-cloud/src/plugin/buildQuery.ts
  plugins/plugin-chart-word-cloud/test/plugin/buildQuery.test.ts
Due: plugins

break up into smaller packages and add unit tests
  packages/superset-ui-query/src/buildGroupedControls.ts
  packages/superset-ui-query/src/buildQueryObject.ts
  packages/superset-ui-query/src/types/ControlData.ts
  packages/superset-ui-query/src/types/QueryFormData.ts
  packages/superset-ui-query/test/buildGroupedControls.test.ts
Due: core-packages

address comments
  packages/superset-ui-query/src/buildGroupedControls.ts
  packages/superset-ui-query/src/buildQueryObject.ts
  packages/superset-ui-query/src/convertMetric.ts
  packages/superset-ui-query/src/processGroupby.ts
  packages/superset-ui-query/src/processMetrics.ts
  packages/superset-ui-query/src/types/ControlData.ts
  packages/superset-ui-query/src/types/Query.ts
  packages/superset-ui-query/src/types/QueryFormData.ts
  packages/superset-ui-query/test/processGroupby.test.ts
  packages/superset-ui-query/test/processMetrics.test.ts
Due: core-packages

rename controlGroup to queryField
  packages/superset-ui-query/src/buildQueryObject.ts
  packages/superset-ui-query/src/extractQueryFields.ts
  packages/superset-ui-query/src/types/ControlData.ts
  packages/superset-ui-query/src/types/Query.ts
  packages/superset-ui-query/src/types/QueryFormData.ts
  packages/superset-ui-query/test/buildQueryObject.test.ts
  packages/superset-ui-query/test/extractQueryFields.test.ts
Due: core-packages

fix test
  packages/superset-ui-query/test/buildGroupedControls.test.ts
Due: core-packages

move import
  packages/superset-ui-query/src/types/Query.ts
Due: core-packages

fix word cloud test
  plugins/plugin-chart-word-cloud/test/plugin/buildQuery.test.ts
Due: plugins

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
