Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

codecov.yml:

coverage:
  status:
    project:
      target: 90%
      # send notification if coverage change exceed this threshold
      threshold: 5%
    core-packages:
      target: 100%
      flags: 
        - core-packages
    plugins:
      target: 50%
      flags: 
        - plugins

flags:
  core-packages:
    paths:
      - packages
  plugins:
    paths:
      - plugins

Fix test case
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/transformProps.ts
  plugins/plugin-chart-table/test/TableChart.test.tsx
Due: plugins

Remove dependency on bootstrap package
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/DataTable/components/SelectPageSize.tsx
  plugins/plugin-chart-table/src/DataTable/hooks/useSticky.tsx
  yarn.lock
Due: plugins

fix code comments
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/TableStories.tsx
Due: core-packages

Update resize timing
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/DataTable/hooks/useSticky.tsx
  plugins/plugin-chart-table/src/TableChart.tsx
Due: plugins

build: update package versions in peerDependencies
  packages/superset-ui-chart-composition/package.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-chart/package.json
  packages/superset-ui-color/package.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-number-format/package.json
  packages/superset-ui-query/package.json
  packages/superset-ui-time-format/package.json
  packages/superset-ui-validator/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-iframe/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-markup/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
  temporary-plugins/hold-potentially-deprecate/superset-ui-legacy-plugin-chart-word-cloud/package.json
  temporary-plugins/hold-potentially-deprecate/superset-ui-plugin-chart-table/package.json
  temporary-plugins/package.json
  temporary-plugins/superset-ui-plugins-demo/package.json
Due: core-packages, plugins

Revert changed version for legacy-plugin-chart-word-cloud
  packages/superset-ui-demo/package.json
  plugins/plugin-chart-word-cloud/README.md
Due: core-packages, plugins

build: update package versions in peerDependencies (#622)
  packages/superset-ui-chart-composition/package.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-chart/package.json
  packages/superset-ui-color/package.json
  packages/superset-ui-number-format/package.json
  packages/superset-ui-query/package.json
  packages/superset-ui-time-format/package.json
  packages/superset-ui-validator/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-iframe/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-markup/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-word-cloud/README.md
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
  temporary-plugins/hold-potentially-deprecate/superset-ui-legacy-plugin-chart-word-cloud/package.json
  temporary-plugins/hold-potentially-deprecate/superset-ui-plugin-chart-table/package.json
  temporary-plugins/package.json
  temporary-plugins/superset-ui-plugins-demo/package.json
Due: core-packages, plugins

chore: publish v0.14.1
  lerna.json
  packages/superset-ui-chart-composition/package.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-chart/package.json
  packages/superset-ui-color/package.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-number-format/package.json
  packages/superset-ui-query/package.json
  packages/superset-ui-superset-ui/package.json
  packages/superset-ui-time-format/package.json
  packages/superset-ui-validator/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-iframe/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-markup/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

feat(plugin-chart-table): rewrite with react-table (#556)
  packages/superset-ui-demo/package.json
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-table/TableStories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/TableStories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/birthNames.json
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/testData.js
  plugins/plugin-chart-table/README.md
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/DataTable/README.md
  plugins/plugin-chart-table/src/DataTable/Styles.tsx
  plugins/plugin-chart-table/src/DataTable/components/GlobalFilter.tsx
  plugins/plugin-chart-table/src/DataTable/components/Pagination.tsx
  plugins/plugin-chart-table/src/DataTable/components/SelectPageSize.tsx
  plugins/plugin-chart-table/src/DataTable/hooks/useColumnCellProps.ts
  plugins/plugin-chart-table/src/DataTable/hooks/useSticky.ts
  plugins/plugin-chart-table/src/DataTable/index.tsx
  plugins/plugin-chart-table/src/DataTable/types/react-table.d.ts
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/controlPanel.tsx
  plugins/plugin-chart-table/src/images/thumbnail.png
  plugins/plugin-chart-table/src/images/thumbnailLarge.png
  plugins/plugin-chart-table/src/index.ts
  plugins/plugin-chart-table/src/transformProps.ts
  plugins/plugin-chart-table/src/types.ts
  plugins/plugin-chart-table/test/TableChart.test.tsx
  plugins/plugin-chart-table/test/testData.ts
  plugins/plugin-chart-table/types/external.d.ts
  yarn.lock
Due: core-packages, plugins

feat(plugin-chart-table): better sticky experience and more (#584)
  package.json
  packages/superset-ui-chart-controls/src/utils/selectOptions.ts
  packages/superset-ui-chart-controls/test/utils/selectOptions.test.ts
  packages/superset-ui-demo/package.json
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/TableStories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/birthNames.json
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/testData.js
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/testData.ts
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/DataTable/components/GlobalFilter.tsx
  plugins/plugin-chart-table/src/DataTable/components/Pagination.tsx
  plugins/plugin-chart-table/src/DataTable/components/SelectPageSize.tsx
  plugins/plugin-chart-table/src/DataTable/hooks/useColumnCellProps.ts
  plugins/plugin-chart-table/src/DataTable/hooks/useSticky.ts
  plugins/plugin-chart-table/src/DataTable/hooks/useSticky.tsx
  plugins/plugin-chart-table/src/DataTable/types/react-table.d.ts
  plugins/plugin-chart-table/src/DataTable/utils/getScrollBarSize.ts
  plugins/plugin-chart-table/src/DataTable/utils/needScrollBar.ts
  plugins/plugin-chart-table/src/DataTable/utils/useAsyncState.ts
  plugins/plugin-chart-table/src/DataTable/utils/useMountedMemo.ts
  plugins/plugin-chart-table/src/Styles.tsx
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/controlPanel.tsx
  plugins/plugin-chart-table/src/transformProps.ts
  plugins/plugin-chart-table/src/types.ts
  plugins/plugin-chart-table/src/utils/extent.ts
  plugins/plugin-chart-table/src/utils/formatValue.ts
  plugins/plugin-chart-table/src/utils/isEqualArray.ts
  plugins/plugin-chart-table/test/TableChart.test.tsx
  plugins/plugin-chart-table/test/testData.ts
  plugins/plugin-chart-table/types/external.d.ts
  temporary-plugins/package.json
  temporary-plugins/superset-ui-plugins-demo/package.json
  yarn.lock
Due: core-packages, plugins

fix: got one color wrong when copy pasting
  packages/superset-ui-color/src/colorSchemes/categorical/superset.ts
Due: core-packages

fix: got one color wrong when copy pasting (#624)
  packages/superset-ui-color/src/colorSchemes/categorical/superset.ts
Due: core-packages

Fix typing
  packages/superset-ui-chart-controls/src/types.ts
Due: core-packages

Simplify default conditions
  packages/superset-ui-chart-controls/src/types.ts
Due: core-packages

Add unit test for expandControlConfig
  packages/superset-ui-chart-controls/src/utils/expandControlConfig.tsx
  packages/superset-ui-chart-controls/test/utils/expandControlConfig.test.tsx
Due: core-packages

Expose expandControlConfig
  packages/superset-ui-chart-controls/src/index.ts
  packages/superset-ui-chart-controls/src/utils/expandControlConfig.tsx
Due: core-packages

Optimize typing
  packages/superset-ui-chart-controls/src/types.ts
  packages/superset-ui-chart-controls/src/utils/expandControlConfig.tsx
Due: core-packages

feat(legacy-table-chart): add query mode switch
  plugins/legacy-plugin-chart-table/package.json
  plugins/legacy-plugin-chart-table/src/RadioButtonControl.tsx
  plugins/legacy-plugin-chart-table/src/controlPanel.tsx
Due: plugins

Move shared control around; refine typings
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-chart-controls/src/components/RadioButtonControl.tsx
  packages/superset-ui-chart-controls/src/index.ts
  packages/superset-ui-chart-controls/src/shared-controls/components.tsx
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  packages/superset-ui-chart-controls/src/types.ts
  packages/superset-ui-chart-controls/src/utils/expandControlConfig.tsx
  plugins/legacy-plugin-chart-table/src/controlPanel.tsx
Due: core-packages, plugins

Add the new controls to the new tables
  packages/superset-ui-chart-controls/src/utils/selectOptions.ts
  plugins/legacy-plugin-chart-table/src/controlPanel.tsx
  plugins/plugin-chart-table/src/controlPanel.tsx
Due: core-packages, plugins

Change defaults
  plugins/plugin-chart-table/src/controlPanel.tsx
Due: plugins

Rename a function
  plugins/plugin-chart-table/src/transformProps.ts
Due: plugins

Optimize typing
  plugins/legacy-plugin-chart-table/src/controlPanel.tsx
  plugins/plugin-chart-table/src/controlPanel.tsx
Due: plugins

use lower case
  plugins/legacy-plugin-chart-table/src/controlPanel.tsx
  plugins/plugin-chart-table/src/controlPanel.tsx
Due: plugins

feat(legacy-table-chart): add query mode switch (#609)
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-chart-controls/src/components/RadioButtonControl.tsx
  packages/superset-ui-chart-controls/src/index.ts
  packages/superset-ui-chart-controls/src/shared-controls/components.tsx
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  packages/superset-ui-chart-controls/src/types.ts
  packages/superset-ui-chart-controls/src/utils/expandControlConfig.tsx
  packages/superset-ui-chart-controls/test/utils/expandControlConfig.test.tsx
  plugins/legacy-plugin-chart-table/package.json
  plugins/legacy-plugin-chart-table/src/controlPanel.tsx
  plugins/plugin-chart-table/src/controlPanel.tsx
  plugins/plugin-chart-table/src/transformProps.ts
Due: core-packages, plugins

chore: publish v0.14.2
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-color/package.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-superset-ui/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-table/package.json
  plugins/plugin-chart-table/package.json
Due: core-packages, plugins

chore: make @superset-ui/plugin-chart-table public
  plugins/plugin-chart-table/package.json
Due: plugins

chore(legacy-plugin-chart-country-map): use peerDependencies
  plugins/legacy-plugin-chart-country-map/package.json
Due: plugins

chore(legacy-plugin-chart-country-map): use peerDependencies (#628)
  plugins/legacy-plugin-chart-country-map/package.json
Due: plugins

build: fix typing rebuild for single packages (#596)
  package.json
  scripts/build.js
Due: none

build: optimize storybook config (#600)
  packages/superset-ui-demo/.storybook/main.js
Due: core-packages

feat(control-utils): better typing for control configs (#595)
  packages/superset-ui-control-utils/package.json
  packages/superset-ui-control-utils/src/ColumnOption.tsx
  packages/superset-ui-control-utils/src/index.ts
  packages/superset-ui-control-utils/src/shared-controls.tsx
  packages/superset-ui-control-utils/src/types.ts
  plugins/legacy-plugin-chart-table/src/controlPanel.tsx
  plugins/legacy-preset-chart-big-number/src/BigNumber/controlPanel.tsx
  plugins/legacy-preset-chart-big-number/src/sharedControls.ts
Due: core-packages, plugins

chore(histogram): convert histogram css to emotion style (#572)
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-histogram/src/Histogram.css
  plugins/legacy-plugin-chart-histogram/src/Histogram.jsx
Due: plugins

chore: calender chart typography (#561)
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-calendar/src/Calendar.css
  plugins/legacy-plugin-chart-calendar/src/Calendar.js
  plugins/legacy-plugin-chart-calendar/src/ReactCalendar.jsx
Due: plugins

chore(legacy-plugin-chart-calendar): use domains from control (#592)
  plugins/legacy-plugin-chart-calendar/src/Calendar.js
  plugins/legacy-plugin-chart-calendar/src/transformProps.js
Due: plugins

feat: add color pallettes defined in SIP-34 (#597)
  packages/superset-ui-color/src/colorSchemes/categorical/preset.ts
  packages/superset-ui-color/src/colorSchemes/categorical/superset.ts
  packages/superset-ui-color/src/colorSchemes/sequential/common.ts
  packages/superset-ui-color/test/colorSchemes.test.ts
  packages/superset-ui-demo/storybook/stories/superset-ui-color/ColorPallettesStories.jsx
Due: core-packages

chore: publish v0.13.29
  lerna.json
  packages/superset-ui-color/package.json
  packages/superset-ui-control-utils/package.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-superset-ui/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-table/package.json
  plugins/legacy-preset-chart-big-number/package.json
Due: core-packages, plugins

add emotion styling to chord (#578)
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-chord/src/Chord.css
  plugins/legacy-plugin-chart-chord/src/Chord.js
  plugins/legacy-plugin-chart-chord/src/ReactChord.jsx
Due: plugins

chore: publish v0.13.30
  lerna.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-style/package.json
  packages/superset-ui-superset-ui/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins
