Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

codecov.yml:

coverage:
  status:
    project:
      target: 90%
      # send notification if coverage change exceed this threshold
      threshold: 5%
    core-packages:
      target: 100%
      flags: 
        - core-packages
    plugins:
      target: 50%
      flags: 
        - plugins

flags:
  core-packages:
    paths:
      - packages
  plugins:
    paths:
      - plugins

chore: add extra_jwt to QueryContext
  packages/superset-ui-core/src/query/types/Query.ts
Due: core-packages

Update QueryFormData.ts
  packages/superset-ui-core/src/query/types/QueryFormData.ts
Due: core-packages

Update buildQueryContext.ts
  packages/superset-ui-core/src/query/buildQueryContext.ts
Due: core-packages

Update buildQueryContext.test.ts
  packages/superset-ui-core/test/query/buildQueryContext.test.ts
Due: core-packages

chore: publish v0.17.22
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

fix(generator-superset): update plugin template to 0.17 standards
  packages/generator-superset/generators/plugin-chart/templates/package.erb
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/buildQuery.erb
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/controlPanel.erb
Due: core-packages

fix: text
  packages/superset-ui-core/test/query/buildQueryContext.test.ts
Due: core-packages

Update Query.ts
  packages/superset-ui-core/src/query/types/Query.ts
Due: core-packages

Update plugins/plugin-chart-echarts/src/Tree/transformProps.ts
  plugins/plugin-chart-echarts/src/Tree/transformProps.ts
Due: plugins

fix: add `Syria` to control panel options
  plugins/legacy-plugin-chart-country-map/src/controlPanel.ts
Due: plugins

fix(generator-superset): update plugin template to 0.17 standards (#1013)
  packages/generator-superset/generators/plugin-chart/templates/package.erb
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/buildQuery.erb
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/controlPanel.erb
Due: core-packages

feat(plugin-chart-table): add column config control
  .eslintrc.js
  packages/superset-ui-chart-controls/src/components/ColumnOption.tsx
  packages/superset-ui-chart-controls/src/components/ColumnTypeLabel.tsx
  packages/superset-ui-chart-controls/src/components/ControlForm/ControlFormItem.tsx
  packages/superset-ui-chart-controls/src/components/ControlForm/controls.tsx
  packages/superset-ui-chart-controls/src/components/ControlForm/index.tsx
  packages/superset-ui-chart-controls/src/components/ControlHeader.tsx
  packages/superset-ui-chart-controls/src/components/Select.tsx
  packages/superset-ui-chart-controls/src/components/Tooltip.tsx
  packages/superset-ui-chart-controls/src/constants.ts
  packages/superset-ui-chart-controls/src/index.ts
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/ColumnConfigControl.tsx
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/ColumnConfigItem.tsx
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/ColumnConfigPopover.tsx
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/constants.tsx
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/index.tsx
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/types.ts
  packages/superset-ui-chart-controls/src/shared-controls/components/RadioButtonControl.tsx
  packages/superset-ui-chart-controls/src/shared-controls/components/types.ts
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  packages/superset-ui-chart-controls/src/types.ts
  packages/superset-ui-chart-controls/src/utils/D3Formatting.ts
  packages/superset-ui-core/src/components/constants.ts
  packages/superset-ui-core/src/components/index.ts
  packages/superset-ui-core/src/style/index.ts
  plugins/plugin-chart-echarts/src/Graph/controlPanel.tsx
  plugins/plugin-chart-table/src/controlPanel.tsx
Due: core-packages, plugins

Apply configs and faster debounce
  packages/superset-ui-chart-controls/src/components/ControlForm/ControlFormItem.tsx
  packages/superset-ui-chart-controls/src/components/ControlForm/controls.tsx
  packages/superset-ui-chart-controls/src/components/ControlForm/index.tsx
  packages/superset-ui-chart-controls/src/components/Select.tsx
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/ColumnConfigControl.tsx
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/ColumnConfigPopover.tsx
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/constants.tsx
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/types.ts
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/controlPanel.tsx
  plugins/plugin-chart-table/src/transformProps.ts
  plugins/plugin-chart-table/src/types.ts
  plugins/plugin-chart-table/src/utils/isEqualColumns.ts
Due: core-packages, plugins

Implement all formats
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-chart-controls/src/constants.ts
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/ColumnConfigControl.tsx
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/ColumnConfigPopover.tsx
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/constants.tsx
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/types.ts
  packages/superset-ui-core/src/style/index.ts
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/DataTable/hooks/useSticky.tsx
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/utils/formatValue.ts
Due: core-packages, plugins

fix build
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/constants.tsx
  packages/superset-ui-demo/package.json
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/DataTable/hooks/useSticky.tsx
  plugins/plugin-chart-table/src/controlPanel.tsx
  yarn.lock
Due: core-packages, plugins

fix(legacy-plugin-chart-country-map): Add Syria to control panel selection (#1025)
  plugins/legacy-plugin-chart-country-map/src/controlPanel.ts
Due: plugins

Replace alignment with icons
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/constants.tsx
  packages/superset-ui-chart-controls/src/shared-controls/components/RadioButtonControl.tsx
  packages/superset-ui-demo/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-table/src/TableChart.tsx
Due: core-packages, plugins

feat(plugin-chart-table): add column config control (#1019)
  .eslintrc.js
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-chart-controls/src/components/ColumnOption.tsx
  packages/superset-ui-chart-controls/src/components/ColumnTypeLabel.tsx
  packages/superset-ui-chart-controls/src/components/ControlForm/ControlFormItem.tsx
  packages/superset-ui-chart-controls/src/components/ControlForm/controls.tsx
  packages/superset-ui-chart-controls/src/components/ControlForm/index.tsx
  packages/superset-ui-chart-controls/src/components/ControlHeader.tsx
  packages/superset-ui-chart-controls/src/components/Select.tsx
  packages/superset-ui-chart-controls/src/components/Tooltip.tsx
  packages/superset-ui-chart-controls/src/constants.ts
  packages/superset-ui-chart-controls/src/index.ts
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/ColumnConfigControl.tsx
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/ColumnConfigItem.tsx
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/ColumnConfigPopover.tsx
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/constants.tsx
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/index.tsx
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/types.ts
  packages/superset-ui-chart-controls/src/shared-controls/components/RadioButtonControl.tsx
  packages/superset-ui-chart-controls/src/shared-controls/components/types.ts
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  packages/superset-ui-chart-controls/src/types.ts
  packages/superset-ui-chart-controls/src/utils/D3Formatting.ts
  packages/superset-ui-core/src/components/constants.ts
  packages/superset-ui-core/src/components/index.ts
  packages/superset-ui-core/src/style/index.ts
  packages/superset-ui-demo/package.json
  plugins/plugin-chart-echarts/src/Graph/controlPanel.tsx
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/DataTable/hooks/useSticky.tsx
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/controlPanel.tsx
  plugins/plugin-chart-table/src/transformProps.ts
  plugins/plugin-chart-table/src/types.ts
  plugins/plugin-chart-table/src/utils/formatValue.ts
  plugins/plugin-chart-table/src/utils/isEqualColumns.ts
  yarn.lock
Due: core-packages, plugins

feat: echarts gauge chart
  plugins/plugin-chart-echarts/src/Gauge/EchartsGauge.tsx
  plugins/plugin-chart-echarts/src/Gauge/buildQuery.ts
  plugins/plugin-chart-echarts/src/Gauge/constants.ts
  plugins/plugin-chart-echarts/src/Gauge/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Gauge/images/thumbnail.png
  plugins/plugin-chart-echarts/src/Gauge/index.ts
  plugins/plugin-chart-echarts/src/Gauge/transformProps.ts
  plugins/plugin-chart-echarts/src/Gauge/types.ts
  plugins/plugin-chart-echarts/src/utils/controls.ts
Due: plugins

feat: add default series_limit
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
Due: core-packages

feat: add default series_limit (#1033)
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
Due: core-packages

fix: update yarn.lock for react-icons
  yarn.lock
Due: none

chore: publish v0.17.23
  lerna.json
  packages/generator-superset/package.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

Fix basic storybook
  packages/superset-ui-chart-controls/src/components/InfoTooltipWithTrigger.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/TableStories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/testData.ts
  plugins/plugin-chart-table/src/utils/DateWithFormatter.ts
Due: core-packages, plugins

feat(plugin-chart-table): add small number formatter
  packages/superset-ui-chart-controls/src/components/Select.tsx
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/constants.tsx
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/utils/formatValue.ts
Due: core-packages, plugins

feat(plugin-chart-table): add small number formatter (#1028)
  packages/superset-ui-chart-controls/src/components/InfoTooltipWithTrigger.tsx
  packages/superset-ui-chart-controls/src/components/Select.tsx
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/constants.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/TableStories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/testData.ts
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/utils/DateWithFormatter.ts
  plugins/plugin-chart-table/src/utils/formatValue.ts
Due: core-packages, plugins

chore: publish v0.17.24
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

clean
  plugins/plugin-chart-echarts/src/Tree/constants.ts
  plugins/plugin-chart-echarts/src/Tree/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Tree/transformProps.ts
  plugins/plugin-chart-echarts/src/Tree/types.ts
  plugins/plugin-chart-echarts/test/Tree/transformProps.test.ts
Due: plugins

merge
  plugins/plugin-chart-echarts/src/Tree/transformProps.ts
Due: plugins

optional name column,more tests...
  plugins/plugin-chart-echarts/src/Tree/constants.ts
  plugins/plugin-chart-echarts/src/Tree/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Tree/transformProps.ts
  plugins/plugin-chart-echarts/src/Tree/types.ts
  plugins/plugin-chart-echarts/test/Tree/transformProps.test.ts
Due: plugins

bug fix
  plugins/plugin-chart-echarts/src/Tree/transformProps.ts
Due: plugins

remove unused imports
  plugins/plugin-chart-echarts/src/Tree/transformProps.ts
  plugins/plugin-chart-echarts/src/Tree/types.ts
Due: plugins

lint
  plugins/plugin-chart-echarts/src/Tree/transformProps.ts
Due: plugins

fix(chart-controls): export/import DTTM_ALIAS properly
  packages/superset-ui-chart-controls/src/constants.ts
  packages/superset-ui-core/src/query/buildQueryObject.ts
  packages/superset-ui-core/src/query/constants.ts
  packages/superset-ui-core/src/query/extractQueryFields.ts
  packages/superset-ui-core/test/query/extractQueryFields.test.ts
  temporary-plugins/hold-potentially-deprecate/superset-ui-plugin-chart-table/src/processColumns.ts
  temporary-plugins/hold-potentially-deprecate/superset-ui-plugin-chart-table/src/transformProps.ts
Due: core-packages

bug fix
  plugins/plugin-chart-echarts/src/Tree/constants.ts
  plugins/plugin-chart-echarts/src/Tree/controlPanel.tsx
  plugins/plugin-chart-echarts/test/Tree/transformProps.test.ts
Due: plugins

fix(chart-controls): export/import DTTM_ALIAS properly (#1035)
  packages/superset-ui-chart-controls/src/constants.ts
  packages/superset-ui-core/src/query/buildQueryObject.ts
  packages/superset-ui-core/src/query/constants.ts
  packages/superset-ui-core/src/query/extractQueryFields.ts
  packages/superset-ui-core/test/query/extractQueryFields.test.ts
  temporary-plugins/hold-potentially-deprecate/superset-ui-plugin-chart-table/src/processColumns.ts
  temporary-plugins/hold-potentially-deprecate/superset-ui-plugin-chart-table/src/transformProps.ts
Due: core-packages

chore: publish v0.17.25
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

remove unused legend imports
  plugins/plugin-chart-echarts/src/Gauge/types.ts
Due: plugins
