Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

feat(plugin-chart-graph): add node/edge size and edge symbol control (#1084)
  plugins/plugin-chart-echarts/src/Graph/constants.ts
  plugins/plugin-chart-echarts/src/Graph/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Graph/transformProps.ts
  plugins/plugin-chart-echarts/src/Graph/types.ts
  plugins/plugin-chart-echarts/test/Graph/transformProps.test.ts
Due: plugins

chore: publish v0.17.41
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

feat(plugin-chart-echarts): echarts funnel chart (#1006)
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Funnel/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Funnel/constants.ts
  plugins/plugin-chart-echarts/src/Funnel/EchartsFunnel.tsx
  plugins/plugin-chart-echarts/src/Funnel/buildQuery.ts
  plugins/plugin-chart-echarts/src/Funnel/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Funnel/images/thumbnail.png
  plugins/plugin-chart-echarts/src/Funnel/index.ts
  plugins/plugin-chart-echarts/src/Funnel/transformProps.ts
  plugins/plugin-chart-echarts/src/Funnel/types.ts
  plugins/plugin-chart-echarts/src/index.ts
  plugins/plugin-chart-echarts/test/Funnel/buildQuery.test.ts
  plugins/plugin-chart-echarts/test/Funnel/transformProps.test.ts
Due: core-packages, plugins

fix(plugin-chart-echarts): include label length in distance calculation (#1056)
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-echarts/src/Gauge/constants.ts
  plugins/plugin-chart-echarts/src/Gauge/transformProps.ts
Due: plugins

feat(plugin-chart-echarts): add echarts treemap plugin
  packages/superset-ui-demo/.storybook/preview.js
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Treemap/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Treemap/data.ts
  plugins/plugin-chart-echarts/src/Treemap/EchartsTreemap.tsx
  plugins/plugin-chart-echarts/src/Treemap/buildQuery.ts
  plugins/plugin-chart-echarts/src/Treemap/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Treemap/images/thumbnail.png
  plugins/plugin-chart-echarts/src/Treemap/index.ts
  plugins/plugin-chart-echarts/src/Treemap/transformProps.ts
  plugins/plugin-chart-echarts/src/Treemap/types.ts
  plugins/plugin-chart-echarts/src/index.ts
  plugins/plugin-chart-echarts/test/Treemap/buildQuery.test.ts
  plugins/plugin-chart-echarts/test/Treemap/transformProps.test.ts
Due: core-packages, plugins

fix(plugin-chart-table): hide column configs when no columns
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/ColumnConfigControl.tsx
Due: core-packages

fix: interactiveGroupBy can works regardless to queryMode
  plugins/plugin-chart-table/src/buildQuery.ts
Due: plugins

fix(plugin-chart-table): hide column configs when no columns (#1085)
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/ColumnConfigControl.tsx
Due: core-packages

Move stories file
  package.json
  temporary-plugins/plugin-chart-choropleth-map/stories/ChoroplethMap.stories.tsx
  temporary-plugins/plugin-chart-choropleth-map/stories/generateFakeMapData.ts
  temporary-plugins/plugin-chart-choropleth-map/stories/useFakeMapData.ts
  yarn.lock
Due: none

More clean up
  jest.config.js
  package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-core/src/style/index.tsx
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/plugin-chart-table/tsconfig.json
  plugins/plugin-chart-word-cloud/package.json
  temporary-plugins/plugin-chart-choropleth-map/package.json
  test/enzyme.tsx
  tsconfig.options.json
  yarn.lock
Due: core-packages, plugins

fix tests
  packages/superset-ui-core/src/style/index.tsx
  packages/superset-ui-core/test/style/index.test.tsx
Due: core-packages

Fix imports
  package.json
  packages/superset-ui-core/src/chart-composition/legend/WithLegend.tsx
  tsconfig.json
Due: core-packages

Upgrades
  packages/generator-superset/generators/plugin-chart/templates/package.erb
Due: core-packages

chore: explore more stuff from emotion/react
  packages/superset-ui-core/src/style/index.tsx
Due: core-packages

chore: publish v0.17.42
  lerna.json
  packages/generator-superset/package.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

Fix tests
  plugins/plugin-chart-pivot-table/test/plugin/transformProps.test.ts
Due: plugins

Fix test
  plugins/plugin-chart-pivot-table/test/plugin/transformProps.test.ts
Due: plugins

feat(plugin-chart-pivot-table): enable cross filtering
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
  plugins/plugin-chart-pivot-table/src/plugin/controlPanel.ts
  plugins/plugin-chart-pivot-table/src/plugin/index.ts
  plugins/plugin-chart-pivot-table/src/plugin/transformProps.ts
  plugins/plugin-chart-pivot-table/src/types.ts
Due: plugins

Replace `.toEqual` with `.toMatchObject` to fix test
  plugins/plugin-chart-pivot-table/test/plugin/transformProps.test.ts
Due: plugins

Use jest.fn() to mock setDataMask
  plugins/plugin-chart-pivot-table/test/plugin/transformProps.test.ts
Due: plugins

feat(legacy-plugin-chart-country-map): added indonesia map
  plugins/legacy-plugin-chart-country-map/scripts/Country Map GeoJSON Generator.ipynb
  plugins/legacy-plugin-chart-country-map/src/countries.ts
  plugins/legacy-plugin-chart-country-map/src/countries/indonesia.geojson
Due: plugins

fix(plugin-chart-echarts): add sort descending
  plugins/plugin-chart-echarts/src/Treemap/controlPanel.tsx
Due: plugins

Code review changes
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
  plugins/plugin-chart-pivot-table/src/plugin/transformProps.ts
  plugins/plugin-chart-pivot-table/test/plugin/transformProps.test.ts
  yarn.lock
Due: plugins

Bring back setting ownState
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
Due: plugins

feat(plugin-chart-pivot-table): implement barchart highlight
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-pivot-table/src/plugin/controlPanel.ts
Due: plugins

fix(plugin-chart-echarts): add label position and set clear before setOption
  plugins/plugin-chart-echarts/src/Treemap/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Treemap/transformProps.ts
  plugins/plugin-chart-echarts/src/Treemap/types.ts
  plugins/plugin-chart-echarts/src/components/Echart.tsx
Due: plugins

fix(plugin-chart-echarts): metric -> metrics
  plugins/plugin-chart-echarts/src/Treemap/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Treemap/transformProps.ts
  plugins/plugin-chart-echarts/src/Treemap/types.ts
Due: plugins

fix(plugin-chart-echarts): change thumbnail.
  plugins/plugin-chart-echarts/src/Treemap/images/thumbnail.png
Due: plugins

feat(plugin-chart-pivot-table): implement barchart highlight (#1089)
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-pivot-table/src/plugin/controlPanel.ts
Due: plugins

feat(plugin-chart-pivot-table): enable cross filtering (#1083)
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
  plugins/plugin-chart-pivot-table/src/plugin/controlPanel.ts
  plugins/plugin-chart-pivot-table/src/plugin/index.ts
  plugins/plugin-chart-pivot-table/src/plugin/transformProps.ts
  plugins/plugin-chart-pivot-table/src/types.ts
  plugins/plugin-chart-pivot-table/test/plugin/transformProps.test.ts
  yarn.lock
Due: plugins

fix(legacy-plugin-chart-sankey): ensure tooltip position is within chart
  plugins/legacy-plugin-chart-sankey/src/Sankey.js
Due: plugins

fix(legacy-plugin-chart-sankey): ensure tooltip position is within chart (#1092)
  plugins/legacy-plugin-chart-sankey/src/Sankey.js
Due: plugins

chore: publish v0.17.43
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/plugin-chart-pivot-table/package.json
Due: core-packages, plugins

fix(plugin-chart-echarts): fix treemap transformProps test
  plugins/plugin-chart-echarts/test/Treemap/transformProps.test.ts
Due: plugins

fix(plugin-chart-echarts): clear nouse types
  plugins/plugin-chart-echarts/src/Treemap/types.ts
Due: plugins

fix(plugin-chart-echarts): storybook data
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Treemap/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Treemap/data.ts
Due: core-packages

Update debugging.md
  docs/debugging.md
Due: none

better todo
  plugins/plugin-chart-echarts/src/Tree/controlPanel.tsx
Due: plugins

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
