Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

codecov.yml:

coverage:
  status:
    project:
      target: 90%
      # send notification if coverage change exceed this threshold
      threshold: 5%
    core-packages:
      target: 100%
      flags: 
        - core-packages
    plugins:
      target: 50%
      flags: 
        - plugins

flags:
  core-packages:
    paths:
      - packages
  plugins:
    paths:
      - plugins

fix: 0 indicator on radar viz
  plugins/plugin-chart-echarts/src/Radar/transformProps.ts
Due: plugins

feat(plugin-chart-table): add support for temporal x-filter (#1281)
  packages/superset-ui-core/src/query/types/Filter.ts
  packages/superset-ui-core/src/query/types/Query.ts
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/transformProps.ts
  plugins/plugin-chart-table/src/types.ts
  plugins/plugin-chart-table/src/utils/DateWithFormatter.ts
Due: core-packages, plugins

chore: publish v0.17.80
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

fix lint
  plugins/plugin-chart-echarts/src/Radar/transformProps.ts
Due: plugins

Hide Safari default tooltip
  packages/superset-ui-chart-controls/src/components/Tooltip.tsx
Due: core-packages

fix: extract control
  plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Regular/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Step/controlPanel.tsx
  plugins/plugin-chart-echarts/src/controls.tsx
Due: plugins

fix: extract control
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
Due: plugins

Match font family and size with Pivot Table
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
  plugins/plugin-chart-pivot-table/src/types.ts
Due: plugins

fix(chart-controls): lower minOpacity in conditional formatting
  packages/superset-ui-chart-controls/src/utils/getColorFormatters.ts
  packages/superset-ui-chart-controls/test/utils/getColorFormatters.test.ts
Due: core-packages

Fix lint
  packages/superset-ui-chart-controls/src/components/Tooltip.tsx
Due: core-packages

Fix
  packages/superset-ui-chart-controls/src/utils/getColorFormatters.ts
  packages/superset-ui-chart-controls/test/utils/getColorFormatters.test.ts
Due: core-packages

Change hardcoded value to a constant
  packages/superset-ui-chart-controls/src/utils/getColorFormatters.ts
Due: core-packages

Add emotion dependency
  packages/superset-ui-chart-controls/package.json
Due: core-packages

fix(chart-controls): lower minOpacity in conditional formatting (#1284)
  packages/superset-ui-chart-controls/src/utils/getColorFormatters.ts
  packages/superset-ui-chart-controls/test/utils/getColorFormatters.test.ts
Due: core-packages

chore: change Highly-used back to Popular
  plugins/legacy-plugin-chart-world-map/src/index.js
  plugins/legacy-preset-chart-big-number/src/BigNumber/index.ts
  plugins/legacy-preset-chart-big-number/src/BigNumberTotal/index.ts
  plugins/legacy-preset-chart-nvd3/src/DistBar/index.js
  plugins/plugin-chart-echarts/src/Pie/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Area/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Line/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/index.ts
  plugins/plugin-chart-pivot-table/src/plugin/index.ts
Due: plugins

chore: change Highly-used back to Popular (#1285)
  plugins/legacy-plugin-chart-world-map/src/index.js
  plugins/legacy-preset-chart-big-number/src/BigNumber/index.ts
  plugins/legacy-preset-chart-big-number/src/BigNumberTotal/index.ts
  plugins/legacy-preset-chart-nvd3/src/DistBar/index.js
  plugins/plugin-chart-echarts/src/Pie/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Area/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Line/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/index.ts
  plugins/plugin-chart-pivot-table/src/plugin/index.ts
Due: plugins

feat(legacy-plugin-chart-country-map): added finland map (#1258)
  plugins/legacy-plugin-chart-country-map/src/countries.ts
  plugins/legacy-plugin-chart-country-map/src/countries/finland.geojson
Due: plugins

feat(plugin-chart-echarts): Add support for series values to ECharts timeseries charts (#1279)
  plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Area/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Line/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/SmoothLine/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Step/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Step/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
  plugins/plugin-chart-echarts/src/controls.tsx
Due: plugins

feat(legacy-plugin-chart-country-map): add Australia geojson file (#1268)
  plugins/legacy-plugin-chart-country-map/src/countries.ts
  plugins/legacy-plugin-chart-country-map/src/countries/australia.geojson
Due: plugins

Fix package.json
  packages/superset-ui-chart-controls/package.json
Due: core-packages

chore(plugin-chart-pivot-table): change fontsize and border colors
  plugins/plugin-chart-pivot-table/package.json
Due: plugins

added austria map to country map charts (#1267)
  plugins/legacy-plugin-chart-country-map/src/countries.ts
  plugins/legacy-plugin-chart-country-map/src/countries/austria.geojson
Due: plugins

fix(legacy-plugin-chart-sankey-loop): clear element before redrawing (#1223)
  plugins/legacy-plugin-chart-sankey-loop/src/SankeyLoop.js
Due: plugins

chore: stacks and sorts Histogram controls (#1273)
  plugins/legacy-plugin-chart-histogram/src/controlPanel.ts
Due: plugins

chore: stacks Heatmap controls (#1272)
  plugins/legacy-plugin-chart-heatmap/src/controlPanel.ts
Due: plugins

fix: Hide Safari default tooltip (#1283)
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-chart-controls/src/components/Tooltip.tsx
Due: core-packages

fix: 0 indicator on radar viz (#1282)
  plugins/plugin-chart-echarts/src/Radar/transformProps.ts
Due: plugins

chore(core): add ENABLE_DND_WITH_CLICK_UX ff
  packages/superset-ui-core/src/utils/featureFlags.ts
Due: core-packages

add timestamp formatting
  plugins/legacy-preset-chart-big-number/src/BigNumber/controlPanel.tsx
  plugins/legacy-preset-chart-big-number/src/BigNumber/transformProps.ts
Due: plugins

chore(core): add ENABLE_DND_WITH_CLICK_UX ff (#1297)
  packages/superset-ui-core/src/utils/featureFlags.ts
Due: core-packages

revert to fallback warning when no timestamp
  plugins/legacy-preset-chart-big-number/src/BigNumber/BigNumber.tsx
  plugins/legacy-preset-chart-big-number/src/BigNumber/controlPanel.tsx
Due: plugins

chore(plugin-chart-pivot-table): change fontsize and border colors (#1286)
  plugins/plugin-chart-pivot-table/package.json
Due: plugins

fix smart date formatting
  plugins/legacy-preset-chart-big-number/src/BigNumber/controlPanel.tsx
  plugins/legacy-preset-chart-big-number/src/BigNumber/transformProps.ts
Due: plugins

fix test
  plugins/legacy-preset-chart-big-number/test/transformProps.test.ts
Due: plugins

fix(plugin-chart-echarts): fix Time-series line x-filtering not working
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
Due: plugins

chore: publish v0.17.81
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

feat(legacy-preset-chart-big-number): add timestamp above number (#1278)
  plugins/legacy-preset-chart-big-number/src/BigNumber/BigNumber.tsx
  plugins/legacy-preset-chart-big-number/src/BigNumber/controlPanel.tsx
  plugins/legacy-preset-chart-big-number/src/BigNumber/transformProps.ts
  plugins/legacy-preset-chart-big-number/test/transformProps.test.ts
Due: plugins

chore: updating one metadata field
  plugins/plugin-chart-table/src/index.ts
Due: plugins

chore: updating one metadata field (#1300)
  plugins/plugin-chart-table/src/index.ts
Due: plugins

chore: publish v0.17.82
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/plugin-chart-table/package.json
Due: core-packages, plugins
