Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

codecov.yml:

coverage:
  status:
    project:
      target: 90%
      # send notification if coverage change exceed this threshold
      threshold: 5%
    core-packages:
      target: 100%
      flags: 
        - core-packages
    plugins:
      target: 50%
      flags: 
        - plugins

flags:
  core-packages:
    paths:
      - packages
  plugins:
    paths:
      - plugins

a note on multiple plugin exports
  packages/generator-superset/generators/plugin-chart/templates/src/index.erb
Due: core-packages

second option for building a plugin is now enabled
  packages/generator-superset/generators/plugin-chart/templates/src/MyChart.erb
Due: core-packages

Officially supporting viz plugins ;)
  packages/generator-superset/README.md
Due: core-packages

fresh plugin build
  plugins/plugin-chart-hello-world/src/HelloWorld.tsx
  plugins/plugin-chart-hello-world/src/index.ts
  plugins/plugin-chart-hello-world/src/plugin/buildQuery.ts
  plugins/plugin-chart-hello-world/src/plugin/controlPanel.ts
  plugins/plugin-chart-hello-world/src/plugin/index.ts
  plugins/plugin-chart-hello-world/src/plugin/transformProps.ts
  plugins/plugin-chart-hello-world/src/types.ts
Due: plugins

Adding note about controls, and TODOs for example controls
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/controlPanel.txt
Due: core-packages

adding file structure to readme
  packages/generator-superset/README.md
Due: core-packages

more transform props notes
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/transformProps.txt
Due: core-packages

linting
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/controlPanel.txt
Due: core-packages

new lock file
  yarn.lock
Due: none

touchups to template (killing third option)
  packages/generator-superset/generators/plugin-chart/templates/src/MyChart.erb
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/controlPanel.txt
  plugins/plugin-chart-hello-world/README.md
  plugins/plugin-chart-hello-world/src/HelloWorld.tsx
Due: core-packages, plugins

fresh package rendering
  plugins/plugin-chart-hello-world/src/HelloWorld.tsx
  plugins/plugin-chart-hello-world/src/index.ts
  plugins/plugin-chart-hello-world/src/plugin/controlPanel.ts
  plugins/plugin-chart-hello-world/src/plugin/transformProps.ts
Due: plugins

moving file tree to the right place
  packages/generator-superset/README.md
  packages/generator-superset/generators/plugin-chart/templates/README.erb
Due: core-packages

template changes, fresh plugin render.
  packages/generator-superset/generators/plugin-chart/index.js
  packages/generator-superset/generators/plugin-chart/templates/src/MyChart.erb
  packages/generator-superset/generators/plugin-chart/templates/src/index.erb
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/index.erb
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/transformProps.erb
  plugins/plugin-chart-hello-world/src/HelloWorld.tsx
Due: core-packages, plugins

Adding a third option for rendering plugin
  packages/generator-superset/generators/plugin-chart/templates/src/MyChart.erb
Due: core-packages

manually updated plugin. Now let's see if the generator matches it!
  plugins/plugin-chart-hello-world/src/HelloWorld.tsx
Due: plugins

better notes, better linting
  packages/generator-superset/generators/plugin-chart/templates/src/index.erb
Due: core-packages

Spit out form data, for good measure.
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/transformProps.erb
  plugins/plugin-chart-hello-world/src/plugin/transformProps.ts
Due: core-packages, plugins

thumbnail update
  packages/generator-superset/generators/plugin-chart/templates/src/images/thumbnail.png
Due: core-packages

more clarity
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/transformProps.erb
  plugins/plugin-chart-hello-world/src/plugin/transformProps.ts
Due: core-packages, plugins

dummy controls
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/controlPanel.txt
  plugins/plugin-chart-hello-world/src/plugin/controlPanel.ts
Due: core-packages, plugins

typing for fancy props
  packages/generator-superset/generators/plugin-chart/templates/src/MyChart.erb
  plugins/plugin-chart-hello-world/src/HelloWorld.tsx
Due: core-packages, plugins

bump superset-ui deps to 0.14
  packages/generator-superset/generators/plugin-chart/templates/package.erb
Due: core-packages

bold control works, fresh docs, fresh build!
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/controlPanel.txt
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/transformProps.erb
  plugins/plugin-chart-hello-world/src/images/thumbnail.png
  plugins/plugin-chart-hello-world/src/plugin/controlPanel.ts
  plugins/plugin-chart-hello-world/src/plugin/transformProps.ts
Due: core-packages, plugins

Implement header text and font size
  packages/generator-superset/generators/plugin-chart/templates/src/MyChart.erb
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/controlPanel.txt
  plugins/plugin-chart-hello-world/package.json
  plugins/plugin-chart-hello-world/src/HelloWorld.tsx
  plugins/plugin-chart-hello-world/src/plugin/controlPanel.ts
  plugins/plugin-chart-hello-world/src/plugin/transformProps.ts
Due: core-packages, plugins

Replace YourPluginName with packageLabel in README
  packages/generator-superset/generators/plugin-chart/templates/README.erb
  plugins/plugin-chart-hello-world/README.md
Due: core-packages, plugins

Add tests + mcense headers + inor cleanup
  packages/generator-superset/generators/plugin-chart/templates/src/MyChart.erb
  packages/generator-superset/generators/plugin-chart/templates/src/index.erb
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/buildQuery.erb
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/transformProps.erb
  packages/generator-superset/generators/plugin-chart/templates/src/types.erb
  packages/generator-superset/generators/plugin-chart/templates/test/index.erb
  packages/generator-superset/test/plugin-chart.test.js
  plugins/plugin-chart-hello-world/src/HelloWorld.tsx
  plugins/plugin-chart-hello-world/src/index.ts
  plugins/plugin-chart-hello-world/src/plugin/buildQuery.ts
  plugins/plugin-chart-hello-world/src/plugin/transformProps.ts
  plugins/plugin-chart-hello-world/src/types.ts
  plugins/plugin-chart-hello-world/test/index.test.ts
  plugins/plugin-chart-word-cloud/src/plugin/index.ts
Due: core-packages, plugins

fix hard coded reference to HelloWorld
  packages/generator-superset/generators/plugin-chart/templates/src/MyChart.erb
Due: core-packages

remove trailing spaces
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/controlPanel.txt
  plugins/plugin-chart-hello-world/src/plugin/controlPanel.ts
Due: core-packages, plugins

typescript comments, minor formatting
  packages/generator-superset/generators/plugin-chart/templates/src/types.erb
  packages/generator-superset/generators/plugin-chart/templates/test/index.erb
  plugins/plugin-chart-hello-world/src/types.ts
Due: core-packages, plugins

plugin comment tweaks
  packages/generator-superset/generators/plugin-chart/templates/test/index.erb
  plugins/plugin-chart-hello-world/src/plugin/controlPanel.ts
  plugins/plugin-chart-hello-world/test/index.test.ts
Due: core-packages, plugins

adding option for badges in readme
  packages/generator-superset/generators/plugin-chart/index.js
  packages/generator-superset/generators/plugin-chart/templates/README.erb
  packages/generator-superset/generators/plugin-chart/templates/src/types.erb
Due: core-packages

removing legacy generators
  packages/generator-superset/generators/app/index.js
  packages/generator-superset/generators/legacy-plugin-chart-demo/index.js
  packages/generator-superset/generators/legacy-plugin-chart-demo/templates/Stories.jsx
  packages/generator-superset/generators/legacy-plugin-chart-demo/templates/data.js
  packages/generator-superset/generators/legacy-plugin-chart-demo/templates/index.js
  packages/generator-superset/generators/legacy-plugin-chart/index.js
  packages/generator-superset/generators/legacy-plugin-chart/templates/README.md
  packages/generator-superset/generators/legacy-plugin-chart/templates/_package.json
  packages/generator-superset/test/legacy-plugin-chart-demo.test.js
  packages/generator-superset/test/legacy-plugin-chart.test.js
Due: core-packages

generator offers choice of function or class plugin
  packages/generator-superset/generators/plugin-chart/index.js
  packages/generator-superset/generators/plugin-chart/templates/src/MyChart.erb
  plugins/plugin-chart-hello-world/src/HelloWorld.tsx
Due: core-packages, plugins

Add timeseries option
  packages/generator-superset/generators/plugin-chart/index.js
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/buildQuery.erb
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/controlPanel.erb
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/transformProps.erb
Due: core-packages

add new tests
  packages/generator-superset/generators/plugin-chart/index.js
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/buildQuery.erb
  packages/generator-superset/generators/plugin-chart/templates/src/types.erb
  packages/generator-superset/generators/plugin-chart/templates/test/index.erb
  packages/generator-superset/generators/plugin-chart/templates/test/plugin/buildQuery.test.erb
  packages/generator-superset/generators/plugin-chart/templates/test/plugin/transformProps.test.erb
  packages/generator-superset/test/plugin-chart.test.js
Due: core-packages

killing the plugin... we'll make that a separate PR.
  plugins/plugin-chart-hello-world/README.md
  plugins/plugin-chart-hello-world/package.json
  plugins/plugin-chart-hello-world/src/HelloWorld.tsx
  plugins/plugin-chart-hello-world/src/images/thumbnail.png
  plugins/plugin-chart-hello-world/src/index.ts
  plugins/plugin-chart-hello-world/src/plugin/buildQuery.ts
  plugins/plugin-chart-hello-world/src/plugin/controlPanel.ts
  plugins/plugin-chart-hello-world/src/plugin/index.ts
  plugins/plugin-chart-hello-world/src/plugin/transformProps.ts
  plugins/plugin-chart-hello-world/src/types.ts
  plugins/plugin-chart-hello-world/test/index.test.ts
  plugins/plugin-chart-hello-world/types/external.d.ts
Due: plugins

comment on value/label in select options
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/controlPanel.erb
Due: core-packages

remove unnecessary imports
  packages/generator-superset/generators/plugin-chart/templates/test/index.erb
Due: core-packages

fix timeseries type
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/transformProps.erb
Due: core-packages

Stronger typing (H/T @ktmud)
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/transformProps.erb
Due: core-packages
