Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

codecov.yml:

coverage:
  status:
    project:
      target: 90%
      # send notification if coverage change exceed this threshold
      threshold: 5%
    core-packages:
      target: 100%
      flags: 
        - core-packages
    plugins:
      target: 50%
      flags: 
        - plugins

flags:
  core-packages:
    paths:
      - packages
  plugins:
    paths:
      - plugins

fix cross-filter and CI
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/ColumnConfigControl.tsx
  plugins/plugin-chart-echarts/src/Radar/EchartsRadar.tsx
  plugins/plugin-chart-echarts/src/Radar/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Radar/transformProps.ts
  plugins/plugin-chart-echarts/src/Radar/types.ts
Due: core-packages, plugins

WIP
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/ColumnConfigControl.tsx
  plugins/plugin-chart-echarts/src/Radar/EchartsRadar.tsx
  plugins/plugin-chart-echarts/src/Radar/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Radar/images/thumbnail.png
  plugins/plugin-chart-echarts/src/Radar/index.ts
Due: core-packages, plugins

rebase master
  plugins/plugin-chart-echarts/src/Radar/EchartsRadar.tsx
  plugins/plugin-chart-echarts/src/Radar/index.ts
  plugins/plugin-chart-echarts/src/Radar/transformProps.ts
Due: plugins

Adding codecov script locally
  .github/workflows/ci.yml
  .github/workflows/codecov.sh
Due: none

chore(plugin-chart-pivot-table): change thumbnail and name
  plugins/plugin-chart-pivot-table/src/images/thumbnail.png
  plugins/plugin-chart-pivot-table/src/plugin/index.ts
Due: plugins

chore(plugin-chart-pivot-table): change thumbnail and name (#1060)
  plugins/plugin-chart-pivot-table/src/images/thumbnail.png
  plugins/plugin-chart-pivot-table/src/plugin/index.ts
Due: plugins

find best node if root not provided,use seperate children list to avoid issues if column name is children
  plugins/plugin-chart-echarts/src/Tree/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Tree/transformProps.ts
  plugins/plugin-chart-echarts/src/Tree/types.ts
  plugins/plugin-chart-echarts/test/Tree/transformProps.test.ts
Due: plugins

chore: publish v0.17.33
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/plugin-chart-pivot-table/package.json
Due: core-packages, plugins

remove unused import
  plugins/plugin-chart-echarts/src/Tree/types.ts
Due: plugins

type fix
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Tree/Stories.tsx
  plugins/plugin-chart-echarts/src/Tree/transformProps.ts
Due: core-packages, plugins

Adding codecov script locally (#1059)
  .github/workflows/ci.yml
  .github/workflows/codecov.sh
Due: none

remove unused control configuration
  plugins/plugin-chart-echarts/src/Radar/controlPanel.tsx
Due: plugins

feat(plugin-chart-echarts): add multiple timeseries chart
  plugins/plugin-chart-echarts/src/MixedTimeseries/EchartsMixedTimeseries.tsx
  plugins/plugin-chart-echarts/src/MixedTimeseries/buildQuery.ts
  plugins/plugin-chart-echarts/src/MixedTimeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/MixedTimeseries/images/thumbnail.png
  plugins/plugin-chart-echarts/src/MixedTimeseries/index.ts
  plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/MixedTimeseries/types.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  plugins/plugin-chart-echarts/src/index.ts
Due: plugins

cleanup
  plugins/plugin-chart-echarts/src/MixedTimeseries/buildQuery.ts
  plugins/plugin-chart-echarts/src/MixedTimeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/MixedTimeseries/images/thumbnail.png
  plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/MixedTimeseries/types.ts
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
Due: plugins

Added period to the end of sentence.
  plugins/plugin-chart-echarts/src/Radar/controlPanel.tsx
Due: plugins

fix FE exception when changes dataset
  plugins/plugin-chart-echarts/src/Radar/controlPanel.tsx
Due: plugins

feat(plugin-chart-echarts): Radar chart POC (#1029)
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/ColumnConfigControl.tsx
  plugins/plugin-chart-echarts/src/Radar/EchartsRadar.tsx
  plugins/plugin-chart-echarts/src/Radar/buildQuery.ts
  plugins/plugin-chart-echarts/src/Radar/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Radar/images/thumbnail.png
  plugins/plugin-chart-echarts/src/Radar/index.ts
  plugins/plugin-chart-echarts/src/Radar/transformProps.ts
  plugins/plugin-chart-echarts/src/Radar/types.ts
  plugins/plugin-chart-echarts/src/constants.ts
  plugins/plugin-chart-echarts/src/types.ts
Due: core-packages, plugins

add storybook
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/MixedTimeseries/Stories.tsx
  plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/MixedTimeseries/types.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
Due: core-packages, plugins

feat(plugin-chart-echarts): add mixed timeseries chart (#1027)
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/MixedTimeseries/Stories.tsx
  plugins/plugin-chart-echarts/src/MixedTimeseries/EchartsMixedTimeseries.tsx
  plugins/plugin-chart-echarts/src/MixedTimeseries/buildQuery.ts
  plugins/plugin-chart-echarts/src/MixedTimeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/MixedTimeseries/images/thumbnail.png
  plugins/plugin-chart-echarts/src/MixedTimeseries/index.ts
  plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/MixedTimeseries/types.ts
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
  plugins/plugin-chart-echarts/src/constants.ts
  plugins/plugin-chart-echarts/src/index.ts
Due: core-packages, plugins

chore: publish v0.17.34
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

Update transformProps.ts
  plugins/plugin-chart-echarts/src/Tree/transformProps.ts
Due: plugins

chore(plugin-chart-echarts): bump echarts to 5.1.0
  plugins/plugin-chart-echarts/package.json
  yarn.lock
Due: plugins

disable ts error
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
Due: plugins

chore(plugin-chart-echarts): add time section for gauge chart
  plugins/plugin-chart-echarts/src/Gauge/controlPanel.tsx
Due: plugins

chore(plugin-chart-echarts): add time section for gauge chart (#1063)
  plugins/plugin-chart-echarts/src/Gauge/controlPanel.tsx
Due: plugins

feat: groupby filter
  plugins/plugin-chart-table/src/buildQuery.ts
Due: plugins

feat: groupby filter (#1064)
  plugins/plugin-chart-table/src/buildQuery.ts
Due: plugins

chore: publish v0.17.35
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-table/package.json
Due: core-packages, plugins

chore: update documentation
  docs/debugging.md
Due: none

feat: add tooltip for full metric names
  packages/superset-ui-chart-controls/src/components/MetricOption.tsx
  packages/superset-ui-chart-controls/test/components/MetricOption.test.tsx
Due: core-packages

chore: update documentation (#1065)
  docs/debugging.md
Due: none

feat: add tooltip for full metric names (#1066)
  packages/superset-ui-chart-controls/src/components/MetricOption.tsx
  packages/superset-ui-chart-controls/test/components/MetricOption.test.tsx
Due: core-packages

fix: update yarn.lock
  yarn.lock
Due: none

fix: update yarn.lock (#1067)
  yarn.lock
Due: none

chore: publish v0.17.36
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

chore(plugin-chart-echarts): bump echarts to 5.1.0 (#1062)
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  yarn.lock
Due: plugins

CustomFilters
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
Due: core-packages

fix(plugin-chart-echarts): include label length in distance calculation
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-echarts/src/Gauge/constants.ts
  plugins/plugin-chart-echarts/src/Gauge/transformProps.ts
Due: plugins

fix(plugin-chart-echarts): remove label line if below threshold
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
Due: plugins
