Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

feat: remove redundant metric label truncation
  packages/superset-ui-query/src/convertMetric.ts
  packages/superset-ui-query/test/convertMetric.test.ts
Due: core-packages

fix lint
  packages/superset-ui-query/src/convertMetric.ts
Due: core-packages

feat(query): remove redundant metric label truncation (#492)
  packages/superset-ui-query/src/convertMetric.ts
  packages/superset-ui-query/test/convertMetric.test.ts
Due: core-packages

fix a few remaining references to control groups
  packages/superset-ui-control-utils/src/shared-controls.tsx
  packages/superset-ui-query/src/extractQueryFields.ts
Due: core-packages

fix: week number is actually Monday based by default
  packages/superset-ui-time-format/src/factories/getTimeFormatterForGranularity.ts
  packages/superset-ui-time-format/test/factories/getTimeFormatterForGranularity.test.ts
Due: core-packages

Remove week number for weekly time grain
  packages/superset-ui-time-format/src/factories/getTimeFormatterForGranularity.ts
  packages/superset-ui-time-format/test/factories/getTimeFormatterForGranularity.test.ts
Due: core-packages

chore(release): publish v0.13.7
  packages/superset-ui-query/package.json
  plugins/legacy-plugin-chart-calendar/package.json
Due: core-packages, plugins

Revert "chore(release): publish v0.13.7"
  packages/superset-ui-query/package.json
  plugins/legacy-plugin-chart-calendar/package.json
Due: core-packages, plugins

Revert "chore(release): publish v0.13.6"
  packages/superset-ui-query/package.json
  plugins/legacy-plugin-chart-calendar/package.json
Due: core-packages, plugins

ThemeProvider decorator
  packages/superset-ui-demo/.storybook/preview.js
  packages/superset-ui-demo/.storybook/themeDecorator.js
Due: core-packages

feat: poc using style package in big-number
  packages/superset-ui-demo/storybook/stories/plugins/legacy-preset-chart-big-number/BigNumber/BigNumberStories.tsx
  plugins/big-number/yarn.lock
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-big-number/src/BigNumber/BigNumber.css
  plugins/legacy-preset-chart-big-number/src/BigNumber/BigNumber.tsx
Due: core-packages, plugins

just adding a note to the readme that this stuff works out of the box.
  packages/superset-ui-style/README.md
Due: core-packages

removing other themeProvider stuff (no longer needed)
  packages/superset-ui-demo/storybook/stories/plugins/legacy-preset-chart-big-number/BigNumber/BigNumberStories.tsx
Due: core-packages

fix(time-format): remove week number (#493)
  packages/superset-ui-time-format/src/factories/getTimeFormatterForGranularity.ts
  packages/superset-ui-time-format/test/factories/getTimeFormatterForGranularity.test.ts
Due: core-packages

chore: publish v0.13.15
  lerna.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-query/package.json
  packages/superset-ui-superset-ui/package.json
  packages/superset-ui-time-format/package.json
Due: core-packages

bumps n deps
  packages/superset-ui-query/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/plugin-chart-word-cloud/package.json
  yarn.lock
Due: core-packages, plugins

BigNumber using theme bits... in theory
  plugins/legacy-preset-chart-big-number/src/BigNumber/BigNumber.tsx
Due: plugins

wordCloud using theme bits
  plugins/plugin-chart-word-cloud/src/chart/WordCloud.tsx
Due: plugins

bumping packages again
  plugins/legacy-preset-chart-big-number/package.json
  yarn.lock
Due: plugins

fixing dependencies
  plugins/legacy-preset-chart-big-number/src/BigNumber/BigNumber.tsx
Due: plugins

feat(legacy-plugin-chart-event-flow): control panel
  temporary-plugins/hold-potentially-deprecate/superset-ui-legacy-plugin-chart-event-flow/package.json
  temporary-plugins/hold-potentially-deprecate/superset-ui-legacy-plugin-chart-event-flow/src/controlPanel.jsx
  temporary-plugins/hold-potentially-deprecate/superset-ui-legacy-plugin-chart-event-flow/src/index.js
Due: none

feat(legacy-plugin-chart-force-directed): control panel
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-force-directed/src/controlPanel.js
  plugins/legacy-plugin-chart-force-directed/src/index.js
Due: plugins

feat(legacy-plugin-chart-heatmap): control panel
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-heatmap/src/controlPanel.js
  plugins/legacy-plugin-chart-heatmap/src/index.js
Due: plugins

feat(legacy-plugin-chart-histogram): control panel
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-histogram/src/controlPanel.js
  plugins/legacy-plugin-chart-histogram/src/index.js
Due: plugins

feat(legacy-plugin-chart-horizon): control panel
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-horizon/src/controlPanel.js
  plugins/legacy-plugin-chart-horizon/src/index.js
Due: plugins

add controls to index
  plugins/legacy-plugin-chart-table/package.json
  plugins/legacy-plugin-chart-table/src/controlPanel.tsx
  plugins/legacy-plugin-chart-table/src/index.ts
Due: plugins

feat(legacy-plugin-chart-iframe): control panel
  plugins/legacy-plugin-chart-iframe/src/controlPanel.js
Due: plugins

feat(legacy-plugin-chart-map-box): control panel
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-map-box/src/controlPanel.js
  plugins/legacy-plugin-chart-map-box/src/index.js
Due: plugins

remove consoles
  plugins/legacy-plugin-chart-table/src/controlPanel.tsx
  plugins/legacy-plugin-chart-table/src/index.ts
Due: plugins

feat(legacy-plugin-chart-map-box): control panel (#507)
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-map-box/src/controlPanel.js
  plugins/legacy-plugin-chart-map-box/src/index.js
Due: plugins

feat(legacy-plugin-chart-iframe): control panel (#506)
  plugins/legacy-plugin-chart-iframe/src/controlPanel.js
Due: plugins

feat(legacy-plugin-chart-horizon): control panel (#505)
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-horizon/src/controlPanel.js
  plugins/legacy-plugin-chart-horizon/src/index.js
Due: plugins

feat(legacy-plugin-chart-histogram): control panel (#504)
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-histogram/src/controlPanel.js
  plugins/legacy-plugin-chart-histogram/src/index.js
Due: plugins

feat(legacy-plugin-chart-force-directed): control panel (#502)
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-force-directed/src/controlPanel.js
  plugins/legacy-plugin-chart-force-directed/src/index.js
Due: plugins

feat(legacy-plugin-chart-heatmap): control panel (#503)
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-heatmap/src/controlPanel.js
  plugins/legacy-plugin-chart-heatmap/src/index.js
Due: plugins

feat(legacy-plugin-chart-event-flow): control panel (#501)
  temporary-plugins/hold-potentially-deprecate/superset-ui-legacy-plugin-chart-event-flow/package.json
  temporary-plugins/hold-potentially-deprecate/superset-ui-legacy-plugin-chart-event-flow/src/controlPanel.jsx
  temporary-plugins/hold-potentially-deprecate/superset-ui-legacy-plugin-chart-event-flow/src/index.js
Due: none

Update package.json
  plugins/legacy-plugin-chart-table/package.json
Due: plugins

chore: so 514 tablechart plugin controls migration (#508)
  plugins/legacy-plugin-chart-table/package.json
  plugins/legacy-plugin-chart-table/src/controlPanel.tsx
  plugins/legacy-plugin-chart-table/src/index.ts
Due: plugins

chore: publish v0.13.16
  lerna.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-query/package.json
  packages/superset-ui-superset-ui/package.json
  packages/superset-ui-time-format/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-iframe/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-table/package.json
  plugins/legacy-preset-chart-big-number/package.json
Due: core-packages, plugins

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
