Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

Update countries.ts
  plugins/legacy-plugin-chart-country-map/src/countries.ts
Due: plugins

fix: fix emphasis
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
Due: plugins

fix: size
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
Due: plugins

fix(plugin-chart-echarts): fix temporary filters
  plugins/plugin-chart-echarts/src/MixedTimeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/MixedTimeseries/types.ts
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
Due: plugins

lint
  plugins/plugin-chart-echarts/src/MixedTimeseries/controlPanel.tsx
Due: plugins

remove unnecessary ?
  plugins/plugin-chart-echarts/src/MixedTimeseries/controlPanel.tsx
Due: plugins

feat(plugin-chart-echarts): richtooltip supports highliting and scroll
  plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/utils/prophet.ts
  plugins/plugin-chart-echarts/src/utils/series.ts
Due: plugins

chore: removing errant label from two charts that don't have AA
  plugins/legacy-plugin-chart-time-table/src/index.ts
  plugins/plugin-chart-echarts/src/MixedTimeseries/index.ts
Due: plugins

chore: removing errant label from two charts that don't have AA (#1306)
  plugins/legacy-plugin-chart-time-table/src/index.ts
  plugins/plugin-chart-echarts/src/MixedTimeseries/index.ts
Due: plugins

chore: publish v0.17.83
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/plugin-chart-echarts/package.json
Due: core-packages, plugins

feat: bignumber format by time formatter
  plugins/legacy-preset-chart-big-number/src/BigNumber/BigNumber.tsx
  plugins/legacy-preset-chart-big-number/src/BigNumber/transformProps.ts
  plugins/legacy-preset-chart-big-number/src/BigNumberTotal/controlPanel.ts
Due: plugins

fix(plugin-chart-echarts): fix Time-series line x-filtering not working when not rich tooltip (#1302)
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
Due: plugins

fix ut
  plugins/legacy-preset-chart-big-number/test/transformProps.test.ts
Due: plugins

feat: add advanced analytics to all of timeseries viz
  packages/superset-ui-chart-controls/src/sections/advancedAnalytics.tsx
  packages/superset-ui-chart-controls/src/sections/annotationsAndLayers.tsx
  packages/superset-ui-chart-controls/src/sections/forecastInterval.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Regular/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Step/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
Due: core-packages, plugins

fix(plugin-chart-echarts): default to use node name for color category
  plugins/plugin-chart-echarts/src/Graph/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Graph/transformProps.ts
Due: plugins

feat(chart-controls): d3 formatting with .2% #1274 (#1275)
  packages/superset-ui-chart-controls/src/utils/D3Formatting.ts
Due: core-packages

fix namespace
  packages/superset-ui-chart-controls/src/sections/forecastInterval.tsx
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
Due: core-packages, plugins

Scroll container
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
Due: plugins

rename control label
  plugins/legacy-preset-chart-big-number/src/BigNumberTotal/controlPanel.ts
Due: plugins

fix: test
  plugins/plugin-chart-echarts/src/MixedTimeseries/EchartsMixedTimeseries.tsx
  plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/utils/prophet.ts
Due: plugins

initial commit
  packages/superset-ui-chart-controls/src/shared-controls/dndControls.tsx
Due: core-packages

fix: add advanced analytics to all of timeseries viz (#1308)
  packages/superset-ui-chart-controls/src/sections/advancedAnalytics.tsx
  packages/superset-ui-chart-controls/src/sections/annotationsAndLayers.tsx
  packages/superset-ui-chart-controls/src/sections/forecastInterval.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Regular/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Step/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
Due: core-packages, plugins

initial commit (#1311)
  packages/superset-ui-chart-controls/src/shared-controls/dndControls.tsx
Due: core-packages

chore: publish v0.17.84
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

fix: todo
  plugins/plugin-chart-echarts/src/utils/series.ts
Due: plugins

feat(plugin-chart-echarts): add only_total control to ts chart
  plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Regular/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Step/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
  plugins/plugin-chart-echarts/src/controls.tsx
Due: plugins

feat(plugin-chart-echarts): rich tooltip in ts chart supports scroll and highlighted (#1304)
  plugins/plugin-chart-echarts/src/MixedTimeseries/EchartsMixedTimeseries.tsx
  plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/utils/series.ts
Due: plugins

feat(core): hide chart when all metrics values are null
  packages/superset-ui-core/src/chart/components/NoResultsComponent.tsx
  packages/superset-ui-core/src/chart/components/SuperChart.tsx
  packages/superset-ui-core/test/chart/components/NoResultsComponent.test.tsx
Due: core-packages

Enable for pivot table and table
  packages/superset-ui-core/src/chart/components/SuperChart.tsx
  plugins/plugin-chart-pivot-table/src/plugin/controlPanel.ts
  plugins/plugin-chart-table/src/controlPanel.tsx
Due: core-packages, plugins

Add X scroll
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
Due: plugins

fix(plugin-chart-table): apply correct date formatting for time grain
  plugins/plugin-chart-pivot-table/src/plugin/transformProps.ts
  plugins/plugin-chart-table/src/transformProps.ts
Due: plugins

Remove widht min-content
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
Due: plugins

fix(plugin-chart-table): apply correct date formatting for time grain (#1315)
  plugins/plugin-chart-pivot-table/src/plugin/transformProps.ts
  plugins/plugin-chart-table/src/transformProps.ts
Due: plugins

chore: add a note to the pivot plugin
  plugins/plugin-chart-pivot-table/README.md
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
Due: plugins

chore: add a note to the pivot plugin (#1316)
  plugins/plugin-chart-pivot-table/README.md
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
Due: plugins

fix(chart-controls): temporal col placeholder for hybrid dnd
  packages/superset-ui-chart-controls/src/shared-controls/dndControls.tsx
Due: core-packages

fix(chart-controls): temporal col placeholder for hybrid dnd (#1317)
  packages/superset-ui-chart-controls/src/shared-controls/dndControls.tsx
Due: core-packages

fix
  plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Regular/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Step/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  plugins/plugin-chart-echarts/src/controls.tsx
Due: plugins

chore: publish v0.17.85
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

feat: added italian regions country map
  plugins/legacy-plugin-chart-country-map/src/countries.ts
  plugins/legacy-plugin-chart-country-map/src/countries/italy_regions.geojson
Due: plugins

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
