Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

fix: Improve big number time format UX
  plugins/legacy-preset-chart-big-number/src/BigNumber/controlPanel.tsx
Due: plugins

Update controlPanel.tsx
  plugins/legacy-preset-chart-big-number/src/BigNumber/controlPanel.tsx
Due: plugins

fix(legacy-plugin-chart-country-map): fix broken map of Finland
  plugins/legacy-plugin-chart-country-map/src/countries/finland.geojson
Due: plugins

fix(legacy-plugin-chart-country-map): fix broken map of Finland (#1321)
  plugins/legacy-plugin-chart-country-map/src/countries/finland.geojson
Due: plugins

fix: Improve big number time format UX (#1320)
  plugins/legacy-preset-chart-big-number/src/BigNumber/controlPanel.tsx
Due: plugins

chore: publish v0.17.86
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
Due: core-packages, plugins

fix: ci
  plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Regular/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Step/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
Due: plugins

feat(plugin-chart-echarts): add only_total control to ts chart (#1313)
  plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Regular/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Step/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
  plugins/plugin-chart-echarts/src/controls.tsx
Due: plugins

fix(plugin-chart-echarts): improve marksize range
  plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Regular/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Step/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
Due: plugins

fix(plugin-chart-echarts): [scatter-plot] remove contribution mode
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/index.ts
Due: plugins

fix(plugin-chart-echarts): improve marksize range (#1323)
  plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Regular/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Step/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
Due: plugins

fix(plugin-chart-echarts): [guage chart] filter indicator not shown
  plugins/plugin-chart-echarts/src/Gauge/index.ts
Due: plugins

feat(legacy-plugin-chart-country-map): add six new maps
  plugins/legacy-plugin-chart-country-map/src/countries.ts
  plugins/legacy-plugin-chart-country-map/src/countries/denmark.geojson
  plugins/legacy-plugin-chart-country-map/src/countries/estonia.geojson
  plugins/legacy-plugin-chart-country-map/src/countries/iceland.geojson
  plugins/legacy-plugin-chart-country-map/src/countries/norway.geojson
  plugins/legacy-plugin-chart-country-map/src/countries/poland.geojson
  plugins/legacy-plugin-chart-country-map/src/countries/sweden.geojson
  plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
Due: plugins

add svalbard
  plugins/legacy-plugin-chart-country-map/src/countries/norway.geojson
Due: plugins

update notebook
  plugins/legacy-plugin-chart-country-map/scripts/Country Map GeoJSON Generator.ipynb
Due: plugins

feat(legacy-plugin-chart-country-map): add six new maps (#1327)
  plugins/legacy-plugin-chart-country-map/scripts/Country Map GeoJSON Generator.ipynb
  plugins/legacy-plugin-chart-country-map/src/countries.ts
  plugins/legacy-plugin-chart-country-map/src/countries/denmark.geojson
  plugins/legacy-plugin-chart-country-map/src/countries/estonia.geojson
  plugins/legacy-plugin-chart-country-map/src/countries/iceland.geojson
  plugins/legacy-plugin-chart-country-map/src/countries/norway.geojson
  plugins/legacy-plugin-chart-country-map/src/countries/poland.geojson
  plugins/legacy-plugin-chart-country-map/src/countries/sweden.geojson
  plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
Due: plugins

fix(plugin-chart-echarts): [scatter-plot] remove contribution mode (#1325)
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/index.ts
Due: plugins

chore: publish v0.17.87
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/plugin-chart-echarts/package.json
Due: core-packages, plugins

fix: Make the scrollbar appear inside the table (#1310)
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
Due: plugins

feat(legacy-plugin-chart-country-map): add Vietnam map
  plugins/legacy-plugin-chart-country-map/src/countries.ts
Due: plugins

feat(legacy-plugin-chart-country-map): add Vietnam map
  plugins/legacy-plugin-chart-country-map/src/countries/vietnam.geojson
Due: plugins

add certified icon to columoption
  packages/superset-ui-chart-controls/src/components/ColumnOption.tsx
Due: core-packages

fix import order
  packages/superset-ui-chart-controls/src/components/ColumnOption.tsx
Due: core-packages

feat: add certified icon to columoption (#1330)
  packages/superset-ui-chart-controls/src/components/ColumnOption.tsx
Due: core-packages

feat(legacy-plugin-chart-country-map): add Vietnam map
  plugins/legacy-plugin-chart-country-map/src/countries.ts
  plugins/legacy-plugin-chart-country-map/src/countries/vietnam.geojson
Due: plugins

chore: color schemes can be default theoretically
  packages/superset-ui-core/src/color/ColorScheme.ts
Due: core-packages

fix(plugin-chart-echarts): [feature-parity] display custom metrics
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/utils/prophet.ts
Due: plugins

chore(plugin-chart-echarts): bump to ECharts 5.2.0
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-echarts/src/Gauge/transformProps.ts
Due: plugins

chore: color schemes can be default theoretically (#1335)
  packages/superset-ui-core/src/color/ColorScheme.ts
Due: core-packages

chore: isolate the one actual jquery dependency
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-pivot-table/src/PivotTable.js
Due: plugins

added updated finland geojson
  plugins/legacy-plugin-chart-country-map/src/countries/finland.geojson
Due: plugins

removed finland geojson
  plugins/legacy-plugin-chart-country-map/src/countries/finland.geojson
Due: plugins

added finland geojson
  plugins/legacy-plugin-chart-country-map/src/countries/finland.geojson
Due: plugins

updated finland geojson
  plugins/legacy-plugin-chart-country-map/src/countries/finland.geojson
Due: plugins

feat(legacy-plugin-chart-country-map): add Vietnam map (#1334)
  plugins/legacy-plugin-chart-country-map/src/countries.ts
  plugins/legacy-plugin-chart-country-map/src/countries/vietnam.geojson
Due: plugins

feat(core): add support for adhoc columns
  packages/superset-ui-chart-controls/src/operators/pivotOperator.ts
  packages/superset-ui-chart-controls/src/operators/timeComparePivotOperator.ts
  packages/superset-ui-core/src/query/extractQueryFields.ts
  packages/superset-ui-core/src/query/getColumnLabel.ts
  packages/superset-ui-core/src/query/getMetricLabel.ts
  packages/superset-ui-core/src/query/index.ts
  packages/superset-ui-core/src/query/types/Column.ts
  packages/superset-ui-core/src/query/types/Metric.ts
  packages/superset-ui-core/src/query/types/QueryFormData.ts
  packages/superset-ui-core/test/query/getColumnLabel.test.ts
  plugins/plugin-chart-echarts/src/BoxPlot/buildQuery.ts
  plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
  plugins/plugin-chart-echarts/src/Funnel/transformProps.ts
  plugins/plugin-chart-echarts/src/Funnel/types.ts
  plugins/plugin-chart-echarts/src/Gauge/transformProps.ts
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Radar/transformProps.ts
  plugins/plugin-chart-echarts/src/utils/series.ts
  yarn.lock
Due: core-packages, plugins

fix(legacy-plugin-chart-country-map): Correct ISO 3166-2 county codes for Estonia
  plugins/legacy-plugin-chart-country-map/src/countries/estonia.geojson
Due: plugins

fix: bignumber format by time formatter (#1307)
  plugins/legacy-preset-chart-big-number/src/BigNumber/BigNumber.tsx
  plugins/legacy-preset-chart-big-number/src/BigNumber/transformProps.ts
  plugins/legacy-preset-chart-big-number/src/BigNumberTotal/controlPanel.ts
  plugins/legacy-preset-chart-big-number/test/transformProps.test.ts
Due: plugins

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
