Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

codecov.yml:

coverage:
  status:
    project:
      target: 90%
      # send notification if coverage change exceed this threshold
      threshold: 5%
    core-packages:
      target: 100%
      flags: 
        - core-packages
    plugins:
      target: 50%
      flags: 
        - plugins

flags:
  core-packages:
    paths:
      - packages
  plugins:
    paths:
      - plugins

feat: logger.table
  packages/superset-ui-core/src/utils/logging.ts
Due: core-packages

build(legacy-chart-nvd3):bump legacy-preset-chart-nvd3 version
  plugins/legacy-preset-chart-nvd3/package.json
Due: plugins

applying Jesse's feedback
  packages/superset-ui-core/src/utils/logging.ts
  packages/superset-ui-core/test/utils/logging.test.ts
Due: core-packages

missed a method
  packages/superset-ui-core/src/utils/logging.ts
Due: core-packages

feat: logger supports console.table, with console.log fallback (#738)
  packages/superset-ui-core/src/utils/logging.ts
  packages/superset-ui-core/test/utils/logging.test.ts
Due: core-packages

fix unit tests
  plugins/plugin-chart-echarts/test/utils.test.ts
Due: plugins

fix unit tests
  plugins/plugin-chart-echarts/test/Timeseries/transformProps.test.ts
  plugins/plugin-chart-echarts/test/utils.test.ts
Due: plugins

add granularity formatter and apply conditional date formatting to cells
  plugins/legacy-plugin-chart-pivot-table/src/PivotTable.js
  plugins/legacy-plugin-chart-pivot-table/src/transformProps.js
Due: plugins

flip if order
  plugins/legacy-plugin-chart-pivot-table/src/PivotTable.js
Due: plugins

fix tests
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/utils.ts
  plugins/plugin-chart-echarts/test/Timeseries/transformProps.test.ts
  plugins/plugin-chart-echarts/test/utils.test.ts
Due: plugins

chore: remove iframe and markup viz type support
  packages/superset-ui-demo/package.json
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-iframe/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-markup/Stories.tsx
  plugins/legacy-plugin-chart-iframe/README.md
  plugins/legacy-plugin-chart-iframe/package.json
  plugins/legacy-plugin-chart-iframe/src/Iframe.jsx
  plugins/legacy-plugin-chart-iframe/src/controlPanel.js
  plugins/legacy-plugin-chart-iframe/src/images/thumbnail.png
  plugins/legacy-plugin-chart-iframe/src/index.js
  plugins/legacy-plugin-chart-iframe/src/transformProps.js
  plugins/legacy-plugin-chart-markup/README.md
  plugins/legacy-plugin-chart-markup/package.json
  plugins/legacy-plugin-chart-markup/src/Markup.jsx
  plugins/legacy-plugin-chart-markup/src/controlPanel.js
  plugins/legacy-plugin-chart-markup/src/images/thumbnail.png
  plugins/legacy-plugin-chart-markup/src/index.js
  plugins/legacy-plugin-chart-markup/src/transformProps.js
Due: core-packages, plugins

feat(legacy-plugin-chart-pivot-table): add support for timestamp format (#734)
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-pivot-table/src/PivotTable.js
  plugins/legacy-plugin-chart-pivot-table/src/controlPanel.js
  plugins/legacy-plugin-chart-pivot-table/src/transformProps.js
Due: plugins

chore: publish v0.14.21
  lerna.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-superset-ui/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-preset-chart-nvd3/package.json
Due: core-packages, plugins

refactor: update encodable
  package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-choropleth-map/src/configureEncodable.ts
  plugins/plugin-chart-choropleth-map/src/index.ts
  plugins/plugin-chart-word-cloud/package.json
  plugins/plugin-chart-word-cloud/src/configureEncodable.ts
  plugins/plugin-chart-word-cloud/src/index.ts
  plugins/preset-chart-xy/package.json
  plugins/preset-chart-xy/src/configureEncodable.ts
  plugins/preset-chart-xy/src/index.ts
  yarn.lock
Due: plugins

fix: add demo dep
  packages/superset-ui-demo/package.json
Due: core-packages

fix: configureEncodable
  packages/superset-ui-demo/.storybook/preview.js
  plugins/plugin-chart-choropleth-map/src/index.ts
  plugins/plugin-chart-word-cloud/src/index.ts
  plugins/preset-chart-xy/src/index.ts
Due: core-packages, plugins

build: update encodable dependency (#744)
  package.json
  packages/superset-ui-demo/.storybook/preview.js
  packages/superset-ui-demo/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-choropleth-map/src/configureEncodable.ts
  plugins/plugin-chart-choropleth-map/src/index.ts
  plugins/plugin-chart-word-cloud/package.json
  plugins/plugin-chart-word-cloud/src/configureEncodable.ts
  plugins/plugin-chart-word-cloud/src/index.ts
  plugins/preset-chart-xy/package.json
  plugins/preset-chart-xy/src/configureEncodable.ts
  plugins/preset-chart-xy/src/index.ts
  yarn.lock
Due: core-packages, plugins

add useEchartsComponent and address comments
  plugins/plugin-chart-echarts/README.md
  plugins/plugin-chart-echarts/src/Pie/EchartsPie.tsx
  plugins/plugin-chart-echarts/src/Pie/controlPanel.ts
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Pie/types.ts
  plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  plugins/plugin-chart-echarts/src/Timeseries/images/thumbnail.png
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
  plugins/plugin-chart-echarts/src/hooks/useEchartsComponent.tsx
  plugins/plugin-chart-echarts/src/types.ts
  plugins/plugin-chart-echarts/src/utils.ts
  plugins/plugin-chart-echarts/test/Timeseries/transformProps.test.ts
  plugins/plugin-chart-echarts/test/index.test.ts
  plugins/plugin-chart-word-cloud/src/chart/WordCloud.tsx
Due: plugins

fix(legacy-plugin-chart-country-map): add laos map
  plugins/legacy-plugin-chart-country-map/src/countries.js
  plugins/legacy-plugin-chart-country-map/src/countries/laos.geojson
Due: plugins

chore: remove iframe and markup viz type support (#746)
  packages/superset-ui-demo/package.json
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-iframe/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-markup/Stories.tsx
  plugins/legacy-plugin-chart-iframe/README.md
  plugins/legacy-plugin-chart-iframe/package.json
  plugins/legacy-plugin-chart-iframe/src/Iframe.jsx
  plugins/legacy-plugin-chart-iframe/src/controlPanel.js
  plugins/legacy-plugin-chart-iframe/src/images/thumbnail.png
  plugins/legacy-plugin-chart-iframe/src/index.js
  plugins/legacy-plugin-chart-iframe/src/transformProps.js
  plugins/legacy-plugin-chart-markup/README.md
  plugins/legacy-plugin-chart-markup/package.json
  plugins/legacy-plugin-chart-markup/src/Markup.jsx
  plugins/legacy-plugin-chart-markup/src/controlPanel.js
  plugins/legacy-plugin-chart-markup/src/images/thumbnail.png
  plugins/legacy-plugin-chart-markup/src/index.js
  plugins/legacy-plugin-chart-markup/src/transformProps.js
Due: core-packages, plugins

feat: add certification icon to metrics
  packages/superset-ui-chart-controls/src/components/CertifiedIconWithTooltip.tsx
  packages/superset-ui-chart-controls/src/components/MetricOption.tsx
Due: core-packages

feat: add certification icon to metrics (#748)
  packages/superset-ui-chart-controls/src/components/CertifiedIconWithTooltip.tsx
  packages/superset-ui-chart-controls/src/components/MetricOption.tsx
Due: core-packages

chore: publish v0.14.22
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-superset-ui/package.json
Due: core-packages

address comments
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/hooks/useEchartsComponent.tsx
  plugins/plugin-chart-echarts/src/utils/prophet.ts
  plugins/plugin-chart-echarts/src/utils/series.ts
Due: plugins

address more comments
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
  plugins/plugin-chart-echarts/src/utils/prophet.ts
  plugins/plugin-chart-echarts/src/utils/series.ts
  plugins/plugin-chart-echarts/test/Timeseries/buildQuery.test.ts
  plugins/plugin-chart-echarts/test/utils/prophet.test.ts
  plugins/plugin-chart-echarts/test/utils/series.test.ts
  plugins/plugin-chart-word-cloud/test/plugin/buildQuery.test.ts
Due: plugins

Reduce initial zoom
  plugins/legacy-plugin-chart-map-box/src/MapBox.jsx
Due: plugins

Fix bug
  plugins/legacy-plugin-chart-map-box/src/MapBox.jsx
Due: plugins

chore(legacy-chart-nvd3): convert nvd3 to emotion style (#692)
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.css
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
  plugins/legacy-preset-chart-nvd3/src/ReactNVD3.js
  plugins/legacy-preset-chart-nvd3/src/ReactNVD3.jsx
Due: plugins

feat(color): add echarts colors
  packages/superset-ui-color/src/colorSchemes/categorical/echarts.ts
  packages/superset-ui-color/src/colorSchemes/sequential/common.ts
  packages/superset-ui-color/test/colorSchemes.test.ts
  packages/superset-ui-demo/storybook/stories/superset-ui-color/ColorPallettesStories.jsx
Due: core-packages

chore: silencing console errors by making things optional
  packages/superset-ui-chart-controls/src/components/MetricOption.tsx
Due: core-packages

chore: silencing console errors by making things optional (#752)
  packages/superset-ui-chart-controls/src/components/MetricOption.tsx
Due: core-packages

rename categorical schemes
  packages/superset-ui-color/src/colorSchemes/categorical/echarts.ts
Due: core-packages

chore: clean up a couple of TypeScript warnings
  packages/superset-ui-chart-controls/src/components/MetricOption.tsx
  packages/superset-ui-chart-controls/src/index.ts
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  packages/superset-ui-chart-controls/src/types.ts
  packages/superset-ui-chart-controls/src/utils/mainMetric.ts
  packages/superset-ui-translation/src/Translator.ts
  plugins/legacy-plugin-chart-time-table/src/TimeTable.tsx
  plugins/legacy-plugin-chart-time-table/src/transformProps.ts
  yarn.lock
Due: core-packages, plugins

chore: clean up a couple of TypeScript warnings (#754)
  packages/superset-ui-chart-controls/src/components/MetricOption.tsx
  packages/superset-ui-chart-controls/src/index.ts
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  packages/superset-ui-chart-controls/src/types.ts
  packages/superset-ui-chart-controls/src/utils/mainMetric.ts
  packages/superset-ui-translation/src/Translator.ts
  plugins/legacy-plugin-chart-time-table/src/TimeTable.tsx
  plugins/legacy-plugin-chart-time-table/src/transformProps.ts
  yarn.lock
Due: core-packages, plugins

feat(color): add official ECharts color schemes (#751)
  packages/superset-ui-color/src/colorSchemes/categorical/echarts.ts
  packages/superset-ui-color/src/colorSchemes/sequential/common.ts
  packages/superset-ui-color/test/colorSchemes.test.ts
  packages/superset-ui-demo/storybook/stories/superset-ui-color/ColorPallettesStories.jsx
Due: core-packages
