Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

codecov.yml:

coverage:
  status:
    project:
      target: 90%
      # send notification if coverage change exceed this threshold
      threshold: 5%
    core-packages:
      target: 100%
      flags: 
        - core-packages
    plugins:
      target: 50%
      flags: 
        - plugins

flags:
  core-packages:
    paths:
      - packages
  plugins:
    paths:
      - plugins

update lock file
  package-lock.json
Due: none

feat(plugin-chart-handlebars): initial commit
  plugins/plugin-chart-handlebars/README.md
  plugins/plugin-chart-handlebars/package.json
  plugins/plugin-chart-handlebars/src/Handlebars.tsx
  plugins/plugin-chart-handlebars/src/components/CodeEditor/CodeEditor.tsx
  plugins/plugin-chart-handlebars/src/components/Handlebars/HandlebarsViewer.tsx
  plugins/plugin-chart-handlebars/src/consts.ts
  plugins/plugin-chart-handlebars/src/i18n.ts
  plugins/plugin-chart-handlebars/src/images/thumbnail.png
  plugins/plugin-chart-handlebars/src/index.ts
  plugins/plugin-chart-handlebars/src/plugin/buildQuery.ts
  plugins/plugin-chart-handlebars/src/plugin/controlPanel.tsx
  plugins/plugin-chart-handlebars/src/plugin/index.ts
  plugins/plugin-chart-handlebars/src/plugin/transformProps.ts
  plugins/plugin-chart-handlebars/src/types.ts
  plugins/plugin-chart-handlebars/test/index.test.ts
  plugins/plugin-chart-handlebars/test/plugin/buildQuery.test.ts
  plugins/plugin-chart-handlebars/test/plugin/transformProps.test.ts
  plugins/plugin-chart-handlebars/tsconfig.json
  plugins/plugin-chart-handlebars/types/external.d.ts
Due: plugins

chore: refactor for easier reasoning
  plugins/plugin-chart-handlebars/src/Handlebars.tsx
  plugins/plugin-chart-handlebars/src/components/CodeEditor/CodeEditor.tsx
  plugins/plugin-chart-handlebars/src/components/ControlHeader/controlHeader.tsx
  plugins/plugin-chart-handlebars/src/plugin/controlPanel.tsx
  plugins/plugin-chart-handlebars/src/plugin/controls/columns.tsx
  plugins/plugin-chart-handlebars/src/plugin/controls/groupBy.tsx
  plugins/plugin-chart-handlebars/src/plugin/controls/handlebarTemplate.tsx
  plugins/plugin-chart-handlebars/src/plugin/controls/includeTime.ts
  plugins/plugin-chart-handlebars/src/plugin/controls/limits.ts
  plugins/plugin-chart-handlebars/src/plugin/controls/metrics.tsx
  plugins/plugin-chart-handlebars/src/plugin/controls/orderBy.tsx
  plugins/plugin-chart-handlebars/src/plugin/controls/pagination.tsx
  plugins/plugin-chart-handlebars/src/plugin/controls/queryMode.tsx
  plugins/plugin-chart-handlebars/src/plugin/controls/shared.ts
Due: plugins

chore: prettier
  plugins/plugin-chart-handlebars/src/plugin/controls/style.tsx
Due: plugins

feat: adds style editor
  plugins/plugin-chart-handlebars/src/plugin/controls/style.tsx
Due: plugins

chore: remove unused code and prettier
  plugins/plugin-chart-handlebars/src/plugin/index.ts
  plugins/plugin-chart-handlebars/src/types.ts
Due: plugins

chore: remove unused code
  plugins/plugin-chart-handlebars/src/Handlebars.tsx
  plugins/plugin-chart-handlebars/src/plugin/buildQuery.ts
  plugins/plugin-chart-handlebars/src/types.ts
Due: plugins

bug: css should be optional
  plugins/plugin-chart-handlebars/src/plugin/controls/style.tsx
Due: plugins

feat: wire up css in handlebar viewer
  plugins/plugin-chart-handlebars/src/Handlebars.tsx
  plugins/plugin-chart-handlebars/src/plugin/controls/handlebarTemplate.tsx
  plugins/plugin-chart-handlebars/src/plugin/controls/style.tsx
  plugins/plugin-chart-handlebars/src/types.ts
Due: plugins

update(handlebars): extend correct tsconfig
  plugins/plugin-chart-handlebars/package.json
  plugins/plugin-chart-handlebars/tsconfig.json
Due: plugins

update(handlbars): add reac-dom to peer deps
  plugins/plugin-chart-handlebars/package.json
Due: plugins

fix(plugin-chart-handlebars): dont export controls
  plugins/plugin-chart-handlebars/src/plugin/controls/metrics.tsx
Due: plugins

chore(plugin-chart-handlebars): pretty
  plugins/plugin-chart-handlebars/src/components/ControlHeader/controlHeader.tsx
  plugins/plugin-chart-handlebars/src/plugin/controlPanel.tsx
  plugins/plugin-chart-handlebars/src/plugin/controls/columns.tsx
  plugins/plugin-chart-handlebars/src/plugin/controls/handlebarTemplate.tsx
  plugins/plugin-chart-handlebars/src/plugin/controls/limits.ts
  plugins/plugin-chart-handlebars/src/plugin/controls/pagination.tsx
  plugins/plugin-chart-handlebars/src/plugin/controls/queryMode.tsx
  plugins/plugin-chart-handlebars/src/plugin/controls/shared.ts
  plugins/plugin-chart-handlebars/test/plugin/transformProps.test.ts
Due: plugins

chore: coordinate storybook with main repository (#1466)
  package-lock.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-chord/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-country-map/CountryMapStories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/BoxPlot/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Funnel/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Gauge/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Graph/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/MixedTimeseries/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Pie/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Radar/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Timeseries/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Tree/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Treemap/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/TableStories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-word-cloud/Stories.tsx
  packages/superset-ui-demo/tsconfig.json
  plugins/legacy-plugin-chart-country-map/src/index.js
  plugins/plugin-chart-echarts/src/index.ts
  plugins/plugin-chart-word-cloud/src/index.ts
Due: core-packages, plugins

fix(plugin-chart-pivot-table): cross filtering by adhoc column (#1465)
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
Due: plugins

chore: publish v0.18.23
  lerna.json
  package-lock.json
  packages/generator-superset/package.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

Pass dashboardId to control
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
Due: core-packages

Pass dashboardId to control (#1467)
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
Due: core-packages

chore: publish v0.18.24
  lerna.json
  package-lock.json
  package.json
  packages/generator-superset/package.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

lint without build
  .eslintrc.js
  .github/workflows/ci.yml
  package.json
  packages/superset-ui-chart-controls/test/types.test.ts
Due: core-packages

lintrc improvment
  .eslintrc.js
Due: none

compress image
  plugins/plugin-chart-pivot-table/src/images/thumbnail.png
Due: plugins

feat(chart-controls): add time grain control to all charts
  packages/superset-ui-chart-controls/src/sections/sections.tsx
Due: core-packages

fix(plugin-chart-echarts): fix legend margin in radar and ts chart
  plugins/plugin-chart-echarts/src/Radar/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Due: plugins

fix: column widths now recalculate after rearranging columns
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/types.ts
Due: plugins

exporting
  plugins/plugin-chart-echarts/src/index.ts
  plugins/plugin-chart-table/test/TableChart.test.tsx
  plugins/plugin-chart-table/test/enzyme.tsx
Due: plugins

chore(plugin-chart-handlebars): linting
  plugins/plugin-chart-handlebars/src/Handlebars.tsx
  plugins/plugin-chart-handlebars/src/components/CodeEditor/CodeEditor.tsx
  plugins/plugin-chart-handlebars/src/components/ControlHeader/controlHeader.tsx
  plugins/plugin-chart-handlebars/src/components/Handlebars/HandlebarsViewer.tsx
  plugins/plugin-chart-handlebars/src/plugin/controls/handlebarTemplate.tsx
  plugins/plugin-chart-handlebars/src/plugin/controls/includeTime.ts
  plugins/plugin-chart-handlebars/src/plugin/controls/style.tsx
  plugins/plugin-chart-handlebars/src/plugin/transformProps.ts
Due: plugins

update parallel-coordinates tsconfig
  plugins/legacy-plugin-chart-parallel-coordinates/tsconfig.json
Due: plugins

add license
  packages/superset-ui-core/src/query/getColumnLabel.ts
Due: core-packages

add eslintignore
  .eslintignore
Due: none

fix(plugin-chart-echarts): fix legend margin in radar and ts chart (#1470)
  plugins/plugin-chart-echarts/src/Radar/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Due: plugins

chore: publish v0.18.25
  lerna.json
  package-lock.json
  packages/generator-superset/package.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

Update Histogram.jsx
  plugins/legacy-plugin-chart-histogram/src/Histogram.jsx
Due: plugins

fix: prettier
  plugins/legacy-plugin-chart-histogram/src/Histogram.jsx
Due: plugins

fix: prettier
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/DataTable/types/react-table.d.ts
  plugins/plugin-chart-table/src/TableChart.tsx
Due: plugins

fix: type error
  plugins/plugin-chart-table/src/types.ts
Due: plugins
