Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

simplify import
  packages/superset-ui-core/test/query/getColumnLabel.test.ts
  packages/superset-ui-core/test/query/getMetricLabel.test.ts
Due: core-packages

revert simplification due to codecov
  packages/superset-ui-core/test/query/getColumnLabel.test.ts
  packages/superset-ui-core/test/query/getMetricLabel.test.ts
Due: core-packages

fix(plugin-chart-echarts): [guage chart] filter indicator not shown (#1326)
  plugins/plugin-chart-echarts/src/Gauge/index.ts
Due: plugins

fix(plugin-chart-echarts): [feature-parity] display custom metrics (#1337)
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/utils/prophet.ts
Due: plugins

chore: publish v0.18.1
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/plugin-chart-echarts/package.json
Due: core-packages, plugins

fix filter column type
  packages/superset-ui-core/src/query/types/Query.ts
Due: core-packages

fix pivot v2 groupbys
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
  plugins/plugin-chart-pivot-table/src/plugin/buildQuery.ts
  plugins/plugin-chart-pivot-table/src/plugin/transformProps.ts
  plugins/plugin-chart-pivot-table/src/types.ts
Due: plugins

remove redundant import
  plugins/plugin-chart-pivot-table/src/plugin/transformProps.ts
Due: plugins

chore(plugin-chart-echarts): bump to ECharts 5.2.0 (#1340)
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-echarts/src/Gauge/transformProps.ts
Due: plugins

Add new type guards
  packages/superset-ui-core/src/query/types/Column.ts
Due: core-packages

move ColumnMeta type guards to chart-controls
  packages/superset-ui-chart-controls/src/types.ts
  packages/superset-ui-core/src/query/types/Column.ts
Due: core-packages

add type guard tests
  packages/superset-ui-chart-controls/test/types.test.ts
Due: core-packages

chore(core): move @emotion/styled to peer dependency
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  yarn.lock
Due: core-packages

chore(core): move @emotion/styled to peer dependency (#1347)
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  yarn.lock
Due: core-packages

chore: publish v0.18.2
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

chore: add resample operator to advanced analytic
  packages/superset-ui-chart-controls/src/operators/resampleOperator.ts
  packages/superset-ui-chart-controls/src/sections/advancedAnalytics.tsx
  packages/superset-ui-chart-controls/test/utils/operators/resampleOperator.test.ts
  packages/superset-ui-core/src/query/types/PostProcessing.ts
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
Due: core-packages, plugins

feat: add x and y label support for timeseries
  plugins/plugin-chart-echarts/src/Timeseries/Regular/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
Due: plugins

fix(legacy-plugin-chart-country-map): Correct ISO 3166-2 county codes for Estonia (#1344)
  plugins/legacy-plugin-chart-country-map/src/countries/estonia.geojson
Due: plugins

feat: change label to title
  plugins/plugin-chart-echarts/src/Timeseries/Regular/controlPanel.tsx
Due: plugins

feat: add x/y title to 9 chats
  plugins/plugin-chart-echarts/src/BoxPlot/controlPanel.ts
  plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
  plugins/plugin-chart-echarts/src/MixedTimeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Regular/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Step/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
Due: plugins

wip
  packages/superset-ui-chart-controls/src/operators/resampleOperator.ts
  packages/superset-ui-chart-controls/src/sections/advancedAnalytics.tsx
  packages/superset-ui-chart-controls/test/utils/operators/resampleOperator.test.ts
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
Due: core-packages, plugins

refactor: move config to shared-control
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  packages/superset-ui-chart-controls/src/utils/index.ts
  packages/superset-ui-chart-controls/src/utils/titleOptions.ts
  plugins/plugin-chart-echarts/src/BoxPlot/controlPanel.ts
  plugins/plugin-chart-echarts/src/MixedTimeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Regular/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Step/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
Due: core-packages, plugins

refactor: add chartTitle section config in custom tab
  packages/superset-ui-chart-controls/src/sections/chartTitle.tsx
  packages/superset-ui-chart-controls/src/sections/index.ts
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  plugins/plugin-chart-echarts/src/BoxPlot/controlPanel.ts
  plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
  plugins/plugin-chart-echarts/src/BoxPlot/types.ts
  plugins/plugin-chart-echarts/src/MixedTimeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/MixedTimeseries/types.ts
  plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Regular/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Step/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
Due: core-packages, plugins

refactor: refactor param names
  plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
  plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
Due: plugins

chore: isolate the one actual jquery dependency (#1339)
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-pivot-table/src/PivotTable.js
Due: plugins

chore: publish v0.18.3
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
Due: core-packages, plugins

lint: code lint
  plugins/plugin-chart-echarts/src/BoxPlot/controlPanel.ts
  plugins/plugin-chart-pivot-table/README.md
Due: plugins

Revert "chore: isolate the one actual jquery dependency (#1339)"
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-pivot-table/src/PivotTable.js
Due: plugins

feat(plugin-chart-echarts): add support for non-temporal series limit
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  packages/superset-ui-core/src/query/buildQueryObject.ts
  packages/superset-ui-core/src/query/types/Query.ts
  packages/superset-ui-core/src/query/types/QueryFormData.ts
  plugins/plugin-chart-echarts/src/BoxPlot/buildQuery.ts
  plugins/plugin-chart-echarts/src/BoxPlot/controlPanel.ts
  plugins/plugin-chart-echarts/test/BoxPlot/buildQuery.test.ts
Due: core-packages, plugins

Update plugins/plugin-chart-echarts/src/BoxPlot/controlPanel.ts
  plugins/plugin-chart-echarts/src/BoxPlot/controlPanel.ts
Due: plugins

make whisker type unclearable and also handle null case
  plugins/plugin-chart-echarts/src/BoxPlot/buildQuery.ts
  plugins/plugin-chart-echarts/src/BoxPlot/controlPanel.ts
Due: plugins

fix(plugin-chart-echarts): waterfall
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Waterfall/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Waterfall/data.ts
  plugins/plugin-chart-echarts/src/Waterfall/EchartsWaterfall.tsx
  plugins/plugin-chart-echarts/src/Waterfall/buildQuery.ts
  plugins/plugin-chart-echarts/src/Waterfall/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Waterfall/images/thumbnail.png
  plugins/plugin-chart-echarts/src/Waterfall/index.ts
  plugins/plugin-chart-echarts/src/Waterfall/transformProps.ts
  plugins/plugin-chart-echarts/src/Waterfall/types.ts
  plugins/plugin-chart-echarts/src/index.ts
Due: core-packages, plugins

fix(plugin-chart-echarts): rename
  plugins/plugin-chart-echarts/src/Waterfall/buildQuery.ts
  plugins/plugin-chart-echarts/src/Waterfall/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Waterfall/transformProps.ts
Due: plugins

fix(plugin-chart-echarts): remove some unused code
  plugins/plugin-chart-echarts/src/Waterfall/EchartsWaterfall.tsx
  plugins/plugin-chart-echarts/src/Waterfall/transformProps.ts
  plugins/plugin-chart-echarts/src/Waterfall/types.ts
Due: plugins

fix(plugin-chart-echarts): change transformProps 逻辑
  plugins/plugin-chart-echarts/src/Waterfall/buildQuery.ts
  plugins/plugin-chart-echarts/src/Waterfall/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Waterfall/transformProps.ts
  plugins/plugin-chart-echarts/src/Waterfall/types.ts
  plugins/plugin-chart-echarts/test/Waterfall/transformProps.test.ts
Due: plugins

fix(plugin-chart-echarts): add unit test
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Waterfall/Stories.tsx
  plugins/plugin-chart-echarts/test/Waterfall/buildQuery.test.ts
  plugins/plugin-chart-echarts/test/Waterfall/transformProps.test.ts
Due: core-packages, plugins

fix(plugin-chart-echarts): ci
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Waterfall/Stories.tsx
  plugins/plugin-chart-echarts/src/Waterfall/transformProps.ts
Due: core-packages, plugins

fix(plugin-chart-echarts): remove some unused code
  plugins/plugin-chart-echarts/src/Waterfall/controlPanel.tsx
Due: plugins

fix(legacy-plugin-chart-country-map): fix iran country map #1358
  plugins/legacy-plugin-chart-country-map/src/countries/iran.geojson
Due: plugins

feat: fix some problems
  plugins/plugin-chart-echarts/src/Waterfall/buildQuery.ts
  plugins/plugin-chart-echarts/src/Waterfall/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Waterfall/images/thumbnail.png
  plugins/plugin-chart-echarts/src/Waterfall/index.ts
  plugins/plugin-chart-echarts/src/Waterfall/transformProps.ts
  plugins/plugin-chart-echarts/src/Waterfall/types.ts
  plugins/plugin-chart-echarts/src/controls.tsx
Due: plugins

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
