Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

control-utils -> chart-controls
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/controlPanel.erb
Due: core-packages

moving renderTrigger note up to first instance
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/controlPanel.erb
Due: core-packages

Wrapper -> Styles nomenclature
  packages/generator-superset/generators/plugin-chart/templates/src/MyChart.erb
Due: core-packages

nixing requiresTime
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/controlPanel.erb
Due: core-packages

ControlPanelConfig type on control config
  packages/generator-superset/generators/plugin-chart/templates/package.erb
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/controlPanel.erb
Due: core-packages

moving Styles component to be external, passing it props
  packages/generator-superset/generators/plugin-chart/templates/src/MyChart.erb
Due: core-packages

latest generator
  plugins/plugin-chart-hello-world/README.md
  plugins/plugin-chart-hello-world/package.json
  plugins/plugin-chart-hello-world/src/HelloWorld.tsx
  plugins/plugin-chart-hello-world/src/plugin/controlPanel.ts
  plugins/plugin-chart-hello-world/src/plugin/transformProps.ts
Due: plugins

lint nits
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/controlPanel.erb
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/transformProps.erb
Due: core-packages

new generator result
  plugins/plugin-chart-hello-world/src/plugin/transformProps.ts
Due: plugins

typing tweak
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/transformProps.erb
Due: core-packages

latest generator
  plugins/plugin-chart-hello-world/README.md
  plugins/plugin-chart-hello-world/src/plugin/transformProps.ts
Due: plugins

latest generator
  plugins/plugin-chart-hello-world/README.md
Due: plugins

Add test for invalid json
  package.json
  packages/superset-ui-connection/test/callApi/callApi.test.ts
Due: core-packages

feat(connection): easier API for json payload
  packages/superset-ui-chart/src/clients/ChartClient.ts
  packages/superset-ui-connection/src/SupersetClientClass.ts
  packages/superset-ui-connection/src/callApi/callApi.ts
  packages/superset-ui-connection/src/types.ts
  packages/superset-ui-connection/test/callApi/callApi.test.ts
  packages/superset-ui-demo/storybook/shared/components/VerifyCORS.tsx
  packages/superset-ui-demo/storybook/stories/superset-ui-connection/ConnectionStories.tsx
  packages/superset-ui-query/src/api/types.ts
  packages/superset-ui-query/src/api/v1/postChartData.ts
Due: core-packages

Rename a variable
  packages/superset-ui-chart/src/clients/ChartClient.ts
  packages/superset-ui-connection/src/SupersetClientClass.ts
  packages/superset-ui-connection/src/callApi/callApi.ts
  packages/superset-ui-connection/src/types.ts
  packages/superset-ui-connection/test/callApi/callApi.test.ts
  packages/superset-ui-query/src/api/v1/postChartData.ts
Due: core-packages

Fix bad import
  packages/superset-ui-connection/test/callApi/callApiAndParseWithTimeout.test.ts
Due: core-packages

Add other json types
  packages/superset-ui-connection/src/types.ts
Due: core-packages

Rename JSONObject to StrictJsonObject
  packages/superset-ui-connection/src/callApi/callApi.ts
  packages/superset-ui-connection/src/types.ts
  packages/superset-ui-connection/test/callApi/callApi.test.ts
Due: core-packages

feat(connection): stronger typing and optimized API
  packages/superset-ui-chart/test/components/MockChartPlugins.tsx
  packages/superset-ui-connection/src/SupersetClient.ts
  packages/superset-ui-connection/src/SupersetClientClass.ts
  packages/superset-ui-connection/src/callApi/callApi.ts
  packages/superset-ui-connection/src/callApi/callApiAndParseWithTimeout.ts
  packages/superset-ui-connection/src/callApi/parseResponse.ts
  packages/superset-ui-connection/src/types.ts
  packages/superset-ui-connection/test/SupersetClient.test.ts
  packages/superset-ui-connection/test/SupersetClientClass.test.ts
  packages/superset-ui-connection/test/callApi/callApi.test.ts
  packages/superset-ui-connection/test/callApi/callApiAndParseWithTimeout.test.ts
  packages/superset-ui-connection/test/callApi/parseResponse.test.ts
  packages/superset-ui-demo/storybook/shared/components/ErrorMessage.tsx
  packages/superset-ui-demo/storybook/stories/superset-ui-chart/ChartDataProviderStories.tsx
  packages/superset-ui-demo/storybook/stories/superset-ui-connection/ConnectionStories.tsx
  packages/superset-ui-query/src/extractQueryFields.ts
  packages/superset-ui-query/src/types/QueryFormData.ts
Due: core-packages

Get rid of throwIfCalled
  packages/superset-ui-connection/test/SupersetClient.test.ts
  packages/superset-ui-connection/test/callApi/callApi.test.ts
  packages/superset-ui-connection/test/callApi/parseResponse.test.ts
  packages/superset-ui-connection/test/callApi/rejectAfterTimeout.test.ts
  packages/superset-ui-connection/test/utils/throwIfCalled.ts
Due: core-packages

Clean up
  packages/superset-ui-connection/src/types.ts
Due: core-packages

Better generic types
  packages/superset-ui-connection/src/SupersetClientClass.ts
  packages/superset-ui-connection/src/callApi/callApiAndParseWithTimeout.ts
  packages/superset-ui-connection/src/callApi/parseResponse.ts
  packages/superset-ui-connection/src/types.ts
  packages/superset-ui-connection/test/SupersetClientClass.test.ts
  packages/superset-ui-connection/test/callApi/parseResponse.test.ts
  packages/superset-ui-query/src/api/legacy/fetchExploreJson.ts
  packages/superset-ui-query/src/api/legacy/getDatasourceMetadata.ts
  packages/superset-ui-query/src/api/legacy/getFormData.ts
Due: core-packages

Migrate all to async
  packages/superset-ui-connection/src/callApi/callApi.ts
  packages/superset-ui-connection/test/SupersetClient.test.ts
  packages/superset-ui-connection/test/SupersetClientClass.test.ts
  packages/superset-ui-connection/test/callApi/callApi.test.ts
  packages/superset-ui-connection/test/callApi/callApiAndParseWithTimeout.test.ts
  packages/superset-ui-connection/test/callApi/parseResponse.test.ts
  packages/superset-ui-connection/test/fixtures/constants.ts
Due: core-packages

Revert changes to query
  packages/superset-ui-query/src/api/legacy/fetchExploreJson.ts
  packages/superset-ui-query/src/api/legacy/getDatasourceMetadata.ts
  packages/superset-ui-query/src/api/legacy/getFormData.ts
  packages/superset-ui-query/src/extractQueryFields.ts
  packages/superset-ui-query/src/types/QueryFormData.ts
Due: core-packages

Convert all to async functions
  packages/superset-ui-connection/src/SupersetClientClass.ts
  packages/superset-ui-connection/src/callApi/callApi.ts
  packages/superset-ui-connection/src/callApi/callApiAndParseWithTimeout.ts
  packages/superset-ui-connection/src/callApi/parseResponse.ts
  packages/superset-ui-connection/src/callApi/rejectAfterTimeout.ts
  packages/superset-ui-connection/src/types.ts
  packages/superset-ui-connection/test/callApi/parseResponse.test.ts
  packages/superset-ui-query/src/api/legacy/fetchExploreJson.ts
  packages/superset-ui-query/src/api/legacy/getFormData.ts
Due: core-packages

feat(query): add makeApi API generator
  packages/superset-ui-demo/storybook/shared/components/VerifyCORS.tsx
  packages/superset-ui-query/README.md
  packages/superset-ui-query/src/api/legacy/fetchExploreJson.ts
  packages/superset-ui-query/src/api/legacy/getDatasourceMetadata.ts
  packages/superset-ui-query/src/api/legacy/getFormData.ts
  packages/superset-ui-query/src/api/legacy/index.ts
  packages/superset-ui-query/src/api/legacy/types.ts
  packages/superset-ui-query/src/api/types.ts
  packages/superset-ui-query/src/api/v1/handleError.ts
  packages/superset-ui-query/src/api/v1/index.ts
  packages/superset-ui-query/src/api/v1/makeApi.ts
  packages/superset-ui-query/src/api/v1/postChartData.ts
  packages/superset-ui-query/src/api/v1/types.ts
  packages/superset-ui-query/src/extractQueryFields.ts
  packages/superset-ui-query/src/types/QueryFormData.ts
  packages/superset-ui-query/test/api/v1/getChartData.test.ts
  packages/superset-ui-query/test/api/v1/handleError.test.ts
  packages/superset-ui-query/test/api/v1/makeApi.test.ts
  packages/superset-ui-query/test/api/v1/postChartData.test.ts
Due: core-packages

feat: updated viz plugin generator (#636)
  packages/generator-superset/README.md
  packages/generator-superset/generators/app/index.js
  packages/generator-superset/generators/legacy-plugin-chart-demo/index.js
  packages/generator-superset/generators/legacy-plugin-chart-demo/templates/Stories.jsx
  packages/generator-superset/generators/legacy-plugin-chart-demo/templates/data.js
  packages/generator-superset/generators/legacy-plugin-chart-demo/templates/index.js
  packages/generator-superset/generators/legacy-plugin-chart/index.js
  packages/generator-superset/generators/legacy-plugin-chart/templates/README.md
  packages/generator-superset/generators/legacy-plugin-chart/templates/_package.json
  packages/generator-superset/generators/plugin-chart/index.js
  packages/generator-superset/generators/plugin-chart/templates/README.erb
  packages/generator-superset/generators/plugin-chart/templates/package.erb
  packages/generator-superset/generators/plugin-chart/templates/src/MyChart.erb
  packages/generator-superset/generators/plugin-chart/templates/src/images/thumbnail.png
  packages/generator-superset/generators/plugin-chart/templates/src/index.erb
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/buildQuery.erb
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/controlPanel.erb
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/index.erb
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/transformProps.erb
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/transformProps.txt
  packages/generator-superset/generators/plugin-chart/templates/test/index.erb
  packages/generator-superset/generators/plugin-chart/templates/test/plugin/buildQuery.test.erb
  packages/generator-superset/generators/plugin-chart/templates/test/plugin/transformProps.test.erb
  packages/generator-superset/test/legacy-plugin-chart-demo.test.js
  packages/generator-superset/test/legacy-plugin-chart.test.js
  packages/generator-superset/test/plugin-chart.test.js
  packages/superset-ui-chart-controls/src/types.ts
  yarn.lock
Due: core-packages

chore: publish v0.14.7
  lerna.json
  packages/generator-superset/package.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-superset-ui/package.json
Due: core-packages

fix(plugin-chart-table): dont apply timeformatter to metrics
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/TableStories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/testData.ts
  plugins/plugin-chart-table/src/transformProps.ts
  plugins/plugin-chart-table/src/types.ts
  yarn.lock
Due: core-packages, plugins

Non numeric columns should be metric
  plugins/plugin-chart-table/src/transformProps.ts
Due: plugins

Enforce UTC to all other timestamps, too
  plugins/plugin-chart-table/src/transformProps.ts
Due: plugins

fix(plugin-chart-table): formatting non-numeric metrics (#663)
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/TableStories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/testData.ts
  plugins/plugin-chart-table/src/transformProps.ts
  plugins/plugin-chart-table/src/types.ts
  yarn.lock
Due: core-packages, plugins

chore: publish v0.14.8
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/plugin-chart-table/package.json
Due: core-packages, plugins

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
