Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

added depreciated comment
  packages/superset-ui-core/src/utils/featureFlags.ts
Due: core-packages

chore: add new plugin metadata
  plugins/legacy-plugin-chart-calendar/src/index.js
  plugins/legacy-plugin-chart-chord/src/images/chord.jpg
  plugins/legacy-plugin-chart-chord/src/index.js
  plugins/legacy-plugin-chart-heatmap/src/images/channels.jpg
  plugins/legacy-plugin-chart-heatmap/src/images/employment.jpg
  plugins/legacy-plugin-chart-heatmap/src/images/transportation.jpg
  plugins/legacy-plugin-chart-heatmap/src/index.js
  plugins/legacy-plugin-chart-histogram/src/images/example1.jpg
  plugins/legacy-plugin-chart-histogram/src/images/example2.jpg
  plugins/legacy-plugin-chart-histogram/src/images/example3.jpg
  plugins/legacy-plugin-chart-histogram/src/index.js
  plugins/legacy-plugin-chart-horizon/src/images/Horizon_Chart.jpg
  plugins/legacy-plugin-chart-horizon/src/index.js
  plugins/legacy-preset-chart-big-number/src/BigNumber/images/BigNumber.jpg
  plugins/legacy-preset-chart-big-number/src/BigNumber/images/BigNumber2.jpg
  plugins/legacy-preset-chart-big-number/src/BigNumber/index.ts
  plugins/legacy-preset-chart-big-number/src/BigNumberTotal/images/Big_Number_Trendline.jpg
  plugins/legacy-preset-chart-big-number/src/BigNumberTotal/index.ts
  plugins/legacy-preset-chart-big-number/src/types/external.d.ts
  plugins/legacy-preset-chart-nvd3/src/Area/images/example1.jpg
  plugins/legacy-preset-chart-nvd3/src/Area/images/example2.jpg
  plugins/legacy-preset-chart-nvd3/src/Area/images/example3.jpg
  plugins/legacy-preset-chart-nvd3/src/Area/images/example4.jpg
  plugins/legacy-preset-chart-nvd3/src/Area/index.js
  plugins/legacy-preset-chart-nvd3/src/Bar/images/grouped.jpg
  plugins/legacy-preset-chart-nvd3/src/Bar/images/percentage.jpg
  plugins/legacy-preset-chart-nvd3/src/Bar/images/stacked.jpg
  plugins/legacy-preset-chart-nvd3/src/Bar/index.js
  plugins/legacy-preset-chart-nvd3/src/Line/images/LineChart.jpg
  plugins/legacy-preset-chart-nvd3/src/Line/images/LineChart2.jpg
  plugins/legacy-preset-chart-nvd3/src/Line/images/battery.jpg
  plugins/legacy-preset-chart-nvd3/src/Line/index.js
  plugins/plugin-chart-echarts/src/BoxPlot/images/BoxPlot.jpg
  plugins/plugin-chart-echarts/src/BoxPlot/index.ts
  plugins/plugin-chart-echarts/types/external.d.ts
Due: plugins

inital commit
  plugins/legacy-plugin-chart-calendar/src/index.js
  plugins/legacy-plugin-chart-country-map/src/index.js
  plugins/legacy-plugin-chart-event-flow/src/index.ts
  plugins/legacy-preset-chart-big-number/src/BigNumber/index.ts
  plugins/legacy-preset-chart-big-number/src/BigNumberTotal/index.ts
  plugins/legacy-preset-chart-nvd3/src/Area/index.js
  plugins/legacy-preset-chart-nvd3/src/Bar/index.js
  plugins/legacy-preset-chart-nvd3/src/Bullet/index.js
  plugins/legacy-preset-chart-nvd3/src/DualLine/index.js
  plugins/plugin-chart-echarts/src/BoxPlot/index.ts
  plugins/preset-chart-xy/src/BoxPlot/createMetadata.ts
Due: plugins

capitalization
  plugins/legacy-preset-chart-nvd3/src/Bullet/index.js
Due: plugins

Update plugins/legacy-plugin-chart-calendar/src/index.js
  plugins/legacy-plugin-chart-calendar/src/index.js
Due: plugins

Update plugins/legacy-preset-chart-big-number/src/BigNumber/index.ts
  plugins/legacy-preset-chart-big-number/src/BigNumber/index.ts
Due: plugins

Update plugins/legacy-plugin-chart-histogram/src/index.js
  plugins/legacy-plugin-chart-histogram/src/index.js
Due: plugins

edits
  plugins/legacy-preset-chart-big-number/src/BigNumber/index.ts
  plugins/legacy-preset-chart-nvd3/src/Area/index.js
  plugins/legacy-preset-chart-nvd3/src/Bullet/index.js
  plugins/legacy-preset-chart-nvd3/src/Line/index.js
Due: plugins

Update plugins/legacy-preset-chart-nvd3/src/Bar/index.js
  plugins/legacy-preset-chart-nvd3/src/Bar/index.js
Due: plugins

fix: single quote
  plugins/legacy-preset-chart-nvd3/src/Bar/index.js
Due: plugins

fix(plugin-chart-echarts): radar legend control is duplicated
  plugins/plugin-chart-echarts/src/Radar/controlPanel.tsx
Due: plugins

fix(plugin-chart-echarts): radar legend control is duplicated (#1180)
  plugins/plugin-chart-echarts/src/Radar/controlPanel.tsx
Due: plugins

fix(core): missing translation (#1144)
  packages/superset-ui-core/src/chart/components/NoResultsComponent.tsx
  packages/superset-ui-core/test/chart/components/NoResultsComponent.test.tsx
Due: core-packages

fix(plugin-chart-echarts): tree graph tooltip polish
  plugins/plugin-chart-echarts/src/Tree/transformProps.ts
Due: plugins

fix(legacy-preset-chart-nvd3): dist_bar use useInteractiveGuideline function
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
Due: plugins

fix(plugin-chart-echarts): tree graph tooltip polish (#1182)
  plugins/plugin-chart-echarts/src/Tree/transformProps.ts
Due: plugins

Update plugins/legacy-preset-chart-nvd3/src/Bullet/index.js
  plugins/legacy-preset-chart-nvd3/src/Bullet/index.js
Due: plugins

fix: nvd3 bar chart sort by metric
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
  plugins/legacy-preset-chart-nvd3/src/transformProps.js
Due: plugins

chore: Add new plugin metadata (#1179)
  plugins/legacy-plugin-chart-calendar/src/index.js
  plugins/legacy-plugin-chart-chord/src/images/chord.jpg
  plugins/legacy-plugin-chart-chord/src/index.js
  plugins/legacy-plugin-chart-country-map/src/index.js
  plugins/legacy-plugin-chart-event-flow/src/index.ts
  plugins/legacy-plugin-chart-heatmap/src/images/channels.jpg
  plugins/legacy-plugin-chart-heatmap/src/images/employment.jpg
  plugins/legacy-plugin-chart-heatmap/src/images/transportation.jpg
  plugins/legacy-plugin-chart-heatmap/src/index.js
  plugins/legacy-plugin-chart-histogram/src/images/example1.jpg
  plugins/legacy-plugin-chart-histogram/src/images/example2.jpg
  plugins/legacy-plugin-chart-histogram/src/images/example3.jpg
  plugins/legacy-plugin-chart-histogram/src/index.js
  plugins/legacy-plugin-chart-horizon/src/images/Horizon_Chart.jpg
  plugins/legacy-plugin-chart-horizon/src/index.js
  plugins/legacy-preset-chart-big-number/src/BigNumber/images/BigNumber.jpg
  plugins/legacy-preset-chart-big-number/src/BigNumber/images/BigNumber2.jpg
  plugins/legacy-preset-chart-big-number/src/BigNumber/index.ts
  plugins/legacy-preset-chart-big-number/src/BigNumberTotal/images/Big_Number_Trendline.jpg
  plugins/legacy-preset-chart-big-number/src/BigNumberTotal/index.ts
  plugins/legacy-preset-chart-big-number/src/types/external.d.ts
  plugins/legacy-preset-chart-nvd3/src/Area/images/example1.jpg
  plugins/legacy-preset-chart-nvd3/src/Area/images/example2.jpg
  plugins/legacy-preset-chart-nvd3/src/Area/images/example3.jpg
  plugins/legacy-preset-chart-nvd3/src/Area/images/example4.jpg
  plugins/legacy-preset-chart-nvd3/src/Area/index.js
  plugins/legacy-preset-chart-nvd3/src/Bar/images/grouped.jpg
  plugins/legacy-preset-chart-nvd3/src/Bar/images/percentage.jpg
  plugins/legacy-preset-chart-nvd3/src/Bar/images/stacked.jpg
  plugins/legacy-preset-chart-nvd3/src/Bar/index.js
  plugins/legacy-preset-chart-nvd3/src/Bullet/index.js
  plugins/legacy-preset-chart-nvd3/src/DualLine/index.js
  plugins/legacy-preset-chart-nvd3/src/Line/images/LineChart.jpg
  plugins/legacy-preset-chart-nvd3/src/Line/images/LineChart2.jpg
  plugins/legacy-preset-chart-nvd3/src/Line/images/battery.jpg
  plugins/legacy-preset-chart-nvd3/src/Line/index.js
  plugins/plugin-chart-echarts/src/BoxPlot/images/BoxPlot.jpg
  plugins/plugin-chart-echarts/src/BoxPlot/index.ts
  plugins/plugin-chart-echarts/types/external.d.ts
  plugins/preset-chart-xy/src/BoxPlot/createMetadata.ts
Due: plugins

chore: publish v0.17.59
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

fix(plugin-chart-echarts): fix marker option is not work
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
Due: plugins

fix(plugin-chart-echarts): lint
  plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
Due: plugins

Use logic from https://github.com/apache-superset/superset-ui-plugins/pull/280/files for Pivot tables
  plugins/legacy-plugin-chart-pivot-table/src/transformProps.js
Due: plugins

Remove log
  plugins/legacy-plugin-chart-pivot-table/src/transformProps.js
Due: plugins

Add changes again after merging with master
  plugins/legacy-plugin-chart-pivot-table/src/transformProps.js
Due: plugins

fix(plugin-chart-table): wrong translation
  plugins/plugin-chart-table/src/i18n.ts
Due: plugins

fix(plugin-chart-table): chinesee translation improve (#1189)
  plugins/plugin-chart-table/src/i18n.ts
Due: plugins

fix(plugin-chart-echarts): [time-series][mixed timeseries] marker control does not work (#1187)
  plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
Due: plugins

feat(core): registry listeners + hook
  packages/superset-ui-core/src/models/Registry.ts
Due: core-packages

remove hook
  packages/superset-ui-core/src/models/Registry.ts
Due: core-packages

tests
  packages/superset-ui-core/test/models/Registry.test.ts
Due: core-packages

equivalent function
  packages/superset-ui-core/src/models/Registry.ts
Due: core-packages

name changes
  packages/superset-ui-core/src/models/Registry.ts
Due: core-packages

test broken listeners
  packages/superset-ui-core/test/models/Registry.test.ts
Due: core-packages

feat(core): Registry listeners (#1191)
  packages/superset-ui-core/src/models/Registry.ts
  packages/superset-ui-core/test/models/Registry.test.ts
Due: core-packages

chore: publish v0.17.60
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

code review fix
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/constants.tsx
  plugins/plugin-chart-table/src/controlPanel.tsx
Due: core-packages, plugins

add malaysia map. created via jupyter.
  plugins/legacy-plugin-chart-country-map/scripts/Country Map GeoJSON Generator.ipynb
  plugins/legacy-plugin-chart-country-map/src/countries.ts
  plugins/legacy-plugin-chart-country-map/src/countries/malaysia.geojson
Due: plugins

code review fix
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/ColumnConfigControl.tsx
Due: core-packages

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
