Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

feat(plugin-chart-echarts): single select by default for pie chart (#1204)
  plugins/plugin-chart-echarts/src/Pie/EchartsPie.tsx
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
Due: plugins

fix(plugin-chart-echarts): single select in boxPlot x-filtering (#1212)
  plugins/plugin-chart-echarts/src/BoxPlot/EchartsBoxPlot.tsx
  plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
Due: plugins

feat(plugin-chart-echarts): graph add x-filter
  plugins/plugin-chart-echarts/src/Graph/EchartsGraph.tsx
  plugins/plugin-chart-echarts/src/Graph/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Graph/transformProps.ts
  plugins/plugin-chart-echarts/src/Graph/types.ts
Due: plugins

chore: publish v0.17.65
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/plugin-chart-echarts/package.json
Due: core-packages, plugins

type system
  packages/superset-ui-chart-controls/src/sections/AdvancedAnalytics.tsx
  packages/superset-ui-chart-controls/src/sections/index.ts
  packages/superset-ui-chart-controls/src/sections/sections.tsx
  packages/superset-ui-core/src/query/types/AdvancedAnalytics.ts
  packages/superset-ui-core/src/query/types/QueryFormData.ts
  packages/superset-ui-core/src/query/types/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
Due: core-packages, plugins

rolling window
  packages/superset-ui-chart-controls/src/utils/AdvancedAnalyticsTransform.ts
  packages/superset-ui-chart-controls/src/utils/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
Due: core-packages, plugins

fix ut
  packages/superset-ui-core/src/query/types/QueryFormData.ts
Due: core-packages

codes massage
  packages/superset-ui-chart-controls/src/sections/AdvancedAnalytics.tsx
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/index.ts
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/rollingWindow.ts
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/timeCompare.ts
  packages/superset-ui-core/src/query/types/PostProcessing.ts
  packages/superset-ui-core/src/utils/ensureIsInt.ts
  packages/superset-ui-core/test/utils/ensureIsInt.test.ts
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
Due: core-packages, plugins

control UT
  packages/superset-ui-chart-controls/src/sections/AdvancedAnalytics.tsx
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/rollingWindow.ts
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/timeCompare.ts
  packages/superset-ui-chart-controls/test/utils/rollingWindow.test.ts
  packages/superset-ui-chart-controls/test/utils/timeCompare.test.ts
  packages/superset-ui-core/src/query/types/AdvancedAnalytics.ts
Due: core-packages

wip
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/index.ts
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/resample.ts
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/rollingWindow.ts
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/timeCompare.ts
Due: core-packages

wip
  packages/superset-ui-chart-controls/src/utils/AdvancedAnalyticsTransform.ts
Due: core-packages

fix: wip
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
Due: plugins

lint
  packages/superset-ui-chart-controls/src/sections/AdvancedAnalytics.tsx
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
Due: core-packages, plugins

feat: time comparsion
  packages/superset-ui-chart-controls/src/sections/AdvancedAnalytics.tsx
  packages/superset-ui-chart-controls/src/utils/AdvancedAnalyticsTransform.ts
  packages/superset-ui-core/src/query/types/AdvancedAnalytics.ts
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
Due: core-packages, plugins

wip
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/rollingWindow.ts
Due: core-packages

mixed time compare and rolling calculation
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/rollingWindow.ts
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/timeCompare.ts
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/utils/getMetricOffsetsMap.ts
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/utils/index.ts
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/utils/isValidTimeCompare.ts
  packages/superset-ui-core/src/query/types/PostProcessing.ts
  packages/superset-ui-core/src/query/types/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
Due: core-packages, plugins

improve code coverage
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/timeCompare.ts
  packages/superset-ui-chart-controls/test/utils/rollingWindow.test.ts
Due: core-packages

fix ut
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/rollingWindow.ts
  packages/superset-ui-chart-controls/test/utils/rollingWindow.test.ts
Due: core-packages

fix eslint
  packages/superset-ui-chart-controls/test/utils/rollingWindow.test.ts
  packages/superset-ui-chart-controls/test/utils/timeCompare.test.ts
Due: core-packages

ut coverage
  packages/superset-ui-chart-controls/test/utils/rollingWindow.test.ts
  packages/superset-ui-chart-controls/test/utils/timeCompare.test.ts
Due: core-packages

wip
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/rollingWindow.ts
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
Due: core-packages, plugins

rename transform to operator
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/rollingWindow.ts
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/timeCompare.ts
  packages/superset-ui-chart-controls/test/utils/rollingWindow.test.ts
  packages/superset-ui-chart-controls/test/utils/timeCompare.test.ts
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
Due: core-packages, plugins

jest coverage
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/rollingWindow.ts
  packages/superset-ui-chart-controls/test/utils/rollingWindow.test.ts
Due: core-packages

wip
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/rollingWindow.ts
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/timeCompare.ts
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/utils/getMetricOffsetsMap.ts
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/utils/isValidTimeCompare.ts
  packages/superset-ui-core/src/query/types/PostProcessing.ts
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
Due: core-packages, plugins

fix ut
  packages/superset-ui-chart-controls/test/utils/rollingWindow.test.ts
  packages/superset-ui-chart-controls/test/utils/timeCompare.test.ts
Due: core-packages

revert changes
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
Due: plugins

add custom chart series
  plugins/plugin-chart-ixora/src/Series/EchartsSeries.tsx
  plugins/plugin-chart-ixora/src/Series/buildQuery.ts
  plugins/plugin-chart-ixora/src/Series/controlPanel.tsx
  plugins/plugin-chart-ixora/src/Series/images/Time-series_Chart.jpg
  plugins/plugin-chart-ixora/src/Series/images/thumbnail.png
  plugins/plugin-chart-ixora/src/Series/index.ts
  plugins/plugin-chart-ixora/src/Series/transformProps.ts
  plugins/plugin-chart-ixora/src/Series/transformers.ts
  plugins/plugin-chart-ixora/src/Series/types.ts
  plugins/plugin-chart-ixora/src/components/Echart.tsx
  plugins/plugin-chart-ixora/src/constants.ts
  plugins/plugin-chart-ixora/src/controls.tsx
  plugins/plugin-chart-ixora/src/defaults.ts
  plugins/plugin-chart-ixora/src/index.ts
  plugins/plugin-chart-ixora/src/types.ts
  plugins/plugin-chart-ixora/src/utils/annotation.ts
  plugins/plugin-chart-ixora/src/utils/controls.ts
  plugins/plugin-chart-ixora/src/utils/prophet.ts
  plugins/plugin-chart-ixora/src/utils/series.ts
  plugins/plugin-chart-ixora/tsconfig.json
  plugins/plugin-chart-ixora/types/external.d.ts
Due: plugins

add package and readme
  plugins/plugin-chart-ixora/README.md
  plugins/plugin-chart-ixora/package.json
Due: plugins

frontend follow ups iteratrion 1
  packages/superset-ui-chart-controls/src/sections/advancedAnalytics.tsx
  packages/superset-ui-chart-controls/src/sections/index.ts
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/rollingWindow.ts
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/timeCompare.ts
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/types.ts
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/utils/getMetricOffsetsMap.ts
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/utils/isValidTimeCompare.ts
  packages/superset-ui-core/src/query/types/PostProcessing.ts
Due: core-packages

return files to echarts
  plugins/plugin-chart-echarts/README.md
  plugins/plugin-chart-echarts/package.json
Due: plugins

feat(chart-controls): implement color formatters utils
  packages/superset-ui-chart-controls/src/types.ts
  packages/superset-ui-chart-controls/src/utils/getColorFormatters.ts
  packages/superset-ui-chart-controls/src/utils/index.ts
Due: core-packages

Change enum name
  packages/superset-ui-chart-controls/src/types.ts
  packages/superset-ui-chart-controls/src/utils/getColorFormatters.ts
Due: core-packages

feat(plugin-chart-echarts): add x-filter for MixedTimeseries
  plugins/plugin-chart-echarts/src/MixedTimeseries/EchartsMixedTimeseries.tsx
  plugins/plugin-chart-echarts/src/MixedTimeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/MixedTimeseries/index.ts
  plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/MixedTimeseries/types.ts
Due: plugins

fix(plugin-chart-echarts): delete debugger
  plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
Due: plugins

feat(plugin-chart-echarts): crossfilter with single selection in the funnel chart (#1211)
  plugins/plugin-chart-echarts/src/Funnel/EchartsFunnel.tsx
  plugins/plugin-chart-echarts/src/Funnel/transformProps.ts
Due: plugins

Add unit tests
  packages/superset-ui-chart-controls/test/utils/getColorFormatters.test.ts
Due: core-packages

Fix tests
  packages/superset-ui-chart-controls/src/utils/getColorFormatters.ts
  packages/superset-ui-chart-controls/test/utils/getColorFormatters.test.ts
Due: core-packages

feat(plugin-charts-ixora)
  plugins/plugin-chart-ixora/src/Series/buildQuery.ts
  plugins/plugin-chart-ixora/src/Series/controlPanel.tsx
  tsconfig.json
  yarn.lock
Due: plugins

Add more tests
  packages/superset-ui-chart-controls/src/utils/getColorFormatters.ts
  packages/superset-ui-chart-controls/test/utils/getColorFormatters.test.ts
Due: core-packages

feat(chart-controls): implement color formatters utils (#1215)
  packages/superset-ui-chart-controls/src/types.ts
  packages/superset-ui-chart-controls/src/utils/getColorFormatters.ts
  packages/superset-ui-chart-controls/src/utils/index.ts
  packages/superset-ui-chart-controls/test/utils/getColorFormatters.test.ts
Due: core-packages

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
