Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

fix: remove package-lock.json (#1426)
  package.json
Due: none

chore: publish v0.18.15
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

feat(plugin-chart-echarts): support Extro Control on the area chart
  packages/superset-ui-chart-controls/src/shared-controls/components/RadioButtonControl.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
  plugins/plugin-chart-echarts/src/constants.ts
  plugins/plugin-chart-echarts/src/controls.tsx
  plugins/plugin-chart-echarts/src/types.ts
  plugins/plugin-chart-echarts/src/utils/series.ts
Due: core-packages, plugins

fix: type
  plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
Due: plugins

fix: type
  plugins/plugin-chart-echarts/src/MixedTimeseries/types.ts
Due: plugins

fix: merge conflicts
  plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
Due: plugins

fix: control panel order
  plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  plugins/plugin-chart-echarts/src/controls.tsx
Due: plugins

fix: Set default series limit to zero
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
Due: core-packages

add comment
  packages/superset-ui-core/src/connection/SupersetClientClass.ts
Due: core-packages

Update dndControls.tsx
  packages/superset-ui-chart-controls/src/shared-controls/dndControls.tsx
Due: core-packages

Update index.tsx
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
Due: core-packages

fix: lerna can't update package-lock.json
  package-lock.json
  package.json
  scripts/lernaVersion.sh
Due: none

upgrade commit message
  scripts/lernaVersion.sh
Due: none

fix: lerna can't update package-lock.json (#1432)
  package-lock.json
  package.json
  scripts/lernaVersion.sh
Due: none

fix: remove npm logout
  .github/workflows/release.yml
Due: none

fix: remove npm logout (#1433)
  .github/workflows/release.yml
Due: none

fix: unable bump new version
  .github/workflows/release.yml
  .gitignore
Due: none

fix: unable bump new version (#1434)
  .github/workflows/release.yml
  .gitignore
Due: none

feat: add storybook for missing chart and fix broken treemap
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Gauge/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Gauge/data.ts
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Graph/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Graph/data.ts
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Radar/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Radar/data.ts
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Treemap/Stories.tsx
Due: core-packages

fix: callback
  plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
Due: plugins

fix: show value on the selected series
  plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  plugins/plugin-chart-echarts/src/controls.tsx
  plugins/plugin-chart-echarts/src/utils/series.ts
Due: plugins

feat: add storybook for missing chart and fix broken treemap (#1427)
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Gauge/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Gauge/data.ts
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Graph/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Graph/data.ts
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Radar/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Radar/data.ts
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Treemap/Stories.tsx
Due: core-packages

feat: adds the option to show values for mixed time-series
  plugins/plugin-chart-echarts/src/MixedTimeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/MixedTimeseries/types.ts
Due: plugins

feat: adds the option to show values for mixed time-series (#1435)
  plugins/plugin-chart-echarts/src/MixedTimeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/MixedTimeseries/types.ts
Due: plugins

fix: show value on the selected series (#1429)
  plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  plugins/plugin-chart-echarts/src/controls.tsx
  plugins/plugin-chart-echarts/src/utils/series.ts
Due: plugins

Revert "feat: add default series_limit (#1033)"
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
Due: core-packages

docs: update chart sorting control labels/descriptions
  packages/superset-ui-chart-controls/src/shared-controls/dndControls.tsx
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
Due: core-packages

Update controlPanel.tsx
  plugins/plugin-chart-table/src/controlPanel.tsx
Due: plugins

chore: export esModule from chart-controls
  packages/superset-ui-chart-controls/src/types.ts
Due: core-packages

chore: export esModule from chart-controls (#1441)
  packages/superset-ui-chart-controls/src/types.ts
Due: core-packages

fix: can't update package-lock.json
  scripts/lernaVersion.sh
Due: none

fix: can't update package-lock.json (#1442)
  scripts/lernaVersion.sh
Due: none

chore: publish v0.18.16
  lerna.json
  package-lock.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

fix: incorrect commit message
  scripts/lernaVersion.sh
Due: none

fix: incorrect commit message (#1443)
  scripts/lernaVersion.sh
Due: none

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
