Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

feat: import theme colors (#601)
  packages/superset-ui-demo/storybook/stories/superset-ui-style/ThemeStories.jsx
  packages/superset-ui-style/src/index.ts
Due: core-packages

chore: upgrade @types/react (#613)
  packages/superset-ui-chart-composition/package.json
  packages/superset-ui-chart/package.json
  plugins/legacy-plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  temporary-plugins/package.json
  temporary-plugins/superset-ui-plugins-demo/package.json
  yarn.lock
Due: core-packages, plugins

fix: pointing nvd3 package to nvd3-fork (#615)
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
Due: plugins

chore: publish v0.13.31
  lerna.json
  packages/superset-ui-chart-composition/package.json
  packages/superset-ui-chart/package.json
  packages/superset-ui-control-utils/package.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-superset-ui/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-table/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

refactor(control-utils): reorganize files and refine typing (#610)
  packages/superset-ui-control-utils/src/components/ColumnOption.tsx
  packages/superset-ui-control-utils/src/components/ColumnTypeLabel.tsx
  packages/superset-ui-control-utils/src/components/InfoTooltipWithTrigger.tsx
  packages/superset-ui-control-utils/src/components/MetricOption.tsx
  packages/superset-ui-control-utils/src/index.ts
  packages/superset-ui-control-utils/src/shared-controls.tsx
  packages/superset-ui-control-utils/src/types.ts
  packages/superset-ui-control-utils/src/utils/D3Formatting.ts
  packages/superset-ui-control-utils/src/utils/mainMetric.ts
  packages/superset-ui-control-utils/src/utils/selectOptions.ts
  packages/superset-ui-control-utils/test/components/ColumnOption.test.tsx
  packages/superset-ui-control-utils/test/components/ColumnTypeLabel.test.tsx
  packages/superset-ui-control-utils/test/components/InfoTooltipWithTrigger.test.tsx
  packages/superset-ui-control-utils/test/components/MetricOption.test.tsx
  packages/superset-ui-control-utils/test/selectOptions.test.ts
  packages/superset-ui-control-utils/test/utils/mainMetric.test.ts
  packages/superset-ui-control-utils/test/utils/selectOptions.test.ts
Due: core-packages

build: clean package-lock.json before release (#621)
  package.json
Due: none

build: update package versions in peerDependencies (#622)
  packages/superset-ui-chart-composition/package.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-chart/package.json
  packages/superset-ui-color/package.json
  packages/superset-ui-number-format/package.json
  packages/superset-ui-query/package.json
  packages/superset-ui-time-format/package.json
  packages/superset-ui-validator/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-iframe/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-markup/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-word-cloud/README.md
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
  temporary-plugins/hold-potentially-deprecate/superset-ui-legacy-plugin-chart-word-cloud/package.json
  temporary-plugins/hold-potentially-deprecate/superset-ui-plugin-chart-table/package.json
  temporary-plugins/package.json
  temporary-plugins/superset-ui-plugins-demo/package.json
Due: core-packages, plugins

build: bump @types/react to 16.9.38 (#619)
  package.json
  packages/superset-ui-chart-composition/package.json
  packages/superset-ui-chart/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-word-cloud/package.json
  temporary-plugins/package.json
  temporary-plugins/superset-ui-plugins-demo/package.json
  yarn.lock
Due: core-packages, plugins

chore(legacy-plugin-chart-country-map): use peerDependencies (#628)
  plugins/legacy-plugin-chart-country-map/package.json
Due: plugins

chore: publish v0.14.1
  lerna.json
  packages/superset-ui-chart-composition/package.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-chart/package.json
  packages/superset-ui-color/package.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-number-format/package.json
  packages/superset-ui-query/package.json
  packages/superset-ui-superset-ui/package.json
  packages/superset-ui-time-format/package.json
  packages/superset-ui-validator/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-iframe/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-markup/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

chore: publish v0.14.2
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-color/package.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-superset-ui/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-table/package.json
  plugins/plugin-chart-table/package.json
Due: core-packages, plugins

feat(legacy-table-chart): add query mode switch (#609)
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-chart-controls/src/components/RadioButtonControl.tsx
  packages/superset-ui-chart-controls/src/index.ts
  packages/superset-ui-chart-controls/src/shared-controls/components.tsx
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  packages/superset-ui-chart-controls/src/types.ts
  packages/superset-ui-chart-controls/src/utils/expandControlConfig.tsx
  packages/superset-ui-chart-controls/test/utils/expandControlConfig.test.tsx
  plugins/legacy-plugin-chart-table/package.json
  plugins/legacy-plugin-chart-table/src/controlPanel.tsx
  plugins/plugin-chart-table/src/controlPanel.tsx
  plugins/plugin-chart-table/src/transformProps.ts
Due: core-packages, plugins

fix ts error
  packages/superset-ui-control-utils/src/MetricOption.tsx
Due: core-packages

chore: make @superset-ui/plugin-chart-table public
  plugins/plugin-chart-table/package.json
Due: plugins

feat: metric option added to control utils
  packages/superset-ui-control-utils/src/MetricOption.tsx
Due: core-packages

fix: got one color wrong when copy pasting (#624)
  packages/superset-ui-color/src/colorSchemes/categorical/superset.ts
Due: core-packages

fix metricoption bug and add tests
  packages/superset-ui-chart-controls/src/components/ColumnOption.tsx
  packages/superset-ui-chart-controls/src/components/ColumnTypeLabel.tsx
  packages/superset-ui-chart-controls/test/components/ColumnOption.test.tsx
  packages/superset-ui-control-utils/src/MetricOption.tsx
  packages/superset-ui-control-utils/test/MetricOption.test.tsx
Due: core-packages

fix read me
  plugins/legacy-plugin-chart-time-table/README.md
Due: plugins

fix
  packages/superset-ui-chart-controls/src/components/ColumnOption.tsx
  packages/superset-ui-chart-controls/test/components/ColumnOption.test.tsx
Due: core-packages

add opacity and zIndex variables to theme
  packages/superset-ui-style/src/index.ts
Due: core-packages

feat: fallback to default buildQuery for V1 requests
  packages/superset-ui-chart/src/clients/ChartClient.ts
  packages/superset-ui-chart/test/clients/ChartClient.test.ts
Due: core-packages

fix v1 queryContext payload schema
  packages/superset-ui-chart/src/clients/ChartClient.ts
Due: core-packages

chore: upgrade react-table to v7.2.1
  plugins/plugin-chart-table/package.json
  yarn.lock
Due: plugins

add opacity and zIndex variables to theme (#632)
  packages/superset-ui-style/src/index.ts
Due: core-packages

chore: publish v0.14.3
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-color/package.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-style/package.json
  packages/superset-ui-superset-ui/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-table/package.json
  plugins/plugin-chart-table/package.json
Due: core-packages, plugins

add typescript to time-table
  plugins/legacy-plugin-chart-time-table/README.md
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-time-table/src/FormattedNumber.tsx
  plugins/legacy-plugin-chart-time-table/src/SparklineCell.jsx
  plugins/legacy-plugin-chart-time-table/src/TimeTable.less
  plugins/legacy-plugin-chart-time-table/src/TimeTable.tsx
  plugins/legacy-plugin-chart-time-table/src/TimeTableChartPlugin.ts
  plugins/legacy-plugin-chart-time-table/src/controlPanel.ts
  plugins/legacy-plugin-chart-time-table/src/images/thumbnail.png
  plugins/legacy-plugin-chart-time-table/src/images/thumbnailLarge.png
  plugins/legacy-plugin-chart-time-table/src/index.ts
  plugins/legacy-plugin-chart-time-table/src/transformProps.ts
  plugins/legacy-plugin-chart-time-table/types/external.d.ts
Due: plugins

finish converting types
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-time-table/src/SparklineCell.tsx
  plugins/legacy-plugin-chart-time-table/src/TimeTable.tsx
  plugins/legacy-plugin-chart-time-table/types/external.d.ts
Due: plugins

upgrade reat and react types
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-time-table/src/TimeTableChartPlugin.ts
  plugins/legacy-plugin-chart-time-table/src/index.ts
  plugins/legacy-plugin-chart-time-table/src/transformProps.ts
  yarn.lock
Due: plugins

update chart-control version
  plugins/legacy-plugin-chart-time-table/package.json
Due: plugins

feat: hello world plugin (class, non-timeseries, no badges)
  plugins/plugin-chart-hello-world/README.md
  plugins/plugin-chart-hello-world/package.json
  plugins/plugin-chart-hello-world/src/HelloWorld.tsx
  plugins/plugin-chart-hello-world/src/images/thumbnail.png
  plugins/plugin-chart-hello-world/src/index.ts
  plugins/plugin-chart-hello-world/src/plugin/buildQuery.ts
  plugins/plugin-chart-hello-world/src/plugin/controlPanel.ts
  plugins/plugin-chart-hello-world/src/plugin/index.ts
  plugins/plugin-chart-hello-world/src/plugin/transformProps.ts
  plugins/plugin-chart-hello-world/src/types.ts
  plugins/plugin-chart-hello-world/test/index.test.ts
  plugins/plugin-chart-hello-world/types/external.d.ts
Due: plugins

feat: hello world generated plugin (function, non-timeseries, no badges)
  plugins/plugin-chart-hello-world/README.md
  plugins/plugin-chart-hello-world/package.json
  plugins/plugin-chart-hello-world/src/HelloWorld.tsx
  plugins/plugin-chart-hello-world/src/images/thumbnail.png
  plugins/plugin-chart-hello-world/src/index.ts
  plugins/plugin-chart-hello-world/src/plugin/buildQuery.ts
  plugins/plugin-chart-hello-world/src/plugin/controlPanel.ts
  plugins/plugin-chart-hello-world/src/plugin/index.ts
  plugins/plugin-chart-hello-world/src/plugin/transformProps.ts
  plugins/plugin-chart-hello-world/src/types.ts
  plugins/plugin-chart-hello-world/test/index.test.ts
  plugins/plugin-chart-hello-world/types/external.d.ts
Due: plugins

feat: hello world generated plugin (function, timeseries, no badges)
  plugins/plugin-chart-hello-world/README.md
  plugins/plugin-chart-hello-world/package.json
  plugins/plugin-chart-hello-world/src/HelloWorld.tsx
  plugins/plugin-chart-hello-world/src/images/thumbnail.png
  plugins/plugin-chart-hello-world/src/index.ts
  plugins/plugin-chart-hello-world/src/plugin/buildQuery.ts
  plugins/plugin-chart-hello-world/src/plugin/controlPanel.ts
  plugins/plugin-chart-hello-world/src/plugin/index.ts
  plugins/plugin-chart-hello-world/src/plugin/transformProps.ts
  plugins/plugin-chart-hello-world/src/types.ts
  plugins/plugin-chart-hello-world/test/index.test.ts
  plugins/plugin-chart-hello-world/types/external.d.ts
Due: plugins

convert para coords chart to emotion styling
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/src/ParallelCoordinates.css
  plugins/legacy-plugin-chart-parallel-coordinates/src/ParallelCoordinates.js
  plugins/legacy-plugin-chart-parallel-coordinates/src/ReactParallelCoordinates.jsx
  plugins/legacy-plugin-chart-parallel-coordinates/src/index.js
Due: plugins

chore: upgrade react-table to v7.2.1 (#633)
  plugins/plugin-chart-table/package.json
  yarn.lock
Due: plugins

update hello world
  plugins/plugin-chart-hello-world/src/plugin/buildQuery.ts
  plugins/plugin-chart-hello-world/src/types.ts
  plugins/plugin-chart-hello-world/test/index.test.ts
  plugins/plugin-chart-hello-world/test/plugin/buildQuery.test.ts
  plugins/plugin-chart-hello-world/test/plugin/transformProps.test.ts
Due: plugins

rebuild
  plugins/plugin-chart-hello-world/src/plugin/buildQuery.ts
  plugins/plugin-chart-hello-world/src/types.ts
  plugins/plugin-chart-hello-world/test/index.test.ts
  plugins/plugin-chart-hello-world/test/plugin/buildQuery.test.ts
  plugins/plugin-chart-hello-world/test/plugin/transformProps.test.ts
Due: plugins

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
