Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

feat: add resample operator to advanced analytic (#1349)
  packages/superset-ui-chart-controls/src/operators/resampleOperator.ts
  packages/superset-ui-chart-controls/src/sections/advancedAnalytics.tsx
  packages/superset-ui-chart-controls/test/utils/operators/resampleOperator.test.ts
  packages/superset-ui-core/src/query/types/PostProcessing.ts
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
Due: core-packages, plugins

chore: publish v0.18.5
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

Add new feature flag DATASET_RBAC
  packages/superset-ui-core/src/utils/featureFlags.ts
Due: core-packages

feat(plugin-chart-echarts): new sunburst echart port
  plugins/plugin-chart-echarts/src/Sunburst/Sunburst.tsx
  plugins/plugin-chart-echarts/src/Sunburst/buildQuery.ts
  plugins/plugin-chart-echarts/src/Sunburst/constants.ts
  plugins/plugin-chart-echarts/src/Sunburst/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Sunburst/images/example.png
  plugins/plugin-chart-echarts/src/Sunburst/images/thumbnail.png
  plugins/plugin-chart-echarts/src/Sunburst/images/thumbnailLarge.png
  plugins/plugin-chart-echarts/src/Sunburst/index.ts
  plugins/plugin-chart-echarts/src/Sunburst/transformProps.ts
  plugins/plugin-chart-echarts/src/Sunburst/types.ts
  plugins/plugin-chart-echarts/src/index.ts
Due: plugins

feat(plugin-chart-echarts): new sunburst echart port
  plugins/plugin-chart-echarts/src/Sunburst/transformProps.ts
Due: plugins

feat(plugin-chart-echarts): small cleanup
  plugins/plugin-chart-echarts/src/Sunburst/transformProps.ts
Due: plugins

refactor: improve code smell for postprocessing
  packages/superset-ui-chart-controls/src/operators/boxplotOperator.ts
  packages/superset-ui-chart-controls/src/operators/contributionOperator.ts
  packages/superset-ui-chart-controls/src/operators/prophetOperator.ts
  plugins/plugin-chart-echarts/src/BoxPlot/buildQuery.ts
  plugins/plugin-chart-echarts/src/BoxPlot/types.ts
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
Due: core-packages, plugins

jest UT
  packages/superset-ui-chart-controls/test/utils/operators/boxplotOperator.test.ts
  packages/superset-ui-chart-controls/test/utils/operators/contributionOperator.test.ts
  packages/superset-ui-chart-controls/test/utils/operators/prophetOperator.test.ts
Due: core-packages

best practice for jest
  packages/superset-ui-chart-controls/test/utils/operators/boxplotOperator.test.ts
  packages/superset-ui-chart-controls/test/utils/operators/contributionOperator.test.ts
  packages/superset-ui-chart-controls/test/utils/operators/pivotOperator.test.ts
  packages/superset-ui-chart-controls/test/utils/operators/prophetOperator.test.ts
  packages/superset-ui-chart-controls/test/utils/operators/resampleOperator.test.ts
  packages/superset-ui-chart-controls/test/utils/operators/rollingWindowOperator.test.ts
  packages/superset-ui-chart-controls/test/utils/operators/sortOperator.test.ts
  packages/superset-ui-chart-controls/test/utils/operators/timeCompareOperator.test.ts
Due: core-packages

refactor: improve code smell for postprocessing (#1368)
  packages/superset-ui-chart-controls/src/operators/boxplotOperator.ts
  packages/superset-ui-chart-controls/src/operators/contributionOperator.ts
  packages/superset-ui-chart-controls/src/operators/prophetOperator.ts
  packages/superset-ui-chart-controls/test/utils/operators/boxplotOperator.test.ts
  packages/superset-ui-chart-controls/test/utils/operators/contributionOperator.test.ts
  packages/superset-ui-chart-controls/test/utils/operators/pivotOperator.test.ts
  packages/superset-ui-chart-controls/test/utils/operators/prophetOperator.test.ts
  packages/superset-ui-chart-controls/test/utils/operators/rollingWindowOperator.test.ts
  packages/superset-ui-chart-controls/test/utils/operators/sortOperator.test.ts
  packages/superset-ui-chart-controls/test/utils/operators/timeCompareOperator.test.ts
  plugins/plugin-chart-echarts/src/BoxPlot/buildQuery.ts
  plugins/plugin-chart-echarts/src/BoxPlot/types.ts
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
Due: core-packages, plugins

chore(plugin-chart-echarts): bump to ECharts 5.2.1
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
  plugins/plugin-chart-echarts/src/BoxPlot/types.ts
  plugins/plugin-chart-echarts/src/Funnel/transformProps.ts
  plugins/plugin-chart-echarts/src/Funnel/types.ts
  plugins/plugin-chart-echarts/src/Gauge/transformProps.ts
  plugins/plugin-chart-echarts/src/Graph/transformProps.ts
  plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/MixedTimeseries/types.ts
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Pie/types.ts
  plugins/plugin-chart-echarts/src/Radar/transformProps.ts
  plugins/plugin-chart-echarts/src/Radar/types.ts
  plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  plugins/plugin-chart-echarts/src/Tree/transformProps.ts
  plugins/plugin-chart-echarts/src/Treemap/transformProps.ts
  plugins/plugin-chart-echarts/src/Treemap/types.ts
  plugins/plugin-chart-echarts/src/types.ts
  yarn.lock
Due: plugins

issue 1369
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
  plugins/plugin-chart-pivot-table/src/plugin/controlPanel.ts
  plugins/plugin-chart-pivot-table/src/plugin/transformProps.ts
  plugins/plugin-chart-pivot-table/src/types.ts
Due: plugins

ignore type error
  plugins/plugin-chart-echarts/src/Funnel/transformProps.ts
Due: plugins

chore(plugin-chart-echarts): bump to ECharts 5.2.1 (#1370)
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
  plugins/plugin-chart-echarts/src/BoxPlot/types.ts
  plugins/plugin-chart-echarts/src/Funnel/transformProps.ts
  plugins/plugin-chart-echarts/src/Funnel/types.ts
  plugins/plugin-chart-echarts/src/Gauge/transformProps.ts
  plugins/plugin-chart-echarts/src/Graph/transformProps.ts
  plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/MixedTimeseries/types.ts
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Pie/types.ts
  plugins/plugin-chart-echarts/src/Radar/transformProps.ts
  plugins/plugin-chart-echarts/src/Radar/types.ts
  plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  plugins/plugin-chart-echarts/src/Tree/transformProps.ts
  plugins/plugin-chart-echarts/src/Treemap/transformProps.ts
  plugins/plugin-chart-echarts/src/Treemap/types.ts
  plugins/plugin-chart-echarts/src/types.ts
  yarn.lock
Due: plugins

fix: pivot-table-fixed (#1360)
  plugins/legacy-plugin-chart-pivot-table/src/PivotTable.js
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
  plugins/plugin-chart-pivot-table/src/types.ts
Due: plugins

refactor(core): move mexp from plugins to core
  packages/superset-ui-core/package.json
  packages/superset-ui-core/src/index.ts
  packages/superset-ui-core/src/math-expression/index.ts
  packages/superset-ui-core/test/math-expression/index.test.ts
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  plugins/plugin-chart-echarts/src/utils/annotation.ts
Due: core-packages, plugins

remove test nest
  packages/superset-ui-core/test/math-expression/index.test.ts
Due: core-packages

refactor(core): move mexp from plugins to core (#1371)
  packages/superset-ui-core/package.json
  packages/superset-ui-core/src/index.ts
  packages/superset-ui-core/src/math-expression/index.ts
  packages/superset-ui-core/test/math-expression/index.test.ts
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  plugins/plugin-chart-echarts/src/utils/annotation.ts
Due: core-packages, plugins

chore: publish v0.18.6
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

feat(plugin-chart-echarts): all controls complete
  plugins/legacy-plugin-chart-sunburst/src/Sunburst.js
  plugins/plugin-chart-echarts/src/Sunburst/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Sunburst/index.ts
  plugins/plugin-chart-echarts/src/Sunburst/transformProps.ts
  plugins/plugin-chart-echarts/src/Sunburst/types.ts
Due: plugins

feat(plugin-chart-echarts): tests complete
  plugins/plugin-chart-echarts/src/Sunburst/transformProps.ts
  plugins/plugin-chart-echarts/test/Sunburst/buildQuery.test.ts
  plugins/plugin-chart-echarts/test/Sunburst/transformProps.test.ts
Due: plugins

feat(plugin-chart-echarts): support double clicking legend
  plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/components/Echart.tsx
  plugins/plugin-chart-echarts/src/types.ts
Due: plugins

fix: get echart instance instead of method
  plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  plugins/plugin-chart-echarts/src/components/Echart.tsx
  plugins/plugin-chart-echarts/src/types.ts
Due: plugins

fix: lint
  plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
Due: plugins

feat: support click series to view single series
  plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  plugins/plugin-chart-echarts/src/components/Echart.tsx
  plugins/plugin-chart-echarts/src/types.ts
Due: plugins

fix: clear single select
  plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
Due: plugins

fix: remove unused comment
  plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
Due: plugins

fix: UT
  plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
Due: plugins

chore: Remove immutable.js from map-box
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-map-box/src/MapBox.jsx
  plugins/legacy-plugin-chart-map-box/src/ScatterPlotGlowOverlay.jsx
  yarn.lock
Due: plugins

chore: Remove immutable.js from map-box (#1375)
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-map-box/src/MapBox.jsx
  plugins/legacy-plugin-chart-map-box/src/ScatterPlotGlowOverlay.jsx
  yarn.lock
Due: plugins

chore: publish v0.18.7
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-map-box/package.json
Due: core-packages, plugins

feat(plugin-chart-echart) linit
  plugins/plugin-chart-echarts/src/Sunburst/transformProps.ts
  plugins/plugin-chart-echarts/src/Sunburst/types.ts
Due: plugins

feat(plugin-chart-echart) more lint
  plugins/plugin-chart-echarts/src/Sunburst/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Sunburst/transformProps.ts
Due: plugins

feat(plugin-chart-echart) more lint
  plugins/legacy-plugin-chart-sunburst/src/Sunburst.js
  plugins/plugin-chart-echarts/src/Sunburst/constants.ts
  plugins/plugin-chart-echarts/src/Sunburst/transformProps.ts
Due: plugins

feat(plugin-chart-echart) added stories
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Sunburst/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Sunburst/data.ts
Due: core-packages

feat(plugin-chart-echart) added cross filter control
  plugins/plugin-chart-echarts/src/Sunburst/controlPanel.tsx
Due: plugins

fix: lint
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/AnimatableDeckGLContainer.jsx
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/CategoricalDeckGLContainer.jsx
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/DeckGLContainer.jsx
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/Legend.css
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/Legend.jsx
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/Multi/Multi.jsx
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/Multi/index.js
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/PlaySlider.css
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/PlaySlider.jsx
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/TooltipRow.jsx
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/css/deckgl.css
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/factory.jsx
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/layers/Arc/Arc.jsx
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/layers/Arc/index.js
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/layers/Geojson/Geojson.jsx
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/layers/Geojson/index.js
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/layers/Grid/Grid.jsx
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/layers/Grid/index.js
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/layers/Hex/Hex.jsx
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/layers/Hex/index.js
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/layers/Path/Path.jsx
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/layers/Path/index.js
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/layers/Polygon/Polygon.jsx
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/layers/Scatter/Scatter.jsx
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/layers/Scatter/index.js
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/layers/Screengrid/Screengrid.jsx
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/layers/Screengrid/index.js
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/layers/common.jsx
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/transformProps.js
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/utils.js
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/utils/colors.js
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/utils/sandbox.js
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/utils/time.js
Due: plugins

fix: lints (mostly disabled)
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/package.json
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/AnimatableDeckGLContainer.jsx
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/CategoricalDeckGLContainer.jsx
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/DeckGLContainer.jsx
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/Multi/Multi.jsx
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/components/BootstrapSliderWrapper.css
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/components/BootstrapSliderWrapper.jsx
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/components/Legend.css
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/components/Legend.jsx
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/components/PlaySlider.css
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/components/PlaySlider.jsx
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/factory.jsx
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/layers/Arc/Arc.jsx
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/layers/Geojson/Geojson.jsx
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/layers/Grid/Grid.jsx
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/layers/Hex/Hex.jsx
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/layers/Path/Path.jsx
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/layers/Polygon/Polygon.jsx
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/layers/Scatter/Scatter.jsx
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/layers/Screengrid/Screengrid.jsx
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/layers/common.jsx
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/transformProps.js
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/utils.js
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/utils/colors.js
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/utils/explore.js
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/utils/geo.js
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/utils/safeStringify.js
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/utils/sandbox.js
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/utils/time.js
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-preset-chart-deckgl/src/utils/utils.js
Due: plugins

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
