Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

fix: show question mark icon when can not infer datatype
  packages/superset-ui-chart-controls/src/components/ColumnTypeLabel.tsx
Due: core-packages

refactor: fix table CR notes
  packages/superset-ui-core/src/chart/types/TransformFunction.ts
  packages/superset-ui-core/src/query/buildQueryContext.ts
  packages/superset-ui-core/src/query/types/Query.ts
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/buildQuery.ts
  plugins/plugin-chart-table/src/consts.ts
  plugins/plugin-chart-table/src/controlPanel.tsx
  plugins/plugin-chart-table/src/transformProps.ts
  plugins/plugin-chart-table/src/types.ts
Due: core-packages, plugins

add styled components
  plugins/legacy-plugin-chart-sankey/src/ReactSankey.jsx
  plugins/legacy-plugin-chart-sankey/src/Sankey.css
  plugins/legacy-plugin-chart-sankey/src/Sankey.js
  plugins/legacy-plugin-chart-sankey/src/transformProps.js
  plugins/legacy-plugin-chart-sankey/src/utils.ts
Due: plugins

lint: fix TS
  packages/superset-ui-core/src/query/buildQueryContext.ts
Due: core-packages

type
  plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/utils/series.ts
Due: plugins

lint: fix TS
  packages/superset-ui-core/src/chart/types/TransformFunction.ts
  packages/superset-ui-core/src/query/buildQueryContext.ts
  plugins/plugin-chart-table/src/index.ts
Due: core-packages, plugins

lint: fix TS
  packages/superset-ui-core/src/chart/registries/ChartBuildQueryRegistrySingleton.ts
  packages/superset-ui-core/src/query/buildQueryContext.ts
  plugins/plugin-chart-table/src/buildQuery.ts
Due: core-packages, plugins

lint: fix TS
  packages/superset-ui-core/src/chart/registries/ChartBuildQueryRegistrySingleton.ts
Due: core-packages

add mapping for coltypes & add chart props type for chart
  plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
  plugins/plugin-chart-echarts/src/BoxPlot/types.ts
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/types.ts
  plugins/plugin-chart-echarts/src/utils/series.ts
Due: plugins

type
  plugins/plugin-chart-echarts/src/BoxPlot/index.ts
  plugins/plugin-chart-echarts/src/Pie/index.ts
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Pie/types.ts
  plugins/plugin-chart-echarts/src/types.ts
Due: plugins

type
  plugins/plugin-chart-echarts/src/BoxPlot/index.ts
  plugins/plugin-chart-echarts/src/BoxPlot/types.ts
  plugins/plugin-chart-echarts/src/Pie/index.ts
  plugins/plugin-chart-echarts/src/Pie/types.ts
Due: plugins

resolve comments
  plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/utils/series.ts
Due: plugins

lint: fix TS
  packages/superset-ui-core/src/chart/registries/ChartBuildQueryRegistrySingleton.ts
  packages/superset-ui-core/src/chart/types/TransformFunction.ts
  plugins/plugin-chart-table/src/DataTable/utils/externalAPIs.ts
  plugins/plugin-chart-table/src/buildQuery.ts
Due: core-packages, plugins

fix: rename DnD types to match component names in Superset
  packages/superset-ui-chart-controls/src/shared-controls/dndControls.tsx
  packages/superset-ui-chart-controls/src/types.ts
Due: core-packages

lint: update types
  packages/superset-ui-core/src/chart/registries/ChartBuildQueryRegistrySingleton.ts
  plugins/plugin-chart-table/src/buildQuery.ts
Due: core-packages, plugins

lint: update types
  packages/superset-ui-core/src/chart/registries/ChartBuildQueryRegistrySingleton.ts
Due: core-packages

lint: fix TS
  packages/superset-ui-core/src/chart/registries/ChartBuildQueryRegistrySingleton.ts
  packages/superset-ui-core/src/chart/types/TransformFunction.ts
  packages/superset-ui-core/src/query/buildQueryContext.ts
  plugins/plugin-chart-table/src/buildQuery.ts
Due: core-packages, plugins

fix: rename DnD types to match component names in Superset (#988)
  packages/superset-ui-chart-controls/src/shared-controls/dndControls.tsx
  packages/superset-ui-chart-controls/src/types.ts
Due: core-packages

Change to formData from rawFormData
  plugins/plugin-chart-echarts/src/BoxPlot/types.ts
  plugins/plugin-chart-echarts/src/Pie/types.ts
Due: plugins

lint: fix TS
  packages/superset-ui-core/src/chart/registries/ChartBuildQueryRegistrySingleton.ts
  packages/superset-ui-core/src/chart/types/TransformFunction.ts
  packages/superset-ui-core/src/query/buildQueryContext.ts
Due: core-packages

feat: responsive heatmap
  plugins/legacy-plugin-chart-heatmap/src/Heatmap.js
Due: plugins

Rotate labels
  plugins/legacy-plugin-chart-heatmap/src/Heatmap.js
Due: plugins

Replace document with container
  plugins/legacy-plugin-chart-sankey/src/Sankey.js
Due: plugins

chore: publish v0.17.14
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

Return overlapping elements
  plugins/legacy-plugin-chart-sankey/src/Sankey.js
  plugins/legacy-plugin-chart-sankey/src/tests/utils.test.js
  plugins/legacy-plugin-chart-sankey/src/utils.ts
Due: plugins

Drag
  plugins/legacy-plugin-chart-sankey/src/ReactSankey.jsx
  plugins/legacy-plugin-chart-sankey/src/Sankey.js
  plugins/legacy-plugin-chart-sankey/src/utils.ts
Due: plugins

Fix lint
  plugins/legacy-plugin-chart-sankey/src/Sankey.js
Due: plugins

Fix test & make tooltip absoliute based on cursor position
  plugins/legacy-plugin-chart-sankey/src/ReactSankey.jsx
  plugins/legacy-plugin-chart-sankey/src/Sankey.js
  plugins/legacy-plugin-chart-sankey/src/tests/utils.test.js
Due: plugins

fix(plugin-chart-echarts): fix GraphViz crash when DnD FF enable
  plugins/plugin-chart-echarts/src/Graph/controlPanel.tsx
Due: plugins

fix ts issue
  plugins/plugin-chart-echarts/src/Graph/controlPanel.tsx
Due: plugins

Update story for heatmap chart
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-heatmap/Stories.tsx
  plugins/legacy-plugin-chart-heatmap/src/Heatmap.css
  plugins/legacy-plugin-chart-heatmap/src/Heatmap.js
Due: core-packages, plugins

Update storybook for charts
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-sankey/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-sunburst/Stories.tsx
Due: core-packages

Add for withNullData chart
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-heatmap/Stories.tsx
Due: core-packages

Resizable
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-heatmap/Stories.tsx
Due: core-packages

Resizable in separate page
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-sankey/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-sunburst/Stories.tsx
Due: core-packages

Fix responsive class for sunburst
  plugins/legacy-plugin-chart-sunburst/src/Sunburst.js
Due: plugins

type
  plugins/legacy-plugin-chart-sunburst/src/Sunburst.js
Due: plugins

feat: add BE pagination to table with pages (#985)
  packages/superset-ui-core/src/chart/registries/ChartBuildQueryRegistrySingleton.ts
  packages/superset-ui-core/src/chart/types/TransformFunction.ts
  packages/superset-ui-core/src/query/buildQueryContext.ts
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/DataTable/components/SelectPageSize.tsx
  plugins/plugin-chart-table/src/DataTable/components/ServerPagination.tsx
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/buildQuery.ts
  plugins/plugin-chart-table/src/consts.ts
  plugins/plugin-chart-table/src/controlPanel.tsx
  plugins/plugin-chart-table/src/index.ts
  plugins/plugin-chart-table/src/transformProps.ts
  plugins/plugin-chart-table/src/types.ts
  plugins/plugin-chart-table/test/buildQuery.test.ts
Due: core-packages, plugins

feat: responsive heatmap (#989)
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-heatmap/Stories.tsx
  plugins/legacy-plugin-chart-heatmap/src/Heatmap.css
  plugins/legacy-plugin-chart-heatmap/src/Heatmap.js
Due: core-packages, plugins

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
