Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

fix(legacy-plugin-chart-sunburst): move color scheme controls to own row
  plugins/legacy-plugin-chart-sunburst/src/controlPanel.ts
Due: plugins

fix linting errors
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/constants.tsx
  plugins/plugin-chart-table/src/TableChart.tsx
Due: core-packages, plugins

fix(plugin-chart-pivot-table): make date formatting clearable (#1261)
  plugins/plugin-chart-pivot-table/src/plugin/controlPanel.ts
Due: plugins

feat(plugin-chart-pivot-table): add automatic conditional formatter (#1264)
  packages/superset-ui-chart-controls/src/types.ts
  packages/superset-ui-chart-controls/src/utils/getColorFormatters.ts
  packages/superset-ui-chart-controls/test/utils/getColorFormatters.test.ts
  yarn.lock
Due: core-packages

fix(legacy-plugin-chart-sunburst): move color scheme controls to own row (#1263)
  plugins/legacy-plugin-chart-sunburst/src/controlPanel.ts
Due: plugins

fix(plugin-chart-pivot-table): dont display nulls as 0
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
Due: plugins

liting
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/constants.tsx
  plugins/plugin-chart-table/src/TableChart.tsx
Due: core-packages, plugins

feat(plugin-chart-table): added emit target name (#1157)
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/ColumnConfigControl.tsx
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/constants.tsx
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/controlPanel.tsx
Due: core-packages, plugins

fix(plugin-chart-pivot-table): dont display nulls as 0 (#1265)
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
Due: plugins

added austria map to country map charts
  plugins/legacy-plugin-chart-country-map/src/countries.ts
  plugins/legacy-plugin-chart-country-map/src/countries/austria.geojson
Due: plugins

added complete finland geojson
  plugins/legacy-plugin-chart-country-map/src/countries/finland.geojson
Due: plugins

Added Australia geojson file Added australia to countries.ts file
  plugins/legacy-plugin-chart-country-map/src/countries.ts
  plugins/legacy-plugin-chart-country-map/src/countries/australia.geojson
Due: plugins

fix(plugin-chart-pivot-table): dont apply colors to subtotals
  plugins/plugin-chart-pivot-table/package.json
Due: plugins

Rename customize metrics to conditional formatting
  plugins/plugin-chart-pivot-table/src/plugin/controlPanel.ts
Due: plugins

fix(plugin-chart-pivot-table): dont apply colors to subtotals (#1269)
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-pivot-table/src/plugin/controlPanel.ts
Due: plugins

replace step charts with single entrypoint
  plugins/plugin-chart-echarts/src/Timeseries/Regular/StepEnd/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/StepStart/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Step/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Step/images/Step1.png
  plugins/plugin-chart-echarts/src/Timeseries/Step/images/Step2.png
  plugins/plugin-chart-echarts/src/Timeseries/Step/images/thumbnail.png
  plugins/plugin-chart-echarts/src/Timeseries/Step/index.ts
  plugins/plugin-chart-echarts/src/index.ts
Due: plugins

chore: publish v0.17.78
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

add examples to remaining plugins
  plugins/plugin-chart-echarts/src/Timeseries/Area/images/Area1.png
  plugins/plugin-chart-echarts/src/Timeseries/Area/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/images/Bar1.png
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/images/Bar2.png
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/images/Bar3.png
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Line/images/Line1.png
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Line/images/Line2.png
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Line/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/images/Scatter1.png
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/SmoothLine/images/SmoothLine1.png
  plugins/plugin-chart-echarts/src/Timeseries/Regular/SmoothLine/index.ts
Due: plugins

Rearrange tags
  plugins/legacy-preset-chart-nvd3/src/Bar/index.js
  plugins/plugin-chart-echarts/src/MixedTimeseries/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Area/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Line/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/SmoothLine/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Step/index.ts
Due: plugins

feat(plugin-chart-echarts): create separate entry points for timeseries (2nd) (#1262)
  plugins/legacy-preset-chart-nvd3/src/Area/index.js
  plugins/legacy-preset-chart-nvd3/src/Bar/index.js
  plugins/legacy-preset-chart-nvd3/src/Line/index.js
  plugins/plugin-chart-echarts/src/MixedTimeseries/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Area/images/Area1.png
  plugins/plugin-chart-echarts/src/Timeseries/Area/images/thumbnail.png
  plugins/plugin-chart-echarts/src/Timeseries/Area/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/images/Bar1.png
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/images/Bar2.png
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/images/Bar3.png
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/images/thumbnail.png
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Line/images/Line1.png
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Line/images/Line2.png
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Line/images/thumbnail.png
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Line/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/images/Scatter1.png
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/images/thumbnail.png
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/SmoothLine/images/SmoothLine1.png
  plugins/plugin-chart-echarts/src/Timeseries/Regular/SmoothLine/images/thumbnail.png
  plugins/plugin-chart-echarts/src/Timeseries/Regular/SmoothLine/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Step/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Step/images/Step1.png
  plugins/plugin-chart-echarts/src/Timeseries/Step/images/Step2.png
  plugins/plugin-chart-echarts/src/Timeseries/Step/images/thumbnail.png
  plugins/plugin-chart-echarts/src/Timeseries/Step/index.ts
  plugins/plugin-chart-echarts/src/index.ts
Due: plugins

fix(plugin-chart-echarts): fix null labels on pie and funnel charts
  plugins/plugin-chart-echarts/src/Funnel/transformProps.ts
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/test/Funnel/transformProps.test.ts
  plugins/plugin-chart-echarts/test/Pie/transformProps.test.ts
Due: plugins

Set tooltip to show by default
  packages/superset-ui-chart-controls/src/components/ColumnOption.tsx
  packages/superset-ui-chart-controls/src/components/MetricOption.tsx
Due: core-packages

fix(plugin-chart-echarts): fix null labels on pie and funnel charts (#1270)
  plugins/plugin-chart-echarts/src/Funnel/transformProps.ts
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/test/Funnel/transformProps.test.ts
  plugins/plugin-chart-echarts/test/Pie/transformProps.test.ts
Due: plugins

Fix tests
  packages/superset-ui-chart-controls/src/components/ColumnOption.tsx
  packages/superset-ui-chart-controls/src/components/MetricOption.tsx
Due: core-packages

Fix column name
  packages/superset-ui-chart-controls/src/components/ColumnOption.tsx
Due: core-packages

chore: Show tooltip conditionally and pass ref down (#1271)
  packages/superset-ui-chart-controls/src/components/ColumnOption.tsx
  packages/superset-ui-chart-controls/src/components/MetricOption.tsx
Due: core-packages

chore: publish v0.17.79
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

chore: stacks Heatmap controls
  plugins/legacy-plugin-chart-heatmap/src/controlPanel.ts
Due: plugins

chore: stacks and sorts Histogram controls
  plugins/legacy-plugin-chart-histogram/src/controlPanel.ts
Due: plugins

feat(chart-controls): d3 formatting with .2% #1274
  packages/superset-ui-chart-controls/src/utils/D3Formatting.ts
Due: core-packages

added new line
  plugins/legacy-plugin-chart-country-map/src/countries/australia.geojson
Due: plugins

fix(legacy-preset-chart-nvd3): bar chart unexpected error
  plugins/legacy-preset-chart-nvd3/src/DistBar/controlPanel.ts
Due: plugins

Change border color
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
  plugins/plugin-chart-pivot-table/src/types.ts
Due: plugins

Add null checks
  plugins/legacy-preset-chart-nvd3/src/DistBar/controlPanel.ts
Due: plugins

fix(legacy-preset-chart-nvd3): bar chart unexpected error (#1276)
  plugins/legacy-preset-chart-nvd3/src/DistBar/controlPanel.ts
Due: plugins

feat(plugin-chart-echarts): add support for series values
  plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Area/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Line/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/SmoothLine/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/Regular/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Step/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Step/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
Due: plugins

feat(plugin-chart-echarts): name
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
Due: plugins

fix: lint
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
Due: plugins

feat(plugin-chart-table): add support for temporal x-filter
  packages/superset-ui-core/src/query/types/Filter.ts
  packages/superset-ui-core/src/query/types/Query.ts
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/transformProps.ts
  plugins/plugin-chart-table/src/types.ts
  plugins/plugin-chart-table/src/utils/DateWithFormatter.ts
Due: core-packages, plugins

feat(legacy-preset-chart-big-number): add timestamp above number
  plugins/legacy-preset-chart-big-number/src/BigNumber/BigNumber.tsx
  plugins/legacy-preset-chart-big-number/src/BigNumber/controlPanel.tsx
  plugins/legacy-preset-chart-big-number/src/BigNumber/transformProps.ts
Due: plugins

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
