Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

feat(plugin-chart-word-cloud): add control panel (#454)
  plugins/plugin-chart-word-cloud/package.json
  plugins/plugin-chart-word-cloud/src/plugin/controlPanel.ts
  plugins/plugin-chart-word-cloud/src/plugin/index.ts
  yarn.lock
Due: plugins

chore(release): publish v0.13.9
  lerna.json
  packages/superset-ui-chart/package.json
  packages/superset-ui-connection/package.json
  packages/superset-ui-control-utils/package.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-superset-ui/package.json
  packages/superset-ui-translation/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-table/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

add control panel to pivot table
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-pivot-table/src/controlPanel.js
  plugins/legacy-plugin-chart-pivot-table/src/index.js
Due: plugins

migrate rose chart controls
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-rose/src/controlPanel.jsx
  plugins/legacy-plugin-chart-rose/src/index.js
Due: plugins

add control panel for the sankey chart
  plugins/legacy-plugin-chart-sankey/src/controlPanel.js
Due: plugins

feat(plugin-chart-treemap): add control panel
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-treemap/src/controlPanel.js
  plugins/legacy-plugin-chart-treemap/src/index.js
Due: plugins

feat(plugin-chart-world-map): add control panel
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-plugin-chart-world-map/src/controlPanel.js
  plugins/legacy-plugin-chart-world-map/src/index.js
Due: plugins

feat(plugin-chart-world-map): add control panel (#462)
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-plugin-chart-world-map/src/controlPanel.js
  plugins/legacy-plugin-chart-world-map/src/index.js
Due: plugins

feat(plugin-chart-treemap): add control panel (#461)
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-treemap/src/controlPanel.js
  plugins/legacy-plugin-chart-treemap/src/index.js
Due: plugins

add control panel for the sankey chart (#460)
  plugins/legacy-plugin-chart-sankey/src/controlPanel.js
Due: plugins

add control panel to pivot table (#457)
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-pivot-table/src/controlPanel.js
  plugins/legacy-plugin-chart-pivot-table/src/index.js
Due: plugins

migrate rose chart controls (#458)
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-rose/src/controlPanel.jsx
  plugins/legacy-plugin-chart-rose/src/index.js
Due: plugins

chore(release): publish v0.13.10
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
Due: core-packages, plugins

adding some variables
  packages/superset-ui-style/src/index.ts
Due: core-packages

feat(plugin-chart-boxplot): add control panel
  plugins/preset-chart-xy/package.json
  plugins/preset-chart-xy/src/BoxPlot/controlPanel.ts
  plugins/preset-chart-xy/src/BoxPlot/index.ts
  plugins/preset-chart-xy/src/BoxPlot/legacy/index.ts
Due: plugins

feat(plugin-chart-boxplot): add control panel (#464)
  plugins/preset-chart-xy/package.json
  plugins/preset-chart-xy/src/BoxPlot/controlPanel.ts
  plugins/preset-chart-xy/src/BoxPlot/index.ts
  plugins/preset-chart-xy/src/BoxPlot/legacy/index.ts
Due: plugins

feat(plugin-chart-nvd3): add control panels
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/legacy-preset-chart-nvd3/src/Area/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Area/index.js
  plugins/legacy-preset-chart-nvd3/src/Bar/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Bar/index.js
  plugins/legacy-preset-chart-nvd3/src/Bubble/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Bubble/index.js
  plugins/legacy-preset-chart-nvd3/src/Bullet/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Bullet/index.js
  plugins/legacy-preset-chart-nvd3/src/Compare/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Compare/index.js
  plugins/legacy-preset-chart-nvd3/src/DistBar/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/DistBar/index.js
  plugins/legacy-preset-chart-nvd3/src/DualLine/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/DualLine/index.js
  plugins/legacy-preset-chart-nvd3/src/Line/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Line/index.js
  plugins/legacy-preset-chart-nvd3/src/LineMulti/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/LineMulti/index.js
  plugins/legacy-preset-chart-nvd3/src/Pie/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Pie/index.js
  plugins/legacy-preset-chart-nvd3/src/TimePivot/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/TimePivot/index.js
Due: plugins

removing 'px' from settings
  packages/superset-ui-style/src/index.ts
Due: core-packages

push change yarn diffs
  yarn.lock
Due: none

build: enforce commit-lint on first message in branch
  package.json
  packages/superset-ui-chart/README.md
  scripts/commitlint.js
Due: core-packages

Update plugins/legacy-plugin-chart-partition/src/OptionDescription.jsx
  plugins/legacy-plugin-chart-partition/src/OptionDescription.jsx
Due: plugins

Update OptionDescription.jsx
  plugins/legacy-plugin-chart-partition/src/OptionDescription.jsx
Due: plugins

lint :sparkles:
  plugins/legacy-plugin-chart-partition/src/OptionDescription.jsx
Due: plugins

chore: enforce commit-lint on first commit in branch (#471)
  package.json
  packages/superset-ui-chart/README.md
  scripts/commitlint.js
Due: core-packages

test: be more lenient on jsx/tsx test cocverage
  codecov.yml
Due: none

feat(style): adding typographic variables to theme (#463)
  packages/superset-ui-style/src/index.ts
Due: core-packages

fix suggestions
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-partition/test/OptionDescirption.test.jsx
Due: plugins

add missing .ts extension
  plugins/legacy-preset-chart-nvd3/src/Line/index.js
Due: plugins

add controls to markup chart
  plugins/legacy-plugin-chart-markup/package.json
  plugins/legacy-plugin-chart-markup/src/controlPanel.js
  plugins/legacy-plugin-chart-markup/src/index.js
Due: plugins

feat(legacy-plugin-chart-nvd3): add control panels (#469)
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/legacy-preset-chart-nvd3/src/Area/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Area/index.js
  plugins/legacy-preset-chart-nvd3/src/Bar/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Bar/index.js
  plugins/legacy-preset-chart-nvd3/src/Bubble/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Bubble/index.js
  plugins/legacy-preset-chart-nvd3/src/Bullet/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Bullet/index.js
  plugins/legacy-preset-chart-nvd3/src/Compare/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Compare/index.js
  plugins/legacy-preset-chart-nvd3/src/DistBar/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/DistBar/index.js
  plugins/legacy-preset-chart-nvd3/src/DualLine/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/DualLine/index.js
  plugins/legacy-preset-chart-nvd3/src/Line/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Line/index.js
  plugins/legacy-preset-chart-nvd3/src/LineMulti/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/LineMulti/index.js
  plugins/legacy-preset-chart-nvd3/src/Pie/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Pie/index.js
  plugins/legacy-preset-chart-nvd3/src/TimePivot/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/TimePivot/index.js
Due: plugins

test: be more lenient on jsx/tsx test coverage (#468)
  codecov.yml
Due: none

Delete optionDescirption.test.jsx
  plugins/legacy-plugin-chart-partition/test/optionDescirption.test.jsx
Due: plugins

fix: add controller to package
  plugins/legacy-plugin-chart-partition/package.json
Due: plugins

mr fix
  plugins/legacy-plugin-chart-partition/test/OptionDescription.test.jsx
Due: plugins

feat(legacy-plugin-chart-partition): add control panel (#470)
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-partition/src/OptionDescription.jsx
  plugins/legacy-plugin-chart-partition/src/controlPanel.jsx
  plugins/legacy-plugin-chart-partition/test/OptionDescription.test.jsx
  yarn.lock
Due: plugins

Update controlPanel.js
  plugins/legacy-plugin-chart-markup/src/controlPanel.js
Due: plugins

fix: resolving lerna commitlint/scoping issue
  lerna.json
Due: none

moving shared controls into control-utils, some typescripting
  packages/superset-ui-control-utils/package.json
  packages/superset-ui-control-utils/src/ColumnOption.tsx
  packages/superset-ui-control-utils/src/ColumnTypeLabel.tsx
  packages/superset-ui-control-utils/src/constants.ts
  packages/superset-ui-control-utils/src/index.ts
  packages/superset-ui-control-utils/src/mainMetric.ts
  packages/superset-ui-control-utils/src/shared-controls.tsx
  packages/superset-ui-control-utils/test/ColumnOption.test.tsx
  packages/superset-ui-control-utils/test/ColumnTypeLabel.test.tsx
  packages/superset-ui-control-utils/test/mainMetric.test.ts
Due: core-packages

move to peer dependency
  packages/superset-ui-control-utils/package.json
Due: core-packages

build: resolving lerna commitlint/scoping issue (#480)
  lerna.json
Due: none

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
