Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

Update package.json
  plugins/legacy-plugin-chart-world-map/package.json
Due: plugins

chore: move legacy table plugin to potentially deprecated
  temporary-plugins/hold-potentially-deprecate/legacy-plugin-chart-table/README.md
  temporary-plugins/hold-potentially-deprecate/legacy-plugin-chart-table/package.json
  temporary-plugins/hold-potentially-deprecate/legacy-plugin-chart-table/src/ReactDataTable.tsx
  temporary-plugins/hold-potentially-deprecate/legacy-plugin-chart-table/src/Table.css
  temporary-plugins/hold-potentially-deprecate/legacy-plugin-chart-table/src/controlPanel.tsx
  temporary-plugins/hold-potentially-deprecate/legacy-plugin-chart-table/src/images/thumbnail.png
  temporary-plugins/hold-potentially-deprecate/legacy-plugin-chart-table/src/images/thumbnailLarge.png
  temporary-plugins/hold-potentially-deprecate/legacy-plugin-chart-table/src/index.ts
  temporary-plugins/hold-potentially-deprecate/legacy-plugin-chart-table/src/transformProps.ts
  temporary-plugins/hold-potentially-deprecate/legacy-plugin-chart-table/test/ReactDataTable.test.tsx
  temporary-plugins/hold-potentially-deprecate/legacy-plugin-chart-table/test/testData.ts
  temporary-plugins/hold-potentially-deprecate/legacy-plugin-chart-table/types/external.d.ts
Due: none

Rename story
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/TableStories.tsx
Due: core-packages

update readme
  README.md
Due: none

chore: deprecate legacy table plugin (#674)
  README.md
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/TableStories.tsx
  temporary-plugins/hold-potentially-deprecate/legacy-plugin-chart-table/README.md
  temporary-plugins/hold-potentially-deprecate/legacy-plugin-chart-table/package.json
  temporary-plugins/hold-potentially-deprecate/legacy-plugin-chart-table/src/ReactDataTable.tsx
  temporary-plugins/hold-potentially-deprecate/legacy-plugin-chart-table/src/Table.css
  temporary-plugins/hold-potentially-deprecate/legacy-plugin-chart-table/src/controlPanel.tsx
  temporary-plugins/hold-potentially-deprecate/legacy-plugin-chart-table/src/images/thumbnail.png
  temporary-plugins/hold-potentially-deprecate/legacy-plugin-chart-table/src/images/thumbnailLarge.png
  temporary-plugins/hold-potentially-deprecate/legacy-plugin-chart-table/src/index.ts
  temporary-plugins/hold-potentially-deprecate/legacy-plugin-chart-table/src/transformProps.ts
  temporary-plugins/hold-potentially-deprecate/legacy-plugin-chart-table/test/ReactDataTable.test.tsx
  temporary-plugins/hold-potentially-deprecate/legacy-plugin-chart-table/test/testData.ts
  temporary-plugins/hold-potentially-deprecate/legacy-plugin-chart-table/types/external.d.ts
Due: core-packages

update mr
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sankey/src/ReactSankey.jsx
  plugins/legacy-plugin-chart-sankey/src/index.js
Due: plugins

chore: publish v0.14.10
  lerna.json
  packages/superset-ui-demo/package.json
Due: core-packages

fix: errant heatmap override
  plugins/legacy-plugin-chart-heatmap/src/controlPanel.js
Due: plugins

fix: nixing lineMulti vestigial override
  plugins/legacy-preset-chart-nvd3/src/LineMulti/controlPanel.ts
Due: plugins

chore: requiresTime not required
  plugins/legacy-plugin-chart-calendar/src/controlPanel.js
  plugins/legacy-plugin-chart-event-flow/src/controlPanel.jsx
  plugins/legacy-plugin-chart-paired-t-test/src/controlPanel.ts
  plugins/legacy-plugin-chart-rose/src/controlPanel.jsx
  plugins/legacy-preset-chart-nvd3/src/Area/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Bar/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Bullet/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Compare/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/DualLine/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Line/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/LineMulti/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/TimePivot/controlPanel.ts
Due: plugins

chore: requiresTime not required (#676)
  plugins/legacy-plugin-chart-calendar/src/controlPanel.js
  plugins/legacy-plugin-chart-event-flow/src/controlPanel.jsx
  plugins/legacy-plugin-chart-paired-t-test/src/controlPanel.ts
  plugins/legacy-plugin-chart-rose/src/controlPanel.jsx
  plugins/legacy-preset-chart-nvd3/src/Area/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Bar/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Bullet/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Compare/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/DualLine/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Line/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/LineMulti/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/TimePivot/controlPanel.ts
Due: plugins

nixing unused import!
  plugins/legacy-preset-chart-nvd3/src/LineMulti/controlPanel.ts
Due: plugins

chore: Cleaning up control overrides (#675)
  plugins/legacy-plugin-chart-heatmap/src/controlPanel.js
  plugins/legacy-preset-chart-nvd3/src/LineMulti/controlPanel.ts
Due: plugins

fix comments
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-force-directed/src/index.js
Due: plugins

update package.json
  plugins/legacy-plugin-chart-force-directed/package.json
Due: plugins

make it work
  plugins/plugin-chart-echarts-line/README.md
  plugins/plugin-chart-echarts-line/package.json
  plugins/plugin-chart-echarts-line/src/EchartsLine.tsx
  plugins/plugin-chart-echarts-line/src/images/thumbnail.png
  plugins/plugin-chart-echarts-line/src/index.ts
  plugins/plugin-chart-echarts-line/src/plugin/buildQuery.ts
  plugins/plugin-chart-echarts-line/src/plugin/controlPanel.ts
  plugins/plugin-chart-echarts-line/src/plugin/index.ts
  plugins/plugin-chart-echarts-line/src/plugin/transformProps.ts
  plugins/plugin-chart-echarts-line/test/index.test.ts
  plugins/plugin-chart-echarts-line/test/plugin/buildQuery.test.ts
  plugins/plugin-chart-echarts-line/test/plugin/transformProps.test.ts
  plugins/plugin-chart-echarts-line/types/external.d.ts
Due: plugins

Add color scheme and timeseries limits
  plugins/plugin-chart-echarts-line/src/EchartsLine.tsx
  plugins/plugin-chart-echarts-line/src/plugin/controlPanel.ts
  plugins/plugin-chart-echarts-line/src/plugin/transformProps.ts
Due: plugins

add chart info and update package
  packages/superset-ui-demo/package.json
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-time-table/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-time-table/data.ts
Due: core-packages

add data
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-time-table/data.ts
Due: core-packages

latest improvements
  plugins/plugin-chart-echarts-line/src/EchartsLine.tsx
  plugins/plugin-chart-echarts-line/src/plugin/buildQuery.ts
  plugins/plugin-chart-echarts-line/src/plugin/controlPanel.ts
  plugins/plugin-chart-echarts-line/src/plugin/transformProps.ts
  plugins/plugin-chart-echarts-line/src/types.ts
Due: plugins

add more data?
  packages/superset-ui-demo/.storybook/main.js
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-time-table/Stories.tsx
Due: core-packages

chore(chart-forced-directed): use emotion style (#643)
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-force-directed/src/ForceDirected.css
  plugins/legacy-plugin-chart-force-directed/src/ForceDirected.js
  plugins/legacy-plugin-chart-force-directed/src/ReactForceDirected.jsx
  plugins/legacy-plugin-chart-force-directed/src/index.js
  plugins/legacy-plugin-chart-pivot-table/package.json
Due: plugins

chore(chart-worldmap): use emotion style (#652)
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-plugin-chart-world-map/src/ReactWorldMap.js
  plugins/legacy-plugin-chart-world-map/src/ReactWorldMap.jsx
  plugins/legacy-plugin-chart-world-map/src/WorldMap.js
  plugins/legacy-plugin-chart-world-map/src/index.js
Due: plugins

chore(chart-sankey): use emotion styling typography (#651)
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sankey/src/ReactSankey.js
  plugins/legacy-plugin-chart-sankey/src/ReactSankey.jsx
  plugins/legacy-plugin-chart-sankey/src/Sankey.css
  plugins/legacy-plugin-chart-sankey/src/Sankey.js
  plugins/legacy-plugin-chart-sankey/src/index.js
Due: plugins

remove consoles
  packages/superset-ui-demo/.storybook/main.js
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-time-table/Stories.tsx
Due: core-packages

remove console
  packages/superset-ui-demo/.storybook/main.js
Due: core-packages

feat(legacy-time-table): add time table to storybook (#680)
  packages/superset-ui-demo/.storybook/main.js
  packages/superset-ui-demo/package.json
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-time-table/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-time-table/data.ts
Due: core-packages

bump
  plugins/plugin-chart-echarts/README.md
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.ts
  plugins/plugin-chart-echarts/src/Timeseries/images/thumbnail.png
  plugins/plugin-chart-echarts/src/Timeseries/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/index.ts
  plugins/plugin-chart-echarts/src/types.ts
  plugins/plugin-chart-echarts/src/utils.ts
  plugins/plugin-chart-echarts/test/index.test.ts
  plugins/plugin-chart-echarts/test/plugin/buildQuery.test.ts
  plugins/plugin-chart-echarts/test/plugin/transformProps.test.ts
  plugins/plugin-chart-echarts/types/external.d.ts
  plugins/plugin-chart-word-cloud/src/chart/WordCloud.tsx
Due: plugins

moving dependencies to plugin
  plugins/plugin-chart-echarts/package.json
Due: plugins

Shuffling logic to transformProps, making Typescript happy.
  plugins/plugin-chart-echarts-pie/src/plugin/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/types.ts
Due: plugins

zoom controls!
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/types.ts
Due: plugins

declaration for the dang PNG files
  plugins/plugin-chart-echarts/src/declarations.d.ts
Due: plugins

Revert "declaration for the dang PNG files"
  plugins/plugin-chart-echarts/src/declarations.d.ts
Due: plugins

PIE! (super basic)
  plugins/plugin-chart-echarts/src/Pie/EchartsPie.tsx
  plugins/plugin-chart-echarts/src/Pie/buildQuery.ts
  plugins/plugin-chart-echarts/src/Pie/controlPanel.ts
  plugins/plugin-chart-echarts/src/Pie/images/thumbnail.png
  plugins/plugin-chart-echarts/src/Pie/index.ts
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/index.ts
Due: plugins

lowercase import name, moving types.
  plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
Due: plugins

capitalization fix
  plugins/plugin-chart-echarts/src/Timeseries/index.ts
Due: plugins

nixing console log
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
Due: plugins

removing echarts peer dependency (missed it earlier)
  plugins/plugin-chart-echarts/package.json
  yarn.lock
Due: plugins

basic pie controls/types
  plugins/plugin-chart-echarts/src/Pie/controlPanel.ts
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Pie/types.ts
Due: plugins

typescript fixes and whatnot
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Pie/types.ts
Due: plugins

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
