Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

codecov.yml:

coverage:
  status:
    project:
      target: 90%
      # send notification if coverage change exceed this threshold
      threshold: 5%
    core-packages:
      target: 100%
      flags: 
        - core-packages
    plugins:
      target: 50%
      flags: 
        - plugins

flags:
  core-packages:
    paths:
      - packages
  plugins:
    paths:
      - plugins

feat(plugin-chart-echarts): opt funnel
  plugins/plugin-chart-echarts/src/Funnel/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Funnel/transformProps.ts
Due: plugins

fix(plugin-chart-echarts): fix method shorthand (object shorthand)
  plugins/plugin-chart-echarts/src/Funnel/controlPanel.tsx
Due: plugins

feat(plugin-chart-echarts): sort by metric checkbox check by default
  plugins/plugin-chart-echarts/src/Pie/controlPanel.tsx
Due: plugins

fix(plugin-chart-echarts): 'SORT BY METRIC' add checkbox to Gauge
  plugins/plugin-chart-echarts/src/Gauge/buildQuery.ts
  plugins/plugin-chart-echarts/src/Gauge/controlPanel.tsx
Due: plugins

feat(plugin-chart-echarts): sort by metric checkbox check by default (#1111)
  plugins/plugin-chart-echarts/src/Pie/controlPanel.tsx
Due: plugins

fix(plugin-chart-echarts): funnel chart improvements (#1110)
  plugins/plugin-chart-echarts/src/Funnel/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Funnel/transformProps.ts
Due: plugins

fix(plugin-chart-echarts): disabling dragging treemap on the dashboard (#1109)
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Treemap/Stories.tsx
  plugins/plugin-chart-echarts/src/Treemap/transformProps.ts
  plugins/plugin-chart-echarts/src/Treemap/types.ts
Due: core-packages, plugins

fix(plugin-chart-echarts): 'SORT BY METRIC' add checkbox to Gauge (#1113)
  plugins/plugin-chart-echarts/src/Gauge/buildQuery.ts
  plugins/plugin-chart-echarts/src/Gauge/controlPanel.tsx
Due: plugins

feat: drilldown init
  packages/superset-ui-chart-controls/src/types.ts
  packages/superset-ui-core/src/query/DrillDown.ts
  packages/superset-ui-core/src/query/index.ts
  packages/superset-ui-core/src/utils/featureFlags.ts
  plugins/plugin-chart-echarts/src/Pie/EchartsPie.tsx
  plugins/plugin-chart-echarts/src/Pie/buildQuery.ts
  plugins/plugin-chart-echarts/src/Pie/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Pie/types.ts
Due: core-packages, plugins

fix(plugin-chart-echarts): add x-filtering to treemap
  plugins/plugin-chart-echarts/src/Treemap/EchartsTreemap.tsx
  plugins/plugin-chart-echarts/src/Treemap/constants.ts
  plugins/plugin-chart-echarts/src/Treemap/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Treemap/transformProps.ts
  plugins/plugin-chart-echarts/src/Treemap/types.ts
Due: plugins

fix: Fixes metric control when changing viz type to tree chart
  packages/superset-ui-chart-controls/src/shared-controls/dndControls.tsx
Due: core-packages

fix: Fixes metric control when changing viz type to tree chart (#1116)
  packages/superset-ui-chart-controls/src/shared-controls/dndControls.tsx
Due: core-packages

feat: drilldown POC
  packages/superset-ui-core/src/chart/types/Base.ts
  packages/superset-ui-core/src/query/DrillDown.ts
  packages/superset-ui-core/src/query/types/QueryFormData.ts
  plugins/plugin-chart-echarts/src/Pie/EchartsPie.tsx
  plugins/plugin-chart-echarts/src/Pie/buildQuery.ts
  plugins/plugin-chart-echarts/src/Pie/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Pie/types.ts
Due: core-packages, plugins

fix: lost filters
  plugins/plugin-chart-echarts/src/Pie/EchartsPie.tsx
  plugins/plugin-chart-echarts/src/Pie/buildQuery.ts
Due: plugins

feat(core): add support for empty results and refresh indicator
  packages/superset-ui-core/src/chart/components/SuperChart.tsx
  packages/superset-ui-core/src/chart/models/ChartMetadata.ts
  packages/superset-ui-core/src/chart/models/ChartProps.ts
Due: core-packages

add workaround for reselect limitation
  packages/superset-ui-core/src/chart/models/ChartProps.ts
Due: core-packages

fix tests, add new test and disable typing for ChartProps.ts
  packages/superset-ui-core/src/chart/models/ChartProps.ts
  packages/superset-ui-core/test/chart/models/ChartProps.test.ts
Due: core-packages

feat: add orderby shared control
  packages/superset-ui-chart-controls/src/shared-controls/dndControls.tsx
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
Due: core-packages

fix(plugin-chart-echarts): wip treemap improvements
  plugins/plugin-chart-echarts/src/Treemap/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Treemap/transformProps.ts
Due: plugins

feat(core): add support for empty results and refresh indicator (#1121)
  packages/superset-ui-core/src/chart/components/SuperChart.tsx
  packages/superset-ui-core/src/chart/models/ChartMetadata.ts
  packages/superset-ui-core/src/chart/models/ChartProps.ts
  packages/superset-ui-core/test/chart/models/ChartProps.test.ts
Due: core-packages

chore: publish v0.17.49
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

feat: add orderby shared control (#1122)
  packages/superset-ui-chart-controls/src/shared-controls/dndControls.tsx
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
Due: core-packages

feat(plugin-chart-echarts): add SORT BY metrics to Radar
  plugins/plugin-chart-echarts/src/Radar/buildQuery.ts
  plugins/plugin-chart-echarts/src/Radar/controlPanel.tsx
Due: plugins

fix(plugin-chart-echarts): use timeseries_limit_metric to metrics orderby
  plugins/plugin-chart-echarts/src/Radar/buildQuery.ts
  plugins/plugin-chart-echarts/src/Radar/controlPanel.tsx
Due: plugins

fix: making location of sorting arrows in Table more consistent.
  plugins/plugin-chart-table/src/Styles.tsx
Due: plugins

fix(plugin-chart-echarts): add behavior
  plugins/plugin-chart-echarts/src/Treemap/index.ts
  plugins/plugin-chart-echarts/src/Treemap/types.ts
Due: plugins

fix(plugin-chart-echarts): one series at a time
  plugins/plugin-chart-echarts/src/Treemap/EchartsTreemap.tsx
Due: plugins

fix(plugin-chart-echarts): show % of parent on the tooltip
  plugins/plugin-chart-echarts/src/Treemap/transformProps.ts
  plugins/plugin-chart-echarts/src/Treemap/types.ts
Due: plugins

fix: making location of sorting arrows in Table more consistent. (#1124)
  plugins/plugin-chart-table/src/Styles.tsx
Due: plugins

fix(plugin-chart-echarts): remove some unuse code
  plugins/plugin-chart-echarts/src/Treemap/controlPanel.tsx
Due: plugins

feat(plugin-chart-echarts): add orderby on Radar chart (#1112)
  plugins/plugin-chart-echarts/src/Radar/buildQuery.ts
  plugins/plugin-chart-echarts/src/Radar/controlPanel.tsx
Due: plugins

add force db feature flag for SLL
  packages/superset-ui-core/src/utils/featureFlags.ts
Due: core-packages

feat(chart-controls): implement drag&drop controls for all charts
  packages/superset-ui-chart-controls/src/shared-controls/dndControls.tsx
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  packages/superset-ui-chart-controls/src/utils/columnChoices.ts
  plugins/legacy-plugin-chart-heatmap/src/controlPanel.ts
  plugins/legacy-plugin-chart-histogram/src/controlPanel.ts
  plugins/legacy-plugin-chart-map-box/src/controlPanel.ts
  plugins/plugin-chart-table/src/controlPanel.tsx
Due: core-packages, plugins

fix(plugin-chart-echarts): fix order by clause
  plugins/plugin-chart-echarts/src/Treemap/buildQuery.ts
Due: plugins

fix(plugin-chart-echarts): change metrics to metric
  plugins/plugin-chart-echarts/src/Treemap/buildQuery.ts
  plugins/plugin-chart-echarts/src/Treemap/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Treemap/transformProps.ts
  plugins/plugin-chart-echarts/src/Treemap/types.ts
Due: plugins

fix(plugin-chart-echarts): type
  plugins/plugin-chart-echarts/src/Treemap/types.ts
Due: plugins

fix(plugin-chart-echarts): ci
  plugins/plugin-chart-echarts/test/Treemap/transformProps.test.ts
Due: plugins

feat(core): add support for case insensitive LIKE operator
  packages/superset-ui-core/src/query/types/Operator.ts
Due: core-packages

feat(core): add support for case insensitive LIKE operator (#1129)
  packages/superset-ui-core/src/query/types/Operator.ts
Due: core-packages

Split stacked controls into separate rows
  plugins/legacy-plugin-chart-heatmap/src/controlPanel.ts
  plugins/legacy-plugin-chart-map-box/src/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Bubble/controlPanel.ts
  plugins/plugin-chart-table/src/controlPanel.tsx
Due: plugins
