Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

lint
  packages/superset-ui-core/test/query/processFilters.test.ts
  plugins/plugin-filter-antd/src/Range/AntdRangeFilter.tsx
  plugins/plugin-filter-antd/src/Range/buildQuery.ts
  plugins/plugin-filter-antd/src/Range/types.ts
  plugins/plugin-filter-antd/src/Select/AntdSelectFilter.tsx
  plugins/plugin-filter-antd/src/Select/buildQuery.ts
  plugins/plugin-filter-antd/src/Select/types.ts
  plugins/plugin-filter-antd/src/types.ts
  plugins/plugin-filter-antd/test/index.test.ts
  plugins/plugin-filter-antd/test/plugin/buildQuery.test.ts
  plugins/plugin-filter-antd/test/plugin/transformProps.test.ts
Due: core-packages, plugins

move hook to SuperChart props
  plugins/plugin-filter-antd/src/Select/transformProps.ts
Due: plugins

add NOOP default to setSelectedValues
  plugins/plugin-filter-antd/src/Select/transformProps.ts
  plugins/plugin-filter-antd/src/Select/types.ts
Due: plugins

replace extra_form_data with override_ and append_
  packages/superset-ui-core/src/query/buildQueryObject.ts
  packages/superset-ui-core/src/query/processExtraFormData.ts
  packages/superset-ui-core/src/query/processFilters.ts
  packages/superset-ui-core/src/query/types/QueryFormData.ts
  packages/superset-ui-core/test/query/DatasourceKey.test.ts
  packages/superset-ui-core/test/query/buildQueryContext.test.ts
  packages/superset-ui-core/test/query/buildQueryObject.test.ts
  packages/superset-ui-core/test/query/convertFilter.test.ts
  packages/superset-ui-core/test/query/convertMetric.test.ts
  packages/superset-ui-core/test/query/extractExtras.test.ts
  packages/superset-ui-core/test/query/extractQueryFields.test.ts
  packages/superset-ui-core/test/query/processExtraFormData.test.ts
  packages/superset-ui-core/test/query/processFilters.test.ts
  packages/superset-ui-core/test/query/processGroupby.test.ts
  plugins/plugin-filter-antd/src/Select/AntdSelectFilter.tsx
  plugins/plugin-filter-antd/src/Select/types.ts
Due: core-packages, plugins

add support for appending freeform where
  README.md
  packages/superset-ui-core/src/chart/index.ts
  packages/superset-ui-core/src/chart/models/ChartProps.ts
  packages/superset-ui-core/src/chart/types/Base.ts
  packages/superset-ui-core/src/query/processExtraFormData.ts
  packages/superset-ui-core/src/query/types/Query.ts
  packages/superset-ui-core/test/query/processExtraFormData.test.ts
  plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
  plugins/plugin-filter-antd/README.md
  plugins/plugin-filter-antd/src/Select/AntdSelectFilter.tsx
  plugins/plugin-filter-antd/src/Select/controlPanel.ts
  plugins/plugin-filter-antd/src/Select/transformProps.ts
  plugins/plugin-filter-antd/src/Select/types.ts
Due: core-packages, plugins

address review comments
  plugins/plugin-filter-antd/src/Range/AntdRangeFilter.tsx
  plugins/plugin-filter-antd/src/Range/transformProps.ts
  plugins/plugin-filter-antd/src/Range/types.ts
  plugins/plugin-filter-antd/src/Select/AntdSelectFilter.tsx
Due: plugins

feat: add rison request type to makeApi
  packages/superset-ui-core/package.json
  packages/superset-ui-core/src/query/api/v1/makeApi.ts
  packages/superset-ui-core/test/query/api/v1/makeApi.test.ts
Due: core-packages

feat: add rison request type to makeApi (#843)
  packages/superset-ui-core/package.json
  packages/superset-ui-core/src/query/api/v1/makeApi.ts
  packages/superset-ui-core/test/query/api/v1/makeApi.test.ts
Due: core-packages

Add default values
  packages/superset-ui-core/src/query/buildQueryObject.ts
  plugins/plugin-filter-antd/src/Range/AntdRangeFilter.tsx
  plugins/plugin-filter-antd/src/Range/transformProps.ts
  plugins/plugin-filter-antd/src/Select/AntdSelectFilter.tsx
  plugins/plugin-filter-antd/src/Select/types.ts
Due: core-packages, plugins

Update packages/superset-ui-core/test/query/processExtraFormData.test.ts
  packages/superset-ui-core/test/query/processExtraFormData.test.ts
Due: core-packages

Reverting to "additional metadata"
  plugins/legacy-plugin-chart-event-flow/src/controlPanel.tsx
Due: plugins

add storybook entry and change width to 100%
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/BoxPlot/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Pie/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Timeseries/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-filter-antd/Select/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-filter-antd/Select/data.ts
  plugins/plugin-filter-antd/package.json
  plugins/plugin-filter-antd/src/Select/AntdSelectFilter.tsx
Due: core-packages, plugins

add placeholder
  plugins/plugin-filter-antd/src/Select/AntdSelectFilter.tsx
Due: plugins

feat: support multi queries request
  packages/superset-ui-core/src/chart/components/SuperChart.tsx
  packages/superset-ui-core/src/chart/models/ChartProps.ts
  packages/superset-ui-core/test/chart/components/SuperChart.test.tsx
Due: core-packages

add default thumbnails
  plugins/plugin-filter-antd/src/Range/images/thumbnail.png
  plugins/plugin-filter-antd/src/Select/images/thumbnail.png
Due: plugins

chore: add comment according CR
  packages/superset-ui-core/src/chart/models/ChartProps.ts
Due: core-packages

feat: support multi queries request (#846)
  packages/superset-ui-core/src/chart/components/SuperChart.tsx
  packages/superset-ui-core/src/chart/models/ChartProps.ts
  packages/superset-ui-core/test/chart/components/SuperChart.test.tsx
Due: core-packages

chore: publish v0.15.15
  lerna.json
  packages/generator-superset/package.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/plugin-filter-antd/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

ci: add chromatic visual testing step
  .github/workflows/ci.yml
  packages/superset-ui-demo/package.json
  yarn.lock
Due: core-packages

use chromatic action
  .github/workflows/ci.yml
Due: none

move to seperate workflow
  .github/workflows/chromatic.yml
Due: none

fix step
  .github/workflows/chromatic.yml
Due: none

fix working directory
  .github/workflows/chromatic.yml
Due: none

fixup
  .github/workflows/chromatic.yml
Due: none

fix tokens
  .github/workflows/chromatic.yml
  .github/workflows/ci.yml
Due: none

use pull_request_target
  .github/workflows/chromatic.yml
Due: none

fix: time compare tooltip
  packages/superset-ui-demo/storybook/stories/plugins/legacy-preset-chart-nvd3/Compare/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-preset-chart-nvd3/Compare/stories/timeFormat.tsx
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
  plugins/legacy-preset-chart-nvd3/src/utils.js
  yarn.lock
Due: core-packages, plugins

refactor: create separate function
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
  plugins/legacy-preset-chart-nvd3/src/utils.js
Due: plugins

refactor: remove fn
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
  plugins/legacy-preset-chart-nvd3/src/utils.js
Due: plugins

ci: add chromatic visual testing step
  .github/workflows/chromatic.yml
  package.json
  packages/superset-ui-demo/package.json
  yarn.lock
Due: core-packages

fix: area chart tooltip
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
  plugins/legacy-preset-chart-nvd3/src/utils.js
Due: plugins

use GITHUB_TOKEN
  .github/workflows/chromatic.yml
Due: none

fix(legacy-preset-chart-nvd3): time compare and stacked area tooltips (#850)
  packages/superset-ui-demo/storybook/stories/plugins/legacy-preset-chart-nvd3/Compare/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-preset-chart-nvd3/Compare/stories/timeFormat.tsx
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
  plugins/legacy-preset-chart-nvd3/src/utils.js
  yarn.lock
Due: core-packages, plugins

chore: publish v0.15.16
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/legacy-preset-chart-nvd3/package.json
Due: core-packages, plugins

refactor: Relocating/renaming various chart controls (#836)
  packages/superset-ui-chart-controls/src/sections.tsx
  packages/superset-ui-chart-controls/src/types.ts
  packages/superset-ui-core/src/color/CategoricalColorScale.ts
  packages/superset-ui-core/src/color/SequentialScheme.ts
  plugins/legacy-plugin-chart-calendar/src/controlPanel.js
  plugins/legacy-plugin-chart-country-map/src/controlPanel.ts
  plugins/legacy-plugin-chart-event-flow/src/controlPanel.tsx
  plugins/legacy-plugin-chart-force-directed/src/controlPanel.js
  plugins/legacy-plugin-chart-heatmap/src/controlPanel.js
  plugins/legacy-plugin-chart-histogram/src/controlPanel.js
  plugins/legacy-plugin-chart-paired-t-test/src/controlPanel.ts
  plugins/legacy-plugin-chart-partition/src/controlPanel.jsx
  plugins/legacy-plugin-chart-treemap/src/controlPanel.js
  plugins/legacy-preset-chart-nvd3/src/Area/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Bubble/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/LineMulti/controlPanel.ts
Due: core-packages, plugins

fix(demo): add antd css and implement action hook
  packages/superset-ui-demo/package.json
  packages/superset-ui-demo/storybook/stories/plugins/plugin-filter-antd/Select/Stories.tsx
  plugins/plugin-filter-antd/src/Select/AntdSelectFilter.tsx
  plugins/plugin-filter-antd/src/Select/transformProps.ts
Due: core-packages, plugins

feat(plugin-chart-echarts): bump to version 5.0
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Pie/Stories.tsx
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-echarts/src/Pie/controlPanel.ts
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  plugins/plugin-chart-echarts/src/components/Echart.tsx
  yarn.lock
Due: core-packages, plugins

fix(demo): add antd css and implement action hook (#851)
  packages/superset-ui-demo/package.json
  packages/superset-ui-demo/storybook/stories/plugins/plugin-filter-antd/Select/Stories.tsx
  plugins/plugin-filter-antd/src/Select/AntdSelectFilter.tsx
  plugins/plugin-filter-antd/src/Select/transformProps.ts
Due: core-packages, plugins

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
