Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

fix import
  plugins/plugin-chart-hello-world/test/index.test.ts
Due: plugins

fix test
  plugins/plugin-chart-hello-world/test/index.test.ts
Due: plugins

lint
  plugins/plugin-chart-hello-world/src/plugin/transformProps.ts
Due: plugins

convert pivot chart to emotion style
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-force-directed/src/ForceDirected.js
  plugins/legacy-plugin-chart-force-directed/src/ReactForceDirected.jsx
  plugins/legacy-plugin-chart-force-directed/src/index.js
  plugins/legacy-plugin-chart-pivot-table/package.json
Due: plugins

convert sankey chart to use emotion styling typography
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sankey/src/ReactSankey.js
  plugins/legacy-plugin-chart-sankey/src/ReactSankey.jsx
  plugins/legacy-plugin-chart-sankey/src/Sankey.css
  plugins/legacy-plugin-chart-sankey/src/Sankey.js
  plugins/legacy-plugin-chart-sankey/src/index.js
Due: plugins

remove css file
  plugins/legacy-plugin-chart-force-directed/src/ForceDirected.css
Due: plugins

convert worldmap chart to emotion style
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-plugin-chart-world-map/src/ReactWorldMap.js
  plugins/legacy-plugin-chart-world-map/src/ReactWorldMap.jsx
  plugins/legacy-plugin-chart-world-map/src/index.js
Due: plugins

delete css file
  plugins/legacy-plugin-chart-world-map/src/WorldMap.js
Due: plugins

build: bump nvd3-fork with tooltip fix
  plugins/legacy-preset-chart-nvd3/package.json
  yarn.lock
Due: plugins

build: bump nvd3-fork with tooltip fix (#653)
  plugins/legacy-preset-chart-nvd3/package.json
  yarn.lock
Due: plugins

chore: publish v0.14.4
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-table/package.json
Due: core-packages, plugins

fix(plugin-chart-table): change default queryMode to null
  plugins/plugin-chart-table/src/controlPanel.tsx
Due: plugins

fix(plugin-chart-table): change default queryMode to null (#659)
  plugins/plugin-chart-table/src/controlPanel.tsx
Due: plugins

chore: publish v0.14.5
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/plugin-chart-table/package.json
Due: core-packages, plugins

feat: adding requiresTime type
  packages/superset-ui-chart-controls/src/types.ts
Due: core-packages

fix(plugin-chart-table): anchor should keep href
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/birthNames.json
  plugins/plugin-chart-table/src/utils/formatValue.ts
Due: core-packages, plugins

Also allow css class name
  plugins/plugin-chart-table/src/utils/formatValue.ts
Due: plugins

fix(plugin-chart-table): anchor should keep href (#661)
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/birthNames.json
  plugins/plugin-chart-table/src/utils/formatValue.ts
Due: core-packages, plugins

chore: publish v0.14.6
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/plugin-chart-table/package.json
Due: core-packages, plugins

feat: hello world generated plugin (class, timeseries, no badges)
  plugins/plugin-chart-hello-world/README.md
  plugins/plugin-chart-hello-world/package.json
  plugins/plugin-chart-hello-world/src/HelloWorld.tsx
  plugins/plugin-chart-hello-world/src/images/thumbnail.png
  plugins/plugin-chart-hello-world/src/index.ts
  plugins/plugin-chart-hello-world/src/plugin/buildQuery.ts
  plugins/plugin-chart-hello-world/src/plugin/controlPanel.ts
  plugins/plugin-chart-hello-world/src/plugin/index.ts
  plugins/plugin-chart-hello-world/src/plugin/transformProps.ts
  plugins/plugin-chart-hello-world/src/types.ts
  plugins/plugin-chart-hello-world/test/index.test.ts
  plugins/plugin-chart-hello-world/types/external.d.ts
Due: plugins

rebuild
  plugins/plugin-chart-hello-world/src/plugin/buildQuery.ts
  plugins/plugin-chart-hello-world/src/types.ts
  plugins/plugin-chart-hello-world/test/index.test.ts
  plugins/plugin-chart-hello-world/test/plugin/buildQuery.test.ts
  plugins/plugin-chart-hello-world/test/plugin/transformProps.test.ts
Due: plugins

Fix yeoman generator
  packages/generator-superset/generators/plugin-chart/index.js
  packages/generator-superset/generators/plugin-chart/templates/package.erb
  packages/generator-superset/generators/plugin-chart/templates/src/MyChart.erb
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/buildQuery.erb
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/controlPanel.txt
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/index.erb
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/transformProps.txt
  packages/generator-superset/generators/plugin-chart/templates/src/types.erb
  packages/generator-superset/generators/plugin-chart/templates/test/index.erb
  plugins/plugin-chart-hello-world/package.json
  plugins/plugin-chart-hello-world/src/HelloWorld.tsx
  plugins/plugin-chart-hello-world/src/plugin/buildQuery.ts
Due: core-packages, plugins

adding `reactify` technique to example code
  packages/generator-superset/generators/plugin-chart/templates/src/MyChart.erb
  plugins/plugin-chart-hello-world/src/HelloWorld.tsx
Due: core-packages, plugins

fixing errant comma
  packages/generator-superset/generators/plugin-chart/templates/package.erb
Due: core-packages

Adding Emotion to template and template result
  packages/generator-superset/generators/plugin-chart/templates/package.erb
  packages/generator-superset/generators/plugin-chart/templates/src/MyChart.erb
  plugins/plugin-chart-hello-world/package.json
  plugins/plugin-chart-hello-world/src/HelloWorld.tsx
Due: core-packages, plugins

feat: hello world plugin
  plugins/plugin-chart-hello-world/README.md
  plugins/plugin-chart-hello-world/package.json
  plugins/plugin-chart-hello-world/src/HelloWorld.tsx
  plugins/plugin-chart-hello-world/src/images/thumbnail.png
  plugins/plugin-chart-hello-world/src/index.ts
  plugins/plugin-chart-hello-world/src/plugin/buildQuery.ts
  plugins/plugin-chart-hello-world/src/plugin/controlPanel.ts
  plugins/plugin-chart-hello-world/src/plugin/index.ts
  plugins/plugin-chart-hello-world/src/plugin/transformProps.ts
  plugins/plugin-chart-hello-world/test/index.test.ts
  plugins/plugin-chart-hello-world/types/external.d.ts
Due: plugins

questionable typing fix
  packages/generator-superset/generators/plugin-chart/templates/src/MyChart.erb
Due: core-packages

labelling options
  packages/generator-superset/generators/plugin-chart/templates/src/MyChart.erb
Due: core-packages

React needed for JSX
  packages/generator-superset/generators/plugin-chart/templates/src/MyChart.erb
Due: core-packages

annoying lint issue
  packages/generator-superset/generators/plugin-chart/templates/src/MyChart.erb
Due: core-packages

add comments to buildQuery
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/buildQuery.erb
  plugins/plugin-chart-word-cloud/src/plugin/index.ts
Due: core-packages, plugins

linting and freshly generated plugin
  packages/generator-superset/generators/plugin-chart/templates/src/MyChart.erb
  plugins/plugin-chart-hello-world/src/HelloWorld.tsx
Due: core-packages, plugins

freshly generated hello world
  plugins/plugin-chart-hello-world/package.json
  plugins/plugin-chart-hello-world/src/HelloWorld.tsx
  plugins/plugin-chart-hello-world/src/plugin/buildQuery.ts
  plugins/plugin-chart-hello-world/src/plugin/controlPanel.ts
  plugins/plugin-chart-hello-world/src/plugin/index.ts
  plugins/plugin-chart-hello-world/src/plugin/transformProps.ts
  plugins/plugin-chart-hello-world/src/types.ts
  plugins/plugin-chart-hello-world/test/index.test.ts
Due: plugins

Add docs
  packages/generator-superset/generators/plugin-chart/templates/src/MyChart.erb
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/buildQuery.erb
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/controlPanel.txt
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/index.erb
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/transformProps.txt
  packages/generator-superset/generators/plugin-chart/templates/src/types.erb
  packages/superset-ui-chart-controls/src/types.ts
  plugins/plugin-chart-word-cloud/src/legacyPlugin/transformProps.ts
Due: core-packages, plugins

nixing word cloud console logs
  plugins/plugin-chart-word-cloud/src/legacyPlugin/transformProps.ts
Due: plugins

lint annoyance
  packages/generator-superset/generators/plugin-chart/templates/src/index.erb
  plugins/plugin-chart-hello-world/src/index.ts
Due: core-packages, plugins

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
