Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

codecov.yml:

coverage:
  status:
    project:
      target: 90%
      # send notification if coverage change exceed this threshold
      threshold: 5%
    core-packages:
      target: 100%
      flags: 
        - core-packages
    plugins:
      target: 50%
      flags: 
        - plugins

flags:
  core-packages:
    paths:
      - packages
  plugins:
    paths:
      - plugins

fix(plugin-chart-echarts): remove label line if below threshold (#1071)
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
Due: plugins

refactor: tick calculation
  plugins/plugin-chart-table/src/buildQuery.ts
Due: plugins

refactor: tick calculation (#1072)
  plugins/plugin-chart-table/src/buildQuery.ts
Due: plugins

chore: publish v0.17.37
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-table/package.json
Due: core-packages, plugins

chore: adds CacheProvider and createCache to Core
  packages/superset-ui-core/package.json
  packages/superset-ui-core/src/style/index.ts
Due: core-packages

chore(plugin-chart-echarts): bump echarts 5.1.1
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  yarn.lock
Due: plugins

chore(plugin-chart-echarts): bump echarts 5.1.1 (#1074)
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  yarn.lock
Due: plugins

chore: publish v0.17.38
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/plugin-chart-echarts/package.json
Due: core-packages, plugins

chore: bump lodash
  packages/generator-superset/package.json
Due: core-packages

chore: remove class support from plugin yeoman generator
  packages/generator-superset/generators/plugin-chart/index.js
  packages/generator-superset/generators/plugin-chart/templates/src/MyChart.erb
Due: core-packages

chore: re-exporting even more stuff!
  packages/superset-ui-core/src/style/index.ts
Due: core-packages

chore: adds Emotion's CacheProvider and createCache as exports from Core package (#1073)
  packages/superset-ui-core/package.json
  packages/superset-ui-core/src/style/index.ts
Due: core-packages

feat(plugin-chart-table): disable show_totals by default
  plugins/plugin-chart-table/src/controlPanel.tsx
Due: plugins

feat(plugin-chart-table): disable show_totals by default (#1078)
  plugins/plugin-chart-table/src/controlPanel.tsx
Due: plugins

chore: publish v0.17.39
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

chore: rename to CROSS_CHART
  packages/superset-ui-core/src/chart/types/Base.ts
  plugins/plugin-chart-echarts/src/BoxPlot/index.ts
  plugins/plugin-chart-echarts/src/Pie/index.ts
  plugins/plugin-chart-echarts/src/Radar/index.ts
  plugins/plugin-chart-table/src/index.ts
Due: core-packages, plugins

chore: juggling imports/exports
  packages/superset-ui-core/src/style/index.ts
Due: core-packages

chore: juggling imports/exports (#1080)
  packages/superset-ui-core/src/style/index.ts
Due: core-packages

chore: publish v0.17.40
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

fix(plugin-chart-echarts): funnel rebase master
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Funnel/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Funnel/data.ts
  plugins/plugin-chart-echarts/src/Funnel/EchartsFunnel.tsx
  plugins/plugin-chart-echarts/src/Funnel/buildQuery.ts
  plugins/plugin-chart-echarts/src/Funnel/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Funnel/images/thumbnail.png
  plugins/plugin-chart-echarts/src/Funnel/index.ts
  plugins/plugin-chart-echarts/src/Funnel/transformProps.ts
  plugins/plugin-chart-echarts/src/Funnel/types.ts
  plugins/plugin-chart-echarts/src/index.ts
  plugins/plugin-chart-echarts/test/Funnel/buildQuery.test.ts
  plugins/plugin-chart-echarts/test/Funnel/transformProps.test.ts
Due: core-packages, plugins

fix(plugin-chart-echarts): don't need the sort_by_metric control
  plugins/plugin-chart-echarts/src/Funnel/controlPanel.tsx
Due: plugins

fix(plugin-chart-echarts): add sort and orient into Funnel shape
  plugins/plugin-chart-echarts/src/Funnel/controlPanel.tsx
Due: plugins

fix(plugin-chart-echarts): rm Funnel shape
  plugins/plugin-chart-echarts/src/Funnel/controlPanel.tsx
Due: plugins

style(plugin-chart-echarts): update funnel thumbnail
  plugins/plugin-chart-echarts/src/Funnel/images/thumbnail.png
Due: plugins

fix(plugin-chart-echarts): resize thumbnail for Funnel Chart
  plugins/plugin-chart-echarts/src/Funnel/images/thumbnail.png
Due: plugins

refactor: use sharedControls instead of controlOverrides
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Funnel/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Funnel/constants.ts
  plugins/plugin-chart-echarts/src/Funnel/controlPanel.tsx
Due: core-packages, plugins

fix(plugin-chart-echarts): rm min/max args to use echarts default
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Funnel/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Funnel/constants.ts
  plugins/plugin-chart-echarts/src/Funnel/transformProps.ts
  plugins/plugin-chart-echarts/src/Funnel/types.ts
Due: core-packages, plugins

style(plugin-chart-echarts): rm unused properties
  plugins/plugin-chart-echarts/src/Funnel/transformProps.ts
  plugins/plugin-chart-echarts/src/Funnel/types.ts
Due: plugins

style(plugin-chart-echarts): inser final new line to yarn.lock
  yarn.lock
Due: none

style(plugin-chart-echarts): add newline at the end of yarn.lock
  yarn.lock
Due: none

fix(plugin-chart-echarts): revert yarn.lock into then one from master
  yarn.lock
Due: none

style(plugin-chart-echarts): npm run format
  yarn.lock
Due: none

fix(plugin-chart-table): resize and totals formatting bug
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/constants.tsx
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/DataTable/types/react-table.d.ts
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/i18n.ts
  plugins/plugin-chart-table/src/transformProps.ts
  plugins/plugin-chart-table/src/types.ts
  plugins/plugin-chart-table/src/utils/formatValue.ts
Due: core-packages, plugins

bump echarts
  plugins/plugin-chart-echarts/package.json
Due: plugins

fix(demo): update funnel to Funnel
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Funnel/Stories.tsx
Due: core-packages

feat(plugin-chart-echarts): add cross-filter
  plugins/plugin-chart-echarts/src/Funnel/EchartsFunnel.tsx
  plugins/plugin-chart-echarts/src/Funnel/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Funnel/index.ts
  plugins/plugin-chart-echarts/src/Funnel/types.ts
Due: plugins

feat(plugin-chart-echarts): add cross-filter
  plugins/plugin-chart-echarts/src/Funnel/transformProps.ts
Due: plugins

fix(plugin-chart-table): resize and totals formatting bug (#1082)
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/constants.tsx
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/DataTable/types/react-table.d.ts
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/i18n.ts
  plugins/plugin-chart-table/src/transformProps.ts
  plugins/plugin-chart-table/src/types.ts
  plugins/plugin-chart-table/src/utils/formatValue.ts
Due: core-packages, plugins

feat(plugin-chart-graph): add node/edge size and edge symbol control
  plugins/plugin-chart-echarts/src/Graph/constants.ts
  plugins/plugin-chart-echarts/src/Graph/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Graph/transformProps.ts
  plugins/plugin-chart-echarts/src/Graph/types.ts
Due: plugins

Fix test case
  plugins/plugin-chart-echarts/test/Graph/transformProps.test.ts
Due: plugins
