Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

fix: test
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Waterfall/Stories.tsx
  plugins/plugin-chart-echarts/test/Waterfall/buildQuery.test.ts
  plugins/plugin-chart-echarts/test/Waterfall/transformProps.test.ts
Due: core-packages, plugins

refactor: refactor code
  packages/superset-ui-chart-controls/src/sections/chartTitle.tsx
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  packages/superset-ui-chart-controls/src/utils/index.ts
  packages/superset-ui-chart-controls/src/utils/titleOptions.ts
  plugins/plugin-chart-echarts/src/BoxPlot/controlPanel.ts
  plugins/plugin-chart-echarts/src/BoxPlot/types.ts
  plugins/plugin-chart-echarts/src/MixedTimeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/MixedTimeseries/types.ts
  plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Regular/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Step/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
  plugins/plugin-chart-echarts/src/types.ts
Due: core-packages, plugins

lint: lint code
  packages/superset-ui-chart-controls/src/sections/chartTitle.tsx
  plugins/plugin-chart-echarts/src/BoxPlot/types.ts
  plugins/plugin-chart-echarts/src/MixedTimeseries/types.ts
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
  plugins/plugin-chart-echarts/src/types.ts
Due: core-packages, plugins

feat: make ypostion clearable false
  packages/superset-ui-chart-controls/src/sections/chartTitle.tsx
Due: core-packages

fix: lint
  plugins/plugin-chart-echarts/src/Waterfall/controlPanel.tsx
Due: plugins

Revert "chore: isolate the one actual jquery dependency (#1339)" (#1355)
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-pivot-table/src/PivotTable.js
Due: plugins

chore: clean up mixed-timeseries chart
  plugins/plugin-chart-echarts/src/MixedTimeseries/buildQuery.ts
Due: plugins

fix: pivot-table-fixed
  plugins/legacy-plugin-chart-pivot-table/src/PivotTable.js
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
  plugins/plugin-chart-pivot-table/src/types.ts
Due: plugins

lint: code lint
  packages/superset-ui-chart-controls/src/sections/chartTitle.tsx
Due: core-packages

feat(plugin-chart-echarts): add x and y label support for 9 charts (#1351)
  packages/superset-ui-chart-controls/src/sections/chartTitle.tsx
  packages/superset-ui-chart-controls/src/sections/index.ts
  plugins/plugin-chart-echarts/src/BoxPlot/controlPanel.ts
  plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
  plugins/plugin-chart-echarts/src/BoxPlot/types.ts
  plugins/plugin-chart-echarts/src/MixedTimeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/MixedTimeseries/types.ts
  plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Regular/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Step/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
  plugins/plugin-chart-echarts/src/types.ts
  plugins/plugin-chart-pivot-table/README.md
Due: core-packages, plugins

chore: clean up mixed-timeseries chart (#1352)
  plugins/plugin-chart-echarts/src/MixedTimeseries/buildQuery.ts
Due: plugins

chore(core): normalize orderby in QueryObject
  packages/superset-ui-core/src/query/buildQueryObject.ts
  packages/superset-ui-core/src/query/extractQueryFields.ts
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
Due: core-packages, plugins

wip
  plugins/plugin-chart-pivot-table/src/plugin/buildQuery.ts
Due: plugins

WIP
  plugins/plugin-chart-pivot-table/src/plugin/buildQuery.ts
Due: plugins

code smell
  packages/superset-ui-core/src/query/normalizeOrderBy.ts
Due: core-packages

fix UT
  packages/superset-ui-core/test/query/normalizeOrderBy.test.ts
Due: core-packages

fix ut
  packages/superset-ui-core/src/query/normalizeOrderBy.ts
Due: core-packages

wip
  packages/superset-ui-core/src/query/normalizeOrderBy.ts
Due: core-packages

fix UT
  packages/superset-ui-core/test/query/buildQueryObject.test.ts
Due: core-packages

fix lint
  plugins/plugin-chart-pivot-table/src/plugin/buildQuery.ts
Due: plugins

WIP
  packages/superset-ui-core/src/query/normalizeOrderBy.ts
  plugins/plugin-chart-echarts/src/Funnel/buildQuery.ts
  plugins/plugin-chart-echarts/src/Funnel/index.ts
  plugins/plugin-chart-echarts/src/Gauge/buildQuery.ts
  plugins/plugin-chart-echarts/src/MixedTimeseries/buildQuery.ts
  plugins/plugin-chart-echarts/src/Pie/buildQuery.ts
  plugins/plugin-chart-echarts/src/Pie/index.ts
  plugins/plugin-chart-echarts/src/Radar/buildQuery.ts
  plugins/plugin-chart-echarts/src/Radar/index.ts
  plugins/plugin-chart-echarts/src/Treemap/buildQuery.ts
  plugins/plugin-chart-echarts/src/Treemap/index.ts
  plugins/plugin-chart-echarts/test/Funnel/buildQuery.test.ts
  plugins/plugin-chart-echarts/test/Pie/buildQuery.test.ts
  plugins/plugin-chart-echarts/test/Treemap/buildQuery.test.ts
Due: core-packages, plugins

WIP
  packages/superset-ui-core/src/query/extractQueryFields.ts
  packages/superset-ui-core/src/query/normalizeOrderBy.ts
  packages/superset-ui-core/test/query/extractQueryFields.test.ts
  packages/superset-ui-core/test/query/normalizeOrderBy.test.ts
  plugins/plugin-chart-echarts/test/Timeseries/buildQuery.test.ts
Due: core-packages, plugins

lint
  packages/superset-ui-core/src/query/normalizeOrderBy.ts
Due: core-packages

fix mixed time series
  plugins/plugin-chart-echarts/src/MixedTimeseries/buildQuery.ts
Due: plugins

fix lint
  plugins/plugin-chart-echarts/src/MixedTimeseries/buildQuery.ts
Due: plugins

feat(core): add support for non-temporal series limit (#1356)
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  packages/superset-ui-core/src/query/buildQueryObject.ts
  packages/superset-ui-core/src/query/types/Query.ts
  packages/superset-ui-core/src/query/types/QueryFormData.ts
  plugins/plugin-chart-echarts/src/BoxPlot/buildQuery.ts
  plugins/plugin-chart-echarts/src/BoxPlot/controlPanel.ts
  plugins/plugin-chart-echarts/test/BoxPlot/buildQuery.test.ts
Due: core-packages, plugins

chore: publish v0.18.4
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

feat(legacy-plugin-chart-country-map): add direct links to datasets
  plugins/legacy-plugin-chart-country-map/scripts/Country Map GeoJSON Generator.ipynb
Due: plugins

minor improvement
  packages/superset-ui-chart-controls/src/operators/resampleOperator.ts
  packages/superset-ui-chart-controls/src/sections/advancedAnalytics.tsx
Due: core-packages

wip
  packages/superset-ui-chart-controls/src/operators/resampleOperator.ts
Due: core-packages

chore: replace mathjs with mexp
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-echarts/src/utils/annotation.ts
  plugins/plugin-chart-echarts/test/utils/annotation.test.ts
  yarn.lock
Due: plugins

remove console.log and fix types
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  plugins/plugin-chart-echarts/src/utils/annotation.ts
  plugins/plugin-chart-echarts/test/utils/annotation.test.ts
Due: plugins

chore: replace mathjs with mexp (#1362)
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  plugins/plugin-chart-echarts/src/utils/annotation.ts
  plugins/plugin-chart-echarts/test/utils/annotation.test.ts
  yarn.lock
Due: plugins

fix UT
  packages/superset-ui-chart-controls/test/utils/operators/resampleOperator.test.ts
Due: core-packages

chore: do prettier for yaml file
  .github/dependabot.yml
Due: none

minor fix
  packages/superset-ui-chart-controls/src/operators/resampleOperator.ts
Due: core-packages

chore: do prettier for yaml file (#1363)
  .github/dependabot.yml
Due: none

udates
  packages/superset-ui-chart-controls/src/operators/resampleOperator.ts
  packages/superset-ui-chart-controls/test/utils/operators/resampleOperator.test.ts
  packages/superset-ui-core/src/query/types/PostProcessing.ts
Due: core-packages

fix type
  packages/superset-ui-core/src/query/types/PostProcessing.ts
Due: core-packages

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
