Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

codecov.yml:

coverage:
  status:
    project:
      target: 90%
      # send notification if coverage change exceed this threshold
      threshold: 5%
    core-packages:
      target: 100%
      flags: 
        - core-packages
    plugins:
      target: 50%
      flags: 
        - plugins

flags:
  core-packages:
    paths:
      - packages
  plugins:
    paths:
      - plugins

fix metricoption bug and add tests
  packages/superset-ui-control-utils/src/ColumnOption.tsx
  packages/superset-ui-control-utils/src/ColumnTypeLabel.tsx
  packages/superset-ui-control-utils/src/MetricOption.tsx
  packages/superset-ui-control-utils/src/index.ts
  packages/superset-ui-control-utils/test/ColumnOption.test.tsx
  packages/superset-ui-control-utils/test/MetricOption.test.tsx
  plugins/legacy-plugin-chart-time-table/src/TimeTable.jsx
  plugins/legacy-plugin-chart-time-table/src/index.js
Due: core-packages, plugins

feat: metric option added to control utils
  packages/superset-ui-control-utils/package.json
  packages/superset-ui-control-utils/src/MetricOption.tsx
  packages/superset-ui-control-utils/src/index.ts
Due: core-packages

add test
  packages/superset-ui-control-utils/src/MetricOption.tsx
  packages/superset-ui-control-utils/test/MetricOption.test.tsx
Due: core-packages

Add MetricOptions to superset-ui control utils and fix tests
  packages/superset-ui-control-utils/src/MetricOption.tsx
  packages/superset-ui-control-utils/src/index.ts
  packages/superset-ui-control-utils/test/MetricOption.test.tsx
  packages/superset-ui-control-utils/test/components/ColumnOption.test.tsx
  packages/superset-ui-control-utils/test/components/ColumnTypeLabel.test.tsx
  packages/superset-ui-control-utils/test/components/InfoTooltipWithTrigger.test.tsx
  packages/superset-ui-control-utils/test/components/MetricOption.test.tsx
Due: core-packages

fix: annotation PropType for formula annotations
  plugins/legacy-preset-chart-nvd3/src/PropTypes.js
Due: plugins

fix: annotation PropType for formula annotations (#594)
  plugins/legacy-preset-chart-nvd3/src/PropTypes.js
Due: plugins

add suggestions
  packages/superset-ui-control-utils/src/MetricOption.tsx
  packages/superset-ui-control-utils/test/components/MetricOption.test.tsx
Due: core-packages

Update packages/superset-ui-control-utils/test/components/InfoTooltipWithTrigger.test.tsx
  packages/superset-ui-control-utils/test/components/InfoTooltipWithTrigger.test.tsx
Due: core-packages

remove prop assignments
  packages/superset-ui-control-utils/src/MetricOption.tsx
Due: core-packages

fix lint
  packages/superset-ui-control-utils/test/components/InfoTooltipWithTrigger.test.tsx
Due: core-packages

chore(superset-ui-control-uitils): add MetricOption and dependencies to control utils (#593)
  packages/superset-ui-control-utils/package.json
  packages/superset-ui-control-utils/src/MetricOption.tsx
  packages/superset-ui-control-utils/src/index.ts
  packages/superset-ui-control-utils/test/components/ColumnOption.test.tsx
  packages/superset-ui-control-utils/test/components/ColumnTypeLabel.test.tsx
  packages/superset-ui-control-utils/test/components/InfoTooltipWithTrigger.test.tsx
  packages/superset-ui-control-utils/test/components/MetricOption.test.tsx
Due: core-packages

chore: publish v0.13.28
  lerna.json
  packages/superset-ui-control-utils/package.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-superset-ui/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-preset-chart-nvd3/package.json
Due: core-packages, plugins

feat(control-utils): better typing for control configs
  packages/superset-ui-control-utils/src/ColumnOption.tsx
  packages/superset-ui-control-utils/src/shared-controls.tsx
  packages/superset-ui-control-utils/src/types.ts
Due: core-packages

Optimize ControlPanelActions
  packages/superset-ui-control-utils/src/index.ts
  packages/superset-ui-control-utils/src/types.ts
Due: core-packages

Add control panel config
  packages/superset-ui-control-utils/src/shared-controls.tsx
  packages/superset-ui-control-utils/src/types.ts
  plugins/legacy-plugin-chart-table/src/controlPanel.tsx
Due: core-packages, plugins

More robust typing for SelectControl
  packages/superset-ui-control-utils/src/shared-controls.tsx
  packages/superset-ui-control-utils/src/types.ts
  plugins/legacy-plugin-chart-table/src/controlPanel.tsx
Due: core-packages, plugins

Support formData, add typing for BigNumber
  packages/superset-ui-control-utils/package.json
  packages/superset-ui-control-utils/src/types.ts
  plugins/legacy-preset-chart-big-number/src/BigNumber/controlPanel.tsx
  plugins/legacy-preset-chart-big-number/src/sharedControls.ts
Due: core-packages, plugins

fix mr conflict
  packages/superset-ui-control-utils/src/index.ts
Due: core-packages

delete unused file
  packages/superset-ui-control-utils/test/MetricOption.test.tsx
Due: core-packages

build: fix build single package
  package.json
  scripts/build.js
Due: none

feat: add color pallettes defined in SIP-34
  packages/superset-ui-color/src/colorSchemes/categorical/preset.ts
  packages/superset-ui-color/src/colorSchemes/categorical/superset.ts
  packages/superset-ui-color/src/colorSchemes/sequential/common.ts
  packages/superset-ui-color/test/colorSchemes.test.ts
  packages/superset-ui-demo/storybook/stories/superset-ui-color/ColorPallettesStories.jsx
Due: core-packages

fix
  packages/superset-ui-control-utils/src/ColumnOption.tsx
  packages/superset-ui-control-utils/test/components/ColumnOption.test.tsx
Due: core-packages

fix lint
  plugins/legacy-plugin-chart-time-table/src/SparklineCell.jsx
Due: plugins

chore: calender chart typography (#561)
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-calendar/src/Calendar.css
  plugins/legacy-plugin-chart-calendar/src/Calendar.js
  plugins/legacy-plugin-chart-calendar/src/ReactCalendar.jsx
Due: plugins

chore(histogram): convert histogram css to emotion style (#572)
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-histogram/src/Histogram.css
  plugins/legacy-plugin-chart-histogram/src/Histogram.jsx
Due: plugins

feat: add color pallettes defined in SIP-34 (#597)
  packages/superset-ui-color/src/colorSchemes/categorical/preset.ts
  packages/superset-ui-color/src/colorSchemes/categorical/superset.ts
  packages/superset-ui-color/src/colorSchemes/sequential/common.ts
  packages/superset-ui-color/test/colorSchemes.test.ts
  packages/superset-ui-demo/storybook/stories/superset-ui-color/ColorPallettesStories.jsx
Due: core-packages

add emotion styling to chord (#578)
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-chord/src/Chord.css
  plugins/legacy-plugin-chart-chord/src/Chord.js
  plugins/legacy-plugin-chart-chord/src/ReactChord.jsx
Due: plugins

feat(control-utils): better typing for control configs (#595)
  packages/superset-ui-control-utils/package.json
  packages/superset-ui-control-utils/src/ColumnOption.tsx
  packages/superset-ui-control-utils/src/index.ts
  packages/superset-ui-control-utils/src/shared-controls.tsx
  packages/superset-ui-control-utils/src/types.ts
  plugins/legacy-plugin-chart-table/src/controlPanel.tsx
  plugins/legacy-preset-chart-big-number/src/BigNumber/controlPanel.tsx
  plugins/legacy-preset-chart-big-number/src/sharedControls.ts
Due: core-packages, plugins

chore(legacy-plugin-chart-calendar): use domains from control (#592)
  plugins/legacy-plugin-chart-calendar/src/Calendar.js
  plugins/legacy-plugin-chart-calendar/src/transformProps.js
Due: plugins

chore: publish v0.13.29
  lerna.json
  packages/superset-ui-color/package.json
  packages/superset-ui-control-utils/package.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-superset-ui/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-table/package.json
  plugins/legacy-preset-chart-big-number/package.json
Due: core-packages, plugins

build: fix typing rebuild for single packages (#596)
  package.json
  scripts/build.js
Due: none

build: optimize storybook config
  packages/superset-ui-demo/.storybook/main.js
Due: core-packages

feat: import theme colors
  packages/superset-ui-demo/storybook/stories/superset-ui-style/ThemeStories.jsx
  packages/superset-ui-style/src/index.ts
Due: core-packages

build: optimize storybook config (#600)
  packages/superset-ui-demo/.storybook/main.js
Due: core-packages

feat: import theme colors (#601)
  packages/superset-ui-demo/storybook/stories/superset-ui-style/ThemeStories.jsx
  packages/superset-ui-style/src/index.ts
Due: core-packages

theming works!
  plugins/legacy-plugin-chart-table/src/ReactDataTable.tsx
Due: plugins

chore: publish v0.13.30
  lerna.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-style/package.json
  packages/superset-ui-superset-ui/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

consolidating styles
  plugins/legacy-plugin-chart-table/src/ReactDataTable.tsx
Due: plugins

style: linting
  plugins/legacy-plugin-chart-table/src/ReactDataTable.tsx
Due: plugins

chore: upgrade @types/react
  packages/superset-ui-chart-composition/package.json
  packages/superset-ui-chart/package.json
  plugins/legacy-plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  temporary-plugins/package.json
  temporary-plugins/superset-ui-plugins-demo/package.json
  yarn.lock
Due: core-packages, plugins
