Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

codecov.yml:

coverage:
  status:
    project:
      target: 90%
      # send notification if coverage change exceed this threshold
      threshold: 5%
    core-packages:
      target: 100%
      flags: 
        - core-packages
    plugins:
      target: 50%
      flags: 
        - plugins

flags:
  core-packages:
    paths:
      - packages
  plugins:
    paths:
      - plugins

chore: upgrade @types/react (#613)
  packages/superset-ui-chart-composition/package.json
  packages/superset-ui-chart/package.json
  plugins/legacy-plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  temporary-plugins/package.json
  temporary-plugins/superset-ui-plugins-demo/package.json
  yarn.lock
Due: core-packages, plugins

Dont export BaseControlConfig
  packages/superset-ui-control-utils/src/types.ts
Due: core-packages

refactor(control-utils): move components to a separate folder
  packages/superset-ui-control-utils/src/components/ColumnOption.tsx
  packages/superset-ui-control-utils/src/components/ColumnTypeLabel.tsx
  packages/superset-ui-control-utils/src/components/InfoTooltipWithTrigger.tsx
  packages/superset-ui-control-utils/src/components/MetricOption.tsx
  packages/superset-ui-control-utils/src/index.ts
  packages/superset-ui-control-utils/src/shared-controls.tsx
  packages/superset-ui-control-utils/src/types.ts
Due: core-packages

Add comment
  packages/superset-ui-control-utils/src/types.ts
Due: core-packages

Fix import paths
  packages/superset-ui-control-utils/src/components/ColumnOption.tsx
  packages/superset-ui-control-utils/src/shared-controls.tsx
  packages/superset-ui-control-utils/test/components/ColumnOption.test.tsx
  packages/superset-ui-control-utils/test/components/ColumnTypeLabel.test.tsx
  packages/superset-ui-control-utils/test/components/InfoTooltipWithTrigger.test.tsx
  packages/superset-ui-control-utils/test/components/MetricOption.test.tsx
  packages/superset-ui-control-utils/test/index.test.ts
  packages/superset-ui-control-utils/test/mainMetric.test.ts
  packages/superset-ui-control-utils/test/selectOptions.test.ts
Due: core-packages

Move more files
  packages/superset-ui-control-utils/src/index.ts
  packages/superset-ui-control-utils/src/shared-controls/index.tsx
  packages/superset-ui-control-utils/src/utils/D3Formatting.ts
  packages/superset-ui-control-utils/src/utils/mainMetric.ts
  packages/superset-ui-control-utils/src/utils/selectOptions.ts
  packages/superset-ui-control-utils/test/utils/mainMetric.test.ts
  packages/superset-ui-control-utils/test/utils/selectOptions.test.ts
Due: core-packages

Be more specific about shared controls
  packages/superset-ui-control-utils/src/index.ts
  packages/superset-ui-control-utils/src/shared-controls.tsx
  packages/superset-ui-control-utils/src/types.ts
Due: core-packages

Rename GeneralControlConfig to BaseControlConfig
  packages/superset-ui-control-utils/src/types.ts
Due: core-packages

Port in changes related to apache/incubator-superset#9628
  packages/superset-ui-control-utils/src/shared-controls.tsx
  packages/superset-ui-control-utils/src/types.ts
Due: core-packages

Clean up unused variable
  packages/superset-ui-control-utils/src/shared-controls.tsx
Due: core-packages

Make BaseControlConfig generic
  packages/superset-ui-control-utils/src/types.ts
Due: core-packages

Optimize SelectControlConfig
  packages/superset-ui-control-utils/src/types.ts
Due: core-packages

fix: pointing nvd3 package to nvd3-fork
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
Due: plugins

fix: pointing nvd3 package to nvd3-fork (#615)
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
Due: plugins

refactor(control-utils): reorganize files and refine typing (#610)
  packages/superset-ui-control-utils/src/components/ColumnOption.tsx
  packages/superset-ui-control-utils/src/components/ColumnTypeLabel.tsx
  packages/superset-ui-control-utils/src/components/InfoTooltipWithTrigger.tsx
  packages/superset-ui-control-utils/src/components/MetricOption.tsx
  packages/superset-ui-control-utils/src/index.ts
  packages/superset-ui-control-utils/src/shared-controls.tsx
  packages/superset-ui-control-utils/src/types.ts
  packages/superset-ui-control-utils/src/utils/D3Formatting.ts
  packages/superset-ui-control-utils/src/utils/mainMetric.ts
  packages/superset-ui-control-utils/src/utils/selectOptions.ts
  packages/superset-ui-control-utils/test/components/ColumnOption.test.tsx
  packages/superset-ui-control-utils/test/components/ColumnTypeLabel.test.tsx
  packages/superset-ui-control-utils/test/components/InfoTooltipWithTrigger.test.tsx
  packages/superset-ui-control-utils/test/components/MetricOption.test.tsx
  packages/superset-ui-control-utils/test/selectOptions.test.ts
  packages/superset-ui-control-utils/test/utils/mainMetric.test.ts
  packages/superset-ui-control-utils/test/utils/selectOptions.test.ts
Due: core-packages

build: bump @types/react to 16.9.38
  package.json
  packages/superset-ui-chart-composition/package.json
  packages/superset-ui-chart/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-word-cloud/package.json
  temporary-plugins/package.json
  temporary-plugins/superset-ui-plugins-demo/package.json
  yarn.lock
Due: core-packages, plugins

chore: publish v0.13.31
  lerna.json
  packages/superset-ui-chart-composition/package.json
  packages/superset-ui-chart/package.json
  packages/superset-ui-control-utils/package.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-superset-ui/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-table/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

build: bump @types/react to 16.9.38 (#619)
  package.json
  packages/superset-ui-chart-composition/package.json
  packages/superset-ui-chart/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-word-cloud/package.json
  temporary-plugins/package.json
  temporary-plugins/superset-ui-plugins-demo/package.json
  yarn.lock
Due: core-packages, plugins

build: clean package-lock.json before release
  package.json
Due: none

build: clean package-lock.json before release (#621)
  package.json
Due: none

feat(plugin-chart-table): rewrite with react-table
  packages/superset-ui-demo/package.json
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-table/TableStories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/TableStories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/birthNames.json
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/testData.js
  plugins/plugin-chart-table/README.md
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/DataTable/README.md
  plugins/plugin-chart-table/src/DataTable/Styles.tsx
  plugins/plugin-chart-table/src/DataTable/components/GlobalFilter.tsx
  plugins/plugin-chart-table/src/DataTable/components/Pagination.tsx
  plugins/plugin-chart-table/src/DataTable/components/SelectPageSize.tsx
  plugins/plugin-chart-table/src/DataTable/hooks/useColumnCellProps.ts
  plugins/plugin-chart-table/src/DataTable/hooks/useSticky.ts
  plugins/plugin-chart-table/src/DataTable/index.tsx
  plugins/plugin-chart-table/src/DataTable/types/react-table.d.ts
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/controlPanel.tsx
  plugins/plugin-chart-table/src/images/thumbnail.png
  plugins/plugin-chart-table/src/images/thumbnailLarge.png
  plugins/plugin-chart-table/src/index.ts
  plugins/plugin-chart-table/src/transformProps.ts
  plugins/plugin-chart-table/src/types.ts
  plugins/plugin-chart-table/test/TableChart.test.tsx
  plugins/plugin-chart-table/test/testData.ts
  plugins/plugin-chart-table/types/external.d.ts
  yarn.lock
Due: core-packages, plugins

More robust scroll bar size in table
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/TableStories.tsx
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-table/src/DataTable/hooks/useSticky.tsx
  plugins/plugin-chart-table/src/DataTable/utils/getScrollBarSize.ts
  plugins/plugin-chart-table/src/Styles.tsx
Due: core-packages, plugins

feat(plugin-chart-table): better sticky experience and more
  packages/superset-ui-chart-controls/src/utils/selectOptions.ts
  packages/superset-ui-chart-controls/test/utils/selectOptions.test.ts
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/TableStories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/birthNames.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/DataTable/components/GlobalFilter.tsx
  plugins/plugin-chart-table/src/DataTable/components/Pagination.tsx
  plugins/plugin-chart-table/src/DataTable/components/SelectPageSize.tsx
  plugins/plugin-chart-table/src/DataTable/hooks/useColumnCellProps.ts
  plugins/plugin-chart-table/src/DataTable/hooks/useSticky.ts
  plugins/plugin-chart-table/src/DataTable/hooks/useSticky.tsx
  plugins/plugin-chart-table/src/DataTable/types/react-table.d.ts
  plugins/plugin-chart-table/src/Styles.tsx
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/controlPanel.tsx
  plugins/plugin-chart-table/src/transformProps.ts
  plugins/plugin-chart-table/src/types.ts
  plugins/plugin-chart-table/src/utils/formatValue.ts
  plugins/plugin-chart-table/types/external.d.ts
  yarn.lock
Due: core-packages, plugins

Update table chart example
  packages/superset-ui-chart/src/models/ChartProps.ts
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/TableStories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/testData.ts
  plugins/plugin-chart-table/src/types.ts
Due: core-packages, plugins

upgrade packages
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/birthNames.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  temporary-plugins/package.json
  temporary-plugins/superset-ui-plugins-demo/package.json
Due: core-packages, plugins

Update examples
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/TableStories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/birthNames.json
Due: core-packages

Address PR comments; rewrite stories
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/TableStories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/testData.js
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/testData.ts
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/DataTable/components/SelectPageSize.tsx
  plugins/plugin-chart-table/src/DataTable/hooks/useSticky.tsx
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/utils/extent.ts
  plugins/plugin-chart-table/types/external.d.ts
Due: core-packages, plugins

Dont use time range for adaptive formatting
  plugins/plugin-chart-table/src/controlPanel.tsx
  plugins/plugin-chart-table/src/transformProps.ts
Due: plugins

Simplify StickyWrap and scroll retention
  package.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/TableStories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/birthNames.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/DataTable/components/Pagination.tsx
  plugins/plugin-chart-table/src/DataTable/components/SelectPageSize.tsx
  plugins/plugin-chart-table/src/DataTable/hooks/useSticky.tsx
  plugins/plugin-chart-table/src/Styles.tsx
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/transformProps.ts
  plugins/plugin-chart-table/src/utils/formatValue.ts
  plugins/plugin-chart-table/test/TableChart.test.tsx
  yarn.lock
Due: core-packages, plugins

Add auto-pagination; fix excessive rerenders
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/DataTable/hooks/useSticky.tsx
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/controlPanel.tsx
  plugins/plugin-chart-table/src/transformProps.ts
  plugins/plugin-chart-table/src/types.ts
  yarn.lock
Due: plugins

Optimize global filter
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/DataTable/components/GlobalFilter.tsx
  plugins/plugin-chart-table/src/Styles.tsx
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/transformProps.ts
  yarn.lock
Due: plugins

Fix sorting function for numbers
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/transformProps.ts
Due: plugins

Address PR comments
  packages/superset-ui-chart/src/models/ChartProps.ts
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/transformProps.ts
  plugins/plugin-chart-table/src/utils/isEqualArray.ts
  plugins/plugin-chart-table/test/testData.ts
Due: core-packages, plugins

Add requestAnimationFrame so resizing can be more smooth
  plugins/plugin-chart-table/src/DataTable/hooks/useSticky.tsx
Due: plugins

Optimize search filter
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/DataTable/components/GlobalFilter.tsx
  plugins/plugin-chart-table/src/DataTable/components/Pagination.tsx
  plugins/plugin-chart-table/src/DataTable/hooks/useSticky.tsx
  plugins/plugin-chart-table/src/DataTable/index.tsx
  plugins/plugin-chart-table/src/DataTable/utils/useAsyncState.ts
  plugins/plugin-chart-table/src/TableChart.tsx
Due: plugins

Update comments and arguments
  plugins/plugin-chart-table/src/DataTable/hooks/useSticky.tsx
Due: plugins

Break utility functions out
  plugins/plugin-chart-table/src/DataTable/hooks/useSticky.tsx
  plugins/plugin-chart-table/src/DataTable/utils/needScrollBar.ts
  plugins/plugin-chart-table/src/DataTable/utils/useMountedMemo.ts
Due: plugins
