Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

grabbing/broadcasting cell names
  plugins/plugin-chart-observable/src/chart/ObservableLoader.tsx
Due: plugins

adding react-redux types
  plugins/plugin-chart-observable/package.json
Due: plugins

fancier thumbs
  plugins/plugin-chart-observable/src/images/thumbnail.png
  plugins/plugin-chart-observable/src/images/thumbnailLarge.png
Due: plugins

redux magic :rainbow:
  plugins/plugin-chart-observable/package.json
  plugins/plugin-chart-observable/src/chart/ObservableLoader.tsx
  plugins/plugin-chart-observable/src/plugin/controlPanel.ts
Due: plugins

removing unused import
  plugins/plugin-chart-observable/src/chart/ObservableLoader.tsx
Due: plugins

shutting up typescript with ts-nocheck (fix this!)
  plugins/plugin-chart-observable/src/chart/Observable.tsx
  plugins/plugin-chart-observable/src/plugin/controlPanel.ts
Due: plugins

yarn lock
  yarn.lock
Due: none

Disable eslint in single line
  scripts/build.js
Due: none

build: allow building only one (or more) package (#571)
  CONTRIBUTING.md
  README.md
  package.json
  scripts/build.js
  scripts/copyAssets.js
Due: none

feat(plugin-chart-table): rewrite with react-table
  packages/superset-ui-demo/.storybook/main.js
  packages/superset-ui-demo/package.json
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-table/TableStories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/TableStories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/birthNames.json
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/testData.js
  plugins/plugin-chart-table/README.md
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/DataTable/README.md
  plugins/plugin-chart-table/src/DataTable/Styles.tsx
  plugins/plugin-chart-table/src/DataTable/components/GlobalFilter.tsx
  plugins/plugin-chart-table/src/DataTable/components/Pagination.tsx
  plugins/plugin-chart-table/src/DataTable/components/SelectPageSize.tsx
  plugins/plugin-chart-table/src/DataTable/hooks/useColumnCellProps.ts
  plugins/plugin-chart-table/src/DataTable/hooks/useSticky.ts
  plugins/plugin-chart-table/src/DataTable/index.tsx
  plugins/plugin-chart-table/src/DataTable/types/react-table.d.ts
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/controlPanel.tsx
  plugins/plugin-chart-table/src/images/thumbnail.png
  plugins/plugin-chart-table/src/images/thumbnailLarge.png
  plugins/plugin-chart-table/src/index.ts
  plugins/plugin-chart-table/src/transformProps.ts
  plugins/plugin-chart-table/src/types.ts
  plugins/plugin-chart-table/test/TableChart.test.tsx
  plugins/plugin-chart-table/test/testData.ts
  plugins/plugin-chart-table/types/external.d.ts
  yarn.lock
Due: core-packages, plugins

more ts-ignore (temp)
  plugins/plugin-chart-observable/test/plugin/buildQuery.test.ts
Due: plugins

lock file
  yarn.lock
Due: none

feat: metric option added to control utils
  packages/superset-ui-control-utils/package.json
  packages/superset-ui-control-utils/src/MetricOption.tsx
  packages/superset-ui-control-utils/src/index.ts
Due: core-packages

fix ts error
  packages/superset-ui-control-utils/src/MetricOption.tsx
  packages/superset-ui-control-utils/src/index.ts
Due: core-packages

removing extraneous debug info
  plugins/plugin-chart-observable/src/chart/Observable.tsx
Due: plugins

feat(plugin-chart-table): better sticky experience and more
  packages/superset-ui-demo/.storybook/main.js
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/birthNames.json
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/DataTable/components/GlobalFilter.tsx
  plugins/plugin-chart-table/src/DataTable/components/Pagination.tsx
  plugins/plugin-chart-table/src/DataTable/hooks/useColumnCellProps.ts
  plugins/plugin-chart-table/src/DataTable/hooks/useSticky.ts
  plugins/plugin-chart-table/src/DataTable/hooks/useSticky.tsx
  plugins/plugin-chart-table/src/DataTable/types/react-table.d.ts
  plugins/plugin-chart-table/src/Styles.tsx
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/transformProps.ts
  plugins/plugin-chart-table/src/types.ts
  plugins/plugin-chart-table/src/utils/formatValue.ts
Due: core-packages, plugins

Fix build error
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/TableStories.tsx
Due: core-packages

Add controls and fix lint
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-time-table/src/TimeTable.jsx
  plugins/legacy-plugin-chart-time-table/src/controlPanel.js
  plugins/legacy-plugin-chart-time-table/src/index.js
Due: plugins

delete folder
  plugins/legacy-plugin-chart-time-table/src/deleteme/chart/Encoder.ts
  plugins/legacy-plugin-chart-time-table/src/deleteme/chart/WordCloud.tsx
  plugins/legacy-plugin-chart-time-table/src/deleteme/images/thumbnail.png
  plugins/legacy-plugin-chart-time-table/src/deleteme/images/thumbnailLarge.png
  plugins/legacy-plugin-chart-time-table/src/deleteme/index.ts
  plugins/legacy-plugin-chart-time-table/src/deleteme/legacyPlugin/index.ts
  plugins/legacy-plugin-chart-time-table/src/deleteme/legacyPlugin/transformProps.ts
  plugins/legacy-plugin-chart-time-table/src/deleteme/legacyPlugin/types.ts
  plugins/legacy-plugin-chart-time-table/src/deleteme/plugin/buildQuery.ts
  plugins/legacy-plugin-chart-time-table/src/deleteme/plugin/controlPanel.ts
  plugins/legacy-plugin-chart-time-table/src/deleteme/plugin/index.ts
  plugins/legacy-plugin-chart-time-table/src/deleteme/plugin/transformProps.ts
  plugins/legacy-plugin-chart-time-table/src/deleteme/types.ts
Due: plugins

feat: add new fields to QueryContext and QueryObject
  package.json
  packages/superset-ui-query/src/buildQueryContext.ts
  packages/superset-ui-query/src/buildQueryObject.ts
  packages/superset-ui-query/src/types/Query.ts
  packages/superset-ui-query/src/types/QueryFormData.ts
  packages/superset-ui-query/test/buildQueryContext.test.ts
  packages/superset-ui-query/test/buildQueryObject.test.ts
  packages/superset-ui-query/test/processGroupby.test.ts
Due: core-packages

linting
  packages/superset-ui-chart/test/models/ChartPlugin.test.tsx
  packages/superset-ui-query/src/types/Query.ts
  packages/superset-ui-query/src/types/QueryFormData.ts
Due: core-packages

remove change to package.json
  package.json
Due: none

react-redux as peer dep
  plugins/plugin-chart-observable/package.json
Due: plugins

feat(query): add more query wrappers (#570)
  packages/superset-ui-query/src/api/legacy/fetchExploreJson.ts
  packages/superset-ui-query/src/api/legacy/getDatasourceMetadata.ts
  packages/superset-ui-query/src/api/legacy/getFormData.ts
  packages/superset-ui-query/src/api/legacy/index.ts
  packages/superset-ui-query/src/api/types.ts
  packages/superset-ui-query/src/api/v1/index.ts
  packages/superset-ui-query/src/api/v1/postChartData.ts
  packages/superset-ui-query/src/index.ts
  packages/superset-ui-query/test/api/fixtures/constants.ts
  packages/superset-ui-query/test/api/legacy/fetchExploreJson.test.ts
  packages/superset-ui-query/test/api/legacy/getDatasourceMetadata.test.ts
  packages/superset-ui-query/test/api/legacy/getFormData.test.ts
  packages/superset-ui-query/test/api/setupClientForTest.ts
  packages/superset-ui-query/test/api/v1/postChartData.test.ts
Due: core-packages

feat(query): add new fields to QueryContext and QueryObject (#583)
  packages/superset-ui-chart/test/models/ChartPlugin.test.tsx
  packages/superset-ui-query/src/buildQueryContext.ts
  packages/superset-ui-query/src/buildQueryObject.ts
  packages/superset-ui-query/src/types/Query.ts
  packages/superset-ui-query/src/types/QueryFormData.ts
  packages/superset-ui-query/test/buildQueryContext.test.ts
  packages/superset-ui-query/test/buildQueryObject.test.ts
  packages/superset-ui-query/test/processGroupby.test.ts
Due: core-packages

chore(legacy-plugin-chart-markup): add emotion styling to Markup chart (#567)
  plugins/legacy-plugin-chart-markup/package.json
  plugins/legacy-plugin-chart-markup/src/Markup.css
  plugins/legacy-plugin-chart-markup/src/Markup.jsx
Due: plugins

Update Calendar.js
  plugins/legacy-plugin-chart-calendar/src/Calendar.js
Due: plugins

flattened/simplified file structure.
  plugins/plugin-chart-observable/src/buildQuery.ts
  plugins/plugin-chart-observable/src/controlPanel.ts
  plugins/plugin-chart-observable/src/index.ts
  plugins/plugin-chart-observable/src/plugin/index.ts
  plugins/plugin-chart-observable/src/transformProps.ts
Due: plugins

style(control-utils): fix type reexport warning in babel
  packages/superset-ui-control-utils/src/ColumnOption.tsx
  packages/superset-ui-control-utils/src/ColumnTypeLabel.tsx
  packages/superset-ui-control-utils/src/InfoTooltipWithTrigger.tsx
  packages/superset-ui-control-utils/src/index.ts
  packages/superset-ui-control-utils/src/shared-controls.tsx
  packages/superset-ui-control-utils/test/ColumnOption.test.tsx
  packages/superset-ui-control-utils/test/ColumnTypeLabel.test.tsx
Due: core-packages

clean up gather cell names and cell redefines
  plugins/plugin-chart-observable/src/chart/Observable.tsx
  plugins/plugin-chart-observable/src/chart/ObservableLoader.tsx
Due: plugins

fix test
  plugins/plugin-chart-observable/test/plugin/buildQuery.test.ts
Due: plugins

lint
  plugins/plugin-chart-observable/src/chart/ObservableLoader.tsx
Due: plugins

style(control-utils): fix type reexport warning in babel (#586)
  packages/superset-ui-control-utils/src/ColumnOption.tsx
  packages/superset-ui-control-utils/src/ColumnTypeLabel.tsx
  packages/superset-ui-control-utils/src/InfoTooltipWithTrigger.tsx
  packages/superset-ui-control-utils/src/index.ts
  packages/superset-ui-control-utils/src/shared-controls.tsx
  packages/superset-ui-control-utils/test/ColumnOption.test.tsx
  packages/superset-ui-control-utils/test/ColumnTypeLabel.test.tsx
Due: core-packages

chore(legacy-plugin-chart-calendar): use domains from control
  plugins/legacy-plugin-chart-calendar/src/Calendar.js
  plugins/legacy-plugin-chart-calendar/src/transformProps.js
Due: plugins

add missing fields and remove ts-ignore
  plugins/plugin-chart-observable/src/types.ts
  plugins/plugin-chart-observable/test/plugin/buildQuery.test.ts
Due: plugins

add test for observable and dependencies
  plugins/plugin-chart-observable/package.json
  plugins/plugin-chart-observable/test/plugin/Observable.test.tsx
  plugins/plugin-chart-observable/test/plugin/ObservableLoader.test.tsx
  plugins/plugin-chart-observable/test/plugin/transformProps.test.ts
Due: plugins

add test for observable:
  plugins/plugin-chart-observable/test/plugin/Observable.test.tsx
Due: plugins

feat: table uses Emotion styles
  plugins/legacy-plugin-chart-table/package.json
  plugins/legacy-plugin-chart-table/src/ReactDataTable.tsx
  plugins/legacy-plugin-chart-table/src/Table.css
Due: plugins

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
