Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

fix: nvd3 annotations
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.css
Due: plugins

remove groupby
  plugins/plugin-chart-word-cloud/src/plugin/buildQuery.ts
Due: plugins

fix: nvd3 annotation tooltip (#540)
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.css
Due: plugins

chore: clean up useless file
  plugins/big-number/yarn.lock
Due: plugins

chore: publish v0.13.23
  lerna.json
  plugins/legacy-preset-chart-nvd3/package.json
Due: plugins

using theme via Emotion for type styles - various TS-driven refactoring
  plugins/plugin-chart-word-cloud/package.json
  plugins/plugin-chart-word-cloud/src/chart/Encoder.ts
  plugins/plugin-chart-word-cloud/src/chart/WordCloud.tsx
  plugins/plugin-chart-word-cloud/src/legacyPlugin/index.ts
  plugins/plugin-chart-word-cloud/src/legacyPlugin/transformProps.ts
  plugins/plugin-chart-word-cloud/src/plugin/index.ts
  plugins/plugin-chart-word-cloud/src/plugin/transformProps.tsx
  yarn.lock
Due: plugins

bug: whoops, this file is effectively a duplicate!
  plugins/plugin-chart-word-cloud/src/plugin/transformProps.tsx
Due: plugins

cleaning up package paths.
  plugins/plugin-chart-word-cloud/src/legacyPlugin/index.ts
  plugins/plugin-chart-word-cloud/src/legacyPlugin/transformProps.ts
  plugins/plugin-chart-word-cloud/src/plugin/index.ts
  plugins/plugin-chart-word-cloud/src/plugin/transformProps.ts
Due: plugins

another relative path
  plugins/plugin-chart-word-cloud/src/legacyPlugin/index.ts
Due: plugins

nixing debug junk
  plugins/plugin-chart-word-cloud/src/chart/WordCloud.tsx
Due: plugins

feat: add encoding
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-choropleth-map/MapDataProvider.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-choropleth-map/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-choropleth-map/generateMapData.ts
  plugins/plugin-chart-choropleth-map/src/chart/Encoder.ts
  plugins/plugin-chart-choropleth-map/src/plugin/transformProps.ts
Due: core-packages, plugins

docs: add categorical
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-choropleth-map/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-choropleth-map/generateMapData.ts
Due: core-packages

fix: any
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-choropleth-map/MapDataProvider.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-choropleth-map/Stories.tsx
Due: core-packages

feat: Word cloud typography update (#518)
  plugins/plugin-chart-word-cloud/package.json
  plugins/plugin-chart-word-cloud/src/chart/Encoder.ts
  plugins/plugin-chart-word-cloud/src/chart/WordCloud.tsx
  plugins/plugin-chart-word-cloud/src/legacyPlugin/index.ts
  plugins/plugin-chart-word-cloud/src/legacyPlugin/transformProps.ts
  plugins/plugin-chart-word-cloud/src/plugin/index.ts
  yarn.lock
Due: plugins

docs: simplified npm link for dev debugging
  docs/debugging.md
  docs/storybook.md
Due: none

docs: simplified npm link for dev debugging (#546)
  docs/debugging.md
  docs/storybook.md
Due: none

docs: update storybook
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-choropleth-map/MapDataProvider.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-choropleth-map/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-choropleth-map/generateFakeMapData.ts
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-choropleth-map/useFakeMapData.ts
  plugins/plugin-chart-choropleth-map/src/chart/ChoroplethMap.tsx
Due: core-packages, plugins

feat: update functions
  packages/superset-ui-color/package.json
  packages/superset-ui-color/src/SequentialScheme.ts
Due: core-packages

feat(plugin-chart-choropleth-map): add encoding (#541)
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-choropleth-map/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-choropleth-map/generateFakeMapData.ts
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-choropleth-map/useFakeMapData.ts
  plugins/plugin-chart-choropleth-map/src/chart/ChoroplethMap.tsx
  plugins/plugin-chart-choropleth-map/src/chart/Encoder.ts
  plugins/plugin-chart-choropleth-map/src/plugin/transformProps.ts
Due: core-packages, plugins

test: add unit tests
  packages/superset-ui-color/src/SequentialScheme.ts
  packages/superset-ui-color/test/SequentialScheme.test.ts
Due: core-packages

fix: unit tests
  packages/superset-ui-color/src/SequentialScheme.ts
  packages/superset-ui-color/test/SequentialScheme.test.ts
Due: core-packages

feat: support tooltip
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-choropleth-map/Stories.tsx
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-choropleth-map/src/chart/ChoroplethMap.tsx
  plugins/plugin-chart-choropleth-map/src/chart/Encoder.ts
  plugins/plugin-chart-choropleth-map/src/chart/MapTooltip.tsx
  yarn.lock
Due: core-packages, plugins

feat: support tooltip fields
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-choropleth-map/Stories.tsx
  plugins/plugin-chart-choropleth-map/src/chart/ChoroplethMap.tsx
  plugins/plugin-chart-choropleth-map/src/chart/Encoder.ts
  plugins/plugin-chart-choropleth-map/src/chart/MapTooltip.tsx
Due: core-packages, plugins

fix: default projection
  plugins/plugin-chart-choropleth-map/src/chart/MapMetadata.ts
Due: plugins

fix: address comments and use piecewise
  packages/superset-ui-color/src/SequentialScheme.ts
Due: core-packages

feat(color): support better color interpolation for sequential schemes (#547)
  packages/superset-ui-color/package.json
  packages/superset-ui-color/src/SequentialScheme.ts
  packages/superset-ui-color/test/SequentialScheme.test.ts
Due: core-packages

chore: publish v0.13.24
  lerna.json
  packages/superset-ui-color/package.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-superset-ui/package.json
  plugins/plugin-chart-word-cloud/package.json
Due: core-packages, plugins

feat: adjust to new endpoints
  packages/superset-ui-chart/src/clients/ChartClient.ts
  packages/superset-ui-chart/test/clients/ChartClient.test.ts
Due: core-packages

fix: unit tests
  packages/superset-ui-chart/test/clients/ChartClient.test.ts
Due: core-packages

fix: tests
  packages/superset-ui-chart/test/clients/ChartClient.test.ts
Due: core-packages

fix: unit tests
  packages/superset-ui-chart/src/clients/ChartClient.ts
  packages/superset-ui-chart/test/clients/ChartClient.test.ts
Due: core-packages

fix: remove unused
  packages/superset-ui-chart/src/clients/ChartClient.ts
Due: core-packages

feat(chart): adjust chartclient to point to new endpoints (#551)
  packages/superset-ui-chart/src/clients/ChartClient.ts
  packages/superset-ui-chart/test/clients/ChartClient.test.ts
Due: core-packages

feat: allow developer to get supersetclient instance
  packages/superset-ui-connection/src/SupersetClient.ts
Due: core-packages

feat(connection): allow developer to get supersetclient instance (#552)
  packages/superset-ui-connection/src/SupersetClient.ts
Due: core-packages

chore: publish v0.13.25
  lerna.json
  packages/superset-ui-chart/package.json
  packages/superset-ui-connection/package.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-superset-ui/package.json
Due: core-packages

feat(superset-ui-style): export ThemeProvider and useTheme from emotion-theming
  packages/superset-ui-demo/.storybook/themeDecorator.js
  packages/superset-ui-style/README.md
Due: core-packages

Revert "feat(superset-ui-style): export ThemeProvider and useTheme from emotion-theming"
  packages/superset-ui-demo/.storybook/themeDecorator.js
  packages/superset-ui-style/README.md
Due: core-packages

fix: update chart data query
  packages/superset-ui-chart/src/clients/ChartClient.ts
Due: core-packages

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
