Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

codecov.yml:

coverage:
  status:
    project:
      target: 90%
      # send notification if coverage change exceed this threshold
      threshold: 5%
    core-packages:
      target: 100%
      flags: 
        - core-packages
    plugins:
      target: 50%
      flags: 
        - plugins

flags:
  core-packages:
    paths:
      - packages
  plugins:
    paths:
      - plugins

fix: scope
  .github/workflows/ci.yml
Due: none

build: add github workflow for build and test (#369)
  .github/workflows/ci.yml
Due: none

build: disable travis
  .travis.yml
Due: none

build: disable travis (#373)
  .travis.yml
Due: none

feat(style): add style to umbrella package (#366)
  packages/superset-ui-superset-ui/package.json
  packages/superset-ui-superset-ui/src/index.ts
  packages/superset-ui-superset-ui/test/index.test.ts
Due: core-packages

chore: update lerna config and release script
  lerna.json
  package.json
Due: none

chore: update npm script
  package.json
Due: none

chore(release): publish v0.12.19
  lerna.json
  packages/generator-superset/package.json
  packages/superset-ui-chart-composition/package.json
  packages/superset-ui-chart/package.json
  packages/superset-ui-color/package.json
  packages/superset-ui-connection/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-dimension/package.json
  packages/superset-ui-number-format/package.json
  packages/superset-ui-query/package.json
  packages/superset-ui-style/package.json
  packages/superset-ui-superset-ui/package.json
  packages/superset-ui-time-format/package.json
  packages/superset-ui-translation/package.json
  packages/superset-ui-validator/package.json
  plugins/big-number/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-iframe/package.json
  plugins/legacy-plugin-chart-markup/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/table/package.json
Due: core-packages, plugins

docs: update readme
  README.md
Due: none

docs: update url in package.json and readme
  README.md
  plugins/big-number/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-iframe/package.json
  plugins/legacy-plugin-chart-markup/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/table/package.json
  temporary-plugins/package.json
  temporary-plugins/superset-ui-legacy-plugin-chart-country-map/package.json
  temporary-plugins/superset-ui-legacy-plugin-chart-event-flow/package.json
  temporary-plugins/superset-ui-legacy-plugin-chart-force-directed/package.json
  temporary-plugins/superset-ui-legacy-plugin-chart-histogram/package.json
  temporary-plugins/superset-ui-legacy-plugin-chart-map-box/package.json
  temporary-plugins/superset-ui-legacy-plugin-chart-rose/package.json
  temporary-plugins/superset-ui-legacy-plugin-chart-sankey-loop/package.json
  temporary-plugins/superset-ui-legacy-plugin-chart-sankey/package.json
  temporary-plugins/superset-ui-legacy-plugin-chart-sunburst/package.json
  temporary-plugins/superset-ui-legacy-plugin-chart-treemap/package.json
  temporary-plugins/superset-ui-legacy-plugin-chart-word-cloud/package.json
  temporary-plugins/superset-ui-legacy-plugin-chart-world-map/package.json
  temporary-plugins/superset-ui-legacy-preset-chart-nvd3/package.json
  temporary-plugins/superset-ui-plugin-chart-icicle-event/package.json
  temporary-plugins/superset-ui-plugin-chart-table/package.json
  temporary-plugins/superset-ui-plugin-chart-word-cloud/package.json
  temporary-plugins/superset-ui-plugins-demo/package.json
  temporary-plugins/superset-ui-preset-chart-xy/package.json
Due: plugins

docs: update readme
  temporary-plugins/README.md
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-calendar/Stories.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-calendar/data.js
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-calendar/index.js
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-chord/Stories.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-chord/data.js
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-chord/index.js
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-heatmap/Stories.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-heatmap/data.js
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-heatmap/index.js
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-horizon/Stories.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-horizon/data.js
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-horizon/index.js
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-iframe/Stories.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-iframe/index.js
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-markup/Stories.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-markup/index.js
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-paired-t-test/Stories.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-paired-t-test/data.js
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-paired-t-test/index.js
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-parallel-coordinates/Stories.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-parallel-coordinates/data.js
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-parallel-coordinates/index.js
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-partition/Stories.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-partition/data.js
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-partition/index.js
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-pivot-table/Stories.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-pivot-table/index.js
  temporary-plugins/superset-ui-plugins-demo/yarn.lock
Due: none

feat(legacy-plugin-chart-sankey): migrate
  plugins/legacy-plugin-chart-sankey/README.md
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sankey/src/ReactSankey.js
  plugins/legacy-plugin-chart-sankey/src/Sankey.css
  plugins/legacy-plugin-chart-sankey/src/Sankey.js
  plugins/legacy-plugin-chart-sankey/src/images/thumbnail.png
  plugins/legacy-plugin-chart-sankey/src/images/thumbnailLarge.png
  plugins/legacy-plugin-chart-sankey/src/index.js
  plugins/legacy-plugin-chart-sankey/src/transformProps.js
Due: plugins

feat(legacy-plugin-chart-rose): migrate package and lint
  plugins/legacy-plugin-chart-rose/README.md
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-rose/src/ReactRose.js
  plugins/legacy-plugin-chart-rose/src/Rose.css
  plugins/legacy-plugin-chart-rose/src/Rose.js
  plugins/legacy-plugin-chart-rose/src/images/thumbnail.png
  plugins/legacy-plugin-chart-rose/src/images/thumbnailLarge.png
  plugins/legacy-plugin-chart-rose/src/index.js
  plugins/legacy-plugin-chart-rose/src/transformProps.js
Due: plugins

feat(legacy-plugin-chart-sunburst): migrate and lint
  plugins/legacy-plugin-chart-sunburst/README.md
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-sunburst/src/ReactSunburst.js
  plugins/legacy-plugin-chart-sunburst/src/Sunburst.css
  plugins/legacy-plugin-chart-sunburst/src/Sunburst.js
  plugins/legacy-plugin-chart-sunburst/src/images/thumbnail.png
  plugins/legacy-plugin-chart-sunburst/src/images/thumbnailLarge.png
  plugins/legacy-plugin-chart-sunburst/src/index.js
  plugins/legacy-plugin-chart-sunburst/src/transformProps.js
  plugins/legacy-plugin-chart-sunburst/src/utils/wrapSvgText.js
Due: plugins

docs: update storybooks
  packages/superset-ui-demo/package.json
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-rose/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-rose/data.ts
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-sankey-loop/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-sankey-loop/data.ts
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-sankey/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-sankey/data.ts
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-sunburst/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-sunburst/data.ts
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-treemap/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-treemap/data.ts
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-world-map/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-world-map/data.ts
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-rose/Stories.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-rose/index.js
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-sankey-loop/Stories.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-sankey-loop/index.js
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-sankey/Stories.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-sankey/index.js
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-sunburst/Stories.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-sunburst/index.js
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-treemap/Stories.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-treemap/index.js
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-world-map/Stories.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-world-map/index.js
Due: core-packages

feat(legacy-plugin-chart-treemap): migrate
  plugins/legacy-plugin-chart-treemap/README.md
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-treemap/src/ReactTreemap.js
  plugins/legacy-plugin-chart-treemap/src/Treemap.css
  plugins/legacy-plugin-chart-treemap/src/Treemap.js
  plugins/legacy-plugin-chart-treemap/src/images/thumbnail.png
  plugins/legacy-plugin-chart-treemap/src/images/thumbnailLarge.png
  plugins/legacy-plugin-chart-treemap/src/index.js
  plugins/legacy-plugin-chart-treemap/src/transformProps.js
Due: plugins

feat(legacy-plugin-chart-sankey-loop): migrate
  plugins/legacy-plugin-chart-sankey-loop/README.md
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey-loop/src/ReactSankeyLoop.js
  plugins/legacy-plugin-chart-sankey-loop/src/SankeyLoop.css
  plugins/legacy-plugin-chart-sankey-loop/src/SankeyLoop.js
  plugins/legacy-plugin-chart-sankey-loop/src/images/thumbnail.png
  plugins/legacy-plugin-chart-sankey-loop/src/images/thumbnailLarge.png
  plugins/legacy-plugin-chart-sankey-loop/src/index.js
  plugins/legacy-plugin-chart-sankey-loop/src/transformProps.js
  yarn.lock
Due: plugins

feat(legacy-plugin-chart-world-map): migrate
  plugins/legacy-plugin-chart-world-map/README.md
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-plugin-chart-world-map/src/ReactWorldMap.js
  plugins/legacy-plugin-chart-world-map/src/WorldMap.css
  plugins/legacy-plugin-chart-world-map/src/WorldMap.js
  plugins/legacy-plugin-chart-world-map/src/images/thumbnail.png
  plugins/legacy-plugin-chart-world-map/src/images/thumbnailLarge.png
  plugins/legacy-plugin-chart-world-map/src/index.js
  plugins/legacy-plugin-chart-world-map/src/transformProps.js
  yarn.lock
Due: plugins

feat(legacy-plugin-chart-force-directed): migrate and lint
  plugins/legacy-plugin-chart-force-directed/README.md
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-force-directed/src/ForceDirected.css
  plugins/legacy-plugin-chart-force-directed/src/ForceDirected.js
  plugins/legacy-plugin-chart-force-directed/src/ReactForceDirected.js
  plugins/legacy-plugin-chart-force-directed/src/images/thumbnail.png
  plugins/legacy-plugin-chart-force-directed/src/images/thumbnailLarge.png
  plugins/legacy-plugin-chart-force-directed/src/index.js
  plugins/legacy-plugin-chart-force-directed/src/transformProps.js
Due: plugins

feat(legacy-plugin-chart-map-box): migrate and lint
  plugins/legacy-plugin-chart-map-box/README.md
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-map-box/src/MapBox.css
  plugins/legacy-plugin-chart-map-box/src/MapBox.jsx
  plugins/legacy-plugin-chart-map-box/src/ScatterPlotGlowOverlay.jsx
  plugins/legacy-plugin-chart-map-box/src/images/thumbnail.png
  plugins/legacy-plugin-chart-map-box/src/images/thumbnailLarge.png
  plugins/legacy-plugin-chart-map-box/src/index.js
  plugins/legacy-plugin-chart-map-box/src/transformProps.js
  plugins/legacy-plugin-chart-map-box/src/utils/geo.js
  plugins/legacy-plugin-chart-map-box/src/utils/luminanceFromRGB.js
  plugins/legacy-plugin-chart-map-box/src/utils/roundDecimal.js
  plugins/legacy-plugin-chart-map-box/test/utils/roundDecimal.test.js
  yarn.lock
Due: plugins

feat(legacy-plugin-chart-histogram): migrate and lint
  plugins/legacy-plugin-chart-histogram/README.md
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-histogram/src/Histogram.css
  plugins/legacy-plugin-chart-histogram/src/Histogram.jsx
  plugins/legacy-plugin-chart-histogram/src/WithLegend.jsx
  plugins/legacy-plugin-chart-histogram/src/images/thumbnail.png
  plugins/legacy-plugin-chart-histogram/src/images/thumbnailLarge.png
  plugins/legacy-plugin-chart-histogram/src/index.js
  plugins/legacy-plugin-chart-histogram/src/transformProps.js
  yarn.lock
Due: plugins

docs: update storybooks
  packages/superset-ui-demo/package.json
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-force-directed/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-force-directed/data.ts
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-histogram/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-histogram/data.ts
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-map-box/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-map-box/data.ts
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-force-directed/Stories.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-force-directed/index.js
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-histogram/Stories.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-histogram/index.js
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-map-box/Stories.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-map-box/index.js
Due: core-packages

build: add more scripts and pilot workflow
  .github/workflows/releasePatch.yml
  lerna.json
  package.json
Due: none

build: update workflow
  .github/workflows/releasePatch.yml
Due: none

build: update workflow
  .github/workflows/ci.yml
  .github/workflows/releasePatch.yml
Due: none

build: fix workflow
  .github/workflows/ci.yml
Due: none

build: fix ci
  .github/workflows/ci.yml
Due: none

build: configure publish workflow
  .github/workflows/release.yml
  package.json
Due: none

chore(release): publish v0.12.20
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/big-number/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-iframe/package.json
  plugins/legacy-plugin-chart-markup/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/table/package.json
Due: core-packages, plugins

build: disable version bumping
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none
