Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

add controls to chart
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-country-map/src/controlPanel.ts
  plugins/legacy-plugin-chart-country-map/src/index.js
Due: plugins

fix import
  plugins/legacy-plugin-chart-country-map/src/index.js
Due: plugins

fix: missing bracket, little linty things (#517)
  plugins/legacy-preset-chart-big-number/src/BigNumber/BigNumber.tsx
Due: plugins

chore: paired t test chart plugin control migration (#515)
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-paired-t-test/src/controlPanel.ts
  plugins/legacy-plugin-chart-paired-t-test/src/index.js
Due: plugins

chore: publish v0.13.19
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-preset-chart-big-number/package.json
Due: core-packages, plugins

remove .ts ext from import (#519)
  plugins/legacy-plugin-chart-parallel-coordinates/src/index.js
Due: plugins

chore: publish v0.13.20
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
Due: core-packages, plugins

fixing query bug!
  plugins/plugin-chart-word-cloud/src/plugin/buildQuery.ts
Due: plugins

fix(legacy-plugin-chart-paired-t-test
  plugins/legacy-plugin-chart-paired-t-test/src/index.js
Due: plugins

feat(legacy-plugin-chart-event-flow): migrate package (#514)
  packages/superset-ui-demo/package.json
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-event-flow/Stories.jsx
  plugins/legacy-plugin-chart-event-flow/README.md
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-event-flow/src/EventFlow.jsx
  plugins/legacy-plugin-chart-event-flow/src/controlPanel.jsx
  plugins/legacy-plugin-chart-event-flow/src/images/thumbnail.png
  plugins/legacy-plugin-chart-event-flow/src/images/thumbnailLarge.png
  plugins/legacy-plugin-chart-event-flow/src/index.js
  plugins/legacy-plugin-chart-event-flow/src/transformProps.js
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-event-flow/Stories.jsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-event-flow/index.js
  yarn.lock
Due: core-packages, plugins

chore(legacy-plugin-chart-table): cleanup fromFormData
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-table/birthNames.json
Due: core-packages

chore(legacy-plugin-chart-table): cleanup fromFormData (#521)
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-table/birthNames.json
Due: core-packages

fix(legacy-plugin-chart-paired-t-test (#520)
  plugins/legacy-plugin-chart-paired-t-test/src/index.js
Due: plugins

fix(legacy-plugin-chart-table): parse numeric pageLength
  plugins/legacy-plugin-chart-table/src/transformProps.ts
  plugins/legacy-plugin-chart-table/test/ReactDataTable.test.tsx
  plugins/legacy-plugin-chart-table/test/testData.ts
Due: plugins

fix(legacy-plugin-chart-table): parse numeric pageLength (#522)
  plugins/legacy-plugin-chart-table/src/transformProps.ts
  plugins/legacy-plugin-chart-table/test/ReactDataTable.test.tsx
  plugins/legacy-plugin-chart-table/test/testData.ts
Due: plugins

chore(legacy-plugin-chart-country-map): add controls to chart (#516)
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-country-map/src/controlPanel.ts
  plugins/legacy-plugin-chart-country-map/src/index.js
Due: plugins

feat(time-format): improve support for formatting with granularity in mind (#509)
  packages/superset-ui-time-format/src/TimeFormatsForGranularity.ts
  packages/superset-ui-time-format/src/TimeFormatter.ts
  packages/superset-ui-time-format/src/TimeFormatterRegistrySingleton.ts
  packages/superset-ui-time-format/src/TimeRangeFormatter.ts
  packages/superset-ui-time-format/src/factories/createMultiFormatter.ts
  packages/superset-ui-time-format/src/factories/getTimeFormatterForGranularity.ts
  packages/superset-ui-time-format/src/index.ts
  packages/superset-ui-time-format/src/types.ts
  packages/superset-ui-time-format/src/utils/createTime.ts
  packages/superset-ui-time-format/src/utils/createTimeRangeFromGranularity.ts
  packages/superset-ui-time-format/src/utils/d3Time.ts
  packages/superset-ui-time-format/src/utils/stringifyTimeInput.ts
  packages/superset-ui-time-format/test/TimeFormatterRegistrySingleton.test.ts
  packages/superset-ui-time-format/test/factories/getTimeFormatterForGranularity.test.ts
  packages/superset-ui-time-format/test/utils/createTime.test.ts
  packages/superset-ui-time-format/test/utils/createTimeRangeFromGranularity.test.ts
  packages/superset-ui-time-format/test/utils/d3Time.test.ts
Due: core-packages

docs: update changelog
  CHANGELOG.md
Due: none

feat: add package
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-choropleth-map/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-choropleth-map/data.ts
  plugins/plugin-chart-choropleth-map/README.md
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-choropleth-map/src/ChoroplethMap.tsx
  plugins/plugin-chart-choropleth-map/src/MAPS.ts
  plugins/plugin-chart-choropleth-map/src/images/thumbnail.png
  plugins/plugin-chart-choropleth-map/src/index.ts
  plugins/plugin-chart-choropleth-map/src/plugin/index.ts
  plugins/plugin-chart-choropleth-map/src/plugin/transformProps.ts
  plugins/plugin-chart-choropleth-map/test/index.test.ts
  plugins/plugin-chart-choropleth-map/types/external.d.ts
Due: core-packages, plugins

feat: storybook working
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-choropleth-map/Stories.tsx
  plugins/plugin-chart-choropleth-map/src/chart/ChoroplethMap.tsx
  plugins/plugin-chart-choropleth-map/src/chart/Encoder.ts
  plugins/plugin-chart-choropleth-map/src/plugin/index.ts
  plugins/plugin-chart-word-cloud/package.json
  yarn.lock
Due: core-packages, plugins

feat: load usa and world map
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-choropleth-map/Stories.tsx
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-choropleth-map/src/MAPS.ts
  plugins/plugin-chart-choropleth-map/src/chart/ChoroplethMap.tsx
  plugins/plugin-chart-choropleth-map/src/chart/MapMetadata.ts
  plugins/plugin-chart-choropleth-map/src/chart/Projection.ts
  plugins/plugin-chart-choropleth-map/src/chart/loadMap.ts
  plugins/plugin-chart-choropleth-map/src/index.ts
  plugins/plugin-chart-choropleth-map/src/maps/index.ts
  plugins/plugin-chart-choropleth-map/src/maps/usa.topojson
  plugins/plugin-chart-choropleth-map/src/maps/world.topojson
  plugins/plugin-chart-choropleth-map/src/plugin/transformProps.ts
  plugins/plugin-chart-choropleth-map/src/types.ts
  yarn.lock
Due: core-packages, plugins

refactor: clean up
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-choropleth-map/Stories.tsx
  plugins/plugin-chart-choropleth-map/src/chart/ChoroplethMap.tsx
  plugins/plugin-chart-choropleth-map/src/chart/Encoder.ts
  plugins/plugin-chart-choropleth-map/src/chart/MapMetadata.ts
  plugins/plugin-chart-choropleth-map/src/maps/index.ts
  plugins/plugin-chart-choropleth-map/src/types.ts
Due: core-packages, plugins

build: remove unused dependencies
  plugins/plugin-chart-choropleth-map/package.json
  yarn.lock
Due: plugins

refactor: utilize dynamic import
  plugins/plugin-chart-choropleth-map/src/chart/MapMetadata.ts
  plugins/plugin-chart-choropleth-map/src/maps/index.ts
  plugins/plugin-chart-choropleth-map/src/maps/usa-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/usa.topojson
  plugins/plugin-chart-choropleth-map/src/maps/world-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/world.topojson
  plugins/plugin-chart-choropleth-map/src/types.ts
Due: plugins

fix: address pr comments
  plugins/plugin-chart-choropleth-map/src/chart/MapMetadata.ts
  plugins/plugin-chart-choropleth-map/src/maps/index.ts
  plugins/plugin-chart-choropleth-map/src/plugin/index.ts
Due: plugins

fix: remove test data
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-choropleth-map/data.ts
  plugins/plugin-chart-choropleth-map/src/index.ts
Due: core-packages, plugins

fix: comment
  plugins/plugin-chart-choropleth-map/src/maps/index.ts
Due: plugins

feat(plugin-chart-choropleth-map): scaffold and load map (#527)
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-country-map/data.ts
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-choropleth-map/Stories.tsx
  plugins/plugin-chart-choropleth-map/README.md
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-choropleth-map/src/chart/ChoroplethMap.tsx
  plugins/plugin-chart-choropleth-map/src/chart/MapMetadata.ts
  plugins/plugin-chart-choropleth-map/src/chart/Projection.ts
  plugins/plugin-chart-choropleth-map/src/chart/loadMap.ts
  plugins/plugin-chart-choropleth-map/src/images/thumbnail.png
  plugins/plugin-chart-choropleth-map/src/index.ts
  plugins/plugin-chart-choropleth-map/src/maps/index.ts
  plugins/plugin-chart-choropleth-map/src/maps/usa-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/world-topo.json
  plugins/plugin-chart-choropleth-map/src/plugin/index.ts
  plugins/plugin-chart-choropleth-map/src/plugin/transformProps.ts
  plugins/plugin-chart-choropleth-map/src/types.ts
  plugins/plugin-chart-choropleth-map/test/index.test.ts
  plugins/plugin-chart-choropleth-map/types/external.d.ts
  plugins/plugin-chart-word-cloud/package.json
  yarn.lock
Due: core-packages, plugins

feat: add zooming
  plugins/plugin-chart-choropleth-map/package.json
  yarn.lock
Due: plugins

feat: can zoom in and out
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-choropleth-map/src/chart/ChoroplethMap.tsx
  yarn.lock
Due: plugins

feat: add zoom controls
  plugins/plugin-chart-choropleth-map/src/chart/ChoroplethMap.tsx
Due: plugins

refactor: extract controls
  plugins/plugin-chart-choropleth-map/src/chart/ChoroplethMap.tsx
  plugins/plugin-chart-choropleth-map/src/chart/components.ts
Due: plugins

feat: add more maps
  plugins/plugin-chart-choropleth-map/src/maps/belgium-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/brazil-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/bulgaria-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/canada-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/china-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/france-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/germany-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/index.ts
  plugins/plugin-chart-choropleth-map/src/maps/india-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/iran-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/italy-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/japan-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/korea-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/liechtenstein-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/morocco-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/myanmar-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/netherlands-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/portugal-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/russia-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/singapore-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/spain-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/switzerland-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/thailand-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/timorleste-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/uk-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/ukraine-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/zambia-topo.json
Due: plugins

fix: address comments
  plugins/plugin-chart-choropleth-map/src/chart/ChoroplethMap.tsx
Due: plugins

feat(plugin-chart-choropleth-map): add more country maps (#529)
  plugins/plugin-chart-choropleth-map/src/maps/belgium-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/brazil-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/bulgaria-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/canada-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/china-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/france-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/germany-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/index.ts
  plugins/plugin-chart-choropleth-map/src/maps/india-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/iran-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/italy-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/japan-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/korea-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/liechtenstein-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/morocco-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/myanmar-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/netherlands-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/portugal-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/russia-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/singapore-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/spain-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/switzerland-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/thailand-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/timorleste-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/uk-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/ukraine-topo.json
  plugins/plugin-chart-choropleth-map/src/maps/zambia-topo.json
Due: plugins

feat(plugin-chart-choropleth-map): add zooming (#528)
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-choropleth-map/src/chart/ChoroplethMap.tsx
  plugins/plugin-chart-choropleth-map/src/chart/components.ts
  yarn.lock
Due: plugins

fix: resolves query issue where wordcloud had no words
  plugins/plugin-chart-word-cloud/src/plugin/buildQuery.ts
Due: plugins

feat: add encoder
  plugins/plugin-chart-choropleth-map/src/chart/ChoroplethMap.tsx
  plugins/plugin-chart-choropleth-map/src/chart/Encoder.ts
Due: plugins

chore: publish v0.13.22
  lerna.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-superset-ui/package.json
  packages/superset-ui-time-format/package.json
  plugins/legacy-plugin-chart-country-map/package.json
Due: core-packages, plugins

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
