Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

fix: make all filter operators uppercase (#378)
  packages/superset-ui-query/src/types/Operator.ts
  packages/superset-ui-query/test/convertFilter.test.ts
  packages/superset-ui-query/test/types/Filter.test.ts
Due: core-packages

superset-ui packages should be peer dependencies
  packages/superset-ui-chart/package.json
Due: core-packages

refactor: use Number.isNaN instead of isNaN
  packages/superset-ui-query/src/buildQueryObject.ts
Due: core-packages

fix(superset-ui-query): add unit tests for #387
  packages/superset-ui-query/src/types/QueryFormData.ts
  packages/superset-ui-query/test/buildQueryContext.test.ts
  packages/superset-ui-query/test/buildQueryObject.test.ts
Due: core-packages

fix(superset-ui-query): add unit tests for #387 (#390)
  packages/superset-ui-query/src/buildQueryObject.ts
  packages/superset-ui-query/src/types/QueryFormData.ts
  packages/superset-ui-query/test/buildQueryContext.test.ts
  packages/superset-ui-query/test/buildQueryObject.test.ts
Due: core-packages

fix: babel settings
  .gitignore
  babel.config.js
  package.json
  temporary-plugins/babel.config.js
Due: none

fix: remove file
  temporary-plugins/babel.config.js
Due: none

docs: update storybook code
  packages/superset-ui-demo/storybook/shared/components/createQueryStory.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/shared/components/createQueryStory.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/plugin-chart-word-cloud/Stories.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/plugin-chart-word-cloud/data.ts
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/plugin-chart-word-cloud/index.js
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/preset-chart-xy/BoxPlot/Stories.ts
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/preset-chart-xy/BoxPlot/stories/Basic.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/preset-chart-xy/BoxPlot/stories/Legacy.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/preset-chart-xy/Line/Stories.ts
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/preset-chart-xy/Line/index.ts
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/preset-chart-xy/Line/stories/basic.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/preset-chart-xy/Line/stories/flush.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/preset-chart-xy/Line/stories/legacy.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/preset-chart-xy/Line/stories/missing.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/preset-chart-xy/Line/stories/query.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/preset-chart-xy/Line/stories/timeShift.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/preset-chart-xy/ScatterPlot/Stories.ts
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/preset-chart-xy/ScatterPlot/data/data.ts
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/preset-chart-xy/ScatterPlot/data/legacyData.ts
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/preset-chart-xy/ScatterPlot/stories/basic.jsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/preset-chart-xy/ScatterPlot/stories/basic.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/preset-chart-xy/ScatterPlot/stories/bubble.jsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/preset-chart-xy/ScatterPlot/stories/bubble.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/preset-chart-xy/ScatterPlot/stories/legacy.tsx
Due: core-packages

fix: ts issues
  packages/superset-ui-demo/.storybook/main.js
  plugins/preset-chart-xy/src/BoxPlot/legacy/transformProps.ts
  plugins/preset-chart-xy/src/components/BoxPlot/DefaultTooltipRenderer.tsx
Due: core-packages, plugins

fix: import path
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-word-cloud/Stories.tsx
Due: core-packages

fix: all storybook thingy
  packages/superset-ui-demo/storybook/stories/plugins/preset-chart-xy/BoxPlot/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/preset-chart-xy/BoxPlot/constants.ts
  packages/superset-ui-demo/storybook/stories/plugins/preset-chart-xy/BoxPlot/data.ts
  packages/superset-ui-demo/storybook/stories/plugins/preset-chart-xy/BoxPlot/stories/Basic.tsx
  packages/superset-ui-demo/storybook/stories/plugins/preset-chart-xy/BoxPlot/stories/Legacy.tsx
  packages/superset-ui-demo/storybook/stories/plugins/preset-chart-xy/Line/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/preset-chart-xy/Line/constants.ts
  packages/superset-ui-demo/storybook/stories/plugins/preset-chart-xy/Line/data/data.js
  packages/superset-ui-demo/storybook/stories/plugins/preset-chart-xy/Line/data/data2.js
  packages/superset-ui-demo/storybook/stories/plugins/preset-chart-xy/Line/data/legacyData.js
  packages/superset-ui-demo/storybook/stories/plugins/preset-chart-xy/Line/stories/basic.tsx
  packages/superset-ui-demo/storybook/stories/plugins/preset-chart-xy/Line/stories/flush.tsx
  packages/superset-ui-demo/storybook/stories/plugins/preset-chart-xy/Line/stories/legacy.tsx
  packages/superset-ui-demo/storybook/stories/plugins/preset-chart-xy/Line/stories/missing.tsx
  packages/superset-ui-demo/storybook/stories/plugins/preset-chart-xy/Line/stories/query.tsx
  packages/superset-ui-demo/storybook/stories/plugins/preset-chart-xy/Line/stories/timeShift.tsx
  packages/superset-ui-demo/storybook/stories/plugins/preset-chart-xy/ScatterPlot/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/preset-chart-xy/ScatterPlot/constants.ts
  packages/superset-ui-demo/storybook/stories/plugins/preset-chart-xy/ScatterPlot/data/data.ts
  packages/superset-ui-demo/storybook/stories/plugins/preset-chart-xy/ScatterPlot/data/legacyData.ts
  packages/superset-ui-demo/storybook/stories/plugins/preset-chart-xy/ScatterPlot/stories/basic.tsx
  packages/superset-ui-demo/storybook/stories/plugins/preset-chart-xy/ScatterPlot/stories/bubble.tsx
  packages/superset-ui-demo/storybook/stories/plugins/preset-chart-xy/ScatterPlot/stories/legacy.tsx
  plugins/plugin-chart-word-cloud/src/chart/WordCloud.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/preset-chart-xy/Line/stories/timeShift.tsx
Due: core-packages, plugins

fix: add query storybook back
  packages/superset-ui-demo/storybook/shared/components/createQueryStory.tsx
  packages/superset-ui-demo/storybook/stories/plugins/preset-chart-xy/Line/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/preset-chart-xy/Line/stories/query.tsx
Due: core-packages

fix: address comments
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-word-cloud/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/preset-chart-xy/Line/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/preset-chart-xy/ScatterPlot/Stories.tsx
  packages/superset-ui-demo/storybook/stories/superset-ui-chart/SuperChartStories.tsx
  packages/superset-ui-demo/storybook/stories/superset-ui-color/ColorPallettesStories.jsx
  packages/superset-ui-demo/storybook/stories/superset-ui-connection/ConnectionStories.tsx
  packages/superset-ui-demo/storybook/stories/superset-ui-number-format/BigNumberStories.jsx
  packages/superset-ui-demo/storybook/stories/superset-ui-time-format/TimeFormatStories.jsx
Due: core-packages

fix: sorting
  packages/superset-ui-demo/.storybook/preview.js
  packages/superset-ui-demo/storybook/stories/superset-ui-chart/SuperChartStories.tsx
  packages/superset-ui-demo/storybook/stories/superset-ui-color/ColorPallettesStories.jsx
  packages/superset-ui-demo/storybook/stories/superset-ui-connection/ConnectionStories.tsx
  packages/superset-ui-demo/storybook/stories/superset-ui-number-format/BigNumberStories.jsx
  packages/superset-ui-demo/storybook/stories/superset-ui-time-format/TimeFormatStories.jsx
Due: core-packages

add tests for ported in code
  packages/superset-ui-chart/test/controls/selectOptions.test.ts
Due: core-packages

feat(chart): add shared plugin controls utilities (#389)
  package.json
  packages/superset-ui-chart/README.md
  packages/superset-ui-chart/package.json
  packages/superset-ui-chart/src/controls/D3Formatting.ts
  packages/superset-ui-chart/src/controls/index.ts
  packages/superset-ui-chart/src/controls/sections.tsx
  packages/superset-ui-chart/src/controls/selectOptions.ts
  packages/superset-ui-chart/src/index.ts
  packages/superset-ui-chart/test/controls/selectOptions.test.ts
  temporary-plugins/superset-ui-legacy-preset-chart-nvd3/src/NVD3Controls.tsx
Due: core-packages

chore: bump pretty-ms
  packages/superset-ui-number-format/package.json
Due: core-packages

fix: unit test
  packages/superset-ui-number-format/test/factories/createDurationFormatter.test.ts
Due: core-packages

fix: Add unit test for colonNotation
  packages/superset-ui-number-format/test/factories/createDurationFormatter.test.ts
Due: core-packages

chore: bump pretty-ms (#398)
  packages/superset-ui-number-format/package.json
  packages/superset-ui-number-format/test/factories/createDurationFormatter.test.ts
Due: core-packages

chore: delete unused files
  plugins/legacy-preset-chart-nvd3/src/NVD3Controls.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/shared/components/ErrorMessage.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/shared/components/Expandable.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/shared/components/VerifyCORS.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/shared/dummyDatasource.ts
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/Bubble/Stories.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/Bubble/data.js
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/Bubble/index.js
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/Bullet/Stories.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/Bullet/data.js
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/Bullet/index.js
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/Compare/Stories.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/Compare/data.js
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/Compare/index.js
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/DistBar/ManyBarStories.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/DistBar/Stories.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/DistBar/data.js
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/DistBar/index.js
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/DualLine/Stories.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/DualLine/data.js
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/DualLine/index.js
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/Line/LogStories.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/Line/Stories.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/Line/YAxisStories.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/Line/data.js
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/Line/index.js
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/Pie/Stories.tsx
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/Pie/data.js
  temporary-plugins/superset-ui-plugins-demo/storybook/stories/Pie/index.js
  yarn.lock
Due: plugins

chore: delete files
  temporary-plugins/hold-potentially-deprecate/superset-ui-plugin-chart-icicle-event/README.md
  temporary-plugins/hold-potentially-deprecate/superset-ui-plugin-chart-icicle-event/package.json
  temporary-plugins/hold-potentially-deprecate/superset-ui-plugin-chart-icicle-event/src/IcicleEventChart.tsx
  temporary-plugins/hold-potentially-deprecate/superset-ui-plugin-chart-icicle-event/src/IcicleEventNode.ts
  temporary-plugins/hold-potentially-deprecate/superset-ui-plugin-chart-icicle-event/src/IcicleEventViz.tsx
  temporary-plugins/hold-potentially-deprecate/superset-ui-plugin-chart-icicle-event/src/createMetadata.ts
  temporary-plugins/hold-potentially-deprecate/superset-ui-plugin-chart-icicle-event/src/images/thumbnail.png
  temporary-plugins/hold-potentially-deprecate/superset-ui-plugin-chart-icicle-event/src/index.ts
  temporary-plugins/hold-potentially-deprecate/superset-ui-plugin-chart-icicle-event/src/transformProps.ts
  temporary-plugins/hold-potentially-deprecate/superset-ui-plugin-chart-icicle-event/src/utils/IcicleEventTreeHelpers.ts
  temporary-plugins/hold-potentially-deprecate/superset-ui-plugin-chart-icicle-event/src/utils/RenderedIcicleAccessors.ts
  temporary-plugins/hold-potentially-deprecate/superset-ui-plugin-chart-icicle-event/test/utils/IcicleEventTreeHelpers.test.ts
  temporary-plugins/hold-potentially-deprecate/superset-ui-plugin-chart-icicle-event/types/external.d.ts
Due: none

add spec
  packages/superset-ui-style/test/index.test.ts
Due: core-packages

fix: export superset theme props (#391)
  packages/superset-ui-style/src/index.ts
  packages/superset-ui-style/test/index.test.ts
Due: core-packages

chore: move files back
  temporary-plugins/NVD3Controls.tsx
Due: none

feat(control-utils): add package
  packages/superset-ui-chart/package.json
  packages/superset-ui-chart/src/controls/index.ts
  packages/superset-ui-control-utils/README.md
  packages/superset-ui-control-utils/package.json
  packages/superset-ui-control-utils/src/D3Formatting.ts
  packages/superset-ui-control-utils/src/index.ts
  packages/superset-ui-control-utils/src/sections.tsx
  packages/superset-ui-control-utils/src/selectOptions.ts
  packages/superset-ui-control-utils/test/index.test.ts
  packages/superset-ui-control-utils/test/selectOptions.test.ts
Due: core-packages

fix: remove export
  packages/superset-ui-chart/src/index.ts
Due: core-packages

fix: export
  packages/superset-ui-control-utils/src/index.ts
  yarn.lock
Due: core-packages

fix: dep version
  packages/superset-ui-control-utils/package.json
Due: core-packages

feat(plugin-word-cloud): change how wordcloud is exported
  plugins/plugin-chart-word-cloud/src/index.ts
  plugins/plugin-chart-word-cloud/src/legacyPlugin/index.ts
  plugins/plugin-chart-word-cloud/src/legacyPlugin/transformProps.ts
  plugins/plugin-chart-word-cloud/src/legacyPlugin/types.ts
  plugins/plugin-chart-word-cloud/src/plugin/buildQuery.ts
  plugins/plugin-chart-word-cloud/src/plugin/index.ts
  plugins/plugin-chart-word-cloud/src/plugin/transformProps.ts
  plugins/plugin-chart-word-cloud/test/index.test.ts
  plugins/plugin-chart-word-cloud/test/legacyPlugin/transformProps.test.ts
  plugins/plugin-chart-word-cloud/test/plugin/buildQuery.test.ts
Due: plugins

docs: fix storybook
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-word-cloud/Stories.tsx
  packages/superset-ui-demo/storybook/stories/superset-ui-chart/ChartDataProviderStories.tsx
Due: core-packages

feat(control-utils): add packages control-utils (#417)
  packages/superset-ui-chart/package.json
  packages/superset-ui-chart/src/controls/index.ts
  packages/superset-ui-chart/src/index.ts
  packages/superset-ui-control-utils/README.md
  packages/superset-ui-control-utils/package.json
  packages/superset-ui-control-utils/src/D3Formatting.ts
  packages/superset-ui-control-utils/src/index.ts
  packages/superset-ui-control-utils/src/sections.tsx
  packages/superset-ui-control-utils/src/selectOptions.ts
  packages/superset-ui-control-utils/test/index.test.ts
  packages/superset-ui-control-utils/test/selectOptions.test.ts
Due: core-packages

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
