Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

fix lint
  packages/superset-ui-core/src/utils/featureFlags.ts
Due: core-packages

feat(feature-flag): add ALERTS_ATTACH_REPORTS feature flag (#1042)
  packages/superset-ui-core/src/utils/featureFlags.ts
Due: core-packages

refactor: usage ownState in charts
  plugins/plugin-chart-echarts/src/BoxPlot/EchartsBoxPlot.tsx
  plugins/plugin-chart-echarts/src/Pie/EchartsPie.tsx
Due: plugins

feat(native-filters): add AppSection type (#1038)
  packages/superset-ui-core/src/chart/models/ChartProps.ts
  packages/superset-ui-core/src/chart/types/Base.ts
Due: core-packages

chore: publish v0.17.29
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

Hide filters checkbox when cross filters flag is disabled
  plugins/plugin-chart-table/src/controlPanel.tsx
Due: plugins

feat: echarts gauge chart (#993)
  plugins/plugin-chart-echarts/src/Gauge/EchartsGauge.tsx
  plugins/plugin-chart-echarts/src/Gauge/buildQuery.ts
  plugins/plugin-chart-echarts/src/Gauge/constants.ts
  plugins/plugin-chart-echarts/src/Gauge/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Gauge/images/thumbnail.png
  plugins/plugin-chart-echarts/src/Gauge/index.ts
  plugins/plugin-chart-echarts/src/Gauge/transformProps.ts
  plugins/plugin-chart-echarts/src/Gauge/types.ts
  plugins/plugin-chart-echarts/src/utils/controls.ts
  plugins/plugin-chart-echarts/test/Gauge/buildQuery.test.ts
  plugins/plugin-chart-echarts/test/Gauge/transformProps.test.ts
Due: plugins

fix(plugin-chart-echarts): default to standard x-axis format
  packages/superset-ui-chart-controls/src/utils/D3Formatting.ts
  packages/superset-ui-core/src/time-format/formatters/smartDateDetailed.ts
  packages/superset-ui-core/src/time-format/index.ts
  packages/superset-ui-core/test/time-format/formatters/smartDateDetailed.test.ts
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
Due: core-packages, plugins

feat(plugin-chart-table): enable emitting cross-filters (#1041)
  plugins/plugin-chart-table/src/Styles.tsx
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/controlPanel.tsx
  plugins/plugin-chart-table/src/index.ts
  plugins/plugin-chart-table/src/transformProps.ts
Due: plugins

fix(plugin-chart-echarts): fix unnecessary chart clearing
  plugins/plugin-chart-echarts/src/components/Echart.tsx
Due: plugins

simplify logic
  plugins/plugin-chart-echarts/src/components/Echart.tsx
Due: plugins

refactor: update dataMask (final)
  packages/superset-ui-core/src/chart/models/ChartProps.ts
  packages/superset-ui-core/src/chart/registries/ChartBuildQueryRegistrySingleton.ts
  packages/superset-ui-core/src/chart/types/Base.ts
  packages/superset-ui-core/src/chart/types/TransformFunction.ts
  packages/superset-ui-core/src/query/buildQueryContext.ts
  packages/superset-ui-core/src/query/buildQueryObject.ts
  packages/superset-ui-core/src/query/types/QueryFormData.ts
  plugins/plugin-chart-echarts/src/BoxPlot/EchartsBoxPlot.tsx
  plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
  plugins/plugin-chart-echarts/src/BoxPlot/types.ts
  plugins/plugin-chart-echarts/src/Pie/EchartsPie.tsx
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Pie/types.ts
  plugins/plugin-chart-table/src/buildQuery.ts
Due: core-packages, plugins

lint: update TS
  packages/superset-ui-core/src/query/buildQueryContext.ts
Due: core-packages

lint: update TS
  packages/superset-ui-core/src/chart/registries/ChartBuildQueryRegistrySingleton.ts
  packages/superset-ui-core/src/chart/types/TransformFunction.ts
  packages/superset-ui-core/src/query/buildQueryContext.ts
Due: core-packages

refactor: update table setDataMaskHook
  plugins/plugin-chart-table/src/TableChart.tsx
Due: plugins

fix(plugin-chart-echarts): add series deduplication
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/utils/series.ts
  plugins/plugin-chart-echarts/test/utils/series.test.ts
Due: plugins

fix(plugin-chart-table): fix empty metrics
  plugins/plugin-chart-table/src/buildQuery.ts
Due: plugins

fix(plugin-chart-table): fix empty metrics (#1047)
  plugins/plugin-chart-table/src/buildQuery.ts
Due: plugins

fix(plugin-chart-echarts): fix unnecessary chart clearing (#1044)
  plugins/plugin-chart-echarts/src/components/Echart.tsx
Due: plugins

refactor function
  plugins/plugin-chart-echarts/src/utils/series.ts
Due: plugins

fix(plugin-chart-echarts): add series deduplication (#1046)
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/utils/series.ts
  plugins/plugin-chart-echarts/test/utils/series.test.ts
Due: plugins

fix(legacy-preset-chart-nvd3): fix tokenizer input type
  plugins/legacy-preset-chart-nvd3/src/utils/tokenize.ts
  plugins/legacy-preset-chart-nvd3/test/utils/tokenize.test.js
Due: plugins

fix(plugin-chart-echarts): default to standard x-axis format (#1043)
  packages/superset-ui-chart-controls/src/utils/D3Formatting.ts
  packages/superset-ui-core/src/time-format/formatters/smartDateDetailed.ts
  packages/superset-ui-core/src/time-format/index.ts
  packages/superset-ui-core/test/time-format/formatters/smartDateDetailed.test.ts
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
Due: core-packages, plugins

fix(legacy-preset-chart-nvd3): fix tokenizer input type (#1049)
  plugins/legacy-preset-chart-nvd3/src/utils/tokenize.ts
  plugins/legacy-preset-chart-nvd3/test/utils/tokenize.test.js
Due: plugins

chore: publish v0.17.30
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

optional root node name
  plugins/plugin-chart-echarts/src/Tree/buildQuery.ts
  plugins/plugin-chart-echarts/src/Tree/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Tree/transformProps.ts
  plugins/plugin-chart-echarts/src/Tree/types.ts
  plugins/plugin-chart-echarts/test/Tree/buildQuery.test.ts
  plugins/plugin-chart-echarts/test/Tree/transformProps.test.ts
Due: plugins

Update react-pivottable dependency
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
Due: plugins

Update table viz name
  plugins/plugin-chart-pivot-table/src/plugin/controlPanel.ts
Due: plugins

Minor changes
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
  plugins/plugin-chart-pivot-table/src/plugin/controlPanel.ts
Due: plugins

Fix tests
  plugins/plugin-chart-pivot-table/test/plugin/buildQuery.test.ts
  plugins/plugin-chart-pivot-table/test/plugin/transformProps.test.ts
Due: plugins

Fix type error
  plugins/plugin-chart-pivot-table/src/plugin/index.ts
Due: plugins

feat(plugin-chart-pivot-table): add new plugin
  plugins/plugin-chart-pivot-table/README.md
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-pivot-table/src/PivotTable.tsx
  plugins/plugin-chart-pivot-table/src/images/thumbnail.png
  plugins/plugin-chart-pivot-table/src/index.ts
  plugins/plugin-chart-pivot-table/src/plugin/buildQuery.ts
  plugins/plugin-chart-pivot-table/src/plugin/controlPanel.ts
  plugins/plugin-chart-pivot-table/src/plugin/index.ts
  plugins/plugin-chart-pivot-table/src/plugin/transformProps.ts
  plugins/plugin-chart-pivot-table/src/types.ts
  plugins/plugin-chart-pivot-table/test/index.test.ts
  plugins/plugin-chart-pivot-table/test/plugin/buildQuery.test.ts
  plugins/plugin-chart-pivot-table/test/plugin/transformProps.test.ts
  plugins/plugin-chart-pivot-table/tsconfig.json
  plugins/plugin-chart-pivot-table/types/external.d.ts
Due: plugins

Toggle display of grand totals
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
  plugins/plugin-chart-pivot-table/src/plugin/controlPanel.ts
  plugins/plugin-chart-pivot-table/src/plugin/transformProps.ts
Due: plugins

Update types
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
  plugins/plugin-chart-pivot-table/src/plugin/buildQuery.ts
  plugins/plugin-chart-pivot-table/src/types.ts
  yarn.lock
Due: plugins

Implement transpose pivot
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
  plugins/plugin-chart-pivot-table/src/plugin/controlPanel.ts
  plugins/plugin-chart-pivot-table/src/plugin/transformProps.ts
  plugins/plugin-chart-pivot-table/src/types.ts
Due: plugins

Keep the original order of metrics when sorting
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
Due: plugins

Explicitly cast payload to JsonObject to fix type error
  packages/superset-ui-core/src/connection/callApi/callApi.ts
  yarn.lock
Due: core-packages

Implement pivot table chart
  plugins/plugin-chart-pivot-table/README.md
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-pivot-table/src/PivotTable.tsx
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
  plugins/plugin-chart-pivot-table/src/index.ts
  plugins/plugin-chart-pivot-table/src/plugin/buildQuery.ts
  plugins/plugin-chart-pivot-table/src/plugin/controlPanel.ts
  plugins/plugin-chart-pivot-table/src/plugin/index.ts
  plugins/plugin-chart-pivot-table/src/plugin/transformProps.ts
  plugins/plugin-chart-pivot-table/test/plugin/buildQuery.test.ts
  plugins/plugin-chart-pivot-table/test/plugin/transformProps.test.ts
  yarn.lock
Due: plugins

Solve merge conflicts
  yarn.lock
Due: none

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
