Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

add calendar control panel (#432)
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-calendar/src/controlPanel.js
  plugins/legacy-plugin-chart-calendar/src/index.js
Due: plugins

chore: move bullet chart option parsing from backend to frontend
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
  plugins/legacy-preset-chart-nvd3/src/transformProps.js
Due: plugins

fix: lintiing
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/legacy-preset-chart-nvd3/src/transformProps.js
Due: plugins

fix: lintiing
  plugins/legacy-preset-chart-nvd3/src/transformProps.js
Due: plugins

chore: add unit tests and license headers
  plugins/legacy-preset-chart-nvd3/src/transformProps.js
  plugins/legacy-preset-chart-nvd3/src/utils/tokenize.js
  plugins/legacy-preset-chart-nvd3/test/utils/isTruthy.test.js
  plugins/legacy-preset-chart-nvd3/test/utils/tokenize.test.js
Due: plugins

fix: unit tests
  plugins/legacy-preset-chart-nvd3/src/utils/tokenize.js
  plugins/legacy-preset-chart-nvd3/test/utils/tokenize.test.js
Due: plugins

fix: lint
  plugins/legacy-preset-chart-nvd3/test/utils/tokenize.test.js
Due: plugins

Move dependency
  plugins/legacy-preset-chart-nvd3/package.json
Due: plugins

convert to typescript and add unit tests for decimal cases
  plugins/legacy-preset-chart-nvd3/src/transformProps.js
  plugins/legacy-preset-chart-nvd3/src/utils/tokenize.ts
  plugins/legacy-preset-chart-nvd3/test/utils/tokenize.test.js
Due: plugins

fix tests
  plugins/legacy-preset-chart-nvd3/src/transformProps.js
  plugins/legacy-preset-chart-nvd3/test/utils/tokenize.test.js
Due: plugins

fix import error
  plugins/legacy-preset-chart-nvd3/src/transformProps.js
Due: plugins

change Number to number
  plugins/legacy-preset-chart-nvd3/src/utils/tokenize.ts
Due: plugins

PR to merge packges for controls migration
  packages/superset-ui-control-utils/src/InfoTooltipWithTrigger.jsx
  packages/superset-ui-control-utils/src/index.ts
Due: core-packages

fix: add bootstrap
  packages/superset-ui-control-utils/package.json
  packages/superset-ui-control-utils/src/InfoTooltipWithTrigger.jsx
Due: core-packages

fix: change tooltip to tsx
  packages/superset-ui-control-utils/src/InfoTooltipWithTrigger.tsx
Due: core-packages

fix: types
  packages/superset-ui-control-utils/src/InfoTooltipWithTrigger.tsx
Due: core-packages

fix: tsx error
  packages/superset-ui-control-utils/src/InfoTooltipWithTrigger.tsx
Due: core-packages

appease linter, enhance a11y
  packages/superset-ui-control-utils/package.json
  packages/superset-ui-control-utils/src/InfoTooltipWithTrigger.tsx
Due: core-packages

chore: pulling in controls from incubator-superset
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-sunburst/src/controlPanel.ts
  plugins/legacy-plugin-chart-sunburst/src/index.js
Due: plugins

style: adding extension to make eslint happy
  plugins/legacy-plugin-chart-sunburst/src/index.js
Due: plugins

fix: set useLegacyApi to true by default
  plugins/legacy-plugin-chart-world-map/src/index.js
Due: plugins

fix(legacy-plugin-world-map): set useLegacyApi to true by default (#444)
  plugins/legacy-plugin-chart-world-map/src/index.js
Due: plugins

Add force to QueryContext
  packages/superset-ui-query/src/buildQueryContext.ts
  packages/superset-ui-query/src/types/Query.ts
  packages/superset-ui-query/src/types/QueryFormData.ts
  packages/superset-ui-query/test/buildQueryContext.test.ts
Due: core-packages

fix tests
  packages/superset-ui-chart/test/models/ChartPlugin.test.tsx
Due: core-packages

fix test
  packages/superset-ui-chart/test/models/ChartPlugin.test.tsx
Due: core-packages

feat(query): Add force to QueryContext (#445)
  packages/superset-ui-chart/test/models/ChartPlugin.test.tsx
  packages/superset-ui-query/src/buildQueryContext.ts
  packages/superset-ui-query/src/types/Query.ts
  packages/superset-ui-query/src/types/QueryFormData.ts
  packages/superset-ui-query/test/buildQueryContext.test.ts
Due: core-packages

chore(legacy-preset-chart-nvd3): move bullet chart option parsing from backend to frontend (#440)
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
  plugins/legacy-preset-chart-nvd3/src/transformProps.js
  plugins/legacy-preset-chart-nvd3/src/utils/tokenize.ts
  plugins/legacy-preset-chart-nvd3/test/utils/isTruthy.test.js
  plugins/legacy-preset-chart-nvd3/test/utils/tokenize.test.js
Due: plugins

chore: bumping package versions
  lerna.json
  packages/superset-ui-chart/package.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-query/package.json
  packages/superset-ui-superset-ui/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-nvd3/package.json
Due: core-packages, plugins

chore(release): publish v0.13.6
  lerna.json
  packages/superset-ui-chart/package.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-query/package.json
  packages/superset-ui-superset-ui/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-nvd3/package.json
Due: core-packages, plugins

chore(release): publish v0.13.7
  lerna.json
  packages/superset-ui-chart/package.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-query/package.json
  packages/superset-ui-superset-ui/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-nvd3/package.json
Due: core-packages, plugins

un-bumping version
  plugins/legacy-plugin-chart-sunburst/package.json
Due: plugins

style: removing .ts, ignoring lint warning
  plugins/legacy-plugin-chart-sunburst/src/index.js
Due: plugins

feat(plugin-chart-sunburst): migrate control panel from incubator-superset (#443)
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-sunburst/src/controlPanel.ts
  plugins/legacy-plugin-chart-sunburst/src/index.js
Due: plugins

Revert "chore(release): publish v0.13.7"
  lerna.json
  packages/superset-ui-chart/package.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-query/package.json
  packages/superset-ui-superset-ui/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-nvd3/package.json
Due: core-packages, plugins

Revert "chore(release): publish v0.13.6"
  lerna.json
  packages/superset-ui-chart/package.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-query/package.json
  packages/superset-ui-superset-ui/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-nvd3/package.json
Due: core-packages, plugins

chore(release): publish v0.13.7
  lerna.json
  packages/superset-ui-chart/package.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-query/package.json
  packages/superset-ui-superset-ui/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-nvd3/package.json
Due: core-packages, plugins

chore(release): publish v0.13.8
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
Due: core-packages, plugins

Revert "chore(release): publish v0.13.8"
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
Due: core-packages, plugins

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
