Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

Add back missed properties
  plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
Due: plugins

Fix lint
  plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
Due: plugins

fix(plugin-chart-table): refine ordering logic
  plugins/plugin-chart-table/src/buildQuery.ts
  plugins/plugin-chart-table/src/types.ts
  plugins/plugin-chart-table/src/utils/extractOrderby.ts
  plugins/plugin-chart-table/test/utils.test.ts
Due: plugins

fix(plugin-chart-table): refine ordering logic (#930)
  plugins/plugin-chart-table/src/buildQuery.ts
  plugins/plugin-chart-table/src/types.ts
  plugins/plugin-chart-table/src/utils/extractOrderby.ts
  plugins/plugin-chart-table/test/utils.test.ts
Due: plugins

chore: publish v0.17.4
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/plugin-chart-table/package.json
Due: core-packages, plugins

fix(plugin-chart-table): always sort descending by first metric
  packages/superset-ui-core/src/query/buildQueryObject.ts
  packages/superset-ui-core/src/utils/ensureIsArray.ts
  packages/superset-ui-core/src/utils/index.ts
  packages/superset-ui-core/test/utils/ensureIsArray.test.ts
  plugins/plugin-chart-table/src/buildQuery.ts
  plugins/plugin-chart-table/src/controlPanel.tsx
Due: core-packages, plugins

fix test coverage
  packages/superset-ui-core/test/query/buildQueryObject.test.ts
Due: core-packages

fix(plugin-chart-table): always sort descending by first metric (#935)
  packages/superset-ui-core/src/query/buildQueryObject.ts
  packages/superset-ui-core/src/utils/ensureIsArray.ts
  packages/superset-ui-core/src/utils/index.ts
  packages/superset-ui-core/test/query/buildQueryObject.test.ts
  packages/superset-ui-core/test/utils/ensureIsArray.test.ts
  plugins/plugin-chart-table/src/buildQuery.ts
  plugins/plugin-chart-table/src/controlPanel.tsx
Due: core-packages, plugins

chore: publish v0.17.5
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/plugin-filter-antd/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

Fix
  plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
Due: plugins

feat(core): boring smart date formatting
  packages/superset-ui-core/src/time-format/formatters/smartDate.ts
Due: core-packages

feat(plugin-chart-echarts): subject Update echarts to v5.0.1 (#928)
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
  plugins/plugin-chart-echarts/src/BoxPlot/types.ts
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  plugins/plugin-chart-echarts/src/components/Echart.tsx
  plugins/plugin-chart-echarts/src/types.ts
  plugins/plugin-chart-echarts/src/utils/annotation.ts
  plugins/plugin-chart-echarts/src/utils/prophet.ts
  plugins/plugin-chart-echarts/src/utils/series.ts
Due: plugins

fix(plugin-chart-table): better rendering for temporal columns
  plugins/plugin-chart-table/src/buildQuery.ts
  plugins/plugin-chart-table/src/transformProps.ts
  plugins/plugin-chart-table/src/types.ts
Due: plugins

fix(plugin-chart-table): better rendering for temporal columns (#937)
  plugins/plugin-chart-table/src/buildQuery.ts
  plugins/plugin-chart-table/src/transformProps.ts
  plugins/plugin-chart-table/src/types.ts
Due: plugins

chore: publish v0.17.6
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-table/package.json
Due: core-packages, plugins

feat(plugin-chart-word-cloud): subject Add order by desc
  plugins/plugin-chart-word-cloud/src/plugin/buildQuery.ts
Due: plugins

Add checkbox to control order by
  plugins/plugin-chart-word-cloud/src/plugin/buildQuery.ts
  plugins/plugin-chart-word-cloud/src/plugin/controlPanel.ts
Due: plugins

legend customization,cleanup
  plugins/plugin-chart-echarts/src/Graph/constants.ts
  plugins/plugin-chart-echarts/src/Graph/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Graph/transformProps.ts
  plugins/plugin-chart-echarts/src/Graph/types.ts
Due: plugins

feat(plugin-chart-echarts): subject Set avoiLabelOverlap false
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
Due: plugins

bug fix
  plugins/plugin-chart-echarts/src/Graph/constants.ts
  plugins/plugin-chart-echarts/src/Graph/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Graph/transformProps.ts
  plugins/plugin-chart-echarts/src/Graph/types.ts
Due: plugins

cleanup
  plugins/plugin-chart-echarts/src/Graph/transformProps.ts
Due: plugins

Fix test
  plugins/plugin-chart-echarts/test/Pie/transformProps.test.ts
Due: plugins

legend sliders
  plugins/plugin-chart-echarts/src/Graph/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Graph/transformProps.ts
  plugins/plugin-chart-echarts/src/Graph/types.ts
Due: plugins

tests added
  plugins/plugin-chart-echarts/src/Graph/transformProps.ts
  plugins/plugin-chart-echarts/test/Graph/buildQuery.test.ts
  plugins/plugin-chart-echarts/test/Graph/transformProps.test.ts
  plugins/plugin-chart-echarts/test/index.test.ts
Due: plugins

name change
  plugins/plugin-chart-echarts/src/Graph/transformProps.ts
Due: plugins

defaults tuned,typing fix
  plugins/plugin-chart-echarts/src/Graph/buildQuery.ts
  plugins/plugin-chart-echarts/src/Graph/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Graph/transformProps.ts
  plugins/plugin-chart-echarts/src/Graph/types.ts
Due: plugins

typing fix
  plugins/plugin-chart-echarts/src/Graph/constants.ts
  plugins/plugin-chart-echarts/src/Graph/transformProps.ts
  plugins/plugin-chart-echarts/src/Graph/types.ts
Due: plugins

test fix
  plugins/plugin-chart-echarts/test/Graph/transformProps.test.ts
Due: plugins

more type fix
  plugins/plugin-chart-echarts/src/Graph/constants.ts
  plugins/plugin-chart-echarts/src/Graph/transformProps.ts
  plugins/plugin-chart-echarts/src/Graph/types.ts
Due: plugins

typing fixed
  plugins/plugin-chart-echarts/src/Graph/constants.ts
  plugins/plugin-chart-echarts/src/Graph/transformProps.ts
Due: plugins

lint
  plugins/plugin-chart-echarts/src/Graph/transformProps.ts
Due: plugins

tests lint fix
  plugins/plugin-chart-echarts/test/Graph/buildQuery.test.ts
  plugins/plugin-chart-echarts/test/Graph/transformProps.test.ts
Due: plugins

bug fix
  plugins/plugin-chart-echarts/src/Graph/transformProps.ts
Due: plugins

license info added
  plugins/plugin-chart-echarts/src/Graph/constants.ts
  plugins/plugin-chart-echarts/src/Graph/index.ts
  plugins/plugin-chart-echarts/src/Graph/transformProps.ts
Due: plugins

fix(plugin-chart-echarts): bump to 5.0.2 to fix incorrect label hide
  plugins/plugin-chart-echarts/package.json
  yarn.lock
Due: plugins

Update packages/superset-ui-chart-controls/src/sections.tsx
  packages/superset-ui-chart-controls/src/sections.tsx
Due: core-packages

fix label type control and clean up control panel
  plugins/plugin-chart-echarts/src/Pie/controlPanel.tsx
Due: plugins

fix(plugin-chart-echarts): label type and hover bugs (#942)
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-echarts/src/Pie/controlPanel.tsx
  yarn.lock
Due: plugins

feat(plugin-chart-echarts): subject Add option to rotate label defaul 45 (#921)
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
Due: plugins

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
