Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

feat(plugin-word-cloud): change how wordcloud is exported (#418)
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-word-cloud/Stories.tsx
  packages/superset-ui-demo/storybook/stories/superset-ui-chart/ChartDataProviderStories.tsx
  plugins/plugin-chart-word-cloud/src/index.ts
  plugins/plugin-chart-word-cloud/src/legacyPlugin/index.ts
  plugins/plugin-chart-word-cloud/src/legacyPlugin/transformProps.ts
  plugins/plugin-chart-word-cloud/src/legacyPlugin/types.ts
  plugins/plugin-chart-word-cloud/src/plugin/buildQuery.ts
  plugins/plugin-chart-word-cloud/src/plugin/index.ts
  plugins/plugin-chart-word-cloud/src/plugin/transformProps.ts
  plugins/plugin-chart-word-cloud/test/index.test.ts
  plugins/plugin-chart-word-cloud/test/legacyPlugin/transformProps.test.ts
  plugins/plugin-chart-word-cloud/test/plugin/buildQuery.test.ts
Due: core-packages, plugins

docs: update changelog
  CHANGELOG.md
Due: none

build: remove list changes which stop auto-publishing
  .github/workflows/release.yml
Due: none

move nvd3 controls file to the correct directory
  plugins/legacy-preset-chart-nvd3/src/NVD3Controls.tsx
Due: plugins

feat: BigNumber registers its own controls
  plugins/big-number/src/BigNumber/controls.tsx
  plugins/big-number/src/BigNumberTotal/controls.ts
  plugins/big-number/src/BigNumberTotal/index.ts
  plugins/big-number/src/sharedControls.ts
Due: plugins

fix: nvd3 controls imports
  plugins/legacy-preset-chart-nvd3/src/NVD3Controls.tsx
Due: plugins

controls -> controlPanel
  plugins/big-number/src/BigNumber/controlPanel.tsx
  plugins/big-number/src/BigNumber/index.ts
  plugins/big-number/src/BigNumberTotal/controlPanel.ts
  plugins/big-number/src/BigNumberTotal/index.ts
Due: plugins

fix: disable rules for some lines
  plugins/legacy-preset-chart-nvd3/src/NVD3Controls.tsx
Due: plugins

control utils got moved
  plugins/big-number/package.json
  plugins/big-number/src/BigNumber/controlPanel.tsx
Due: plugins

fix: bump peer dependencies
  packages/superset-ui-chart-composition/package.json
  packages/superset-ui-chart/package.json
  packages/superset-ui-color/package.json
  packages/superset-ui-control-utils/package.json
  packages/superset-ui-number-format/package.json
  packages/superset-ui-time-format/package.json
  packages/superset-ui-validator/package.json
  plugins/big-number/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-iframe/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-markup/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
  plugins/table/package.json
  temporary-plugins/hold-potentially-deprecate/superset-ui-legacy-plugin-chart-event-flow/package.json
  temporary-plugins/hold-potentially-deprecate/superset-ui-legacy-plugin-chart-word-cloud/package.json
  temporary-plugins/hold-potentially-deprecate/superset-ui-plugin-chart-table/package.json
  temporary-plugins/superset-ui-plugins-demo/package.json
Due: core-packages, plugins

chore(release): publish v0.13.1
  lerna.json
  packages/superset-ui-chart-composition/package.json
  packages/superset-ui-chart/package.json
  packages/superset-ui-color/package.json
  packages/superset-ui-control-utils/package.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-number-format/package.json
  packages/superset-ui-superset-ui/package.json
  packages/superset-ui-time-format/package.json
  packages/superset-ui-validator/package.json
  plugins/big-number/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-iframe/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-markup/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
  plugins/table/package.json
Due: core-packages, plugins

fix: peer dependencies
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
Due: plugins

fix: control utils required from nvd3
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/legacy-preset-chart-nvd3/src/NVD3Controls.tsx
Due: plugins

chore(release): publish v0.13.2
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
Due: core-packages, plugins

build: change config
  babel.config.js
Due: none

fix: lint errors
  packages/superset-ui-chart-composition/src/ChartFrame.tsx
  packages/superset-ui-chart-composition/test/legend/WithLegend.test.tsx
  packages/superset-ui-chart/src/clients/ChartClient.ts
  packages/superset-ui-chart/src/components/ChartDataProvider.tsx
  packages/superset-ui-chart/src/components/SuperChart.tsx
  packages/superset-ui-chart/src/components/SuperChartCore.tsx
  packages/superset-ui-chart/src/components/createLoadableRenderer.ts
  packages/superset-ui-chart/src/models/ChartControlPanel.ts
  packages/superset-ui-chart/src/models/ChartPlugin.ts
  packages/superset-ui-chart/src/models/ChartProps.ts
  packages/superset-ui-chart/src/registries/ChartBuildQueryRegistrySingleton.ts
  packages/superset-ui-chart/src/types/Base.ts
  packages/superset-ui-chart/src/types/TransformFunction.ts
  packages/superset-ui-chart/test/models/ChartProps.test.ts
  packages/superset-ui-connection/test/callApi/rejectAfterTimeout.test.ts
  packages/superset-ui-connection/test/utils/throwIfCalled.ts
  packages/superset-ui-core/src/models/Plugin.ts
  packages/superset-ui-core/src/utils/convertKeysToCamelCase.ts
  packages/superset-ui-core/src/utils/isDefined.ts
  packages/superset-ui-core/src/utils/makeSingleton.ts
  packages/superset-ui-core/src/utils/promiseTimeout.ts
  packages/superset-ui-core/test/models/Preset.test.ts
  packages/superset-ui-core/test/models/Registry.test.ts
Due: core-packages

fix: more lints
  packages/superset-ui-chart/test/components/SuperChart.test.tsx
  packages/superset-ui-chart/test/components/reactify.test.tsx
  plugins/legacy-plugin-chart-heatmap/src/Heatmap.js
  plugins/legacy-plugin-chart-horizon/src/HorizonRow.jsx
  plugins/legacy-plugin-chart-map-box/src/ScatterPlotGlowOverlay.jsx
  plugins/legacy-plugin-chart-map-box/src/utils/geo.js
  plugins/legacy-plugin-chart-paired-t-test/src/TTestTable.jsx
  plugins/legacy-plugin-chart-partition/src/Partition.js
  plugins/legacy-plugin-chart-rose/src/Rose.js
  plugins/legacy-plugin-chart-sunburst/src/Sunburst.js
  plugins/legacy-plugin-chart-sunburst/src/utils/wrapSvgText.js
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
  plugins/preset-chart-xy/src/components/Line/Line.tsx
Due: core-packages, plugins

fix: broken test
  packages/superset-ui-chart/src/registries/ChartBuildQueryRegistrySingleton.ts
Due: core-packages

fix: lint
  packages/superset-ui-chart-composition/test/legend/WithLegend.test.tsx
Due: core-packages

fix: singleton type
  packages/superset-ui-core/src/utils/makeSingleton.ts
  packages/superset-ui-core/test/utils/makeSingleton.test.ts
Due: core-packages

feat(superset-ui): include control utils in the umbrella package
  packages/superset-ui-superset-ui/package.json
  packages/superset-ui-superset-ui/src/index.ts
  packages/superset-ui-superset-ui/test/index.test.ts
Due: core-packages

fix: version
  plugins/big-number/package.json
Due: plugins

feat(legacy-plugin-chart-big-number): add control panel config for the BigNumber charts (#419)
  plugins/big-number/package.json
  plugins/big-number/src/BigNumber/controlPanel.tsx
  plugins/big-number/src/BigNumberTotal/controlPanel.ts
  plugins/big-number/src/BigNumberTotal/index.ts
  plugins/big-number/src/sharedControls.ts
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/legacy-preset-chart-nvd3/src/NVD3Controls.tsx
Due: plugins

chore(release): publish v0.13.4
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
Due: core-packages, plugins

chore: rename directory
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-table/TableStories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-table/birthNames.json
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-table/data.js
  plugins/legacy-plugin-chart-table/README.md
  plugins/legacy-plugin-chart-table/package.json
  plugins/legacy-plugin-chart-table/src/ReactDataTable.tsx
  plugins/legacy-plugin-chart-table/src/Table.css
  plugins/legacy-plugin-chart-table/src/images/thumbnail.png
  plugins/legacy-plugin-chart-table/src/images/thumbnailLarge.png
  plugins/legacy-plugin-chart-table/src/index.ts
  plugins/legacy-plugin-chart-table/src/transformProps.ts
  plugins/legacy-plugin-chart-table/test/ReactDataTable.test.tsx
  plugins/legacy-plugin-chart-table/test/testData.ts
  plugins/legacy-plugin-chart-table/types/external.d.ts
Due: core-packages, plugins

chore(legacy-plugin-chart-table): rename directory (#422)
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-table/TableStories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-table/birthNames.json
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-table/data.js
  plugins/legacy-plugin-chart-table/README.md
  plugins/legacy-plugin-chart-table/package.json
  plugins/legacy-plugin-chart-table/src/ReactDataTable.tsx
  plugins/legacy-plugin-chart-table/src/Table.css
  plugins/legacy-plugin-chart-table/src/images/thumbnail.png
  plugins/legacy-plugin-chart-table/src/images/thumbnailLarge.png
  plugins/legacy-plugin-chart-table/src/index.ts
  plugins/legacy-plugin-chart-table/src/transformProps.ts
  plugins/legacy-plugin-chart-table/test/ReactDataTable.test.tsx
  plugins/legacy-plugin-chart-table/test/testData.ts
  plugins/legacy-plugin-chart-table/types/external.d.ts
Due: core-packages, plugins

chore: rename directory
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-big-number/BigNumber/BigNumberStories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-big-number/BigNumber/data.ts
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-big-number/BigNumberTotal/BigNumberTotalStories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-big-number/BigNumberTotal/data.ts
  plugins/legacy-plugin-big-number/README.md
  plugins/legacy-plugin-big-number/package.json
  plugins/legacy-plugin-big-number/src/BigNumber/BigNumber.css
  plugins/legacy-plugin-big-number/src/BigNumber/BigNumber.tsx
  plugins/legacy-plugin-big-number/src/BigNumber/controlPanel.tsx
  plugins/legacy-plugin-big-number/src/BigNumber/images/thumbnail.png
  plugins/legacy-plugin-big-number/src/BigNumber/images/thumbnailLarge.png
  plugins/legacy-plugin-big-number/src/BigNumber/index.ts
  plugins/legacy-plugin-big-number/src/BigNumber/transformProps.ts
  plugins/legacy-plugin-big-number/src/BigNumberTotal/controlPanel.ts
  plugins/legacy-plugin-big-number/src/BigNumberTotal/images/thumbnail.png
  plugins/legacy-plugin-big-number/src/BigNumberTotal/images/thumbnailLarge.png
  plugins/legacy-plugin-big-number/src/BigNumberTotal/index.ts
  plugins/legacy-plugin-big-number/src/index.ts
  plugins/legacy-plugin-big-number/src/preset.ts
  plugins/legacy-plugin-big-number/src/sharedControls.ts
  plugins/legacy-plugin-big-number/src/types/external.d.ts
  plugins/legacy-plugin-big-number/src/utils/getTimeFormatterForGranularity.ts
  plugins/legacy-plugin-big-number/test/transformProps.test.ts
Due: core-packages, plugins

chore: correct naming
  packages/superset-ui-demo/storybook/stories/plugins/legacy-preset-chart-big-number/BigNumber/BigNumberStories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-preset-chart-big-number/BigNumber/data.ts
  packages/superset-ui-demo/storybook/stories/plugins/legacy-preset-chart-big-number/BigNumberTotal/BigNumberTotalStories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-preset-chart-big-number/BigNumberTotal/data.ts
  plugins/legacy-preset-chart-big-number/README.md
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-big-number/src/BigNumber/BigNumber.css
  plugins/legacy-preset-chart-big-number/src/BigNumber/BigNumber.tsx
  plugins/legacy-preset-chart-big-number/src/BigNumber/controlPanel.tsx
  plugins/legacy-preset-chart-big-number/src/BigNumber/images/thumbnail.png
  plugins/legacy-preset-chart-big-number/src/BigNumber/images/thumbnailLarge.png
  plugins/legacy-preset-chart-big-number/src/BigNumber/index.ts
  plugins/legacy-preset-chart-big-number/src/BigNumber/transformProps.ts
  plugins/legacy-preset-chart-big-number/src/BigNumberTotal/controlPanel.ts
  plugins/legacy-preset-chart-big-number/src/BigNumberTotal/images/thumbnail.png
  plugins/legacy-preset-chart-big-number/src/BigNumberTotal/images/thumbnailLarge.png
  plugins/legacy-preset-chart-big-number/src/BigNumberTotal/index.ts
  plugins/legacy-preset-chart-big-number/src/index.ts
  plugins/legacy-preset-chart-big-number/src/preset.ts
  plugins/legacy-preset-chart-big-number/src/sharedControls.ts
  plugins/legacy-preset-chart-big-number/src/types/external.d.ts
  plugins/legacy-preset-chart-big-number/src/utils/getTimeFormatterForGranularity.ts
  plugins/legacy-preset-chart-big-number/test/transformProps.test.ts
Due: core-packages, plugins

fix: make wordcloud take current formdata
  plugins/plugin-chart-word-cloud/src/chart/WordCloud.tsx
  plugins/plugin-chart-word-cloud/src/plugin/index.ts
Due: plugins

docs: fix storybook
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-word-cloud/Stories.tsx
Due: core-packages

feat(superset-ui): include control utils in the umbrella package (#421)
  packages/superset-ui-superset-ui/package.json
  packages/superset-ui-superset-ui/src/index.ts
  packages/superset-ui-superset-ui/test/index.test.ts
Due: core-packages

chore(legacy-preset-chart-big-number): rename directory (#427)
  packages/superset-ui-demo/storybook/stories/plugins/legacy-preset-chart-big-number/BigNumber/BigNumberStories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-preset-chart-big-number/BigNumber/data.ts
  packages/superset-ui-demo/storybook/stories/plugins/legacy-preset-chart-big-number/BigNumberTotal/BigNumberTotalStories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-preset-chart-big-number/BigNumberTotal/data.ts
  plugins/legacy-preset-chart-big-number/README.md
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-big-number/src/BigNumber/BigNumber.css
  plugins/legacy-preset-chart-big-number/src/BigNumber/BigNumber.tsx
  plugins/legacy-preset-chart-big-number/src/BigNumber/controlPanel.tsx
  plugins/legacy-preset-chart-big-number/src/BigNumber/images/thumbnail.png
  plugins/legacy-preset-chart-big-number/src/BigNumber/images/thumbnailLarge.png
  plugins/legacy-preset-chart-big-number/src/BigNumber/index.ts
  plugins/legacy-preset-chart-big-number/src/BigNumber/transformProps.ts
  plugins/legacy-preset-chart-big-number/src/BigNumberTotal/controlPanel.ts
  plugins/legacy-preset-chart-big-number/src/BigNumberTotal/images/thumbnail.png
  plugins/legacy-preset-chart-big-number/src/BigNumberTotal/images/thumbnailLarge.png
  plugins/legacy-preset-chart-big-number/src/BigNumberTotal/index.ts
  plugins/legacy-preset-chart-big-number/src/index.ts
  plugins/legacy-preset-chart-big-number/src/preset.ts
  plugins/legacy-preset-chart-big-number/src/sharedControls.ts
  plugins/legacy-preset-chart-big-number/src/types/external.d.ts
  plugins/legacy-preset-chart-big-number/src/utils/getTimeFormatterForGranularity.ts
  plugins/legacy-preset-chart-big-number/test/transformProps.test.ts
Due: core-packages, plugins

fix(plugin-chart-word-cloud): make wordcloud take current formdata (#428)
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-word-cloud/Stories.tsx
  plugins/plugin-chart-word-cloud/src/chart/WordCloud.tsx
  plugins/plugin-chart-word-cloud/src/plugin/index.ts
Due: core-packages, plugins

fix: lint errors (#420)
  packages/superset-ui-chart-composition/src/ChartFrame.tsx
  packages/superset-ui-chart-composition/test/legend/WithLegend.test.tsx
  packages/superset-ui-chart/src/clients/ChartClient.ts
  packages/superset-ui-chart/src/components/ChartDataProvider.tsx
  packages/superset-ui-chart/src/components/SuperChart.tsx
  packages/superset-ui-chart/src/components/SuperChartCore.tsx
  packages/superset-ui-chart/src/components/createLoadableRenderer.ts
  packages/superset-ui-chart/src/models/ChartControlPanel.ts
  packages/superset-ui-chart/src/models/ChartPlugin.ts
  packages/superset-ui-chart/src/models/ChartProps.ts
  packages/superset-ui-chart/src/types/Base.ts
  packages/superset-ui-chart/src/types/TransformFunction.ts
  packages/superset-ui-chart/test/components/SuperChart.test.tsx
  packages/superset-ui-chart/test/components/reactify.test.tsx
  packages/superset-ui-chart/test/models/ChartProps.test.ts
  packages/superset-ui-connection/test/callApi/rejectAfterTimeout.test.ts
  packages/superset-ui-connection/test/utils/throwIfCalled.ts
  packages/superset-ui-core/src/models/Plugin.ts
  packages/superset-ui-core/src/utils/convertKeysToCamelCase.ts
  packages/superset-ui-core/src/utils/isDefined.ts
  packages/superset-ui-core/src/utils/makeSingleton.ts
  packages/superset-ui-core/src/utils/promiseTimeout.ts
  packages/superset-ui-core/test/models/Preset.test.ts
  packages/superset-ui-core/test/models/Registry.test.ts
  packages/superset-ui-core/test/utils/makeSingleton.test.ts
  plugins/legacy-plugin-chart-heatmap/src/Heatmap.js
  plugins/legacy-plugin-chart-horizon/src/HorizonRow.jsx
  plugins/legacy-plugin-chart-map-box/src/ScatterPlotGlowOverlay.jsx
  plugins/legacy-plugin-chart-map-box/src/utils/geo.js
  plugins/legacy-plugin-chart-paired-t-test/src/TTestTable.jsx
  plugins/legacy-plugin-chart-partition/src/Partition.js
  plugins/legacy-plugin-chart-rose/src/Rose.js
  plugins/legacy-plugin-chart-sunburst/src/Sunburst.js
  plugins/legacy-plugin-chart-sunburst/src/utils/wrapSvgText.js
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
  plugins/preset-chart-xy/src/components/Line/Line.tsx
Due: core-packages, plugins

chore(release): publish v0.13.5
  lerna.json
  packages/superset-ui-chart-composition/package.json
  packages/superset-ui-chart/package.json
  packages/superset-ui-connection/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-superset-ui/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-table/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

add calendar control panel
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-calendar/src/controlPanel.js
  plugins/legacy-plugin-chart-calendar/src/index.js
Due: plugins

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
