Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

codecov.yml:

coverage:
  status:
    project:
      target: 90%
      # send notification if coverage change exceed this threshold
      threshold: 5%
    core-packages:
      target: 100%
      flags: 
        - core-packages
    plugins:
      target: 50%
      flags: 
        - plugins

flags:
  core-packages:
    paths:
      - packages
  plugins:
    paths:
      - plugins

v0.4.9
  plugins/superset-ui-legacy-preset-chart-deckgl/lerna.json
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-legacy-preset-chart-deckgl/package.json
Due: plugins

chore: fill descriptions and rearrange tags (#40)
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-legacy-preset-chart-deckgl/src/Multi/index.js
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-legacy-preset-chart-deckgl/src/layers/Arc/index.js
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-legacy-preset-chart-deckgl/src/layers/Geojson/index.js
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-legacy-preset-chart-deckgl/src/layers/Grid/index.js
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-legacy-preset-chart-deckgl/src/layers/Hex/index.js
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-legacy-preset-chart-deckgl/src/layers/Path/index.js
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-legacy-preset-chart-deckgl/src/layers/Polygon/index.js
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-legacy-preset-chart-deckgl/src/layers/Scatter/index.js
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-legacy-preset-chart-deckgl/src/layers/Screengrid/index.js
Due: plugins

chore(deps): bump libs
  plugins/superset-ui-legacy-preset-chart-deckgl/yarn.lock
Due: plugins

v0.4.11
  plugins/superset-ui-legacy-preset-chart-deckgl/lerna.json
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-legacy-preset-chart-deckgl/package.json
Due: plugins

fix(hex): restore control panel to functioning state (#42)
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-legacy-preset-chart-deckgl/src/layers/Hex/controlPanel.js
Due: plugins

chore: bump superset-ui peer dependencies (#46)
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-legacy-preset-chart-deckgl/package.json
Due: plugins

v0.4.12
  plugins/superset-ui-legacy-preset-chart-deckgl/lerna.json
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-legacy-preset-chart-deckgl/package.json
Due: plugins

fix(scatter): fix legend and labels (#43)
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-legacy-preset-chart-deckgl/src/CategoricalDeckGLContainer.jsx
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-legacy-preset-chart-deckgl/src/components/Legend.jsx
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-legacy-preset-chart-deckgl/src/factory.jsx
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-legacy-preset-chart-deckgl/src/layers/Scatter/Scatter.jsx
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-legacy-preset-chart-deckgl/src/layers/Scatter/controlPanel.js
  plugins/superset-ui-legacy-preset-chart-deckgl/packages/superset-ui-legacy-preset-chart-deckgl/src/transformProps.js
Due: plugins

chore: version bump (#45)
  plugins/superset-ui-legacy-preset-chart-deckgl/package.json
  plugins/superset-ui-legacy-preset-chart-deckgl/yarn.lock
Due: plugins

feat(plugin-chart-echart) better static typing
  plugins/plugin-chart-echarts/src/Sunburst/transformProps.ts
  plugins/plugin-chart-echarts/src/Sunburst/types.ts
Due: plugins

chore: upgrade to Node 16
  .github/workflows/ci.yml
  .github/workflows/release.yml
  package.json
Due: none

chore: move peerDependencies to dependencies and fix eslint
  plugins/legacy-preset-chart-deckgl/package.json
  plugins/legacy-preset-chart-deckgl/src/CategoricalDeckGLContainer.jsx
  plugins/legacy-preset-chart-deckgl/src/DeckGLContainer.jsx
  plugins/legacy-preset-chart-deckgl/src/Multi/Multi.jsx
  plugins/legacy-preset-chart-deckgl/src/components/Tooltip.tsx
  plugins/legacy-preset-chart-deckgl/src/factory.jsx
  plugins/legacy-preset-chart-deckgl/src/utils/fitViewport.ts
  plugins/legacy-preset-chart-deckgl/src/utils/sandbox.js
  plugins/legacy-preset-chart-kepler/package.json
  plugins/legacy-preset-chart-kepler/src/store.js
  yarn.lock
Due: plugins

fix demo link
  packages/superset-ui-demo/storybook/stories/plugins/legacy-preset-chart-deckgl/Arc/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-preset-chart-deckgl/Grid/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-preset-chart-deckgl/Hex/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-preset-chart-deckgl/Path/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-preset-chart-deckgl/Polygon/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-preset-chart-deckgl/Scatter/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-preset-chart-deckgl/Screengrid/Stories.tsx
Due: core-packages

chore: upgrade to Node 16 (#1374)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  package.json
Due: none

add y-axis control to bubble chart
  plugins/legacy-preset-chart-nvd3/src/Bubble/controlPanel.ts
Due: plugins

add y-axis control to bubble chart (#1377)
  plugins/legacy-preset-chart-nvd3/src/Bubble/controlPanel.ts
Due: plugins

feat(plugin-chart-echarts): [feature-parity] support double clicking legend and series to view single selected series (#1324)
  plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/components/Echart.tsx
  plugins/plugin-chart-echarts/src/types.ts
Due: plugins

feat(plugin-chart-echart) Add color scheme control, remove useless label positions
  plugins/plugin-chart-echarts/src/Sunburst/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Sunburst/transformProps.ts
  plugins/plugin-chart-echarts/src/Sunburst/types.ts
Due: plugins

feat(plugin-chart-echart) fixed tests
  plugins/plugin-chart-echarts/src/Sunburst/transformProps.ts
  plugins/plugin-chart-echarts/test/Sunburst/transformProps.test.ts
Due: plugins

feat(plugin-chart-echart) fixed color for only 1 level
  plugins/plugin-chart-echarts/src/Sunburst/transformProps.ts
Due: plugins

improve coverage
  packages/superset-ui-core/src/query/normalizeOrderBy.ts
  packages/superset-ui-core/test/query/normalizeOrderBy.test.ts
Due: core-packages

refactor: migrate timeseries_limit_metric to legacy_order_by
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  packages/superset-ui-chart-controls/src/shared-controls/legacySortBy.tsx
  packages/superset-ui-core/src/query/normalizeOrderBy.ts
  plugins/plugin-chart-pivot-table/src/plugin/buildQuery.ts
  plugins/plugin-chart-pivot-table/src/plugin/controlPanel.ts
  plugins/plugin-chart-pivot-table/src/types.ts
  plugins/plugin-chart-pivot-table/test/plugin/buildQuery.test.ts
  plugins/plugin-chart-pivot-table/test/plugin/transformProps.test.ts
Due: core-packages, plugins

feat: added italian regions country map (#1319)
  plugins/legacy-plugin-chart-country-map/src/countries.ts
  plugins/legacy-plugin-chart-country-map/src/countries/italy_regions.geojson
Due: plugins

refactor: migrate timeseries_limit_metric to legacy_order_by (#1364)
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  packages/superset-ui-chart-controls/src/shared-controls/legacySortBy.tsx
  packages/superset-ui-core/src/query/normalizeOrderBy.ts
  packages/superset-ui-core/test/query/normalizeOrderBy.test.ts
  plugins/plugin-chart-pivot-table/src/plugin/buildQuery.ts
  plugins/plugin-chart-pivot-table/src/plugin/controlPanel.ts
  plugins/plugin-chart-pivot-table/src/types.ts
  plugins/plugin-chart-pivot-table/test/plugin/buildQuery.test.ts
  plugins/plugin-chart-pivot-table/test/plugin/transformProps.test.ts
Due: core-packages, plugins

chore: publish v0.18.8
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

feat(plugin-chart-echarts) nitpicks
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Sunburst/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Sunburst/data.ts
  plugins/plugin-chart-echarts/src/Sunburst/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Sunburst/types.ts
  plugins/plugin-chart-echarts/test/Sunburst/transformProps.test.ts
Due: core-packages, plugins

Add a cumulative option to make a cumulative histogram
  plugins/legacy-plugin-chart-histogram/src/Histogram.jsx
  plugins/legacy-plugin-chart-histogram/src/controlPanel.ts
  plugins/legacy-plugin-chart-histogram/src/transformProps.js
Due: plugins

also add in percentile in the hover popup
  plugins/legacy-plugin-chart-histogram/src/Histogram.jsx
Due: plugins

fix: add precision to percentile label
  plugins/legacy-plugin-chart-histogram/src/Histogram.jsx
Due: plugins

feat: added marker option for dual line chart
  plugins/legacy-preset-chart-nvd3/src/DualLine/controlPanel.ts
Due: plugins

fix: replace absolute difference with difference in echart
  packages/superset-ui-chart-controls/src/sections/advancedAnalytics.tsx
  packages/superset-ui-chart-controls/test/utils/operators/rollingWindowOperator.test.ts
  packages/superset-ui-core/src/query/types/AdvancedAnalytics.ts
Due: core-packages

fix: replace absolute difference with difference in legacy charts
  plugins/legacy-plugin-chart-partition/src/controlPanel.tsx
  plugins/legacy-plugin-chart-rose/src/controlPanel.tsx
  plugins/legacy-preset-chart-nvd3/src/NVD3Controls.tsx
Due: plugins

fix ut
  packages/superset-ui-chart-controls/test/utils/operators/timeCompareOperator.test.ts
Due: core-packages

fix: rolling and cum operator in multiple series chart
  packages/superset-ui-chart-controls/src/operators/rollingWindowOperator.ts
  packages/superset-ui-core/src/query/types/PostProcessing.ts
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
Due: core-packages, plugins

fix lint
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
Due: plugins

fix UT
  packages/superset-ui-chart-controls/test/utils/operators/rollingWindowOperator.test.ts
Due: core-packages

fix: formatting ES lint issues
  plugins/legacy-plugin-chart-histogram/src/Histogram.jsx
  plugins/legacy-plugin-chart-histogram/src/controlPanel.ts
Due: plugins
