Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

feat(plugin-chart-echarts): bump to version 5.0 (#852)
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Pie/Stories.tsx
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-echarts/src/Pie/controlPanel.ts
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  plugins/plugin-chart-echarts/src/components/Echart.tsx
  yarn.lock
Due: core-packages, plugins

ci: add chromatic visual testing step (#849)
  .github/workflows/chromatic.yml
  package.json
  packages/superset-ui-demo/package.json
  yarn.lock
Due: core-packages

ci: remove `pull_request` trigger
  .github/workflows/chromatic.yml
Due: none

ci: remove `pull_request` trigger (#853)
  .github/workflows/chromatic.yml
Due: none

Fix wordcloud bug
  plugins/plugin-chart-word-cloud/src/chart/WordCloud.tsx
Due: plugins

safer validateInteger
  packages/superset-ui-core/src/validator/legacyValidateInteger.ts
Due: core-packages

chore: publish v0.15.17
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/plugin-filter-antd/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

fix(legacy-preset-chart-nvd3): make deep copy of queryData
  plugins/legacy-preset-chart-nvd3/src/LineMulti/LineMulti.jsx
Due: plugins

chore: add extra field for Datasource control config
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  packages/superset-ui-chart-controls/src/types.ts
Due: core-packages

fix(legacy-preset-chart-nvd3): make deep copy of queryData (#855)
  plugins/legacy-preset-chart-nvd3/src/LineMulti/LineMulti.jsx
Due: plugins

test: use stable random for stories
  packages/superset-ui-core/package.json
  packages/superset-ui-core/src/utils/index.ts
  packages/superset-ui-core/src/utils/random.ts
  packages/superset-ui-demo/package.json
  packages/superset-ui-demo/storybook/stories/plugins/legacy-preset-chart-nvd3/DistBar/stories/manyBars.tsx
  packages/superset-ui-demo/storybook/stories/plugins/preset-chart-xy/Line/stories/missing.tsx
  plugins/plugin-chart-word-cloud/src/chart/WordCloud.tsx
  temporary-plugins/hold-potentially-deprecate/superset-ui-legacy-plugin-chart-word-cloud/src/WordCloud.js
  yarn.lock
Due: core-packages, plugins

Seed with superset-ui
  packages/superset-ui-core/src/utils/random.ts
Due: core-packages

Add tests for random
  packages/superset-ui-core/test/utils/random.test.ts
Due: core-packages

fix(legacy-plugin-chart-histogram): fixes legend onverflow
  plugins/legacy-plugin-chart-histogram/src/Histogram.jsx
  plugins/legacy-plugin-chart-histogram/src/WithLegend.jsx
Due: plugins

Update plugins/legacy-plugin-chart-histogram/src/WithLegend.jsx
  plugins/legacy-plugin-chart-histogram/src/WithLegend.jsx
Due: plugins

fix(legacy-plugin-chart-histogram): fixes legend overflow (#863)
  plugins/legacy-plugin-chart-histogram/src/Histogram.jsx
  plugins/legacy-plugin-chart-histogram/src/WithLegend.jsx
Due: plugins

test: use stable random for stories (#861)
  packages/superset-ui-core/package.json
  packages/superset-ui-core/src/utils/index.ts
  packages/superset-ui-core/src/utils/random.ts
  packages/superset-ui-core/test/utils/random.test.ts
  packages/superset-ui-demo/package.json
  packages/superset-ui-demo/storybook/stories/plugins/legacy-preset-chart-nvd3/DistBar/stories/manyBars.tsx
  packages/superset-ui-demo/storybook/stories/plugins/preset-chart-xy/Line/stories/missing.tsx
  plugins/plugin-chart-word-cloud/src/chart/WordCloud.tsx
  temporary-plugins/hold-potentially-deprecate/superset-ui-legacy-plugin-chart-word-cloud/src/WordCloud.js
  yarn.lock
Due: core-packages, plugins

fix: add fetchRetryOptions in SupersetClientClass.request method
  packages/superset-ui-core/src/connection/SupersetClientClass.ts
Due: core-packages

fix: add fetchRetryOptions in SupersetClientClass.request method (#867)
  packages/superset-ui-core/src/connection/SupersetClientClass.ts
Due: core-packages

chore: publish v0.15.18
  lerna.json
  packages/generator-superset/package.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/plugin-filter-antd/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

feat: introduce shared modules logic
  packages/superset-ui-core/src/dynamic-plugins/index.ts
  packages/superset-ui-core/src/dynamic-plugins/shared-modules.ts
Due: core-packages

organize imports
  packages/superset-ui-core/src/index.ts
Due: core-packages

Revert "organize imports"
  packages/superset-ui-core/src/index.ts
Due: core-packages

add tests
  packages/superset-ui-core/src/dynamic-plugins/index.ts
  packages/superset-ui-core/src/dynamic-plugins/shared-modules.ts
  packages/superset-ui-core/test/dynamic-plugins/shared-modules.test.ts
Due: core-packages

feat: introduce shared modules logic (#871)
  packages/superset-ui-core/src/dynamic-plugins/index.ts
  packages/superset-ui-core/src/dynamic-plugins/shared-modules.ts
  packages/superset-ui-core/test/dynamic-plugins/shared-modules.test.ts
Due: core-packages

chore: publish v0.15.19
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/plugin-filter-antd/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

test: disable Chromatic for VerifyCORS
  packages/superset-ui-demo/storybook/shared/components/createQueryStory.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-choropleth-map/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/birthNames.json
  packages/superset-ui-demo/storybook/stories/superset-ui-connection/ConnectionStories.tsx
Due: core-packages

Use absolute path
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-choropleth-map/Stories.tsx
Due: core-packages

test: disable Chromatic for VerifyCORS (#864)
  packages/superset-ui-demo/storybook/shared/components/createQueryStory.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-choropleth-map/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/birthNames.json
  packages/superset-ui-demo/storybook/stories/superset-ui-connection/ConnectionStories.tsx
Due: core-packages

feat: remove single queryData from api
  packages/superset-ui-core/src/chart/components/SuperChart.tsx
  packages/superset-ui-core/src/chart/models/ChartProps.ts
Due: core-packages

chore: publish v0.16.0
  lerna.json
  packages/generator-superset/package.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/plugin-filter-antd/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

Fix test cases
  .eslintrc.js
  packages/superset-ui-core/src/query/buildQueryObject.ts
  packages/superset-ui-core/src/query/extractQueryFields.ts
  packages/superset-ui-core/test/query/buildQueryObject.test.ts
  plugins/plugin-chart-echarts/src/BoxPlot/buildQuery.ts
  plugins/plugin-chart-echarts/test/BoxPlot/buildQuery.test.ts
  plugins/plugin-chart-echarts/test/Pie/buildQuery.test.ts
  plugins/plugin-chart-echarts/test/Timeseries/buildQuery.test.ts
  plugins/plugin-chart-word-cloud/test/plugin/buildQuery.test.ts
Due: core-packages, plugins

Get rid of convertMetric
  packages/superset-ui-core/src/query/buildQueryObject.ts
  packages/superset-ui-core/src/query/convertMetric.ts
  packages/superset-ui-core/src/query/getMetricLabel.ts
  packages/superset-ui-core/src/query/index.ts
  packages/superset-ui-core/src/query/types/Query.ts
  packages/superset-ui-core/src/query/types/QueryFormData.ts
  packages/superset-ui-core/test/query/buildQueryObject.test.ts
  packages/superset-ui-core/test/query/getMetricLabel.test.ts
  plugins/plugin-chart-echarts/src/BoxPlot/buildQuery.ts
  plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
  plugins/plugin-chart-echarts/test/Pie/buildQuery.test.ts
  temporary-plugins/hold-potentially-deprecate/superset-ui-plugin-chart-table/src/buildQuery.ts
Due: core-packages, plugins

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
