Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

refactor: fix CR notes
  packages/superset-ui-core/src/chart/models/ChartProps.ts
  packages/superset-ui-core/src/chart/types/Base.ts
  packages/superset-ui-core/src/query/processExtraFormData.ts
  packages/superset-ui-core/src/query/types/QueryFormData.ts
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/DataTable/components/ServerPagination.tsx
  plugins/plugin-chart-table/src/DataTable/utils/externalAPIs.ts
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/buildQuery.ts
  plugins/plugin-chart-table/src/controlPanel.tsx
  plugins/plugin-chart-table/src/i18n.ts
  plugins/plugin-chart-table/src/transformProps.ts
  plugins/plugin-chart-table/src/types.ts
Due: core-packages, plugins

Add validateNonEmpty for groupby
  plugins/legacy-plugin-chart-paired-t-test/src/controlPanel.ts
Due: plugins

node value in tooltip
  plugins/plugin-chart-echarts/src/Graph/transformProps.ts
Due: plugins

fixed node tooltip with metric values
  plugins/plugin-chart-echarts/src/Graph/constants.ts
  plugins/plugin-chart-echarts/src/Graph/transformProps.ts
Due: plugins

fixed typing,tests
  plugins/plugin-chart-echarts/src/Graph/constants.ts
  plugins/plugin-chart-echarts/src/Graph/transformProps.ts
  plugins/plugin-chart-echarts/src/Graph/types.ts
  plugins/plugin-chart-echarts/test/Graph/transformProps.test.ts
Due: plugins

need type fix
  plugins/plugin-chart-echarts/src/Graph/types.ts
Due: plugins

feat(legacy-plugin-chart-calendar): fix calendar heatmap interval
  plugins/legacy-plugin-chart-calendar/src/Calendar.js
  plugins/legacy-plugin-chart-calendar/src/utils.js
Due: plugins

fix(legacy-plugin-chart-map-box): fix downloading map as image
  plugins/legacy-plugin-chart-map-box/src/MapBox.jsx
Due: plugins

Support separate source category and target category
  packages/superset-ui-core/src/query/buildQueryContext.ts
  packages/superset-ui-core/src/query/extractQueryFields.ts
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-echarts/src/Graph/buildQuery.ts
  plugins/plugin-chart-echarts/src/Graph/constants.ts
  plugins/plugin-chart-echarts/src/Graph/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Graph/transformProps.ts
  plugins/plugin-chart-echarts/src/Graph/types.ts
Due: core-packages, plugins

Fix JS error with null adhoc_filters
  packages/superset-ui-core/src/query/processFilters.ts
  packages/superset-ui-core/src/query/types/QueryFormData.ts
  plugins/plugin-chart-echarts/src/Graph/transformProps.ts
Due: core-packages, plugins

refactor(chart-controls): improve typing and file organization
  packages/superset-ui-chart-controls/src/components/MetricOption.tsx
  packages/superset-ui-core/src/query/types/Metric.ts
  plugins/legacy-plugin-chart-time-table/src/TimeTable.tsx
Due: core-packages, plugins

fix(core): npm link issues with re-exports pure type files
  packages/superset-ui-chart-controls/src/components/InfoTooltipWithTrigger.tsx
  packages/superset-ui-chart-controls/src/components/MetricOption.tsx
  packages/superset-ui-chart-controls/src/components/Tooltip.tsx
  packages/superset-ui-chart-controls/src/index.ts
  packages/superset-ui-chart-controls/src/shared-controls/components/RadioButtonControl.tsx
  packages/superset-ui-chart-controls/src/shared-controls/components/index.tsx
  packages/superset-ui-chart-controls/src/types.ts
  packages/superset-ui-core/src/chart/index.ts
  packages/superset-ui-core/src/chart/types/Base.ts
  packages/superset-ui-core/src/chart/types/QueryResponse.ts
  packages/superset-ui-core/src/chart/types/TransformFunction.ts
  packages/superset-ui-core/src/connection/index.ts
  packages/superset-ui-core/src/connection/types.ts
  packages/superset-ui-core/src/dimension/index.ts
  packages/superset-ui-core/src/dimension/types.ts
  packages/superset-ui-core/src/query/api/legacy/index.ts
  packages/superset-ui-core/src/query/api/legacy/types.ts
  packages/superset-ui-core/src/query/types/Column.ts
  packages/superset-ui-core/src/query/types/Datasource.ts
  packages/superset-ui-core/src/query/types/Metric.ts
  packages/superset-ui-core/src/query/types/Query.ts
  packages/superset-ui-core/src/query/types/QueryFormData.ts
  packages/superset-ui-core/src/query/types/QueryResponse.ts
  packages/superset-ui-core/src/query/types/Time.ts
  packages/superset-ui-core/src/query/types/index.ts
  packages/superset-ui-core/src/translation/index.ts
  packages/superset-ui-core/src/translation/types/index.ts
  packages/superset-ui-core/src/translation/types/jed.ts
Due: core-packages

Fix test error
  packages/superset-ui-chart-controls/test/utils/expandControlConfig.test.tsx
Due: core-packages

Fix typo
  packages/superset-ui-chart-controls/src/index.ts
  packages/superset-ui-core/src/chart/index.ts
  packages/superset-ui-core/src/connection/index.ts
  packages/superset-ui-core/src/dimension/index.ts
  packages/superset-ui-core/src/query/api/legacy/index.ts
  packages/superset-ui-core/src/query/types/index.ts
  packages/superset-ui-core/src/translation/index.ts
  packages/superset-ui-core/src/translation/types/index.ts
Due: core-packages

Fix type error
  plugins/plugin-chart-echarts/src/Graph/controlPanel.tsx
Due: plugins

Add test
  plugins/legacy-plugin-chart-calendar/src/test/sample-data.js
  plugins/legacy-plugin-chart-calendar/src/test/utils.test.js
  plugins/legacy-plugin-chart-calendar/src/utils.ts
Due: plugins

Fix lint
  plugins/legacy-plugin-chart-calendar/src/test/utils.test.js
Due: plugins

fix: fix CR notes
  packages/superset-ui-core/src/query/processExtraFormData.ts
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/DataTable/components/ServerPagination.tsx
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/controlPanel.tsx
  plugins/plugin-chart-table/src/transformProps.ts
  plugins/plugin-chart-table/src/types.ts
Due: core-packages, plugins

fix(legacy-plugin-chart-paired-t-test): fix paired t-test table chart (#961)
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-paired-t-test/src/PairedTTest.jsx
  plugins/legacy-plugin-chart-paired-t-test/src/TTestTable.jsx
  plugins/legacy-plugin-chart-paired-t-test/src/controlPanel.ts
  plugins/legacy-plugin-chart-paired-t-test/src/transformProps.js
Due: plugins

refactor: fix CR notes
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/DataTable/components/ServerPagination.tsx
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/buildQuery.ts
  plugins/plugin-chart-table/src/controlPanel.tsx
  plugins/plugin-chart-table/src/transformProps.ts
  plugins/plugin-chart-table/src/types.ts
Due: plugins

chore: add description
  plugins/plugin-chart-table/src/controlPanel.tsx
Due: plugins

update tests
  plugins/plugin-chart-echarts/test/Graph/buildQuery.test.ts
  plugins/plugin-chart-echarts/test/Graph/transformProps.test.ts
Due: plugins

test for core build query context
  packages/superset-ui-core/test/query/buildQueryContext.test.ts
Due: core-packages

bump min edge width and lint
  packages/superset-ui-core/test/query/buildQueryContext.test.ts
  plugins/plugin-chart-echarts/src/Graph/constants.ts
Due: core-packages, plugins

fix bugs
  plugins/plugin-chart-echarts/src/Graph/constants.ts
  plugins/plugin-chart-echarts/src/Graph/transformProps.ts
  plugins/plugin-chart-echarts/test/Graph/transformProps.test.ts
Due: plugins

fix: utc time for heatmap
  plugins/legacy-plugin-chart-calendar/src/Calendar.js
Due: plugins

Revert back UTC
  plugins/legacy-plugin-chart-calendar/src/Calendar.js
Due: plugins

remove logs
  plugins/legacy-plugin-chart-calendar/src/Calendar.js
Due: plugins

added tests for core package
  packages/superset-ui-core/test/query/buildQueryContext.test.ts
Due: core-packages

pretty
  packages/superset-ui-core/test/query/buildQueryContext.test.ts
Due: core-packages

feat(plugin-chart-echarts): add graph echart (#918)
  packages/superset-ui-core/src/query/buildQueryContext.ts
  packages/superset-ui-core/src/query/extractQueryFields.ts
  packages/superset-ui-core/src/query/processFilters.ts
  packages/superset-ui-core/src/query/types/QueryFormData.ts
  packages/superset-ui-core/test/query/buildQueryContext.test.ts
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-echarts/src/Graph/EchartsGraph.tsx
  plugins/plugin-chart-echarts/src/Graph/buildQuery.ts
  plugins/plugin-chart-echarts/src/Graph/constants.ts
  plugins/plugin-chart-echarts/src/Graph/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Graph/images/thumbnail.png
  plugins/plugin-chart-echarts/src/Graph/index.ts
  plugins/plugin-chart-echarts/src/Graph/transformProps.ts
  plugins/plugin-chart-echarts/src/Graph/types.ts
  plugins/plugin-chart-echarts/src/index.ts
  plugins/plugin-chart-echarts/test/Graph/buildQuery.test.ts
  plugins/plugin-chart-echarts/test/Graph/transformProps.test.ts
Due: core-packages, plugins

fix(chart-controls): expose datasource for some controls
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
Due: core-packages

fix(legacy-plugin-chart-map-box): fix downloading map as image (#965)
  plugins/legacy-plugin-chart-map-box/src/MapBox.jsx
Due: plugins

feat(legacy-plugin-chart-map-box): show all points in mapbox chart (#960)
  plugins/legacy-plugin-chart-map-box/src/MapBox.jsx
Due: plugins

chore: publish v0.17.10
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

refactor: add behavior property to ChartProps.ts
  packages/superset-ui-core/src/chart/models/ChartProps.ts
  packages/superset-ui-core/src/chart/types/Base.ts
Due: core-packages

refactor(chart-controls): improve typing and file organization (#962)
  packages/superset-ui-chart-controls/src/components/InfoTooltipWithTrigger.tsx
  packages/superset-ui-chart-controls/src/components/MetricOption.tsx
  packages/superset-ui-chart-controls/src/components/Tooltip.tsx
  packages/superset-ui-chart-controls/src/index.ts
  packages/superset-ui-chart-controls/src/shared-controls/components/RadioButtonControl.tsx
  packages/superset-ui-chart-controls/src/shared-controls/components/index.tsx
  packages/superset-ui-chart-controls/src/types.ts
  packages/superset-ui-chart-controls/test/utils/expandControlConfig.test.tsx
  packages/superset-ui-core/src/chart/index.ts
  packages/superset-ui-core/src/chart/types/Base.ts
  packages/superset-ui-core/src/chart/types/QueryResponse.ts
  packages/superset-ui-core/src/chart/types/TransformFunction.ts
  packages/superset-ui-core/src/connection/index.ts
  packages/superset-ui-core/src/connection/types.ts
  packages/superset-ui-core/src/dimension/index.ts
  packages/superset-ui-core/src/dimension/types.ts
  packages/superset-ui-core/src/query/api/legacy/index.ts
  packages/superset-ui-core/src/query/api/legacy/types.ts
  packages/superset-ui-core/src/query/types/Column.ts
  packages/superset-ui-core/src/query/types/Datasource.ts
  packages/superset-ui-core/src/query/types/Metric.ts
  packages/superset-ui-core/src/query/types/Query.ts
  packages/superset-ui-core/src/query/types/QueryFormData.ts
  packages/superset-ui-core/src/query/types/QueryResponse.ts
  packages/superset-ui-core/src/query/types/Time.ts
  packages/superset-ui-core/src/query/types/index.ts
  packages/superset-ui-core/src/translation/index.ts
  packages/superset-ui-core/src/translation/types/index.ts
  packages/superset-ui-core/src/translation/types/jed.ts
  plugins/legacy-plugin-chart-time-table/src/TimeTable.tsx
Due: core-packages, plugins

fix(chart-controls): expose datasource for some controls (#969)
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
Due: core-packages

chore: upgrade node to v14
  .nvmrc
  package.json
  yarn.lock
Due: none

Upgrade node version in CI
  .github/workflows/ci.yml
  .github/workflows/release.yml
  package.json
Due: none

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
