Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

update layout control for rolling window
  plugins/legacy-preset-chart-nvd3/src/NVD3Controls.tsx
Due: plugins

chore: bumping nvd3-fork package
  plugins/legacy-preset-chart-nvd3/package.json
  yarn.lock
Due: plugins

chore: bumping nvd3-fork package (#891)
  plugins/legacy-preset-chart-nvd3/package.json
  yarn.lock
Due: plugins

chore: publish v0.16.5
  lerna.json
  plugins/legacy-preset-chart-nvd3/package.json
Due: plugins

null values fixed
  plugins/legacy-plugin-chart-pivot-table/src/utils/formatCells.ts
  plugins/legacy-plugin-chart-pivot-table/test/PivotTable.test.ts
Due: plugins

eq fixed
  plugins/legacy-plugin-chart-pivot-table/src/utils/formatCells.ts
Due: plugins

update layout control for rolling window (#890)
  plugins/legacy-preset-chart-nvd3/src/NVD3Controls.tsx
Due: plugins

chore: upgrade eslint and babel
  .github/workflows/chromatic.yml
  package.json
  packages/superset-ui-chart-controls/src/components/MetricOption.tsx
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  packages/superset-ui-core/src/chart/clients/ChartClient.ts
  packages/superset-ui-core/src/dynamic-plugins/shared-modules.ts
  packages/superset-ui-core/src/models/Registry.ts
  packages/superset-ui-core/test/chart/components/ChartDataProvider.test.tsx
  packages/superset-ui-core/test/chart/components/createLoadableRenderer.test.tsx
  packages/superset-ui-core/test/chart/components/reactify.test.tsx
  packages/superset-ui-core/test/connection/SupersetClientClass.test.ts
  packages/superset-ui-core/test/connection/callApi/callApi.test.ts
  packages/superset-ui-core/test/connection/callApi/callApiAndParseWithTimeout.test.ts
  packages/superset-ui-core/test/connection/callApi/parseResponse.test.ts
  packages/superset-ui-core/test/connection/callApi/rejectAfterTimeout.test.ts
  packages/superset-ui-core/test/query/api/v1/makeApi.test.ts
  packages/superset-ui-core/test/time-format/factories/createD3TimeFormatter.test.ts
  plugins/legacy-plugin-chart-calendar/src/ReactCalendar.jsx
  plugins/legacy-plugin-chart-chord/src/ReactChord.jsx
  plugins/legacy-plugin-chart-force-directed/src/ReactForceDirected.jsx
  plugins/legacy-plugin-chart-parallel-coordinates/src/ReactParallelCoordinates.jsx
  plugins/legacy-plugin-chart-sankey/src/ReactSankey.jsx
  plugins/legacy-plugin-chart-world-map/src/ReactWorldMap.jsx
  plugins/legacy-preset-chart-nvd3/src/ReactNVD3.jsx
  plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  plugins/plugin-chart-echarts/src/utils/annotation.ts
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/buildQuery.ts
  plugins/plugin-chart-table/src/controlPanel.tsx
  plugins/plugin-chart-word-cloud/src/plugin/buildQuery.ts
  plugins/plugin-filter-antd/src/Range/buildQuery.ts
  plugins/plugin-filter-antd/src/Select/buildQuery.ts
  yarn.lock
Due: core-packages, plugins

fix(legacy-plugin-chart-pivot-table): pivot table chart string aggregation empty values (#880)
  plugins/legacy-plugin-chart-pivot-table/src/PivotTable.js
  plugins/legacy-plugin-chart-pivot-table/src/utils/formatCells.ts
  plugins/legacy-plugin-chart-pivot-table/test/PivotTable.test.ts
Due: plugins

fix(plugin-chart-word-cloud): ensure top results are always displayed
  plugins/plugin-chart-word-cloud/src/chart/WordCloud.tsx
Due: plugins

Fix ESLint errors
  plugins/plugin-chart-word-cloud/src/chart/WordCloud.tsx
Due: plugins

update control panels for rolling window
  plugins/legacy-plugin-chart-partition/src/controlPanel.tsx
  plugins/legacy-plugin-chart-rose/src/controlPanel.tsx
  plugins/legacy-preset-chart-big-number/src/BigNumber/controlPanel.tsx
Due: plugins

chore: Update controls for rolling window (#895)
  plugins/legacy-plugin-chart-partition/src/controlPanel.tsx
  plugins/legacy-plugin-chart-rose/src/controlPanel.tsx
  plugins/legacy-preset-chart-big-number/src/BigNumber/controlPanel.tsx
Due: plugins

chore: publish v0.16.6
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
Due: core-packages, plugins

update big number options contorl
  plugins/legacy-preset-chart-big-number/src/BigNumber/controlPanel.tsx
Due: plugins

fix(plugin-chart-word-cloud): ensure top results are always displayed (#841)
  plugins/plugin-chart-word-cloud/src/chart/WordCloud.tsx
Due: plugins

chore: upgrade eslint and babel (#892)
  .github/workflows/chromatic.yml
  package.json
  packages/superset-ui-chart-controls/src/components/MetricOption.tsx
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  packages/superset-ui-core/src/chart/clients/ChartClient.ts
  packages/superset-ui-core/src/dynamic-plugins/shared-modules.ts
  packages/superset-ui-core/src/models/Registry.ts
  packages/superset-ui-core/test/chart/components/ChartDataProvider.test.tsx
  packages/superset-ui-core/test/chart/components/createLoadableRenderer.test.tsx
  packages/superset-ui-core/test/chart/components/reactify.test.tsx
  packages/superset-ui-core/test/connection/SupersetClientClass.test.ts
  packages/superset-ui-core/test/connection/callApi/callApi.test.ts
  packages/superset-ui-core/test/connection/callApi/callApiAndParseWithTimeout.test.ts
  packages/superset-ui-core/test/connection/callApi/parseResponse.test.ts
  packages/superset-ui-core/test/connection/callApi/rejectAfterTimeout.test.ts
  packages/superset-ui-core/test/query/api/v1/makeApi.test.ts
  packages/superset-ui-core/test/time-format/factories/createD3TimeFormatter.test.ts
  plugins/legacy-plugin-chart-calendar/src/ReactCalendar.jsx
  plugins/legacy-plugin-chart-chord/src/ReactChord.jsx
  plugins/legacy-plugin-chart-force-directed/src/ReactForceDirected.jsx
  plugins/legacy-plugin-chart-parallel-coordinates/src/ReactParallelCoordinates.jsx
  plugins/legacy-plugin-chart-sankey/src/ReactSankey.jsx
  plugins/legacy-plugin-chart-world-map/src/ReactWorldMap.jsx
  plugins/legacy-preset-chart-nvd3/src/ReactNVD3.jsx
  plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  plugins/plugin-chart-echarts/src/utils/annotation.ts
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/buildQuery.ts
  plugins/plugin-chart-table/src/controlPanel.tsx
  plugins/plugin-chart-word-cloud/src/plugin/buildQuery.ts
  plugins/plugin-filter-antd/src/Range/buildQuery.ts
  plugins/plugin-filter-antd/src/Select/buildQuery.ts
  yarn.lock
Due: core-packages, plugins

chore(chart-controls): more accurate typing for DatasourceMeta
  packages/superset-ui-chart-controls/src/types.ts
Due: core-packages

fix(legacy-preset-chart-nvd3): remove data fetching from multiline chart
  plugins/legacy-preset-chart-nvd3/src/LineMulti/LineMulti.jsx
  plugins/legacy-preset-chart-nvd3/src/LineMulti/index.js
Due: plugins

fix: subject Remove margin to fit last label
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
Due: plugins

fix(plugin-chart-echarts): remove columns from formData
  plugins/plugin-chart-echarts/src/BoxPlot/buildQuery.ts
  plugins/plugin-chart-echarts/test/BoxPlot/buildQuery.test.ts
Due: plugins

fix(plugin-chart-echarts): remove columns from formData (#901)
  plugins/plugin-chart-echarts/src/BoxPlot/buildQuery.ts
  plugins/plugin-chart-echarts/test/BoxPlot/buildQuery.test.ts
Due: plugins

chore: publish v0.16.7
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/plugin-filter-antd/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

fix: subject Remove margin to fit last label (#900)
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
Due: plugins

update big number options contorl (#896)
  plugins/legacy-preset-chart-big-number/src/BigNumber/controlPanel.tsx
Due: plugins

chore: publish v0.16.8
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
Due: core-packages, plugins

fix: subject Add width auto and enable scroll for big charts
  plugins/legacy-preset-chart-nvd3/src/ReactNVD3.jsx
Due: plugins

Apply scroll only bar chart
  plugins/legacy-preset-chart-nvd3/src/ReactNVD3.jsx
Due: plugins

WIP
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Due: plugins

Add min and max options in control
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
Due: plugins

Remove
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
Due: core-packages

WIP
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
Due: core-packages

Fix lint
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
Due: plugins

Add xAxis label format && showMin and showMax labels
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
Due: plugins

WIP
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
Due: plugins

Address PR comments
  packages/superset-ui-chart-controls/src/index.ts
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  packages/superset-ui-chart-controls/src/types.ts
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
Due: core-packages, plugins

Add UTC and default min and max label
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
Due: plugins

Change option name
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
Due: core-packages, plugins

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
