Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

codecov.yml:

coverage:
  status:
    project:
      target: 90%
      # send notification if coverage change exceed this threshold
      threshold: 5%
    core-packages:
      target: 100%
      flags: 
        - core-packages
    plugins:
      target: 50%
      flags: 
        - plugins

flags:
  core-packages:
    paths:
      - packages
  plugins:
    paths:
      - plugins

feat:
  plugins/legacy-preset-chart-big-number/src/BigNumber/index.ts
  plugins/legacy-preset-chart-big-number/src/BigNumberTotal/index.ts
  plugins/legacy-preset-chart-nvd3/src/DistBar/index.js
  plugins/plugin-chart-echarts/src/MixedTimeseries/index.ts
  plugins/plugin-chart-echarts/src/Pie/index.ts
  plugins/plugin-chart-pivot-table/src/plugin/index.ts
  plugins/plugin-chart-table/src/index.ts
Due: plugins

feat: add Highly-used tag
  plugins/legacy-preset-chart-big-number/src/BigNumber/index.ts
  plugins/legacy-preset-chart-big-number/src/BigNumberTotal/index.ts
  plugins/legacy-preset-chart-nvd3/src/DistBar/index.js
  plugins/plugin-chart-echarts/src/MixedTimeseries/index.ts
  plugins/plugin-chart-echarts/src/Pie/index.ts
  plugins/plugin-chart-pivot-table/src/plugin/index.ts
  plugins/plugin-chart-table/src/index.ts
Due: plugins

fix: remove comments
  plugins/plugin-chart-table/src/TableChart.tsx
Due: plugins

wip
  plugins/legacy-plugin-chart-map-box/src/index.js
  plugins/legacy-plugin-chart-world-map/src/index.js
  plugins/legacy-preset-chart-nvd3/src/Area/index.js
Due: plugins

wip
  plugins/plugin-chart-echarts/src/MixedTimeseries/index.ts
Due: plugins

feat: added Highly-used tag (#1229)
  plugins/legacy-plugin-chart-map-box/src/index.js
  plugins/legacy-plugin-chart-world-map/src/index.js
  plugins/legacy-preset-chart-nvd3/src/Area/index.js
Due: plugins

feat(plugin-chart-table): table x-filtering supports single select (#1220)
  plugins/plugin-chart-table/src/TableChart.tsx
Due: plugins

chore: publish v0.17.70
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-table/package.json
Due: core-packages, plugins

fix: missing nan value in timeseries chart
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
Due: plugins

feat(plugin-chart-pivot-table): multiple improvements
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
  plugins/plugin-chart-pivot-table/src/plugin/controlPanel.ts
  plugins/plugin-chart-pivot-table/src/types.ts
Due: plugins

chore(core): add UX_BETA feature flag
  packages/superset-ui-core/src/utils/featureFlags.ts
Due: core-packages

chore(core): add UX_BETA feature flag (#1233)
  packages/superset-ui-core/src/utils/featureFlags.ts
Due: core-packages

emotion syntax fix
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
Due: plugins

feat(plugin-chart-pivot-table): multiple improvements (#1232)
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
  plugins/plugin-chart-pivot-table/src/plugin/controlPanel.ts
  plugins/plugin-chart-pivot-table/src/types.ts
Due: plugins

fix: missing nan value in timeseries chart (#1231)
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
Due: plugins

chore: publish v0.17.71
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

chore: three charts to the correct category
  plugins/legacy-plugin-chart-heatmap/src/index.js
  plugins/legacy-plugin-chart-map-box/src/index.js
  plugins/plugin-chart-word-cloud/src/plugin/index.ts
Due: plugins

chore: three charts to the correct category (#1235)
  plugins/legacy-plugin-chart-heatmap/src/index.js
  plugins/legacy-plugin-chart-map-box/src/index.js
  plugins/plugin-chart-word-cloud/src/plugin/index.ts
Due: plugins

chore(chart-controls): improve typing for mapStateToProps (#1171)
  packages/superset-ui-chart-controls/src/types.ts
  plugins/plugin-chart-table/src/controlPanel.tsx
Due: core-packages, plugins

chore: add tags and description metadata
  plugins/legacy-plugin-chart-country-map/src/index.js
  plugins/legacy-plugin-chart-paired-t-test/src/index.js
  plugins/legacy-plugin-chart-parallel-coordinates/src/index.js
  plugins/legacy-plugin-chart-rose/src/index.js
  plugins/legacy-plugin-chart-time-table/src/index.ts
  plugins/legacy-preset-chart-big-number/src/BigNumber/index.ts
  plugins/legacy-preset-chart-big-number/src/BigNumberTotal/index.ts
  plugins/legacy-preset-chart-nvd3/src/Compare/index.js
  plugins/legacy-preset-chart-nvd3/src/LineMulti/index.js
  plugins/plugin-chart-echarts/src/MixedTimeseries/index.ts
  plugins/plugin-chart-table/src/index.ts
Due: plugins

chore: add tags and description metadata (#1236)
  plugins/legacy-plugin-chart-country-map/src/index.js
  plugins/legacy-plugin-chart-paired-t-test/src/index.js
  plugins/legacy-plugin-chart-parallel-coordinates/src/index.js
  plugins/legacy-plugin-chart-rose/src/index.js
  plugins/legacy-plugin-chart-time-table/src/index.ts
  plugins/legacy-preset-chart-big-number/src/BigNumber/index.ts
  plugins/legacy-preset-chart-big-number/src/BigNumberTotal/index.ts
  plugins/legacy-preset-chart-nvd3/src/Compare/index.js
  plugins/legacy-preset-chart-nvd3/src/LineMulti/index.js
  plugins/plugin-chart-echarts/src/MixedTimeseries/index.ts
  plugins/plugin-chart-table/src/index.ts
Due: plugins

chore: publish v0.17.72
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

fix(plugin-chart-echarts): make filtered pie slices semi-transparent
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
Due: plugins

feat(plugin-chart-pivot-table): sort by metric
  plugins/plugin-chart-pivot-table/src/plugin/buildQuery.ts
  plugins/plugin-chart-pivot-table/src/plugin/controlPanel.ts
  plugins/plugin-chart-pivot-table/src/types.ts
  plugins/plugin-chart-pivot-table/test/plugin/buildQuery.test.ts
  plugins/plugin-chart-pivot-table/test/plugin/transformProps.test.ts
Due: plugins

Use normalizeOrderBy func
  plugins/plugin-chart-pivot-table/src/plugin/buildQuery.ts
  plugins/plugin-chart-pivot-table/src/plugin/controlPanel.ts
  plugins/plugin-chart-pivot-table/src/types.ts
  plugins/plugin-chart-pivot-table/test/plugin/buildQuery.test.ts
  plugins/plugin-chart-pivot-table/test/plugin/transformProps.test.ts
Due: plugins

chore: add translation for description
  packages/superset-ui-chart-controls/src/sections.tsx
  packages/superset-ui-chart-controls/src/utils/D3Formatting.ts
  plugins/legacy-plugin-chart-country-map/src/controlPanel.ts
  plugins/legacy-plugin-chart-paired-t-test/src/index.js
  plugins/legacy-plugin-chart-parallel-coordinates/src/index.js
  plugins/plugin-chart-echarts/src/Gauge/controlPanel.tsx
  plugins/plugin-chart-echarts/src/MixedTimeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
Due: core-packages, plugins

fix(plugin-chart-echarts): make filtered pie slices semi-transparent (#1239)
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
Due: plugins

chore: add translation for description (#1241)
  packages/superset-ui-chart-controls/src/sections.tsx
  packages/superset-ui-chart-controls/src/utils/D3Formatting.ts
  plugins/legacy-plugin-chart-country-map/src/controlPanel.ts
  plugins/legacy-plugin-chart-paired-t-test/src/index.js
  plugins/legacy-plugin-chart-parallel-coordinates/src/index.js
  plugins/plugin-chart-echarts/src/Gauge/controlPanel.tsx
  plugins/plugin-chart-echarts/src/MixedTimeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
Due: core-packages, plugins

feat(plugin-chart-pivot-table): sort by metric (#1240)
  plugins/plugin-chart-pivot-table/src/plugin/buildQuery.ts
  plugins/plugin-chart-pivot-table/src/plugin/controlPanel.ts
  plugins/plugin-chart-pivot-table/src/types.ts
  plugins/plugin-chart-pivot-table/test/plugin/buildQuery.test.ts
  plugins/plugin-chart-pivot-table/test/plugin/transformProps.test.ts
Due: plugins

chore: publish v0.17.73
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

chore(core): move emotion deps to peer deps
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
Due: core-packages

chore(core): move emotion deps to peer deps (#1242)
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
Due: core-packages

feat(plugin-chart-pivot-table): add sort by result to data pane
  plugins/plugin-chart-pivot-table/src/plugin/buildQuery.ts
Due: plugins

Use getMetricLabel helper function
  plugins/plugin-chart-pivot-table/src/plugin/buildQuery.ts
Due: plugins

type system
  packages/superset-ui-chart-controls/src/sections/AdvancedAnalytics.tsx
  packages/superset-ui-chart-controls/src/sections/index.ts
  packages/superset-ui-chart-controls/src/sections/sections.tsx
  packages/superset-ui-core/src/query/types/AdvancedAnalytics.ts
  packages/superset-ui-core/src/query/types/QueryFormData.ts
  packages/superset-ui-core/src/query/types/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
Due: core-packages, plugins

feat: time comparsion
  packages/superset-ui-chart-controls/src/sections/AdvancedAnalytics.tsx
  packages/superset-ui-chart-controls/src/utils/AdvancedAnalyticsTransform.ts
  packages/superset-ui-core/src/query/types/AdvancedAnalytics.ts
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
Due: core-packages, plugins

wip
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/index.ts
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/resample.ts
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/rollingWindow.ts
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/timeCompare.ts
Due: core-packages

wip
  packages/superset-ui-chart-controls/src/utils/AdvancedAnalyticsTransform.ts
Due: core-packages

rolling window
  packages/superset-ui-chart-controls/src/utils/AdvancedAnalyticsTransform.ts
  packages/superset-ui-chart-controls/src/utils/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
Due: core-packages, plugins

mixed time compare and rolling calculation
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/rollingWindow.ts
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/timeCompare.ts
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/utils/getMetricOffsetsMap.ts
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/utils/index.ts
  packages/superset-ui-chart-controls/src/utils/advancedAnalytics/utils/isValidTimeCompare.ts
  packages/superset-ui-core/src/query/types/PostProcessing.ts
  packages/superset-ui-core/src/query/types/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
Due: core-packages, plugins
