Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

feat(legacy-plugin-chart-histogram): cumulative histogram option (#1381)
  plugins/legacy-plugin-chart-histogram/src/Histogram.jsx
  plugins/legacy-plugin-chart-histogram/src/controlPanel.ts
  plugins/legacy-plugin-chart-histogram/src/transformProps.js
Due: plugins

fix: replace absolute difference with difference in legacy charts (#1384)
  plugins/legacy-plugin-chart-partition/src/controlPanel.tsx
  plugins/legacy-plugin-chart-rose/src/controlPanel.tsx
  plugins/legacy-preset-chart-nvd3/src/NVD3Controls.tsx
Due: plugins

fix: replace absolute difference with difference in echart (#1383)
  packages/superset-ui-chart-controls/src/sections/advancedAnalytics.tsx
  packages/superset-ui-chart-controls/test/utils/operators/rollingWindowOperator.test.ts
  packages/superset-ui-chart-controls/test/utils/operators/timeCompareOperator.test.ts
  packages/superset-ui-core/src/query/types/AdvancedAnalytics.ts
Due: core-packages

add feature flag: ENABLE_FILTER_BOX_MIGRATION
  packages/superset-ui-core/src/utils/featureFlags.ts
Due: core-packages

add feature flag: ENABLE_FILTER_BOX_MIGRATION (#1388)
  packages/superset-ui-core/src/utils/featureFlags.ts
Due: core-packages

chore: publish v0.18.9
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

feat(plugin-chart-echarts): add support for custom forecasts
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  plugins/plugin-chart-echarts/src/utils/prophet.ts
  plugins/plugin-chart-echarts/test/utils/prophet.test.ts
Due: plugins

feat(plugin-chart-echarts): add support for custom forecasts (#1389)
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  plugins/plugin-chart-echarts/src/utils/prophet.ts
  plugins/plugin-chart-echarts/test/utils/prophet.test.ts
Due: plugins

fix: rolling and cum operator in multiple series chart (#1386)
  packages/superset-ui-chart-controls/src/operators/rollingWindowOperator.ts
  packages/superset-ui-chart-controls/test/utils/operators/rollingWindowOperator.test.ts
  packages/superset-ui-core/src/query/types/PostProcessing.ts
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
Due: core-packages, plugins

chore: hide rolling_periods and min_periods
  packages/superset-ui-chart-controls/src/sections/advancedAnalytics.tsx
Due: core-packages

Update packages/superset-ui-chart-controls/src/sections/advancedAnalytics.tsx
  packages/superset-ui-chart-controls/src/sections/advancedAnalytics.tsx
Due: core-packages

chore: hide rolling_periods and min_periods (#1392)
  packages/superset-ui-chart-controls/src/sections/advancedAnalytics.tsx
Due: core-packages

chore(legacy-preset-chart-nvd3): deprecate MultiLine chart
  plugins/legacy-preset-chart-nvd3/src/LineMulti/index.js
Due: plugins

WIP
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  plugins/plugin-chart-echarts/src/Radar/buildQuery.ts
  plugins/plugin-chart-echarts/src/Radar/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Regular/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Step/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-table/src/buildQuery.ts
  plugins/plugin-chart-table/src/controlPanel.tsx
  plugins/plugin-chart-table/src/types.ts
  plugins/plugin-chart-table/test/testData.ts
Due: core-packages, plugins

chore: publish v0.18.10
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

fix: npm registry connection set to ssl
  .github/workflows/release.yml
Due: none

fix: npm registry connection set to ssl (#1395)
  .github/workflows/release.yml
Due: none

inital commit
  plugins/legacy-preset-chart-big-number/src/BigNumberTotal/controlPanel.ts
Due: plugins

chore(legacy-preset-chart-nvd3): deprecate MultiLine chart (#1394)
  plugins/legacy-preset-chart-nvd3/src/LineMulti/index.js
Due: plugins

feat(plugin-chart-echarts): support non-timeseries x-axis
  packages/superset-ui-chart-controls/src/operators/pivotOperator.ts
  packages/superset-ui-core/src/utils/featureFlags.ts
  plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Regular/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/Step/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/controls.tsx
  plugins/plugin-chart-echarts/src/utils/prophet.ts
  plugins/plugin-chart-echarts/src/utils/series.ts
Due: core-packages, plugins

add feature flag: DASHBOARD_FORCE_AUTO_REFRESH
  packages/superset-ui-core/src/utils/featureFlags.ts
Due: core-packages

chore: avoid importing from lib
  packages/superset-ui-chart-controls/src/index.ts
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  packages/superset-ui-chart-controls/src/types.ts
  packages/superset-ui-chart-controls/src/utils/expandControlConfig.tsx
  plugins/legacy-plugin-chart-heatmap/src/controlPanel.ts
  plugins/legacy-plugin-chart-histogram/src/controlPanel.ts
  plugins/legacy-plugin-chart-map-box/src/controlPanel.ts
  plugins/plugin-chart-echarts/src/Radar/controlPanel.tsx
Due: core-packages, plugins

chore: avoid importing from lib (#1399)
  packages/superset-ui-chart-controls/src/index.ts
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  packages/superset-ui-chart-controls/src/types.ts
  packages/superset-ui-chart-controls/src/utils/expandControlConfig.tsx
  plugins/legacy-plugin-chart-heatmap/src/controlPanel.ts
  plugins/legacy-plugin-chart-histogram/src/controlPanel.ts
  plugins/legacy-plugin-chart-map-box/src/controlPanel.ts
  plugins/plugin-chart-echarts/src/Radar/controlPanel.tsx
Due: core-packages, plugins

Revert "Revert "chore: isolate the one actual jquery dependency (#1339)" (#1355)"
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-pivot-table/src/PivotTable.js
Due: plugins

chore: upgrade datatables library
  plugins/legacy-plugin-chart-pivot-table/package.json
  yarn.lock
Due: plugins

inital commit (#1397)
  plugins/legacy-preset-chart-big-number/src/BigNumberTotal/controlPanel.ts
Due: plugins

Replace color in scheme statically
  packages/superset-ui-core/src/color/CategoricalColorNamespace.ts
Due: core-packages

chore: publish v0.18.11
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

chore: translate fractional time grains
  packages/superset-ui-core/src/time-format/TimeFormatsForGranularity.ts
  packages/superset-ui-core/src/time-format/types.ts
  packages/superset-ui-core/src/time-format/utils/createTimeRangeFromGranularity.ts
  packages/superset-ui-core/test/time-format/TimeFormatterRegistrySingleton.test.ts
  packages/superset-ui-core/test/time-format/utils/createTimeRangeFromGranularity.test.ts
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/birthNames.json
  plugins/legacy-preset-chart-big-number/test/transformProps.test.ts
Due: core-packages, plugins

chore: translate fractional time grains (#1404)
  packages/superset-ui-core/src/time-format/TimeFormatsForGranularity.ts
  packages/superset-ui-core/src/time-format/types.ts
  packages/superset-ui-core/src/time-format/utils/createTimeRangeFromGranularity.ts
  packages/superset-ui-core/test/time-format/TimeFormatterRegistrySingleton.test.ts
  packages/superset-ui-core/test/time-format/utils/createTimeRangeFromGranularity.test.ts
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/birthNames.json
  plugins/legacy-preset-chart-big-number/test/transformProps.test.ts
Due: core-packages, plugins

chore: publish v0.18.12
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

Set color statically and re-use instance
  packages/superset-ui-core/src/color/CategoricalColorNamespace.ts
Due: core-packages

Fix tests and clean up
  packages/superset-ui-core/src/color/CategoricalColorNamespace.ts
  packages/superset-ui-core/test/color/CategoricalColorNameSpace.test.ts
Due: core-packages

Improve comments
  packages/superset-ui-core/src/color/CategoricalColorNamespace.ts
Due: core-packages

chore: upgrade datatables library (#1402)
  plugins/legacy-plugin-chart-pivot-table/package.json
  yarn.lock
Due: plugins

add prop to SuperChart for select
  packages/superset-ui-core/src/chart/components/SuperChart.tsx
Due: core-packages

add prop to SuperChart for select (#1408)
  packages/superset-ui-core/src/chart/components/SuperChart.tsx
Due: core-packages

chore: publish v0.18.13
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

chore: upgrade storybook to 6.3.12
  .gitignore
  packages/superset-ui-core/src/color/colorSchemes/categorical/index.ts
  packages/superset-ui-core/src/color/colorSchemes/index.ts
  packages/superset-ui-core/src/color/colorSchemes/sequential/index.ts
  packages/superset-ui-core/src/color/index.ts
  packages/superset-ui-demo/.storybook/main.js
  packages/superset-ui-demo/.storybook/preview.js
  packages/superset-ui-demo/package.json
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-country-map/CountryMapStories.tsx
  packages/superset-ui-demo/storybook/stories/superset-ui-color/ColorPallettesStories.jsx
  yarn.lock
Due: core-packages

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
