Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

fix(plugin-chart-table): check if control values are set
  plugins/plugin-chart-table/src/controlPanel.tsx
Due: plugins

fix: avoid unnecessary rerenders caused by ownState
  plugins/plugin-chart-echarts/src/BoxPlot/EchartsBoxPlot.tsx
  plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
  plugins/plugin-chart-echarts/src/BoxPlot/types.ts
  plugins/plugin-chart-echarts/src/Funnel/EchartsFunnel.tsx
  plugins/plugin-chart-echarts/src/Funnel/transformProps.ts
  plugins/plugin-chart-echarts/src/Pie/EchartsPie.tsx
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Radar/EchartsRadar.tsx
  plugins/plugin-chart-echarts/src/Radar/transformProps.ts
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
Due: plugins

fix(plugin-chart-echarts): remove features
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Treemap/Stories.tsx
  plugins/plugin-chart-echarts/src/Treemap/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Treemap/transformProps.ts
  plugins/plugin-chart-echarts/src/Treemap/types.ts
Due: core-packages, plugins

fix(plugin-chart-echarts): add forceClear
  plugins/plugin-chart-echarts/src/Treemap/EchartsTreemap.tsx
  plugins/plugin-chart-echarts/src/components/Echart.tsx
  plugins/plugin-chart-echarts/src/types.ts
Due: plugins

fix(plugin-chart-echarts): change storybook data
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Treemap/data.ts
Due: core-packages

fix(plugin-chart-table): check if control values are set (#1095)
  plugins/plugin-chart-table/src/controlPanel.tsx
Due: plugins

fix: avoid unnecessary rerenders caused by ownState (#1096)
  plugins/plugin-chart-echarts/src/BoxPlot/EchartsBoxPlot.tsx
  plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
  plugins/plugin-chart-echarts/src/BoxPlot/types.ts
  plugins/plugin-chart-echarts/src/Funnel/EchartsFunnel.tsx
  plugins/plugin-chart-echarts/src/Funnel/transformProps.ts
  plugins/plugin-chart-echarts/src/Pie/EchartsPie.tsx
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Radar/EchartsRadar.tsx
  plugins/plugin-chart-echarts/src/Radar/transformProps.ts
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
Due: plugins

updated radio button with new signature
  plugins/plugin-chart-echarts/src/Tree/controlPanel.tsx
Due: plugins

feat(plugin-chart-echart): New Tree chart (#1018)
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Tree/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Tree/data.ts
  plugins/plugin-chart-echarts/src/Tree/EchartsTree.tsx
  plugins/plugin-chart-echarts/src/Tree/buildQuery.ts
  plugins/plugin-chart-echarts/src/Tree/constants.ts
  plugins/plugin-chart-echarts/src/Tree/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Tree/images/thumbnail.png
  plugins/plugin-chart-echarts/src/Tree/index.ts
  plugins/plugin-chart-echarts/src/Tree/transformProps.ts
  plugins/plugin-chart-echarts/src/Tree/types.ts
  plugins/plugin-chart-echarts/src/index.ts
  plugins/plugin-chart-echarts/test/Tree/buildQuery.test.ts
  plugins/plugin-chart-echarts/test/Tree/transformProps.test.ts
Due: core-packages, plugins

chore: publish v0.17.44
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
Due: core-packages, plugins

feat(plugin-chart-echarts): hide/show dependent controls
  plugins/plugin-chart-echarts/src/Funnel/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Graph/controlPanel.tsx
  plugins/plugin-chart-echarts/src/MixedTimeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Pie/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Radar/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/controls.tsx
Due: plugins

feat(plugin-chart-echarts): hide/show dependent controls (#1097)
  plugins/plugin-chart-echarts/src/Funnel/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Graph/controlPanel.tsx
  plugins/plugin-chart-echarts/src/MixedTimeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Pie/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Radar/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/controls.tsx
Due: plugins

feat(legacy-plugin-chart-country-map): added indonesia map (#1088)
  plugins/legacy-plugin-chart-country-map/scripts/Country Map GeoJSON Generator.ipynb
  plugins/legacy-plugin-chart-country-map/src/countries.ts
  plugins/legacy-plugin-chart-country-map/src/countries/indonesia.geojson
Due: plugins

fix(plugin-chart-echarts): enhancements
  plugins/plugin-chart-echarts/src/Treemap/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Treemap/images/thumbnail.png
  plugins/plugin-chart-echarts/src/Treemap/transformProps.ts
  plugins/plugin-chart-echarts/src/Treemap/types.ts
Due: plugins

fix(plugin-chart-echarts): add orderby
  plugins/plugin-chart-echarts/src/Funnel/buildQuery.ts
  plugins/plugin-chart-echarts/src/Funnel/controlPanel.tsx
Due: plugins

fix(legacy-plugin-chart-horizon): error on missing groupby
  plugins/legacy-plugin-chart-horizon/src/HorizonChart.jsx
Due: plugins

fix(legacy-plugin-chart-horizon): error on missing groupby (#1100)
  plugins/legacy-plugin-chart-horizon/src/HorizonChart.jsx
Due: plugins

fix(plugin-chart-echarts): enhancements for color and fix ci
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Treemap/Stories.tsx
  plugins/plugin-chart-echarts/src/Treemap/images/thumbnail.png
  plugins/plugin-chart-echarts/src/Treemap/transformProps.ts
  plugins/plugin-chart-echarts/src/Treemap/types.ts
Due: core-packages, plugins

feat(plugin-chart-echarts): set orderby default value is true
  plugins/plugin-chart-echarts/src/Funnel/controlPanel.tsx
Due: plugins

fix(plugin-chart-echarts): add orderby to funnel chart (#1099)
  plugins/plugin-chart-echarts/src/Funnel/buildQuery.ts
  plugins/plugin-chart-echarts/src/Funnel/controlPanel.tsx
Due: plugins

feat(plugin-chart-echarts): Echarts Treemap (#1094)
  packages/superset-ui-demo/.storybook/preview.js
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Treemap/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Treemap/data.ts
  plugins/plugin-chart-echarts/src/Treemap/EchartsTreemap.tsx
  plugins/plugin-chart-echarts/src/Treemap/buildQuery.ts
  plugins/plugin-chart-echarts/src/Treemap/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Treemap/images/thumbnail.png
  plugins/plugin-chart-echarts/src/Treemap/index.ts
  plugins/plugin-chart-echarts/src/Treemap/transformProps.ts
  plugins/plugin-chart-echarts/src/Treemap/types.ts
  plugins/plugin-chart-echarts/src/components/Echart.tsx
  plugins/plugin-chart-echarts/src/index.ts
  plugins/plugin-chart-echarts/src/types.ts
  plugins/plugin-chart-echarts/test/Treemap/buildQuery.test.ts
  plugins/plugin-chart-echarts/test/Treemap/transformProps.test.ts
Due: core-packages, plugins

chore: publish v0.17.45
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/plugin-chart-echarts/package.json
Due: core-packages, plugins

fix(plugin-chart-echarts): enhancements for the treemap
  plugins/plugin-chart-echarts/src/Treemap/transformProps.ts
  plugins/plugin-chart-echarts/src/Treemap/types.ts
Due: plugins

fix: use proper time grain when using native filters or filter box
  packages/superset-ui-core/src/query/extractTimegrain.ts
  packages/superset-ui-core/src/query/index.ts
  packages/superset-ui-core/src/query/types/AnnotationLayer.ts
  packages/superset-ui-core/src/query/types/Query.ts
  packages/superset-ui-core/test/query/extractTimegrain.test.ts
  plugins/legacy-preset-chart-big-number/src/BigNumber/transformProps.ts
  plugins/legacy-preset-chart-big-number/test/transformProps.test.ts
  plugins/plugin-chart-table/src/transformProps.ts
  plugins/plugin-chart-table/src/utils/isEqualColumns.ts
Due: core-packages, plugins

style(plugin-chart-echarts): add pointer tooltip to gauge chart
  plugins/plugin-chart-echarts/src/Gauge/transformProps.ts
Due: plugins

fix(plugin-chart-echarts): dynamically determine min/max on gauge chart axis
  plugins/plugin-chart-echarts/src/Gauge/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Gauge/transformProps.ts
  plugins/plugin-chart-echarts/src/Gauge/types.ts
Due: plugins

fix lint
  plugins/plugin-chart-echarts/src/Gauge/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Gauge/transformProps.ts
  plugins/plugin-chart-echarts/src/Gauge/types.ts
  plugins/plugin-chart-echarts/test/Gauge/transformProps.test.ts
Due: plugins

fix(core): clean up datatype logic
  packages/superset-ui-chart-controls/src/components/ColumnOption.tsx
  packages/superset-ui-chart-controls/src/components/ColumnTypeLabel.tsx
  packages/superset-ui-chart-controls/src/constants.ts
  packages/superset-ui-chart-controls/src/types.ts
  packages/superset-ui-chart-controls/test/components/ColumnOption.test.tsx
  packages/superset-ui-chart-controls/test/components/ColumnTypeLabel.test.tsx
  packages/superset-ui-core/src/query/types/Column.ts
  packages/superset-ui-core/test/fixtures.ts
  packages/superset-ui-core/test/query/getMetricLabel.test.ts
Due: core-packages

fix: use proper time grain when using native filters or filter box (#1104)
  packages/superset-ui-core/src/query/extractTimegrain.ts
  packages/superset-ui-core/src/query/index.ts
  packages/superset-ui-core/src/query/types/AnnotationLayer.ts
  packages/superset-ui-core/src/query/types/Query.ts
  packages/superset-ui-core/test/query/extractTimegrain.test.ts
  plugins/legacy-preset-chart-big-number/src/BigNumber/transformProps.ts
  plugins/legacy-preset-chart-big-number/test/transformProps.test.ts
  plugins/plugin-chart-table/src/transformProps.ts
  plugins/plugin-chart-table/src/utils/isEqualColumns.ts
Due: core-packages, plugins

fix(core): clean up datatype logic (#1102)
  packages/superset-ui-chart-controls/src/components/ColumnOption.tsx
  packages/superset-ui-chart-controls/src/components/ColumnTypeLabel.tsx
  packages/superset-ui-chart-controls/src/constants.ts
  packages/superset-ui-chart-controls/src/types.ts
  packages/superset-ui-chart-controls/test/components/ColumnOption.test.tsx
  packages/superset-ui-chart-controls/test/components/ColumnTypeLabel.test.tsx
  packages/superset-ui-core/src/query/types/Column.ts
  packages/superset-ui-core/test/fixtures.ts
  packages/superset-ui-core/test/query/getMetricLabel.test.ts
Due: core-packages

chore: publish v0.17.46
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

fix(plugin-chart-echarts): use '▸' to replace '/', filter empty string
  plugins/plugin-chart-echarts/src/Treemap/index.ts
  plugins/plugin-chart-echarts/src/Treemap/transformProps.ts
Due: plugins

feat(plugin-chart-echarts): Enhancements of treemap tooltip (#1103)
  plugins/plugin-chart-echarts/src/Treemap/index.ts
  plugins/plugin-chart-echarts/src/Treemap/transformProps.ts
  plugins/plugin-chart-echarts/src/Treemap/types.ts
Due: plugins

chore: publish v0.17.47
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/plugin-chart-echarts/package.json
Due: core-packages, plugins

fix: adjusts ControlHeader tooltip layout, exports ControlHeader for general use.
  packages/superset-ui-chart-controls/src/components/ControlHeader.tsx
  packages/superset-ui-chart-controls/src/index.ts
Due: core-packages

style: removing unused import
  packages/superset-ui-chart-controls/src/components/ControlHeader.tsx
Due: core-packages

fix(plugin-chart-echarts): disabling dragging treemap on the dashboard
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Treemap/Stories.tsx
  plugins/plugin-chart-echarts/src/Treemap/transformProps.ts
  plugins/plugin-chart-echarts/src/Treemap/types.ts
Due: core-packages, plugins

chore: removes react-bootstrap
  package.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-chart-controls/src/components/CertifiedIconWithTooltip.tsx
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  yarn.lock
Due: core-packages

chore: removes react-bootstrap (#1108)
  package.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-chart-controls/src/components/CertifiedIconWithTooltip.tsx
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  yarn.lock
Due: core-packages

chore: publish v0.17.48
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
