Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

codecov.yml:

coverage:
  status:
    project:
      target: 90%
      # send notification if coverage change exceed this threshold
      threshold: 5%
    core-packages:
      target: 100%
      flags: 
        - core-packages
    plugins:
      target: 50%
      flags: 
        - plugins

flags:
  core-packages:
    paths:
      - packages
  plugins:
    paths:
      - plugins

feat(plugin-chart-word-cloud): subject Add order by desc on metric (#939)
  plugins/plugin-chart-word-cloud/src/plugin/buildQuery.ts
  plugins/plugin-chart-word-cloud/src/plugin/controlPanel.ts
Due: plugins

Add constants
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/constants.ts
  plugins/plugin-chart-echarts/src/utils/series.ts
Due: plugins

fix
  plugins/plugin-chart-echarts/src/constants.ts
Due: plugins

fix lint
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/constants.ts
Due: plugins

fix lint
  plugins/plugin-chart-echarts/src/utils/series.ts
Due: plugins

fix lint
  plugins/plugin-chart-echarts/src/constants.ts
Due: plugins

refactor: update setExtraFormData hook / change isNativeFilter Property / remove native filters
  packages/superset-ui-core/src/chart/models/ChartMetadata.ts
  packages/superset-ui-core/src/chart/types/Base.ts
  plugins/plugin-filter-antd/README.md
  plugins/plugin-filter-antd/package.json
  plugins/plugin-filter-antd/src/Range/AntdRangeFilter.tsx
  plugins/plugin-filter-antd/src/Range/buildQuery.ts
  plugins/plugin-filter-antd/src/Range/controlPanel.ts
  plugins/plugin-filter-antd/src/Range/images/thumbnail.png
  plugins/plugin-filter-antd/src/Range/index.ts
  plugins/plugin-filter-antd/src/Range/transformProps.ts
  plugins/plugin-filter-antd/src/Range/types.ts
  plugins/plugin-filter-antd/src/Select/AntdSelectFilter.tsx
  plugins/plugin-filter-antd/src/Select/buildQuery.ts
  plugins/plugin-filter-antd/src/Select/controlPanel.ts
  plugins/plugin-filter-antd/src/Select/images/thumbnail.png
  plugins/plugin-filter-antd/src/Select/index.ts
  plugins/plugin-filter-antd/src/Select/transformProps.ts
  plugins/plugin-filter-antd/src/Select/types.ts
  plugins/plugin-filter-antd/src/index.ts
  plugins/plugin-filter-antd/src/types.ts
  plugins/plugin-filter-antd/test/index.test.ts
  plugins/plugin-filter-antd/tsconfig.json
  plugins/plugin-filter-antd/types/external.d.ts
Due: core-packages, plugins

refactor: clear storybook
  packages/superset-ui-demo/storybook/stories/plugins/plugin-filter-antd/Select/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-filter-antd/Select/data.ts
Due: core-packages

refactor: update type place
  packages/superset-ui-core/src/chart/models/ChartMetadata.ts
  packages/superset-ui-core/src/chart/types/Base.ts
Due: core-packages

feat: add uruguay map
  plugins/legacy-plugin-chart-country-map/src/countries.js
  plugins/legacy-plugin-chart-country-map/src/countries/uruguay.geojson
Due: plugins

feat(plugin-chart-echarts): subject add sort by metric for Pie Chart
  plugins/plugin-chart-echarts/src/Pie/buildQuery.ts
  plugins/plugin-chart-echarts/src/Pie/controlPanel.tsx
Due: plugins

refactor: add dasourceCount property
  packages/superset-ui-core/src/chart/models/ChartMetadata.ts
Due: core-packages

feat(legacy-preset-chart-nvd3): subject add y bound for aria chart
  plugins/legacy-preset-chart-nvd3/src/Area/controlPanel.ts
Due: plugins

feat(legacy-preset-chart-nvd3): subject WIP
  plugins/legacy-preset-chart-nvd3/src/DistBar/controlPanel.ts
Due: plugins

refactor: fix CR notes
  packages/superset-ui-core/src/chart/models/ChartMetadata.ts
  packages/superset-ui-core/src/chart/types/Base.ts
Due: core-packages

fix(core): npm link issues with re-exports pure type files
  packages/superset-ui-chart-controls/src/components/InfoTooltipWithTrigger.tsx
  packages/superset-ui-chart-controls/src/components/MetricOption.tsx
  packages/superset-ui-chart-controls/src/components/Tooltip.tsx
  packages/superset-ui-chart-controls/src/index.ts
  packages/superset-ui-chart-controls/src/shared-controls/components/RadioButtonControl.tsx
  packages/superset-ui-chart-controls/src/shared-controls/components/index.tsx
  packages/superset-ui-chart-controls/src/types.ts
  packages/superset-ui-core/src/chart/index.ts
  packages/superset-ui-core/src/chart/types/Base.ts
  packages/superset-ui-core/src/chart/types/QueryResponse.ts
  packages/superset-ui-core/src/chart/types/TransformFunction.ts
  packages/superset-ui-core/src/connection/index.ts
  packages/superset-ui-core/src/connection/types.ts
  packages/superset-ui-core/src/dimension/index.ts
  packages/superset-ui-core/src/dimension/types.ts
  packages/superset-ui-core/src/query/api/legacy/index.ts
  packages/superset-ui-core/src/query/api/legacy/types.ts
  packages/superset-ui-core/src/query/types/Column.ts
  packages/superset-ui-core/src/query/types/Datasource.ts
  packages/superset-ui-core/src/query/types/Metric.ts
  packages/superset-ui-core/src/query/types/Query.ts
  packages/superset-ui-core/src/query/types/QueryFormData.ts
  packages/superset-ui-core/src/query/types/QueryResponse.ts
  packages/superset-ui-core/src/query/types/Time.ts
  packages/superset-ui-core/src/query/types/index.ts
  packages/superset-ui-core/src/translation/index.ts
  packages/superset-ui-core/src/translation/types/index.ts
  packages/superset-ui-core/src/translation/types/jed.ts
Due: core-packages

fix: Update Uruguay geojson file
  plugins/legacy-plugin-chart-country-map/src/controlPanel.ts
  plugins/legacy-plugin-chart-country-map/src/countries/uruguay.geojson
Due: plugins

feat(legacy-plugin-chart-country-map): Add Uruguay map (#944)
  plugins/legacy-plugin-chart-country-map/src/controlPanel.ts
  plugins/legacy-plugin-chart-country-map/src/countries.js
  plugins/legacy-plugin-chart-country-map/src/countries/uruguay.geojson
Due: plugins

feat(plugin-chart-echarts): subject add sort by metric for Pie Chart (#946)
  plugins/plugin-chart-echarts/src/Pie/buildQuery.ts
  plugins/plugin-chart-echarts/src/Pie/controlPanel.tsx
Due: plugins

chore: publish v0.17.7
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-word-cloud/package.json
Due: core-packages, plugins

feat(core): expand native filter hook and add chart metadata fields (#943)
  packages/superset-ui-core/src/chart/models/ChartMetadata.ts
  packages/superset-ui-core/src/chart/types/Base.ts
  packages/superset-ui-demo/storybook/stories/plugins/plugin-filter-antd/Select/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-filter-antd/Select/data.ts
  plugins/plugin-filter-antd/README.md
  plugins/plugin-filter-antd/package.json
  plugins/plugin-filter-antd/src/Range/AntdRangeFilter.tsx
  plugins/plugin-filter-antd/src/Range/buildQuery.ts
  plugins/plugin-filter-antd/src/Range/controlPanel.ts
  plugins/plugin-filter-antd/src/Range/images/thumbnail.png
  plugins/plugin-filter-antd/src/Range/index.ts
  plugins/plugin-filter-antd/src/Range/transformProps.ts
  plugins/plugin-filter-antd/src/Range/types.ts
  plugins/plugin-filter-antd/src/Select/AntdSelectFilter.tsx
  plugins/plugin-filter-antd/src/Select/buildQuery.ts
  plugins/plugin-filter-antd/src/Select/controlPanel.ts
  plugins/plugin-filter-antd/src/Select/images/thumbnail.png
  plugins/plugin-filter-antd/src/Select/index.ts
  plugins/plugin-filter-antd/src/Select/transformProps.ts
  plugins/plugin-filter-antd/src/Select/types.ts
  plugins/plugin-filter-antd/src/index.ts
  plugins/plugin-filter-antd/src/types.ts
  plugins/plugin-filter-antd/test/index.test.ts
  plugins/plugin-filter-antd/tsconfig.json
  plugins/plugin-filter-antd/types/external.d.ts
Due: core-packages, plugins

chore: publish v0.17.8
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

feat(legacy-preset-chart-nvd3): subject Add sort by for bar chart
  plugins/legacy-preset-chart-nvd3/src/DistBar/controlPanel.ts
Due: plugins

feat(legacy-plugin-chart-heatmap): subject Add sort by metric
  plugins/legacy-plugin-chart-heatmap/src/controlPanel.ts
Due: plugins

feat(legacy-plugin-chart-sunburst): subject Add sort by metric
  plugins/legacy-plugin-chart-sunburst/src/controlPanel.ts
Due: plugins

feat(legacy-plugin-chart-force-directed): subject Add sort by metric
  plugins/legacy-plugin-chart-force-directed/src/controlPanel.ts
Due: plugins

feat(legacy-plugin-chart-chord): subject Add sort by metric
  plugins/legacy-plugin-chart-chord/src/controlPanel.ts
Due: plugins

feat(legacy-plugin-chart-pivot-table): subject Add sort by metric
  plugins/legacy-plugin-chart-pivot-table/src/controlPanel.ts
Due: plugins

optimize
  plugins/plugin-chart-echarts/src/Graph/transformProps.ts
Due: plugins

fix
  plugins/legacy-plugin-chart-pivot-table/src/PivotTable.js
Due: plugins

lint
  plugins/legacy-plugin-chart-pivot-table/src/PivotTable.js
Due: plugins

fix bulgaria.geojson
  plugins/legacy-plugin-chart-country-map/src/countries/bulgaria.geojson
Due: plugins

feat(legacy-plugin-chart-country-map): subject Add sort by metric
  plugins/legacy-plugin-chart-world-map/src/controlPanel.ts
Due: plugins

fix(legacy-plugin-chart-pivot-table): support html in cell
  plugins/legacy-plugin-chart-pivot-table/src/PivotTable.js
  plugins/legacy-plugin-chart-pivot-table/src/utils/formatCells.ts
Due: plugins

feat(legacy-plugin-chart-parallel-coordinates): subject Add sort by metric
  plugins/legacy-plugin-chart-parallel-coordinates/src/controlPanel.ts
Due: plugins

feat(legacy-plugin-chart-treemap): subject Add sort by metric
  plugins/legacy-plugin-chart-treemap/src/controlPanel.ts
Due: plugins

updated with jesse's comments
  plugins/plugin-chart-echarts/src/Graph/constants.ts
  plugins/plugin-chart-echarts/src/Graph/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Graph/transformProps.ts
Due: plugins

bug fix
  plugins/plugin-chart-echarts/src/Graph/constants.ts
  plugins/plugin-chart-echarts/src/Graph/transformProps.ts
Due: plugins

feat(core): add custom_params to form_data (#929)
  packages/superset-ui-chart-controls/src/sections.tsx
  packages/superset-ui-core/src/query/buildQueryObject.ts
  packages/superset-ui-core/src/query/types/Query.ts
  packages/superset-ui-core/src/query/types/QueryFormData.ts
  packages/superset-ui-core/test/query/buildQueryObject.test.ts
Due: core-packages
