Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

docs: update changelog
  CHANGELOG.md
Due: none

feat: style package for theming and styled components
  packages/superset-ui-style/README.md
  packages/superset-ui-style/package.json
  packages/superset-ui-style/src/index.ts
  packages/superset-ui-style/yarn.lock
Due: core-packages

Disable commit lint
  package.json
  yarn.lock
Due: none

Disable commit lint (#363)
  package.json
  yarn.lock
Due: none

fix: addressing PR feedback on style package
  packages/superset-ui-style/package.json
  packages/superset-ui-style/test/index.test.ts
  packages/superset-ui-style/yarn.lock
Due: core-packages

fix: we need badges
  packages/superset-ui-style/README.md
Due: core-packages

fix: sideEffects false for better tree shaking
  packages/superset-ui-style/package.json
Due: core-packages

fix: readme title nit
  packages/superset-ui-style/README.md
Due: core-packages

docs: update storybook
  packages/superset-ui-demo/storybook/stories/plugins/big-number/BigNumber/BigNumberStories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/big-number/BigNumberTotal/BigNumberTotalStories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-calendar/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-calendar/data.ts
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-chord/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-chord/data.ts
  packages/superset-ui-demo/storybook/stories/plugins/table/TableStories.tsx
  plugins/legacy-plugin-chart-chord/README.md
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-chord/src/Chord.css
  plugins/legacy-plugin-chart-chord/src/Chord.js
  plugins/legacy-plugin-chart-chord/src/ReactChord.js
  plugins/legacy-plugin-chart-chord/src/images/thumbnail.png
  plugins/legacy-plugin-chart-chord/src/images/thumbnailLarge.png
  plugins/legacy-plugin-chart-chord/src/index.js
  plugins/legacy-plugin-chart-chord/src/transformProps.js
Due: core-packages, plugins

fix: import
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-calendar/Stories.tsx
Due: core-packages

feat: style package for theming and styled components (#362)
  packages/superset-ui-style/README.md
  packages/superset-ui-style/package.json
  packages/superset-ui-style/src/index.ts
  packages/superset-ui-style/test/index.test.ts
Due: core-packages

docs: update readme
  README.md
  packages/superset-ui-style/README.md
Due: core-packages

docs: update readme
  README.md
Due: none

build: update yarn.lock
  yarn.lock
Due: none

fix: import
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-chord/Stories.tsx
Due: core-packages

v0.12.16
  lerna.json
  packages/superset-ui-style/package.json
Due: core-packages

fix: publish settings
  packages/superset-ui-style/package.json
Due: core-packages

v0.12.17
  lerna.json
  packages/superset-ui-style/package.json
Due: core-packages

feat: migrate legacy-plugin-chart-chord (#365)
  packages/superset-ui-demo/package.json
  packages/superset-ui-demo/storybook/stories/plugins/big-number/BigNumber/BigNumberStories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/big-number/BigNumberTotal/BigNumberTotalStories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-calendar/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-calendar/data.ts
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-chord/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-chord/data.ts
  packages/superset-ui-demo/storybook/stories/plugins/table/TableStories.tsx
  plugins/legacy-plugin-chart-chord/README.md
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-chord/src/Chord.css
  plugins/legacy-plugin-chart-chord/src/Chord.js
  plugins/legacy-plugin-chart-chord/src/ReactChord.js
  plugins/legacy-plugin-chart-chord/src/images/thumbnail.png
  plugins/legacy-plugin-chart-chord/src/images/thumbnailLarge.png
  plugins/legacy-plugin-chart-chord/src/index.js
  plugins/legacy-plugin-chart-chord/src/transformProps.js
Due: core-packages, plugins

v0.12.18
  lerna.json
  packages/generator-superset/package.json
  packages/superset-ui-chart-composition/package.json
  packages/superset-ui-chart/package.json
  packages/superset-ui-color/package.json
  packages/superset-ui-connection/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-dimension/package.json
  packages/superset-ui-number-format/package.json
  packages/superset-ui-query/package.json
  packages/superset-ui-style/package.json
  packages/superset-ui-superset-ui/package.json
  packages/superset-ui-time-format/package.json
  packages/superset-ui-translation/package.json
  packages/superset-ui-validator/package.json
  plugins/big-number/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/table/package.json
Due: core-packages, plugins

feat: add style to umbrella package
  packages/superset-ui-superset-ui/package.json
  packages/superset-ui-superset-ui/src/index.ts
  packages/superset-ui-superset-ui/test/index.test.ts
Due: core-packages

feat: migrate heatmap
  packages/superset-ui-demo/package.json
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-heatmap/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-heatmap/data.ts
  plugins/legacy-plugin-chart-heatmap/README.md
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-heatmap/src/Heatmap.css
  plugins/legacy-plugin-chart-heatmap/src/Heatmap.js
  plugins/legacy-plugin-chart-heatmap/src/ReactHeatmap.js
  plugins/legacy-plugin-chart-heatmap/src/images/thumbnail.png
  plugins/legacy-plugin-chart-heatmap/src/images/thumbnailLarge.png
  plugins/legacy-plugin-chart-heatmap/src/index.js
  plugins/legacy-plugin-chart-heatmap/src/transformProps.js
  plugins/legacy-plugin-chart-heatmap/src/vendor/d3tip.css
  yarn.lock
Due: core-packages, plugins

feat: add horizon, iframe and markup
  packages/superset-ui-demo/.storybook/main.js
  packages/superset-ui-demo/package.json
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-horizon/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-horizon/data.ts
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-iframe/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-markup/Stories.tsx
  plugins/legacy-plugin-chart-horizon/README.md
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-horizon/src/HorizonChart.css
  plugins/legacy-plugin-chart-horizon/src/HorizonChart.jsx
  plugins/legacy-plugin-chart-horizon/src/HorizonRow.jsx
  plugins/legacy-plugin-chart-horizon/src/images/thumbnail.png
  plugins/legacy-plugin-chart-horizon/src/images/thumbnailLarge.png
  plugins/legacy-plugin-chart-horizon/src/index.js
  plugins/legacy-plugin-chart-horizon/src/transformProps.js
  plugins/legacy-plugin-chart-iframe/README.md
  plugins/legacy-plugin-chart-iframe/package.json
  plugins/legacy-plugin-chart-iframe/src/Iframe.jsx
  plugins/legacy-plugin-chart-iframe/src/images/thumbnail.png
  plugins/legacy-plugin-chart-iframe/src/index.js
  plugins/legacy-plugin-chart-iframe/src/transformProps.js
  plugins/legacy-plugin-chart-markup/README.md
  plugins/legacy-plugin-chart-markup/package.json
  plugins/legacy-plugin-chart-markup/src/Markup.css
  plugins/legacy-plugin-chart-markup/src/Markup.jsx
  plugins/legacy-plugin-chart-markup/src/images/thumbnail.png
  plugins/legacy-plugin-chart-markup/src/index.js
  plugins/legacy-plugin-chart-markup/src/transformProps.js
  yarn.lock
Due: core-packages, plugins

feat(legacy-plugin-chart-paired-t-test): migrate from another repo
  packages/superset-ui-demo/package.json
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-paired-t-test/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-paired-t-test/data.ts
  plugins/legacy-plugin-chart-paired-t-test/README.md
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-paired-t-test/src/PairedTTest.css
  plugins/legacy-plugin-chart-paired-t-test/src/PairedTTest.jsx
  plugins/legacy-plugin-chart-paired-t-test/src/TTestTable.jsx
  plugins/legacy-plugin-chart-paired-t-test/src/images/thumbnail.png
  plugins/legacy-plugin-chart-paired-t-test/src/images/thumbnailLarge.png
  plugins/legacy-plugin-chart-paired-t-test/src/index.js
  plugins/legacy-plugin-chart-paired-t-test/src/transformProps.js
  yarn.lock
Due: core-packages, plugins

feat(legacy-plugin-chart-parallel-coordinates): migrate from another repo
  packages/superset-ui-demo/package.json
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-parallel-coordinates/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-parallel-coordinates/data.ts
  plugins/legacy-plugin-chart-parallel-coordinates/README.md
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/src/ParallelCoordinates.css
  plugins/legacy-plugin-chart-parallel-coordinates/src/ParallelCoordinates.js
  plugins/legacy-plugin-chart-parallel-coordinates/src/ReactParallelCoordinates.js
  plugins/legacy-plugin-chart-parallel-coordinates/src/images/thumbnail.png
  plugins/legacy-plugin-chart-parallel-coordinates/src/images/thumbnailLarge.png
  plugins/legacy-plugin-chart-parallel-coordinates/src/index.js
  plugins/legacy-plugin-chart-parallel-coordinates/src/transformProps.js
  plugins/legacy-plugin-chart-parallel-coordinates/src/vendor/parcoords/d3.parcoords.css
  plugins/legacy-plugin-chart-parallel-coordinates/src/vendor/parcoords/d3.parcoords.js
  plugins/legacy-plugin-chart-parallel-coordinates/src/vendor/parcoords/divgrid.js
Due: core-packages, plugins

feat(legacy-plugin-chart-partition): migrate from another repo
  packages/superset-ui-demo/package.json
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-partition/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-partition/data.ts
  plugins/legacy-plugin-chart-partition/README.md
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-partition/src/Partition.css
  plugins/legacy-plugin-chart-partition/src/Partition.js
  plugins/legacy-plugin-chart-partition/src/ReactPartition.js
  plugins/legacy-plugin-chart-partition/src/images/thumbnail.png
  plugins/legacy-plugin-chart-partition/src/images/thumbnailLarge.png
  plugins/legacy-plugin-chart-partition/src/index.js
  plugins/legacy-plugin-chart-partition/src/transformProps.js
Due: core-packages, plugins

feat(legacy-plugin-chart-pivot-table): migrate from another repo
  packages/superset-ui-demo/package.json
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-pivot-table/Stories.tsx
  plugins/legacy-plugin-chart-pivot-table/README.md
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-pivot-table/src/PivotTable.js
  plugins/legacy-plugin-chart-pivot-table/src/ReactPivotTable.js
  plugins/legacy-plugin-chart-pivot-table/src/images/thumbnail.png
  plugins/legacy-plugin-chart-pivot-table/src/images/thumbnailLarge.png
  plugins/legacy-plugin-chart-pivot-table/src/index.js
  plugins/legacy-plugin-chart-pivot-table/src/transformProps.js
  plugins/legacy-plugin-chart-pivot-table/src/utils/fixTableHeight.js
Due: core-packages, plugins

build: add github workflow for build and test
  .github/workflows/ci.yml
Due: none

feat: try logging into npm
  .github/workflows/ci.yml
Due: none

fix: syntax
  .github/workflows/ci.yml
Due: none

fix: scope
  .github/workflows/ci.yml
Due: none

fix: change scope
  .github/workflows/ci.yml
Due: none

fix: lint
  plugins/legacy-plugin-chart-parallel-coordinates/src/ParallelCoordinates.js
  plugins/legacy-plugin-chart-partition/src/Partition.js
  plugins/legacy-plugin-chart-pivot-table/src/PivotTable.js
Due: plugins

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
