Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

codecov.yml:

coverage:
  status:
    project:
      target: 90%
      # send notification if coverage change exceed this threshold
      threshold: 5%
    core-packages:
      target: 100%
      flags: 
        - core-packages
    plugins:
      target: 50%
      flags: 
        - plugins

flags:
  core-packages:
    paths:
      - packages
  plugins:
    paths:
      - plugins

Revert formatter and change value before formatter
  plugins/legacy-plugin-chart-calendar/src/Calendar.js
Due: plugins

Add test
  plugins/legacy-plugin-chart-calendar/src/Calendar.js
  plugins/legacy-plugin-chart-calendar/src/utils.ts
  plugins/legacy-plugin-chart-calendar/test/utils.test.js
Due: plugins

typo
  plugins/legacy-plugin-chart-calendar/src/Calendar.js
  plugins/legacy-plugin-chart-calendar/src/utils.ts
  plugins/legacy-plugin-chart-calendar/test/utils.test.js
Due: plugins

add DND feature flag
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
Due: core-packages

feat: add dropGroupByControl
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  packages/superset-ui-chart-controls/src/types.ts
Due: core-packages

control rename to DndColumnSelectControl
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  packages/superset-ui-chart-controls/src/types.ts
Due: core-packages

wip
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
Due: core-packages

fix lint
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
Due: core-packages

feat(plugin-chart-echarts): add label date format for piechart
  plugins/plugin-chart-echarts/src/Pie/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Pie/types.ts
Due: plugins

feat(plugin-chart-echarts): add label date format for piechart
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/utils/series.ts
Due: plugins

switch to temporal
  plugins/plugin-chart-echarts/src/utils/series.ts
Due: plugins

chore: upgrade node to v14 (#970)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .nvmrc
  package.json
  yarn.lock
Due: none

chore: publish v0.17.11
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

Add date format for BoxPlot
  plugins/plugin-chart-echarts/src/BoxPlot/controlPanel.ts
  plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
Due: plugins

duplicate dnd control
  packages/superset-ui-chart-controls/src/shared-controls/dndControls.tsx
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
Due: core-packages

feat: change font size on responsive
  plugins/legacy-plugin-chart-sankey/src/Sankey.css
  plugins/legacy-plugin-chart-sankey/src/Sankey.js
  plugins/legacy-plugin-chart-sunburst/src/Sunburst.css
  plugins/legacy-plugin-chart-sunburst/src/Sunburst.js
Due: plugins

remove logs
  plugins/legacy-plugin-chart-sankey/src/Sankey.js
  plugins/legacy-plugin-chart-sunburst/src/Sunburst.js
Due: plugins

feat: add dropGroupByControl (#967)
  packages/superset-ui-chart-controls/src/shared-controls/dndControls.tsx
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  packages/superset-ui-chart-controls/src/types.ts
Due: core-packages

chore: publish v0.17.12
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

Sunburst
  plugins/legacy-plugin-chart-sunburst/src/Sunburst.css
  plugins/legacy-plugin-chart-sunburst/src/Sunburst.js
Due: plugins

WIP
  plugins/legacy-plugin-chart-sankey/src/Sankey.js
  plugins/legacy-plugin-chart-sunburst/src/Sunburst.css
Due: plugins

fix: remove duplicated group by field
  plugins/legacy-plugin-chart-paired-t-test/src/controlPanel.ts
Due: plugins

fix: remove duplicated group by field (#979)
  plugins/legacy-plugin-chart-paired-t-test/src/controlPanel.ts
Due: plugins

fix(SupersetClient): use new /api/v1/security/csrf_token/ endpoint
  packages/superset-ui-core/src/connection/SupersetClientClass.ts
  packages/superset-ui-core/test/chart/fixtures/constants.ts
  packages/superset-ui-core/test/connection/SupersetClientClass.test.ts
  packages/superset-ui-core/test/connection/fixtures/constants.ts
  packages/superset-ui-core/test/query/api/setupClientForTest.ts
Due: core-packages

update to match api response
  packages/superset-ui-core/test/chart/clients/ChartClient.test.ts
  packages/superset-ui-core/test/connection/SupersetClient.test.ts
  packages/superset-ui-core/test/connection/SupersetClientClass.test.ts
  packages/superset-ui-core/test/connection/callApi/callApi.test.ts
  packages/superset-ui-core/test/connection/callApi/callApiAndParseWithTimeout.test.ts
  packages/superset-ui-core/test/connection/callApi/parseResponse.test.ts
Due: core-packages

feat(self-trigger): add backend pagination for the table (#959)
  packages/superset-ui-core/src/chart/models/ChartProps.ts
  packages/superset-ui-core/src/chart/types/Base.ts
  packages/superset-ui-core/src/query/buildQueryObject.ts
  packages/superset-ui-core/src/query/types/QueryFormData.ts
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/DataTable/components/ServerPagination.tsx
  plugins/plugin-chart-table/src/DataTable/utils/externalAPIs.ts
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/buildQuery.ts
  plugins/plugin-chart-table/src/controlPanel.tsx
  plugins/plugin-chart-table/src/i18n.ts
  plugins/plugin-chart-table/src/transformProps.ts
  plugins/plugin-chart-table/src/types.ts
Due: core-packages, plugins

chore: publish v0.17.13
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

chore: translation strings in histogram display
  plugins/legacy-plugin-chart-histogram/src/Histogram.jsx
Due: plugins

feat: implement Filter dnd
  packages/superset-ui-chart-controls/src/shared-controls/dndControls.tsx
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  packages/superset-ui-chart-controls/src/types.ts
Due: core-packages

feat: implement Filter dnd (#978)
  packages/superset-ui-chart-controls/src/shared-controls/dndControls.tsx
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  packages/superset-ui-chart-controls/src/types.ts
Due: core-packages

feat(core): copy feature flags from main repo
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  packages/superset-ui-core/src/utils/featureFlags.ts
  packages/superset-ui-core/test/utils/featureFlag.test.ts
Due: core-packages

Fix
  plugins/legacy-plugin-chart-calendar/src/Calendar.js
Due: plugins

feat(core): copy feature flags from main repo (#982)
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  packages/superset-ui-core/src/utils/featureFlags.ts
  packages/superset-ui-core/test/utils/featureFlag.test.ts
Due: core-packages

refactor(SupersetClient): use new /api/v1/security/csrf_token/ endpoint (#980)
  packages/superset-ui-core/src/connection/SupersetClientClass.ts
  packages/superset-ui-core/test/chart/clients/ChartClient.test.ts
  packages/superset-ui-core/test/chart/fixtures/constants.ts
  packages/superset-ui-core/test/connection/SupersetClient.test.ts
  packages/superset-ui-core/test/connection/SupersetClientClass.test.ts
  packages/superset-ui-core/test/connection/callApi/callApi.test.ts
  packages/superset-ui-core/test/connection/callApi/callApiAndParseWithTimeout.test.ts
  packages/superset-ui-core/test/connection/callApi/parseResponse.test.ts
  packages/superset-ui-core/test/connection/fixtures/constants.ts
  packages/superset-ui-core/test/query/api/setupClientForTest.ts
Due: core-packages

Sankey label hide
  plugins/legacy-plugin-chart-sankey/src/Sankey.css
  plugins/legacy-plugin-chart-sankey/src/Sankey.js
  plugins/legacy-plugin-chart-sankey/src/tests/utils.test.js
  plugins/legacy-plugin-chart-sankey/src/utils.ts
Due: plugins

Format correct object
  plugins/legacy-plugin-chart-sankey/src/utils.ts
Due: plugins

Remove logs
  plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
Due: plugins

Revert PERCENTAGE THRESHOLD for pie chart
  plugins/plugin-chart-echarts/src/Pie/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Pie/types.ts
Due: plugins

feat: add BE pagination to table with pages
  packages/superset-ui-core/src/query/buildQueryContext.ts
  packages/superset-ui-core/src/query/types/Query.ts
  plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  plugins/plugin-chart-table/src/DataTable/components/SelectPageSize.tsx
  plugins/plugin-chart-table/src/DataTable/components/ServerPagination.tsx
  plugins/plugin-chart-table/src/DataTable/utils/externalAPIs.ts
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/buildQuery.ts
  plugins/plugin-chart-table/src/index.ts
  plugins/plugin-chart-table/src/transformProps.ts
  plugins/plugin-chart-table/src/types.ts
Due: core-packages, plugins

test: update tests
  plugins/plugin-chart-table/test/buildQuery.test.ts
Due: plugins
