Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

test: refactor tests
  plugins/plugin-chart-waterfall/test/components/Waterfall.test.tsx
Due: plugins

lint: fix lint
  plugins/plugin-chart-waterfall/test/components/Waterfall.test.tsx
Due: plugins

refactor: rename main chart file
  plugins/plugin-chart-waterfall/src/components/WaterfallChart.tsx
  plugins/plugin-chart-waterfall/src/plugin/index.ts
  plugins/plugin-chart-waterfall/src/plugin/transformProps.ts
  plugins/plugin-chart-waterfall/test/components/Waterfall.test.tsx
Due: plugins

lint: fix lint
  plugins/plugin-chart-waterfall/test/components/WaterfallChart.test.tsx
Due: plugins

rename imports
  plugins/plugin-chart-waterfall/src/plugin/transformProps.ts
Due: plugins

Update ReactNVD3.jsx
  plugins/legacy-preset-chart-nvd3/src/ReactNVD3.jsx
Due: plugins

feat: improve world map colors
  plugins/legacy-plugin-chart-world-map/src/WorldMap.js
  plugins/legacy-plugin-chart-world-map/src/controlPanel.js
  plugins/legacy-plugin-chart-world-map/src/transformProps.js
Due: plugins

fix: dist bar will render value multi times
  plugins/legacy-preset-chart-nvd3/src/utils.js
Due: plugins

fix: dist bar will render value multi times
  package.json
Due: none

fix: dist bar will render value multi times
  yarn.lock
Due: none

sqrt
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-plugin-chart-world-map/src/WorldMap.js
  plugins/legacy-plugin-chart-world-map/src/transformProps.js
Due: plugins

feat(legacy-plugin-chart-sunburst): add linear color scheme
  plugins/legacy-plugin-chart-sunburst/src/Sunburst.js
  plugins/legacy-plugin-chart-sunburst/src/controlPanel.ts
  plugins/legacy-plugin-chart-sunburst/src/transformProps.js
Due: plugins

fix: add timeout value to error details in rejectAfterTimeout
  packages/superset-ui-connection/src/callApi/rejectAfterTimeout.ts
Due: core-packages

Update callApiAndParseWithTimeout.test.ts
  packages/superset-ui-connection/test/callApi/callApiAndParseWithTimeout.test.ts
Due: core-packages

feat(legacy-plugin-chart-sunburst): add linear color scheme (#714)
  plugins/legacy-plugin-chart-sunburst/src/Sunburst.js
  plugins/legacy-plugin-chart-sunburst/src/controlPanel.ts
  plugins/legacy-plugin-chart-sunburst/src/transformProps.js
Due: plugins

chore: publish v0.14.18
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
Due: core-packages, plugins

fix: add timeout value to error details in rejectAfterTimeout (#715)
  packages/superset-ui-connection/src/callApi/rejectAfterTimeout.ts
  packages/superset-ui-connection/test/callApi/callApiAndParseWithTimeout.test.ts
Due: core-packages

chore: publish v0.14.19
  lerna.json
  packages/superset-ui-connection/package.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-superset-ui/package.json
Due: core-packages

feat(plugin-chart-table): add translate to chart elements
  plugins/plugin-chart-table/src/DataTable/components/SelectPageSize.tsx
Due: plugins

feat: style pkg exports emotion's css module
  packages/superset-ui-style/src/index.ts
Due: core-packages

feat: style pkg exports emotion's css module (#718)
  packages/superset-ui-style/src/index.ts
Due: core-packages

feat: add bar chart
  plugins/plugin-chart-bar/README.md
  plugins/plugin-chart-bar/package.json
  plugins/plugin-chart-bar/src/components/BarChart.tsx
  plugins/plugin-chart-bar/src/components/BarChartTick.tsx
  plugins/plugin-chart-bar/src/components/BarChartTooltip.tsx
  plugins/plugin-chart-bar/src/components/utils.tsx
  plugins/plugin-chart-bar/src/images/thumbnail.png
  plugins/plugin-chart-bar/src/index.ts
  plugins/plugin-chart-bar/src/plugin/buildQuery.ts
  plugins/plugin-chart-bar/src/plugin/controlPanel.ts
  plugins/plugin-chart-bar/src/plugin/index.ts
  plugins/plugin-chart-bar/src/plugin/transformProps.ts
  plugins/plugin-chart-bar/test/components/BarChart.test.tsx
  plugins/plugin-chart-bar/test/index.test.ts
  plugins/plugin-chart-bar/test/mocks/barChartData.ts
  plugins/plugin-chart-bar/types/external.d.ts
Due: plugins

remove uuid from package.json
  package.json
Due: none

improve typing and tests
  plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
  plugins/plugin-chart-echarts/src/utils.ts
  plugins/plugin-chart-echarts/test/index.test.ts
  plugins/plugin-chart-echarts/test/plugin/buildQuery.test.ts
  plugins/plugin-chart-echarts/test/plugin/transformProps.test.ts
  plugins/plugin-chart-echarts/test/plugin/utils.test.ts
  yarn.lock
Due: plugins

addressing comment
  plugins/legacy-plugin-chart-world-map/package.json
Due: plugins

ad d3-color
  plugins/legacy-plugin-chart-world-map/package.json
Due: plugins

build: upgrade codecov-action and disable failing_ci_if_error
  .github/workflows/ci.yml
Due: none

build: add codecov token
  .github/workflows/ci.yml
Due: none

chore: remove useless env variable
  .github/workflows/ci.yml
Due: none

build: use codecov bash script
  .github/workflows/ci.yml
Due: none

Make sure env variables exist
  .github/workflows/ci.yml
Due: none

another try
  .github/workflows/ci.yml
Due: none

where is the env variable?
  .github/workflows/ci.yml
Due: none

add rebasing to forecasts
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/types.ts
  plugins/plugin-chart-echarts/src/utils.ts
  plugins/plugin-chart-echarts/test/Timeseries/buildQuery.test.ts
  plugins/plugin-chart-echarts/test/Timeseries/transformProps.test.ts
  plugins/plugin-chart-echarts/test/utils.test.ts
Due: plugins

improve stacking etc
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Due: plugins

Remove ENV variable GITHUB_ACTION
  .github/workflows/ci.yml
Due: none

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
