Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

codecov.yml:

coverage:
  status:
    project:
      target: 90%
      # send notification if coverage change exceed this threshold
      threshold: 5%
    core-packages:
      target: 100%
      flags: 
        - core-packages
    plugins:
      target: 50%
      flags: 
        - plugins

flags:
  core-packages:
    paths:
      - packages
  plugins:
    paths:
      - plugins

Rename JSONObject to StrictJsonObject
  packages/superset-ui-connection/src/callApi/callApi.ts
  packages/superset-ui-connection/src/types.ts
  packages/superset-ui-connection/test/callApi/callApi.test.ts
Due: core-packages

feat(connection): easier API for json payload
  packages/superset-ui-chart/src/clients/ChartClient.ts
  packages/superset-ui-connection/src/SupersetClientClass.ts
  packages/superset-ui-connection/src/callApi/callApi.ts
  packages/superset-ui-connection/src/types.ts
  packages/superset-ui-connection/test/callApi/callApi.test.ts
  packages/superset-ui-demo/storybook/shared/components/VerifyCORS.tsx
  packages/superset-ui-demo/storybook/stories/superset-ui-connection/ConnectionStories.tsx
  packages/superset-ui-query/src/api/types.ts
  packages/superset-ui-query/src/api/v1/postChartData.ts
Due: core-packages

Rename a variable
  packages/superset-ui-chart/src/clients/ChartClient.ts
  packages/superset-ui-connection/src/SupersetClientClass.ts
  packages/superset-ui-connection/src/callApi/callApi.ts
  packages/superset-ui-connection/src/types.ts
  packages/superset-ui-connection/test/callApi/callApi.test.ts
  packages/superset-ui-query/src/api/v1/postChartData.ts
Due: core-packages

Add other json types
  packages/superset-ui-connection/src/types.ts
Due: core-packages

Add comment for StrictJsonObject
  packages/superset-ui-connection/src/types.ts
Due: core-packages

feat(connection): easier API for json payload (#634)
  package.json
  packages/superset-ui-chart/src/clients/ChartClient.ts
  packages/superset-ui-connection/src/SupersetClientClass.ts
  packages/superset-ui-connection/src/callApi/callApi.ts
  packages/superset-ui-connection/src/types.ts
  packages/superset-ui-connection/test/callApi/callApi.test.ts
  packages/superset-ui-connection/test/callApi/callApiAndParseWithTimeout.test.ts
  packages/superset-ui-demo/storybook/shared/components/VerifyCORS.tsx
  packages/superset-ui-demo/storybook/stories/superset-ui-connection/ConnectionStories.tsx
  packages/superset-ui-query/src/api/types.ts
  packages/superset-ui-query/src/api/v1/postChartData.ts
Due: core-packages

Better generic types
  packages/superset-ui-connection/src/SupersetClientClass.ts
  packages/superset-ui-connection/src/callApi/callApiAndParseWithTimeout.ts
  packages/superset-ui-connection/src/callApi/parseResponse.ts
  packages/superset-ui-connection/src/types.ts
  packages/superset-ui-connection/test/SupersetClientClass.test.ts
  packages/superset-ui-connection/test/callApi/parseResponse.test.ts
  packages/superset-ui-query/src/api/legacy/fetchExploreJson.ts
  packages/superset-ui-query/src/api/legacy/getDatasourceMetadata.ts
  packages/superset-ui-query/src/api/legacy/getFormData.ts
Due: core-packages

Convert all to async functions
  packages/superset-ui-connection/src/SupersetClientClass.ts
  packages/superset-ui-connection/src/callApi/callApi.ts
  packages/superset-ui-connection/src/callApi/callApiAndParseWithTimeout.ts
  packages/superset-ui-connection/src/callApi/parseResponse.ts
  packages/superset-ui-connection/src/callApi/rejectAfterTimeout.ts
  packages/superset-ui-connection/src/types.ts
  packages/superset-ui-connection/test/callApi/parseResponse.test.ts
  packages/superset-ui-query/src/api/legacy/fetchExploreJson.ts
  packages/superset-ui-query/src/api/legacy/getFormData.ts
Due: core-packages

Migrate all to async
  packages/superset-ui-connection/src/callApi/callApi.ts
  packages/superset-ui-connection/test/SupersetClient.test.ts
  packages/superset-ui-connection/test/SupersetClientClass.test.ts
  packages/superset-ui-connection/test/callApi/callApi.test.ts
  packages/superset-ui-connection/test/callApi/callApiAndParseWithTimeout.test.ts
  packages/superset-ui-connection/test/callApi/parseResponse.test.ts
  packages/superset-ui-connection/test/fixtures/constants.ts
Due: core-packages

Get rid of throwIfCalled
  packages/superset-ui-connection/test/SupersetClient.test.ts
  packages/superset-ui-connection/test/callApi/callApi.test.ts
  packages/superset-ui-connection/test/callApi/parseResponse.test.ts
  packages/superset-ui-connection/test/callApi/rejectAfterTimeout.test.ts
  packages/superset-ui-connection/test/utils/throwIfCalled.ts
Due: core-packages

Revert changes to query
  packages/superset-ui-query/src/api/legacy/fetchExploreJson.ts
  packages/superset-ui-query/src/api/legacy/getDatasourceMetadata.ts
  packages/superset-ui-query/src/api/legacy/getFormData.ts
  packages/superset-ui-query/src/extractQueryFields.ts
  packages/superset-ui-query/src/types/QueryFormData.ts
Due: core-packages

feat(connection): stronger typing and optimized API
  packages/superset-ui-chart/test/components/MockChartPlugins.tsx
  packages/superset-ui-connection/src/SupersetClient.ts
  packages/superset-ui-connection/src/SupersetClientClass.ts
  packages/superset-ui-connection/src/callApi/callApi.ts
  packages/superset-ui-connection/src/callApi/callApiAndParseWithTimeout.ts
  packages/superset-ui-connection/src/callApi/parseResponse.ts
  packages/superset-ui-connection/src/types.ts
  packages/superset-ui-connection/test/SupersetClient.test.ts
  packages/superset-ui-connection/test/SupersetClientClass.test.ts
  packages/superset-ui-connection/test/callApi/callApi.test.ts
  packages/superset-ui-connection/test/callApi/callApiAndParseWithTimeout.test.ts
  packages/superset-ui-connection/test/callApi/parseResponse.test.ts
  packages/superset-ui-demo/storybook/shared/components/ErrorMessage.tsx
  packages/superset-ui-demo/storybook/stories/superset-ui-chart/ChartDataProviderStories.tsx
  packages/superset-ui-demo/storybook/stories/superset-ui-connection/ConnectionStories.tsx
  packages/superset-ui-query/src/extractQueryFields.ts
  packages/superset-ui-query/src/types/QueryFormData.ts
Due: core-packages

Clean up
  packages/superset-ui-connection/src/types.ts
Due: core-packages

chore(plugin-chart-table): fix typo and formatting
  plugins/plugin-chart-table/src/transformProps.ts
Due: plugins

feat(connection): optimize typing and API for SupersetClient (#635)
  packages/superset-ui-chart/test/components/MockChartPlugins.tsx
  packages/superset-ui-connection/src/SupersetClient.ts
  packages/superset-ui-connection/src/SupersetClientClass.ts
  packages/superset-ui-connection/src/callApi/callApi.ts
  packages/superset-ui-connection/src/callApi/callApiAndParseWithTimeout.ts
  packages/superset-ui-connection/src/callApi/parseResponse.ts
  packages/superset-ui-connection/src/callApi/rejectAfterTimeout.ts
  packages/superset-ui-connection/src/types.ts
  packages/superset-ui-connection/test/SupersetClient.test.ts
  packages/superset-ui-connection/test/SupersetClientClass.test.ts
  packages/superset-ui-connection/test/callApi/callApi.test.ts
  packages/superset-ui-connection/test/callApi/callApiAndParseWithTimeout.test.ts
  packages/superset-ui-connection/test/callApi/parseResponse.test.ts
  packages/superset-ui-connection/test/callApi/rejectAfterTimeout.test.ts
  packages/superset-ui-connection/test/fixtures/constants.ts
  packages/superset-ui-connection/test/utils/throwIfCalled.ts
  packages/superset-ui-demo/storybook/shared/components/ErrorMessage.tsx
  packages/superset-ui-demo/storybook/stories/superset-ui-chart/ChartDataProviderStories.tsx
  packages/superset-ui-demo/storybook/stories/superset-ui-connection/ConnectionStories.tsx
Due: core-packages

feat(query): add makeApi API generator
  packages/superset-ui-demo/storybook/shared/components/VerifyCORS.tsx
  packages/superset-ui-query/README.md
  packages/superset-ui-query/src/api/legacy/fetchExploreJson.ts
  packages/superset-ui-query/src/api/legacy/getDatasourceMetadata.ts
  packages/superset-ui-query/src/api/legacy/getFormData.ts
  packages/superset-ui-query/src/api/legacy/index.ts
  packages/superset-ui-query/src/api/legacy/types.ts
  packages/superset-ui-query/src/api/types.ts
  packages/superset-ui-query/src/api/v1/handleError.ts
  packages/superset-ui-query/src/api/v1/index.ts
  packages/superset-ui-query/src/api/v1/makeApi.ts
  packages/superset-ui-query/src/api/v1/postChartData.ts
  packages/superset-ui-query/src/api/v1/types.ts
  packages/superset-ui-query/src/extractQueryFields.ts
  packages/superset-ui-query/src/types/QueryFormData.ts
  packages/superset-ui-query/test/api/v1/getChartData.test.ts
  packages/superset-ui-query/test/api/v1/handleError.test.ts
  packages/superset-ui-query/test/api/v1/makeApi.test.ts
  packages/superset-ui-query/test/api/v1/postChartData.test.ts
Due: core-packages

Add support for searchParams
  packages/superset-ui-connection/src/SupersetClientClass.ts
  packages/superset-ui-connection/src/callApi/callApi.ts
  packages/superset-ui-connection/src/callApi/parseResponse.ts
  packages/superset-ui-connection/src/types.ts
  packages/superset-ui-query/src/api/legacy/fetchExploreJson.ts
  packages/superset-ui-query/src/api/v1/makeApi.ts
  packages/superset-ui-query/src/api/v1/types.ts
  packages/superset-ui-query/test/api/legacy/fetchExploreJson.test.ts
  packages/superset-ui-query/test/api/legacy/getDatasourceMetadata.test.ts
  packages/superset-ui-query/test/api/legacy/getFormData.test.ts
  packages/superset-ui-query/test/api/setupClientForTest.ts
  packages/superset-ui-query/test/api/v1/makeApi.test.ts
Due: core-packages

Add 100% coverage for callApi
  packages/superset-ui-connection/src/SupersetClientClass.ts
  packages/superset-ui-connection/src/callApi/callApi.ts
  packages/superset-ui-connection/test/callApi/callApi.test.ts
Due: core-packages

Add const DEFAULT_BASE_URL
  packages/superset-ui-connection/src/SupersetClientClass.ts
  packages/superset-ui-connection/src/callApi/callApi.ts
  packages/superset-ui-connection/src/constants.ts
Due: core-packages

Adjust ESLint ignore rule for tests
  package.json
Due: none

Clean up
  packages/superset-ui-connection/src/SupersetClientClass.ts
  packages/superset-ui-connection/src/callApi/callApi.ts
  packages/superset-ui-connection/test/SupersetClientClass.test.ts
Due: core-packages

Hit 100% coverage
  packages/superset-ui-connection/test/callApi/callApi.test.ts
  packages/superset-ui-query/src/api/v1/handleError.ts
  packages/superset-ui-query/src/api/v1/makeApi.ts
  packages/superset-ui-query/src/api/v1/types.ts
  packages/superset-ui-query/test/api/v1/handleError.test.ts
  packages/superset-ui-query/test/api/v1/makeApi.test.ts
Due: core-packages

Return raw error response
  packages/superset-ui-query/src/api/v1/handleError.ts
  packages/superset-ui-query/src/api/v1/types.ts
Due: core-packages

feat: update timeout code to return new error format
  packages/superset-ui-connection/src/callApi/rejectAfterTimeout.ts
  packages/superset-ui-connection/test/callApi/callApiAndParseWithTimeout.test.ts
Due: core-packages

Update package.json
  plugins/legacy-plugin-chart-world-map/package.json
Due: plugins

Adding support query params for 'GET' request
  packages/superset-ui-query/src/api/legacy/fetchExploreJson.ts
Due: core-packages

Fixing params so that its formatted as PascalCase
  packages/superset-ui-query/src/api/legacy/fetchExploreJson.ts
Due: core-packages

add emotion style and suggestions
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-time-table/src/TimeTable.less
  plugins/legacy-plugin-chart-time-table/src/TimeTable.tsx
  plugins/legacy-plugin-chart-time-table/src/controlPanel.ts
  plugins/legacy-plugin-chart-time-table/src/transformProps.ts
  plugins/legacy-plugin-chart-time-table/types/external.d.ts
Due: plugins

More robust error handler
  packages/superset-ui-query/src/api/v1/handleError.ts
  packages/superset-ui-query/src/api/v1/makeApi.ts
  packages/superset-ui-query/src/api/v1/types.ts
  packages/superset-ui-query/test/api/v1/handleError.test.ts
Due: core-packages

chore: migrate time table chart from superset-frontend (#630)
  plugins/legacy-plugin-chart-time-table/README.md
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-time-table/src/FormattedNumber.tsx
  plugins/legacy-plugin-chart-time-table/src/SparklineCell.tsx
  plugins/legacy-plugin-chart-time-table/src/TimeTable.tsx
  plugins/legacy-plugin-chart-time-table/src/TimeTableChartPlugin.ts
  plugins/legacy-plugin-chart-time-table/src/controlPanel.ts
  plugins/legacy-plugin-chart-time-table/src/images/thumbnail.png
  plugins/legacy-plugin-chart-time-table/src/images/thumbnailLarge.png
  plugins/legacy-plugin-chart-time-table/src/index.ts
  plugins/legacy-plugin-chart-time-table/src/transformProps.ts
  plugins/legacy-plugin-chart-time-table/types/external.d.ts
  yarn.lock
Due: plugins

feat(query): add `makeApi` API generator (#666)
  package.json
  packages/superset-ui-connection/src/SupersetClientClass.ts
  packages/superset-ui-connection/src/callApi/callApi.ts
  packages/superset-ui-connection/src/callApi/parseResponse.ts
  packages/superset-ui-connection/src/constants.ts
  packages/superset-ui-connection/src/types.ts
  packages/superset-ui-connection/test/SupersetClientClass.test.ts
  packages/superset-ui-connection/test/callApi/callApi.test.ts
  packages/superset-ui-demo/storybook/shared/components/VerifyCORS.tsx
  packages/superset-ui-query/README.md
  packages/superset-ui-query/src/api/legacy/fetchExploreJson.ts
  packages/superset-ui-query/src/api/legacy/getDatasourceMetadata.ts
  packages/superset-ui-query/src/api/legacy/getFormData.ts
  packages/superset-ui-query/src/api/legacy/index.ts
  packages/superset-ui-query/src/api/legacy/types.ts
  packages/superset-ui-query/src/api/types.ts
  packages/superset-ui-query/src/api/v1/handleError.ts
  packages/superset-ui-query/src/api/v1/index.ts
  packages/superset-ui-query/src/api/v1/makeApi.ts
  packages/superset-ui-query/src/api/v1/postChartData.ts
  packages/superset-ui-query/src/api/v1/types.ts
  packages/superset-ui-query/src/extractQueryFields.ts
  packages/superset-ui-query/src/types/QueryFormData.ts
  packages/superset-ui-query/test/api/legacy/fetchExploreJson.test.ts
  packages/superset-ui-query/test/api/legacy/getDatasourceMetadata.test.ts
  packages/superset-ui-query/test/api/legacy/getFormData.test.ts
  packages/superset-ui-query/test/api/setupClientForTest.ts
  packages/superset-ui-query/test/api/v1/getChartData.test.ts
  packages/superset-ui-query/test/api/v1/handleError.test.ts
  packages/superset-ui-query/test/api/v1/makeApi.test.ts
  packages/superset-ui-query/test/api/v1/postChartData.test.ts
Due: core-packages

update comment again
  plugins/plugin-chart-table/src/transformProps.ts
Due: plugins

update comment
  plugins/plugin-chart-table/src/transformProps.ts
Due: plugins

fix(plugin-chart-table): pagination spacing in dashboards
  plugins/plugin-chart-table/src/Styles.tsx
  plugins/plugin-chart-table/test/TableChart.test.tsx
Due: plugins

fix(plugin-chart-table): sort and search time column
  plugins/plugin-chart-table/src/transformProps.ts
  plugins/plugin-chart-table/test/TableChart.test.tsx
Due: plugins

Extract DateWithFormatter to a separate file
  plugins/plugin-chart-table/src/transformProps.ts
  plugins/plugin-chart-table/src/utils/DateWithFormatter.ts
  plugins/plugin-chart-table/test/TableChart.test.tsx
  yarn.lock
Due: plugins

fix(plugin-chart-table): sort and search time column (#669)
  plugins/plugin-chart-table/src/Styles.tsx
  plugins/plugin-chart-table/src/transformProps.ts
  plugins/plugin-chart-table/src/utils/DateWithFormatter.ts
  plugins/plugin-chart-table/test/TableChart.test.tsx
  yarn.lock
Due: plugins
