Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

Add Echart component
  plugins/plugin-chart-echarts/src/Pie/EchartsPie.tsx
  plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  plugins/plugin-chart-echarts/src/components/Echart.tsx
Due: plugins

bump echarts to 4.9.0
  plugins/plugin-chart-echarts/package.json
Due: plugins

clean up Echart component
  plugins/plugin-chart-echarts/src/components/Echart.tsx
Due: plugins

add storybook
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/data.ts
  plugins/plugin-chart-echarts/README.md
  yarn.lock
Due: core-packages, plugins

feat(legacy-preset-chart-nvd3): add zero imputation
  plugins/legacy-plugin-chart-pivot-table/src/controlPanel.js
  plugins/legacy-preset-chart-nvd3/src/NVD3Controls.tsx
Due: plugins

replace radios with boolean
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Stories.tsx
Due: core-packages

fix(style): throw if there is no theme
  packages/superset-ui-style/src/index.ts
Due: core-packages

tests
  packages/superset-ui-style/package.json
  packages/superset-ui-style/src/index.ts
  packages/superset-ui-style/test/index.test.ts
  packages/superset-ui-style/test/index.test.tsx
Due: core-packages

factor out SupersetTheme type
  packages/superset-ui-style/src/index.ts
Due: core-packages

address review comments
  plugins/plugin-chart-echarts/src/Pie/EchartsPie.tsx
  plugins/plugin-chart-echarts/src/Pie/buildQuery.ts
  plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
Due: plugins

feat: Add ECharts Timeseries plugin (#737)
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/data.ts
  plugins/plugin-chart-echarts/README.md
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-echarts/src/Pie/EchartsPie.tsx
  plugins/plugin-chart-echarts/src/Pie/buildQuery.ts
  plugins/plugin-chart-echarts/src/Pie/controlPanel.ts
  plugins/plugin-chart-echarts/src/Pie/images/thumbnail.png
  plugins/plugin-chart-echarts/src/Pie/index.ts
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Pie/types.ts
  plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.ts
  plugins/plugin-chart-echarts/src/Timeseries/images/thumbnail.png
  plugins/plugin-chart-echarts/src/Timeseries/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
  plugins/plugin-chart-echarts/src/components/Echart.tsx
  plugins/plugin-chart-echarts/src/index.ts
  plugins/plugin-chart-echarts/src/types.ts
  plugins/plugin-chart-echarts/src/utils/prophet.ts
  plugins/plugin-chart-echarts/src/utils/series.ts
  plugins/plugin-chart-echarts/test/Timeseries/buildQuery.test.ts
  plugins/plugin-chart-echarts/test/Timeseries/transformProps.test.ts
  plugins/plugin-chart-echarts/test/index.test.ts
  plugins/plugin-chart-echarts/test/utils/prophet.test.ts
  plugins/plugin-chart-echarts/test/utils/series.test.ts
  plugins/plugin-chart-echarts/types/external.d.ts
  plugins/plugin-chart-word-cloud/test/plugin/buildQuery.test.ts
  yarn.lock
Due: core-packages, plugins

fix test
  packages/superset-ui-style/src/index.ts
  packages/superset-ui-style/test/index.test.tsx
Due: core-packages

fix(style): throw if there is no theme (#761)
  packages/superset-ui-style/package.json
  packages/superset-ui-style/src/index.ts
  packages/superset-ui-style/test/index.test.ts
  packages/superset-ui-style/test/index.test.tsx
Due: core-packages

add `tooltip.confine = true`
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Due: plugins

add `tooltip.confine = true` (#764)
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Due: plugins

Improve test coverage for chart controls
  packages/superset-ui-chart-controls/src/types.ts
  packages/superset-ui-chart-controls/src/utils/expandControlConfig.tsx
  packages/superset-ui-chart-controls/test/utils/columnChoices.test.tsx
  packages/superset-ui-chart-controls/test/utils/expandControlConfig.test.tsx
Due: core-packages

Help me get 100% coverage
  packages/superset-ui-chart-controls/test/utils/columnChoices.test.tsx
Due: core-packages

fix(legacy-preset-chart-nvd3): remove unnecessary control override
  plugins/legacy-preset-chart-nvd3/src/Area/controlPanel.ts
Due: plugins

fix(legacy-preset-chart-nvd3): remove unnecessary control override (#767)
  plugins/legacy-preset-chart-nvd3/src/Area/controlPanel.ts
Due: plugins

chore: publish v0.15.0
  lerna.json
  packages/generator-superset/package.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

build: enable skipLibCheck for tsc
  package.json
  plugins/legacy-plugin-chart-calendar/tsconfig.json
  plugins/legacy-plugin-chart-chord/tsconfig.json
  plugins/legacy-plugin-chart-country-map/tsconfig.json
  plugins/legacy-plugin-chart-event-flow/tsconfig.json
  plugins/legacy-plugin-chart-force-directed/tsconfig.json
  plugins/legacy-plugin-chart-heatmap/tsconfig.json
  plugins/legacy-plugin-chart-histogram/tsconfig.json
  plugins/legacy-plugin-chart-horizon/tsconfig.json
  plugins/legacy-plugin-chart-map-box/tsconfig.json
  plugins/legacy-plugin-chart-paired-t-test/tsconfig.json
  plugins/legacy-plugin-chart-parallel-coordinates/tsconfig.json
  plugins/legacy-plugin-chart-partition/tsconfig.json
  plugins/legacy-plugin-chart-pivot-table/tsconfig.json
  plugins/legacy-plugin-chart-rose/tsconfig.json
  plugins/legacy-plugin-chart-sankey-loop/tsconfig.json
  plugins/legacy-plugin-chart-sankey/tsconfig.json
  plugins/legacy-plugin-chart-sunburst/tsconfig.json
  plugins/legacy-plugin-chart-time-table/tsconfig.json
  plugins/legacy-plugin-chart-treemap/tsconfig.json
  plugins/legacy-plugin-chart-world-map/tsconfig.json
  plugins/legacy-preset-chart-big-number/tsconfig.json
  plugins/legacy-preset-chart-nvd3/tsconfig.json
  plugins/plugin-chart-choropleth-map/tsconfig.json
  plugins/plugin-chart-echarts/tsconfig.json
  plugins/plugin-chart-table/tsconfig.json
  plugins/plugin-chart-word-cloud/tsconfig.json
  plugins/preset-chart-xy/tsconfig.json
  tsconfig.options.json
Due: plugins

improve tsc configs
  package.json
  scripts/build.js
  tsconfig.options.json
Due: none

feat: finish ECharts pie chart
  plugins/legacy-preset-chart-nvd3/src/Pie/controlPanel.ts
  plugins/plugin-chart-echarts/src/Pie/controlPanel.ts
  plugins/plugin-chart-echarts/src/Pie/images/thumbnail.png
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Pie/types.ts
  plugins/plugin-chart-echarts/src/utils/formatters.ts
  plugins/plugin-chart-echarts/src/utils/series.ts
  plugins/plugin-chart-echarts/test/utils/formatters.test.ts
  plugins/plugin-chart-echarts/test/utils/series.test.ts
Due: plugins

add and improve tests
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
  plugins/plugin-chart-echarts/test/Pie/buildQuery.test.ts
  plugins/plugin-chart-echarts/test/Pie/transformProps.test.ts
Due: plugins

move metadata into constructor
  plugins/plugin-chart-echarts/src/Pie/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/index.ts
Due: plugins

rename to more appropriate name
  plugins/legacy-plugin-chart-pivot-table/src/controlPanel.js
  plugins/legacy-preset-chart-nvd3/src/NVD3Controls.tsx
Due: plugins

chore: move @types/react to peerDependencies
  packages/superset-ui-core/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
Due: core-packages, plugins

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
