Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

yarn alphabetizing peerDependencies
  plugins/plugin-chart-echarts/package.json
Due: plugins

fix(plugin-chart-table): value undefined when table name has dot
  packages/superset-ui-chart-composition/package.json
  packages/superset-ui-chart/package.json
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/testData.ts
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/test/TableChart.test.tsx
  plugins/plugin-chart-table/test/testData.ts
  plugins/plugin-chart-word-cloud/package.json
  scripts/build.js
  temporary-plugins/package.json
  temporary-plugins/superset-ui-plugins-demo/package.json
  yarn.lock
Due: core-packages, plugins

Upgrade react everywhere
  yarn.lock
Due: none

add comment
  plugins/plugin-chart-table/src/TableChart.tsx
Due: plugins

fix(plugin-chart-table): value undefined when table name has dot (#686)
  packages/superset-ui-chart-composition/package.json
  packages/superset-ui-chart/package.json
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/testData.ts
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/test/TableChart.test.tsx
  plugins/plugin-chart-table/test/testData.ts
  plugins/plugin-chart-word-cloud/package.json
  scripts/build.js
  temporary-plugins/package.json
  temporary-plugins/superset-ui-plugins-demo/package.json
  yarn.lock
Due: core-packages, plugins

chore: publish v0.14.11
  lerna.json
  packages/superset-ui-chart-composition/package.json
  packages/superset-ui-chart/package.json
  packages/superset-ui-connection/package.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-superset-ui/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
Due: core-packages, plugins

fixing Pie chart typing
  plugins/plugin-chart-echarts/src/Pie/EchartsPie.tsx
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Pie/types.ts
Due: plugins

less enthusiasm
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.ts
Due: plugins

fixing resize and data redraw quirks
  plugins/plugin-chart-echarts/src/Pie/EchartsPie.tsx
  plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
Due: plugins

fixing zoom display quirks
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Due: plugins

Update package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
Due: plugins

Update index.js
  plugins/legacy-plugin-chart-parallel-coordinates/src/index.js
Due: plugins

fix: implement extra filter logic
  packages/superset-ui-query/src/buildQueryObject.ts
  packages/superset-ui-query/src/processExtraFilters.ts
  packages/superset-ui-query/src/processExtras.ts
  packages/superset-ui-query/src/processFilters.ts
  packages/superset-ui-query/src/types/Query.ts
  packages/superset-ui-query/src/types/QueryFormData.ts
  packages/superset-ui-query/test/processExtraFilters.test.ts
Due: core-packages

fix bugs and add tests
  packages/superset-ui-query/src/buildQueryObject.ts
  packages/superset-ui-query/src/processExtraFilters.ts
  packages/superset-ui-query/src/processExtras.ts
  packages/superset-ui-query/src/processFilters.ts
  packages/superset-ui-query/src/types/Query.ts
  packages/superset-ui-query/test/processExtraFilters.test.ts
  packages/superset-ui-query/test/processExtras.test.ts
  packages/superset-ui-query/test/processFilters.test.ts
  plugins/plugin-chart-word-cloud/src/plugin/buildQuery.ts
Due: core-packages, plugins

remove redundant changes
  packages/superset-ui-query/src/types/Query.ts
  plugins/plugin-chart-word-cloud/src/plugin/buildQuery.ts
Due: core-packages, plugins

improve types
  packages/superset-ui-query/src/buildQueryObject.ts
  packages/superset-ui-query/src/extractExtras.ts
  packages/superset-ui-query/src/processFilters.ts
  packages/superset-ui-query/src/types/QueryFormData.ts
  packages/superset-ui-query/test/extractExtras.test.ts
Due: core-packages

fix coverage
  packages/superset-ui-query/src/types/QueryFormData.ts
Due: core-packages

improve codevov
  packages/superset-ui-query/test/processFilters.test.ts
Due: core-packages

convert nvd3 to emotion style
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.css
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
  plugins/legacy-preset-chart-nvd3/src/ReactNVD3.js
  plugins/legacy-preset-chart-nvd3/src/ReactNVD3.jsx
Due: plugins

update package
  plugins/legacy-preset-chart-nvd3/package.json
Due: plugins

fix: implement extra filter logic (#688)
  packages/superset-ui-query/src/buildQueryObject.ts
  packages/superset-ui-query/src/extractExtras.ts
  packages/superset-ui-query/src/processExtras.ts
  packages/superset-ui-query/src/processFilters.ts
  packages/superset-ui-query/src/types/Query.ts
  packages/superset-ui-query/src/types/QueryFormData.ts
  packages/superset-ui-query/test/extractExtras.test.ts
  packages/superset-ui-query/test/processFilters.test.ts
  plugins/plugin-chart-word-cloud/src/plugin/buildQuery.ts
Due: core-packages, plugins

chore: publish v0.14.12
  lerna.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-query/package.json
  packages/superset-ui-superset-ui/package.json
  plugins/plugin-chart-word-cloud/package.json
Due: core-packages, plugins

fix(legacy-plugin-chart-treemap): incorrect template literal
  plugins/legacy-plugin-chart-treemap/src/Treemap.js
Due: plugins

fix(legacy-plugin-chart-treemap): incorrect template literal (#693)
  plugins/legacy-plugin-chart-treemap/src/Treemap.js
Due: plugins

chore: publish v0.14.13
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-treemap/package.json
Due: core-packages, plugins

fix(legacy-plugin-chart-pivot-table): formatting non-numeric values
  plugins/legacy-plugin-chart-pivot-table/src/PivotTable.js
Due: plugins

simplify logic
  plugins/legacy-plugin-chart-pivot-table/src/PivotTable.js
Due: plugins

feat(legacy-plugin-chart-rose): add time grain
  plugins/legacy-plugin-chart-rose/src/controlPanel.jsx
Due: plugins

feat(legacy-plugin-chart-rose): add time grain (#696)
  plugins/legacy-plugin-chart-rose/src/controlPanel.jsx
Due: plugins

fix(legacy-plugin-chart-pivot-table): formatting non-numeric values (#695)
  plugins/legacy-plugin-chart-pivot-table/src/PivotTable.js
Due: plugins

chore: publish v0.14.14
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
Due: core-packages, plugins

feat: add waterfall chart
  plugins/plugin-chart-waterfall/README.md
  plugins/plugin-chart-waterfall/package.json
  plugins/plugin-chart-waterfall/src/Waterfall.tsx
  plugins/plugin-chart-waterfall/src/images/thumbnail.png
  plugins/plugin-chart-waterfall/src/index.ts
  plugins/plugin-chart-waterfall/src/plugin/buildQuery.ts
  plugins/plugin-chart-waterfall/src/plugin/controlPanel.tsx
  plugins/plugin-chart-waterfall/src/plugin/index.ts
  plugins/plugin-chart-waterfall/src/plugin/transformProps.ts
  plugins/plugin-chart-waterfall/test/index.test.ts
  plugins/plugin-chart-waterfall/test/plugin/buildQuery.test.ts
  plugins/plugin-chart-waterfall/test/plugin/transformProps.test.ts
  plugins/plugin-chart-waterfall/types/external.d.ts
Due: plugins

feat(legacy-preset-chart-nvd3): add a new label type to pie chart
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
  plugins/legacy-preset-chart-nvd3/src/Pie/controlPanel.ts
Due: plugins

add space between value and percent
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
Due: plugins

fix eslint
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
Due: plugins

fix(query): correct equals operator and duplicate filters
  packages/superset-ui-query/src/buildQueryObject.ts
  packages/superset-ui-query/src/processFilters.ts
  packages/superset-ui-query/src/types/Operator.ts
  packages/superset-ui-query/test/convertFilter.test.ts
  packages/superset-ui-query/test/extractExtras.test.ts
  packages/superset-ui-query/test/processFilters.test.ts
  packages/superset-ui-query/test/types/Filter.test.ts
Due: core-packages

add time range endpoints
  packages/superset-ui-query/src/extractExtras.ts
  packages/superset-ui-query/src/types/QueryFormData.ts
  packages/superset-ui-query/test/extractExtras.test.ts
Due: core-packages

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
