Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

codecov.yml:

coverage:
  status:
    project:
      target: 90%
      # send notification if coverage change exceed this threshold
      threshold: 5%
    core-packages:
      target: 100%
      flags: 
        - core-packages
    plugins:
      target: 50%
      flags: 
        - plugins

flags:
  core-packages:
    paths:
      - packages
  plugins:
    paths:
      - plugins

build: change codecov config
  codecov.yml
Due: none

build: add codecov.yml
  codecov.yml
Due: none

feat: add validator to umbrella package (#327)
  packages/superset-ui-superset-ui/package.json
  packages/superset-ui-superset-ui/src/index.ts
  packages/superset-ui-superset-ui/test/index.test.ts
Due: core-packages

build: fix codecov.yml
  codecov.yml
Due: none

build: remove codecov for now so CI in master can pass
  codecov.yml
Due: none

fix: new line at end
  packages/superset-ui-demo/tsconfig.json
Due: core-packages

chore: cleanup big number and table chart (#422)
  plugins/superset-ui-plugins/packages/superset-ui-legacy-plugin-chart-table/README.md
  plugins/superset-ui-plugins/packages/superset-ui-legacy-plugin-chart-table/package.json
  plugins/superset-ui-plugins/packages/superset-ui-legacy-plugin-chart-table/src/ReactDataTable.tsx
  plugins/superset-ui-plugins/packages/superset-ui-legacy-plugin-chart-table/src/Table.css
  plugins/superset-ui-plugins/packages/superset-ui-legacy-plugin-chart-table/src/images/thumbnail.png
  plugins/superset-ui-plugins/packages/superset-ui-legacy-plugin-chart-table/src/images/thumbnailLarge.png
  plugins/superset-ui-plugins/packages/superset-ui-legacy-plugin-chart-table/src/index.ts
  plugins/superset-ui-plugins/packages/superset-ui-legacy-plugin-chart-table/src/transformProps.ts
  plugins/superset-ui-plugins/packages/superset-ui-legacy-plugin-chart-table/test/ReactDataTable.test.tsx
  plugins/superset-ui-plugins/packages/superset-ui-legacy-plugin-chart-table/test/testData.ts
  plugins/superset-ui-plugins/packages/superset-ui-legacy-plugin-chart-table/types/external.d.ts
  plugins/superset-ui-plugins/packages/superset-ui-legacy-preset-chart-big-number/README.md
  plugins/superset-ui-plugins/packages/superset-ui-legacy-preset-chart-big-number/package.json
  plugins/superset-ui-plugins/packages/superset-ui-legacy-preset-chart-big-number/src/BigNumber/BigNumber.css
  plugins/superset-ui-plugins/packages/superset-ui-legacy-preset-chart-big-number/src/BigNumber/BigNumber.tsx
  plugins/superset-ui-plugins/packages/superset-ui-legacy-preset-chart-big-number/src/BigNumber/images/thumbnail.png
  plugins/superset-ui-plugins/packages/superset-ui-legacy-preset-chart-big-number/src/BigNumber/images/thumbnailLarge.png
  plugins/superset-ui-plugins/packages/superset-ui-legacy-preset-chart-big-number/src/BigNumber/index.ts
  plugins/superset-ui-plugins/packages/superset-ui-legacy-preset-chart-big-number/src/BigNumber/transformProps.ts
  plugins/superset-ui-plugins/packages/superset-ui-legacy-preset-chart-big-number/src/BigNumberTotal/images/thumbnail.png
  plugins/superset-ui-plugins/packages/superset-ui-legacy-preset-chart-big-number/src/BigNumberTotal/images/thumbnailLarge.png
  plugins/superset-ui-plugins/packages/superset-ui-legacy-preset-chart-big-number/src/BigNumberTotal/index.ts
  plugins/superset-ui-plugins/packages/superset-ui-legacy-preset-chart-big-number/src/index.ts
  plugins/superset-ui-plugins/packages/superset-ui-legacy-preset-chart-big-number/src/preset.ts
  plugins/superset-ui-plugins/packages/superset-ui-legacy-preset-chart-big-number/src/tests/transformProps.test.ts
  plugins/superset-ui-plugins/packages/superset-ui-legacy-preset-chart-big-number/src/types/external.d.ts
  plugins/superset-ui-plugins/packages/superset-ui-legacy-preset-chart-big-number/src/utils/getTimeFormatterForGranularity.ts
  plugins/superset-ui-plugins/packages/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-table/Stories.tsx
  plugins/superset-ui-plugins/packages/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-table/birth_names.json
  plugins/superset-ui-plugins/packages/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-table/data.js
  plugins/superset-ui-plugins/packages/superset-ui-plugins-demo/storybook/stories/legacy-plugin-chart-table/index.js
  plugins/superset-ui-plugins/packages/superset-ui-plugins-demo/storybook/stories/legacy-preset-chart-big-number/BigNumber/Stories.tsx
  plugins/superset-ui-plugins/packages/superset-ui-plugins-demo/storybook/stories/legacy-preset-chart-big-number/BigNumber/data.ts
  plugins/superset-ui-plugins/packages/superset-ui-plugins-demo/storybook/stories/legacy-preset-chart-big-number/BigNumber/index.ts
  plugins/superset-ui-plugins/packages/superset-ui-plugins-demo/storybook/stories/legacy-preset-chart-big-number/BigNumberTotal/Stories.tsx
  plugins/superset-ui-plugins/packages/superset-ui-plugins-demo/storybook/stories/legacy-preset-chart-big-number/BigNumberTotal/data.ts
  plugins/superset-ui-plugins/packages/superset-ui-plugins-demo/storybook/stories/legacy-preset-chart-big-number/BigNumberTotal/index.ts
Due: plugins

fix: compatible with window (#426)
  plugins/superset-ui-plugins/packages/superset-ui-plugins-demo/package.json
Due: plugins

fix(legacy-plugin-chart-table): time column formating
  codecov.yml
  plugins/table/src/ReactDataTable.tsx
  plugins/table/src/transformProps.ts
  plugins/table/test/ReactDataTable.test.tsx
  plugins/table/test/testData.ts
Due: plugins

fix(legacy-plugin-chart-table): time column formating (#340)
  codecov.yml
  plugins/table/src/ReactDataTable.tsx
  plugins/table/src/transformProps.ts
  plugins/table/test/ReactDataTable.test.tsx
  plugins/table/test/testData.ts
Due: plugins

v0.12.13
  lerna.json
  packages/generator-superset/package.json
  packages/superset-ui-chart-composition/package.json
  packages/superset-ui-chart/package.json
  packages/superset-ui-color/package.json
  packages/superset-ui-connection/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-dimension/package.json
  packages/superset-ui-number-format/package.json
  packages/superset-ui-query/package.json
  packages/superset-ui-superset-ui/package.json
  packages/superset-ui-time-format/package.json
  packages/superset-ui-translation/package.json
  packages/superset-ui-validator/package.json
  plugins/big-number/package.json
  plugins/table/package.json
Due: core-packages, plugins

refactor: rename directories
  plugins/legacy-plugin-chart-table/README.md
  plugins/legacy-plugin-chart-table/package.json
  plugins/legacy-plugin-chart-table/src/ReactDataTable.tsx
  plugins/legacy-plugin-chart-table/src/Table.css
  plugins/legacy-plugin-chart-table/src/images/thumbnail.png
  plugins/legacy-plugin-chart-table/src/images/thumbnailLarge.png
  plugins/legacy-plugin-chart-table/src/index.ts
  plugins/legacy-plugin-chart-table/src/transformProps.ts
  plugins/legacy-plugin-chart-table/test/ReactDataTable.test.tsx
  plugins/legacy-plugin-chart-table/test/testData.ts
  plugins/legacy-plugin-chart-table/types/external.d.ts
  plugins/legacy-preset-chart-big-number/README.md
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-big-number/src/BigNumber/BigNumber.css
  plugins/legacy-preset-chart-big-number/src/BigNumber/BigNumber.tsx
  plugins/legacy-preset-chart-big-number/src/BigNumber/images/thumbnail.png
  plugins/legacy-preset-chart-big-number/src/BigNumber/images/thumbnailLarge.png
  plugins/legacy-preset-chart-big-number/src/BigNumber/index.ts
  plugins/legacy-preset-chart-big-number/src/BigNumber/transformProps.ts
  plugins/legacy-preset-chart-big-number/src/BigNumberTotal/images/thumbnail.png
  plugins/legacy-preset-chart-big-number/src/BigNumberTotal/images/thumbnailLarge.png
  plugins/legacy-preset-chart-big-number/src/BigNumberTotal/index.ts
  plugins/legacy-preset-chart-big-number/src/index.ts
  plugins/legacy-preset-chart-big-number/src/preset.ts
  plugins/legacy-preset-chart-big-number/src/tests/transformProps.test.ts
  plugins/legacy-preset-chart-big-number/src/types/external.d.ts
  plugins/legacy-preset-chart-big-number/src/utils/getTimeFormatterForGranularity.ts
Due: plugins

feat: allow toggling of bar chart backgrounds
  package.json
  packages/superset-ui-demo/storybook/stories/plugins/table/TableStories.tsx
  packages/superset-ui-demo/tsconfig.json
  plugins/table/src/ReactDataTable.tsx
  plugins/table/src/transformProps.ts
  plugins/table/test/testData.ts
Due: core-packages, plugins

feat: add calendar package and storybook
  packages/superset-ui-demo/.storybook/preview.js
  packages/superset-ui-demo/storybook/shared/dummyDatasource.ts
  packages/superset-ui-demo/storybook/stories/plugins/big-number/BigNumber/BigNumberStories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-calendar/Stories.jsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-calendar/data.js
  packages/superset-ui-demo/storybook/stories/plugins/table/TableStories.tsx
  plugins/legacy-plugin-chart-calendar/README.md
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-calendar/src/Calendar.css
  plugins/legacy-plugin-chart-calendar/src/Calendar.js
  plugins/legacy-plugin-chart-calendar/src/ReactCalendar.js
  plugins/legacy-plugin-chart-calendar/src/images/thumbnail.png
  plugins/legacy-plugin-chart-calendar/src/images/thumbnailLarge.png
  plugins/legacy-plugin-chart-calendar/src/index.js
  plugins/legacy-plugin-chart-calendar/src/transformProps.js
  plugins/legacy-plugin-chart-calendar/src/vendor/cal-heatmap.css
  plugins/legacy-plugin-chart-calendar/src/vendor/cal-heatmap.js
  plugins/legacy-plugin-chart-calendar/src/vendor/d3tip.css
  yarn.lock
Due: core-packages, plugins

fix: jest threshold
  package.json
Due: none

build: update codecov
  codecov.yml
Due: none

feat: add calendar package and storybook (#356)
  codecov.yml
  package.json
  packages/superset-ui-demo/.storybook/preview.js
  packages/superset-ui-demo/storybook/shared/dummyDatasource.ts
  packages/superset-ui-demo/storybook/stories/plugins/big-number/BigNumber/BigNumberStories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-calendar/Stories.jsx
  packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-calendar/data.js
  packages/superset-ui-demo/storybook/stories/plugins/table/TableStories.tsx
  plugins/legacy-plugin-chart-calendar/README.md
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-calendar/src/Calendar.css
  plugins/legacy-plugin-chart-calendar/src/Calendar.js
  plugins/legacy-plugin-chart-calendar/src/ReactCalendar.js
  plugins/legacy-plugin-chart-calendar/src/images/thumbnail.png
  plugins/legacy-plugin-chart-calendar/src/images/thumbnailLarge.png
  plugins/legacy-plugin-chart-calendar/src/index.js
  plugins/legacy-plugin-chart-calendar/src/transformProps.js
  plugins/legacy-plugin-chart-calendar/src/vendor/cal-heatmap.css
  plugins/legacy-plugin-chart-calendar/src/vendor/cal-heatmap.js
  plugins/legacy-plugin-chart-calendar/src/vendor/d3tip.css
  yarn.lock
Due: core-packages, plugins

feat: make categorical scale compatible with d3 scaleOrdinal
  packages/superset-ui-color/src/CategoricalColorScale.ts
  packages/superset-ui-color/test/CategoricalColorScale.test.ts
Due: core-packages

test: add unit test
  packages/superset-ui-color/test/CategoricalColorScale.test.ts
Due: core-packages

feat: make CategoricalColorScale signature compatible with D3 ScaleOrdinal
  packages/superset-ui-color/src/CategoricalColorScale.ts
Due: core-packages

feat: use scaleOrdinal in implementation
  packages/superset-ui-color/src/CategoricalColorScale.ts
  packages/superset-ui-color/test/CategoricalColorScale.test.ts
Due: core-packages

fix: type warnings for formatters
  packages/superset-ui-number-format/src/NumberFormatter.ts
  packages/superset-ui-time-format/src/TimeFormatter.ts
Due: core-packages

docs: add comment
  packages/superset-ui-number-format/src/NumberFormatter.ts
  packages/superset-ui-time-format/src/TimeFormatter.ts
Due: core-packages

fix: unit tests
  packages/superset-ui-core/test/models/ExtensibleFunction.test.ts
Due: core-packages

fix: inverting bar-chart-bg hide/show
  packages/superset-ui-demo/storybook/stories/plugins/table/TableStories.tsx
  plugins/table/src/ReactDataTable.tsx
  plugins/table/src/transformProps.ts
  plugins/table/test/testData.ts
Due: core-packages, plugins

fix: keeping metrics right aligned
  plugins/table/src/ReactDataTable.tsx
Due: plugins

feat: allow toggling of table viz's bar chart backgrounds (#352)
  package.json
  packages/superset-ui-demo/storybook/stories/plugins/table/TableStories.tsx
  packages/superset-ui-demo/tsconfig.json
  plugins/table/src/ReactDataTable.tsx
  plugins/table/src/transformProps.ts
  plugins/table/test/testData.ts
Due: core-packages, plugins

fix: type
  packages/superset-ui-number-format/src/NumberFormatter.ts
Due: core-packages

v0.12.14
  lerna.json
  packages/generator-superset/package.json
  packages/superset-ui-chart-composition/package.json
  packages/superset-ui-chart/package.json
  packages/superset-ui-color/package.json
  packages/superset-ui-connection/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-dimension/package.json
  packages/superset-ui-number-format/package.json
  packages/superset-ui-query/package.json
  packages/superset-ui-superset-ui/package.json
  packages/superset-ui-time-format/package.json
  packages/superset-ui-translation/package.json
  packages/superset-ui-validator/package.json
  plugins/big-number/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/table/package.json
Due: core-packages, plugins

feat: make time formatter handle timestamp
  packages/superset-ui-time-format/src/TimeFormatter.ts
  packages/superset-ui-time-format/test/TimeFormatter.test.ts
Due: core-packages

feat: make CategoricalScale compatible with D3 ScaleOrdinal (#357)
  packages/superset-ui-color/src/CategoricalColorScale.ts
  packages/superset-ui-color/test/CategoricalColorScale.test.ts
Due: core-packages

feat: make time formatter handle number and fix formatters type warnings (#358)
  packages/superset-ui-core/test/models/ExtensibleFunction.test.ts
  packages/superset-ui-number-format/src/NumberFormatter.ts
  packages/superset-ui-time-format/src/TimeFormatter.ts
  packages/superset-ui-time-format/test/TimeFormatter.test.ts
Due: core-packages

v0.12.15
  lerna.json
  packages/superset-ui-color/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  packages/superset-ui-number-format/package.json
  packages/superset-ui-superset-ui/package.json
  packages/superset-ui-time-format/package.json
Due: core-packages
