Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

codecov.yml:

coverage:
  status:
    project:
      target: 90%
      # send notification if coverage change exceed this threshold
      threshold: 5%
    core-packages:
      target: 100%
      flags: 
        - core-packages
    plugins:
      target: 50%
      flags: 
        - plugins

flags:
  core-packages:
    paths:
      - packages
  plugins:
    paths:
      - plugins

Change message
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
Due: plugins

feat(plugin-chart-echarts): subject Add rich tooltip (#906)
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
Due: plugins

Change placement of tooltip to top
  packages/superset-ui-chart-controls/src/components/ColumnOption.tsx
Due: core-packages

added configuration nobs remaining: expose those in control panel make them all work add tests
  plugins/plugin-chart-echarts/src/Graph/transformProps.ts
  plugins/plugin-chart-echarts/src/Graph/types.ts
Due: plugins

Configuration complete
  plugins/plugin-chart-echarts/src/Graph/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Graph/index.ts
  plugins/plugin-chart-echarts/src/Graph/transformProps.ts
  plugins/plugin-chart-echarts/src/Graph/types.ts
Due: plugins

feat(core): add orderby to extractQueryFields
  packages/superset-ui-core/src/query/buildQueryObject.ts
  packages/superset-ui-core/src/query/extractQueryFields.ts
  packages/superset-ui-core/src/query/types/Query.ts
  packages/superset-ui-core/src/query/types/QueryFormData.ts
  packages/superset-ui-core/test/query/extractQueryFields.test.ts
  plugins/plugin-chart-table/src/buildQuery.ts
  plugins/plugin-chart-table/src/controlPanel.tsx
Due: core-packages, plugins

feat(core): add orderby to extractQueryFields (#919)
  packages/superset-ui-core/src/query/buildQueryObject.ts
  packages/superset-ui-core/src/query/extractQueryFields.ts
  packages/superset-ui-core/src/query/types/Query.ts
  packages/superset-ui-core/src/query/types/QueryFormData.ts
  packages/superset-ui-core/test/query/extractQueryFields.test.ts
  plugins/plugin-chart-table/src/buildQuery.ts
  plugins/plugin-chart-table/src/controlPanel.tsx
Due: core-packages, plugins

chore: publish v0.17.1
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/plugin-filter-antd/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

feat(plugin-chart-echarts): subject Arrange legend and zoom
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/utils/series.ts
Due: plugins

fix
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Due: plugins

WIP
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Due: plugins

Fix
  plugins/plugin-chart-echarts/src/types.ts
Due: plugins

feat(plugin-chart-echarts): subject Add option to rotate label defaul 45
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/types.ts
Due: plugins

set zoomable false
  plugins/plugin-chart-echarts/src/utils/series.ts
Due: plugins

fix tests
  plugins/plugin-chart-echarts/test/utils/series.test.ts
Due: plugins

Change Tooltip placement type
  packages/superset-ui-chart-controls/src/components/InfoTooltipWithTrigger.tsx
Due: core-packages

Allow to override tooltip color and style
  packages/superset-ui-chart-controls/src/components/Tooltip.tsx
Due: core-packages

fix(chart-controls): add a tooltip to span in ColumnOption, refactor RB Tooltips to Antd (#914)
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-chart-controls/src/components/ColumnOption.tsx
  packages/superset-ui-chart-controls/src/components/InfoTooltipWithTrigger.tsx
  packages/superset-ui-chart-controls/src/components/Tooltip.tsx
  packages/superset-ui-chart-controls/test/components/InfoTooltipWithTrigger.test.tsx
Due: core-packages

chore: publish v0.17.2
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/plugin-filter-antd/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

Solve comments
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/constants.ts
  plugins/plugin-chart-echarts/src/types.ts
  plugins/plugin-chart-echarts/src/utils/series.ts
Due: plugins

Solve comments
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Due: plugins

fix(plugin-chart-table): unnecessary post_processing in raw records mode
  plugins/plugin-chart-table/src/buildQuery.ts
  plugins/plugin-chart-table/test/buildQuery.test.ts
Due: plugins

fix(plugin-chart-table): unnecessary post_processing in raw records mode (#925)
  plugins/plugin-chart-table/src/buildQuery.ts
  plugins/plugin-chart-table/test/buildQuery.test.ts
Due: plugins

chore: publish v0.17.3
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/plugin-chart-table/package.json
Due: core-packages, plugins

Change from text input to select input with freeForm
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
Due: plugins

todos complete,clean+suggestsions up remaining
  plugins/plugin-chart-echarts/src/Graph/buildQuery.ts
  plugins/plugin-chart-echarts/src/Graph/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Graph/images/thumbnail.png
  plugins/plugin-chart-echarts/src/Graph/index.ts
  plugins/plugin-chart-echarts/src/Graph/sample_input.json
  plugins/plugin-chart-echarts/src/Graph/transformProps.ts
  plugins/plugin-chart-echarts/src/Graph/types.ts
  plugins/plugin-chart-echarts/src/index.ts
Due: plugins

few typing issues,tests,legend customization remaining
  plugins/plugin-chart-echarts/src/Graph/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Graph/transformProps.ts
  plugins/plugin-chart-echarts/src/Graph/types.ts
Due: plugins

cleanup
  plugins/plugin-chart-echarts/src/Graph/types.ts
Due: plugins

fix d3 references
  plugins/legacy-preset-chart-nvd3/src/utils.js
Due: plugins

feat(plugin-chart-echarts): subject Update echarts to v5.0.1
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
  plugins/plugin-chart-echarts/src/BoxPlot/types.ts
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  plugins/plugin-chart-echarts/src/components/Echart.tsx
  plugins/plugin-chart-echarts/src/types.ts
  plugins/plugin-chart-echarts/src/utils/annotation.ts
  plugins/plugin-chart-echarts/src/utils/prophet.ts
  plugins/plugin-chart-echarts/src/utils/series.ts
Due: plugins

fix lint
  plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  plugins/plugin-chart-echarts/src/utils/prophet.ts
  plugins/plugin-chart-echarts/src/utils/series.ts
Due: plugins

fix lint
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
Due: plugins

wip
  plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  plugins/plugin-chart-echarts/src/utils/prophet.ts
Due: plugins

wip
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Due: plugins

cleanup
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
Due: plugins

feat(core): add custom_params to form_data
  packages/superset-ui-chart-controls/src/sections.tsx
  packages/superset-ui-core/src/query/buildQueryObject.ts
  packages/superset-ui-core/src/query/types/Query.ts
  packages/superset-ui-core/src/query/types/QueryFormData.ts
  packages/superset-ui-core/test/query/buildQueryObject.test.ts
Due: core-packages

wip
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
Due: plugins

arrow function
  plugins/plugin-chart-echarts/src/Graph/transformProps.ts
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
Due: plugins

cleanup
  plugins/plugin-chart-echarts/src/Graph/buildQuery.ts
Due: plugins

Fix comments
  plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
Due: plugins
