Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

codecov.yml:

coverage:
  status:
    project:
      target: 90%
      # send notification if coverage change exceed this threshold
      threshold: 5%
    core-packages:
      target: 100%
      flags: 
        - core-packages
    plugins:
      target: 50%
      flags: 
        - plugins

flags:
  core-packages:
    paths:
      - packages
  plugins:
    paths:
      - plugins

chore: publish v0.17.66
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

chore(chart-controls): improve test coverage
  packages/superset-ui-chart-controls/src/utils/getColorFormatters.ts
  packages/superset-ui-chart-controls/test/utils/getColorFormatters.test.ts
Due: core-packages

chore(chart-controls): improve test coverage (#1219)
  packages/superset-ui-chart-controls/src/utils/getColorFormatters.ts
  packages/superset-ui-chart-controls/test/utils/getColorFormatters.test.ts
Due: core-packages

undefined fix
  plugins/plugin-chart-table/src/transformProps.ts
Due: plugins

Lint fix
  plugins/plugin-chart-table/src/TableChart.tsx
Due: plugins

feat(plugin-chart-table): implement conditional formatting
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/controlPanel.tsx
  plugins/plugin-chart-table/src/transformProps.ts
  plugins/plugin-chart-table/src/types.ts
Due: plugins

Fix tests
  plugins/plugin-chart-pivot-table/src/plugin/transformProps.ts
  plugins/plugin-chart-pivot-table/test/plugin/buildQuery.test.ts
  plugins/plugin-chart-pivot-table/test/plugin/transformProps.test.ts
  yarn.lock
Due: plugins

Use custom icons for expand/collapse
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
Due: plugins

Revert changes to ControlForm
  packages/superset-ui-chart-controls/src/components/ControlForm/ControlFormItem.tsx
  packages/superset-ui-chart-controls/src/components/ControlHeader.tsx
Due: core-packages

feat(plugin-chart-pivot-table): implement conditional and date formatting
  packages/superset-ui-chart-controls/src/components/ControlForm/ControlFormItem.tsx
  packages/superset-ui-chart-controls/src/components/ControlHeader.tsx
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
  plugins/plugin-chart-pivot-table/src/plugin/controlPanel.ts
  plugins/plugin-chart-pivot-table/src/plugin/transformProps.ts
  plugins/plugin-chart-pivot-table/src/types.ts
  plugins/plugin-chart-pivot-table/test/plugin/transformProps.test.ts
Due: core-packages, plugins

Fix tests
  plugins/plugin-chart-pivot-table/src/plugin/index.ts
  plugins/plugin-chart-pivot-table/test/plugin/transformProps.test.ts
Due: plugins

fix(plugin-chart-echarts): table support single select
  plugins/plugin-chart-table/src/TableChart.tsx
Due: plugins

fix(plugin-chart-pivot-table): pivot table supports single select
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
Due: plugins

fix(plugin-chart-table): fix table clear x-filtering highlighting issue
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/transformProps.ts
Due: plugins

fix(plugin-chart-table): fix lint
  plugins/plugin-chart-table/src/TableChart.tsx
Due: plugins

fix(legacy-plugin-chart-sankey-loop): clear element before redrawing
  plugins/legacy-plugin-chart-sankey-loop/src/SankeyLoop.js
Due: plugins

fix(plugin-chart-table): table clear x-filtering highlighting (#1222)
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/transformProps.ts
Due: plugins

added finland geojson
  plugins/legacy-plugin-chart-country-map/src/countries/finland.geojson
Due: plugins

Revert "added finland geojson"
  plugins/legacy-plugin-chart-country-map/src/countries/finland.geojson
Due: plugins

update with finland
  plugins/legacy-plugin-chart-country-map/src/countries.ts
Due: plugins

updated package json
  package.json
Due: none

update to package json
  package.json
Due: none

bugfix
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/transformProps.ts
Due: plugins

feat(plugin-chart-table): implement conditional formatting (#1218)
  plugins/plugin-chart-table/src/TableChart.tsx
  plugins/plugin-chart-table/src/controlPanel.tsx
  plugins/plugin-chart-table/src/transformProps.ts
  plugins/plugin-chart-table/src/types.ts
Due: plugins

fix: Reduce bundle sizes from react-icons
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/constants.tsx
  packages/superset-ui-demo/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-table/src/TableChart.tsx
  yarn.lock
Due: core-packages, plugins

fix: Reduce bundle sizes from react-icons (#1225)
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/constants.tsx
  packages/superset-ui-demo/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-table/src/TableChart.tsx
  yarn.lock
Due: core-packages, plugins

chore: publish v0.17.67
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

fix(plugin-chart-pivot-table): pivot table supports single select (#1221)
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
Due: plugins

updates to country map package
  package.json
  plugins/legacy-plugin-chart-country-map/package.json
Due: plugins

Rename variable
  plugins/plugin-chart-pivot-table/src/plugin/transformProps.ts
Due: plugins

feat(plugin-chart-pivot-table): column, date and conditional formatting (#1217)
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
  plugins/plugin-chart-pivot-table/src/plugin/controlPanel.ts
  plugins/plugin-chart-pivot-table/src/plugin/index.ts
  plugins/plugin-chart-pivot-table/src/plugin/transformProps.ts
  plugins/plugin-chart-pivot-table/src/types.ts
  plugins/plugin-chart-pivot-table/test/plugin/buildQuery.test.ts
  plugins/plugin-chart-pivot-table/test/plugin/transformProps.test.ts
  yarn.lock
Due: plugins

feat(chart-controls): dnd version of time column
  packages/superset-ui-chart-controls/src/shared-controls/dndControls.tsx
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
Due: core-packages

chore: publish v0.17.68
  lerna.json
  plugins/plugin-chart-pivot-table/package.json
Due: plugins

chore: change popular to Highly-used
  plugins/legacy-plugin-chart-world-map/src/index.js
  plugins/legacy-preset-chart-big-number/src/BigNumber/index.ts
  plugins/legacy-preset-chart-big-number/src/BigNumberTotal/index.ts
  plugins/legacy-preset-chart-nvd3/src/Area/index.js
  plugins/legacy-preset-chart-nvd3/src/DistBar/index.js
  plugins/plugin-chart-echarts/src/Pie/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/index.ts
  plugins/plugin-chart-pivot-table/src/plugin/index.ts
  plugins/plugin-chart-table/src/index.ts
Due: plugins

chore: change popular to Highly-used (#1227)
  plugins/legacy-plugin-chart-world-map/src/index.js
  plugins/legacy-preset-chart-big-number/src/BigNumber/index.ts
  plugins/legacy-preset-chart-big-number/src/BigNumberTotal/index.ts
  plugins/legacy-preset-chart-nvd3/src/Area/index.js
  plugins/legacy-preset-chart-nvd3/src/DistBar/index.js
  plugins/plugin-chart-echarts/src/Pie/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/index.ts
  plugins/plugin-chart-pivot-table/src/plugin/index.ts
  plugins/plugin-chart-table/src/index.ts
Due: plugins

chore: change Popularity to Highly-used
  plugins/legacy-plugin-chart-heatmap/src/index.js
  plugins/plugin-chart-word-cloud/src/plugin/index.ts
Due: plugins

chore: change Popularity to Highly-used (#1228)
  plugins/legacy-plugin-chart-heatmap/src/index.js
  plugins/plugin-chart-word-cloud/src/plugin/index.ts
Due: plugins

feat(chart-controls): dnd version of time column (#1226)
  packages/superset-ui-chart-controls/src/shared-controls/dndControls.tsx
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
Due: core-packages

chore: publish v0.17.69
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins
