Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

codecov.yml:

coverage:
  status:
    project:
      target: 90%
      # send notification if coverage change exceed this threshold
      threshold: 5%
    core-packages:
      target: 100%
      flags: 
        - core-packages
    plugins:
      target: 50%
      flags: 
        - plugins

flags:
  core-packages:
    paths:
      - packages
  plugins:
    paths:
      - plugins

fix(plugin-chart-echarts): fix incorrect groupby in buildQuery (#800)
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.ts
  plugins/plugin-chart-echarts/test/Timeseries/buildQuery.test.ts
  plugins/plugin-chart-echarts/test/Timeseries/transformProps.test.ts
Due: plugins

chore: publish v0.15.4
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/plugin-chart-echarts/package.json
Due: core-packages, plugins

feat(plugin-chart-echarts): add BoxPlot chart
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/BoxPlot/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/BoxPlot/data.ts
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Pie/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Pie/data.ts
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Timeseries/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Timeseries/data.ts
  plugins/plugin-chart-echarts/src/BoxPlot/EchartsBoxPlot.tsx
  plugins/plugin-chart-echarts/src/BoxPlot/buildQuery.ts
  plugins/plugin-chart-echarts/src/BoxPlot/controlPanel.ts
  plugins/plugin-chart-echarts/src/BoxPlot/images/thumbnail.png
  plugins/plugin-chart-echarts/src/BoxPlot/index.ts
  plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
  plugins/plugin-chart-echarts/src/BoxPlot/types.ts
  plugins/plugin-chart-echarts/src/Pie/controlPanel.ts
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.ts
  plugins/plugin-chart-echarts/test/BoxPlot/buildQuery.test.ts
  plugins/plugin-chart-echarts/test/BoxPlot/transformProps.test.ts
Due: core-packages, plugins

fix(generator-superset): regressions in viz plugin generator
  packages/generator-superset/generators/plugin-chart/index.js
  packages/generator-superset/generators/plugin-chart/templates/src/MyChart.erb
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/controlPanel.erb
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/index.erb
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/transformProps.erb
  packages/generator-superset/generators/plugin-chart/templates/src/types.erb
  packages/generator-superset/generators/plugin-chart/templates/tsconfig.json
Due: core-packages

make headline stand out
  plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
Due: plugins

address comments
  packages/generator-superset/generators/plugin-chart/templates/README.erb
  packages/generator-superset/generators/plugin-chart/templates/tsconfig.json
Due: core-packages

fix(generator-superset): add fixes to viz plugin generator (#803)
  packages/generator-superset/generators/plugin-chart/index.js
  packages/generator-superset/generators/plugin-chart/templates/README.erb
  packages/generator-superset/generators/plugin-chart/templates/src/MyChart.erb
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/controlPanel.erb
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/index.erb
  packages/generator-superset/generators/plugin-chart/templates/src/plugin/transformProps.erb
  packages/generator-superset/generators/plugin-chart/templates/src/types.erb
  packages/generator-superset/generators/plugin-chart/templates/tsconfig.json
Due: core-packages

address comments
  plugins/plugin-chart-echarts/src/BoxPlot/images/thumbnail.png
  plugins/plugin-chart-echarts/src/BoxPlot/index.ts
  plugins/plugin-chart-echarts/src/Pie/index.ts
  plugins/plugin-chart-echarts/src/Timeseries/index.ts
Due: plugins

feat(plugin-chart-echarts): add BoxPlot chart (#801)
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/BoxPlot/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/BoxPlot/data.ts
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Pie/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Pie/data.ts
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Timeseries/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Timeseries/data.ts
  plugins/plugin-chart-echarts/src/BoxPlot/EchartsBoxPlot.tsx
  plugins/plugin-chart-echarts/src/BoxPlot/buildQuery.ts
  plugins/plugin-chart-echarts/src/BoxPlot/controlPanel.ts
  plugins/plugin-chart-echarts/src/BoxPlot/images/thumbnail.png
  plugins/plugin-chart-echarts/src/BoxPlot/index.ts
  plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
  plugins/plugin-chart-echarts/src/BoxPlot/types.ts
  plugins/plugin-chart-echarts/src/Pie/controlPanel.ts
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.ts
  plugins/plugin-chart-echarts/src/Timeseries/index.ts
  plugins/plugin-chart-echarts/test/BoxPlot/buildQuery.test.ts
  plugins/plugin-chart-echarts/test/BoxPlot/transformProps.test.ts
Due: core-packages, plugins

chore: publish v0.15.5
  lerna.json
  packages/generator-superset/package.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

chore(plugin-chart-echarts): rename boxplot type to whisker_type
  plugins/plugin-chart-echarts/src/BoxPlot/buildQuery.ts
  plugins/plugin-chart-echarts/src/BoxPlot/types.ts
Due: plugins

chore(plugin-chart-echarts): rename boxplot type to whisker_type (#804)
  plugins/plugin-chart-echarts/src/BoxPlot/buildQuery.ts
  plugins/plugin-chart-echarts/src/BoxPlot/types.ts
Due: plugins

chore: publish v0.15.6
  lerna.json
  plugins/plugin-chart-echarts/package.json
Due: plugins

feat(plugin-chart-echarts): add truncate y-axis feature
  plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/defaults.ts
Due: plugins

fix(plugin-chart-echarts): improve ECharts visuals
  packages/superset-ui-demo/package.json
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Pie/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Pie/data.ts
  plugins/plugin-chart-echarts/src/Pie/controlPanel.ts
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Due: core-packages, plugins

add desc ordering
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Pie/data.ts
  plugins/plugin-chart-echarts/src/Pie/buildQuery.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Due: core-packages, plugins

address comments
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Due: plugins

simplify isNaN check
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Due: plugins

fix(plugin-chart-echarts): improve ECharts visuals (#806)
  packages/superset-ui-demo/package.json
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Pie/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Pie/data.ts
  plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
  plugins/plugin-chart-echarts/src/Pie/controlPanel.ts
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/defaults.ts
Due: core-packages, plugins

chore: publish v0.15.7
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/plugin-chart-echarts/package.json
Due: core-packages, plugins

fix(legacy-preset-chart-nvd3): custom yAxisFormat for contribution
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
Due: plugins

fix(legacy-preset-chart-nvd3): custom yAxisFormat for contribution (#808)
  plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
Due: plugins

chore: publish v0.15.8
  lerna.json
  plugins/legacy-preset-chart-nvd3/package.json
Due: plugins

feat(core): add applied_time_extras to QueryObject
  packages/superset-ui-core/src/query/extractExtras.ts
  packages/superset-ui-core/src/query/types/Query.ts
  packages/superset-ui-core/test/query/extractExtras.test.ts
Due: core-packages

fix(plugin-chart-echarts): fix default y axis bounds
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
Due: plugins

address review comments
  packages/superset-ui-core/src/query/extractExtras.ts
  packages/superset-ui-core/src/query/types/Query.ts
  packages/superset-ui-core/src/query/types/Time.ts
Due: core-packages

feat(core): add applied_time_extras to QueryObject (#809)
  packages/superset-ui-core/src/query/extractExtras.ts
  packages/superset-ui-core/src/query/types/Query.ts
  packages/superset-ui-core/src/query/types/Time.ts
  packages/superset-ui-core/test/query/extractExtras.test.ts
Due: core-packages

fix(plugin-chart-echarts): fix default y axis bounds (#810)
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
Due: plugins

chore: publish v0.15.9
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

feat(core): add support for annotations and url params
  packages/superset-ui-core/src/query/buildQueryObject.ts
  packages/superset-ui-core/src/query/index.ts
  packages/superset-ui-core/src/query/types/AnnotationLayer.ts
  packages/superset-ui-core/src/query/types/Query.ts
  packages/superset-ui-core/src/query/types/QueryFormData.ts
  packages/superset-ui-core/test/query/buildQueryObject.test.ts
Due: core-packages

add type guards
  packages/superset-ui-core/src/query/types/AnnotationLayer.ts
  packages/superset-ui-core/test/query/types/AnnotationFilter.test.ts
Due: core-packages

feat(core): add support for annotations and url params (#812)
  packages/superset-ui-core/src/query/buildQueryObject.ts
  packages/superset-ui-core/src/query/index.ts
  packages/superset-ui-core/src/query/types/AnnotationLayer.ts
  packages/superset-ui-core/src/query/types/Query.ts
  packages/superset-ui-core/src/query/types/QueryFormData.ts
  packages/superset-ui-core/test/query/buildQueryObject.test.ts
  packages/superset-ui-core/test/query/types/AnnotationFilter.test.ts
Due: core-packages

chore: publish v0.15.10
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-choropleth-map/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

fix(plugin-chart-echarts): improve yAxisBounds parsing
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/utils/controls.ts
  plugins/plugin-chart-echarts/test/utils/controls.test.ts
Due: plugins

fix(plugin-chart-echarts): disable pie chart animation
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
Due: plugins

fix(plugin-chart-echarts): disable pie chart animation (#816)
  plugins/plugin-chart-echarts/src/Pie/transformProps.ts
Due: plugins

fix(plugin-chart-echarts): improve yAxisBounds parsing (#815)
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/utils/controls.ts
  plugins/plugin-chart-echarts/test/utils/controls.test.ts
Due: plugins

chore: publish v0.15.11
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/plugin-chart-echarts/package.json
Due: core-packages, plugins

feat: update time_compare description and choices
  plugins/legacy-plugin-chart-partition/src/controlPanel.jsx
Due: plugins

Update NVD3Controls.tsx
  plugins/legacy-preset-chart-nvd3/src/NVD3Controls.tsx
Due: plugins
