Repository apache-superset/superset-ui: changes, and which Codecov flags are due for each by the changed paths.
All: core-packages, plugins

feat(chart-controls): implement drag&drop controls for all charts (#1127)
  packages/superset-ui-chart-controls/src/shared-controls/dndControls.tsx
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  packages/superset-ui-chart-controls/src/utils/columnChoices.ts
  plugins/legacy-plugin-chart-heatmap/src/controlPanel.ts
  plugins/legacy-plugin-chart-histogram/src/controlPanel.ts
  plugins/legacy-plugin-chart-map-box/src/controlPanel.ts
  plugins/legacy-preset-chart-nvd3/src/Bubble/controlPanel.ts
  plugins/plugin-chart-table/src/controlPanel.tsx
Due: core-packages, plugins

chore: publish v0.17.50
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

feat(plugin-chart-echarts): Treemap improvements (#1125)
  plugins/plugin-chart-echarts/src/Treemap/buildQuery.ts
  plugins/plugin-chart-echarts/src/Treemap/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Treemap/transformProps.ts
  plugins/plugin-chart-echarts/src/Treemap/types.ts
  plugins/plugin-chart-echarts/test/Treemap/transformProps.test.ts
Due: plugins

fix(plugin-chart-echarts): color constant
  plugins/plugin-chart-echarts/src/Treemap/constants.ts
  plugins/plugin-chart-echarts/src/Treemap/transformProps.ts
Due: plugins

fix(plugin-chart-pivot-table): fix displaying column labels
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
  plugins/plugin-chart-pivot-table/src/plugin/transformProps.ts
  plugins/plugin-chart-pivot-table/src/types.ts
  plugins/plugin-chart-pivot-table/test/plugin/transformProps.test.ts
Due: plugins

fix(plugin-chart-pivot-table): fix displaying column labels (#1132)
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
  plugins/plugin-chart-pivot-table/src/plugin/transformProps.ts
  plugins/plugin-chart-pivot-table/src/types.ts
  plugins/plugin-chart-pivot-table/test/plugin/transformProps.test.ts
Due: plugins

chore: publish v0.17.51
  lerna.json
  packages/superset-ui-demo/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
Due: core-packages, plugins

feat(core): add new feature flags
  packages/superset-ui-core/src/utils/featureFlags.ts
Due: core-packages

feat(core): add new feature flags (#1133)
  packages/superset-ui-core/src/utils/featureFlags.ts
Due: core-packages

feat(core): remove defaults for time range filter and Metrics
  packages/superset-ui-chart-controls/src/shared-controls/dndControls.tsx
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  plugins/plugin-chart-table/src/controlPanel.tsx
Due: core-packages, plugins

Display errors on all 3 controls
  plugins/plugin-chart-table/src/controlPanel.tsx
Due: plugins

Fix for raw mode
  plugins/plugin-chart-table/src/controlPanel.tsx
Due: plugins

Refactor duplicated code
  plugins/plugin-chart-table/src/controlPanel.tsx
Due: plugins

feat(core): remove defaults for time range filter and Metrics (#1114)
  packages/superset-ui-chart-controls/src/shared-controls/dndControls.tsx
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  plugins/plugin-chart-table/src/controlPanel.tsx
Due: core-packages, plugins

chore: publish v0.17.52
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

feat(plugin-chart-echarts): add x-filtering to treemap (#1115)
  plugins/plugin-chart-echarts/src/Treemap/EchartsTreemap.tsx
  plugins/plugin-chart-echarts/src/Treemap/constants.ts
  plugins/plugin-chart-echarts/src/Treemap/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Treemap/index.ts
  plugins/plugin-chart-echarts/src/Treemap/transformProps.ts
  plugins/plugin-chart-echarts/src/Treemap/types.ts
Due: plugins

fix(core): missing translation
  packages/superset-ui-core/src/chart/components/NoResultsComponent.tsx
Due: core-packages

fix ci issue
  packages/superset-ui-core/test/chart/components/NoResultsComponent.test.tsx
Due: core-packages

feat(plugin-chart-echarts): hide predictive section if no prophet
  plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
Due: plugins

adding to feature flag enum
  packages/superset-ui-core/src/utils/featureFlags.ts
Due: core-packages

feat: adding to feature flag enum (#1142)
  packages/superset-ui-core/src/utils/featureFlags.ts
Due: core-packages

fix(plugin-chart-echarts): fix tooltip format in mixed ts chart
  plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
Due: plugins

fix ci
  packages/superset-ui-core/src/chart/components/NoResultsComponent.tsx
Due: core-packages

fix(plugin-chart-echarts): fix tooltip format in mixed ts chart (#1143)
  plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
Due: plugins

changed name to be more descriptive
  packages/superset-ui-core/src/utils/featureFlags.ts
Due: core-packages

changed name to be more descriptive (#1145)
  packages/superset-ui-core/src/utils/featureFlags.ts
Due: core-packages

update
  packages/superset-ui-core/src/chart/components/NoResultsComponent.tsx
Due: core-packages

feat: expose form_data to datasourceControl
  packages/superset-ui-chart-controls/src/shared-controls/index.tsx
Due: core-packages

chore: publish v0.17.53
  lerna.json
  packages/superset-ui-chart-controls/package.json
  packages/superset-ui-core/package.json
  packages/superset-ui-demo/package.json
  plugins/legacy-plugin-chart-calendar/package.json
  plugins/legacy-plugin-chart-chord/package.json
  plugins/legacy-plugin-chart-country-map/package.json
  plugins/legacy-plugin-chart-event-flow/package.json
  plugins/legacy-plugin-chart-force-directed/package.json
  plugins/legacy-plugin-chart-heatmap/package.json
  plugins/legacy-plugin-chart-histogram/package.json
  plugins/legacy-plugin-chart-horizon/package.json
  plugins/legacy-plugin-chart-map-box/package.json
  plugins/legacy-plugin-chart-paired-t-test/package.json
  plugins/legacy-plugin-chart-parallel-coordinates/package.json
  plugins/legacy-plugin-chart-partition/package.json
  plugins/legacy-plugin-chart-pivot-table/package.json
  plugins/legacy-plugin-chart-rose/package.json
  plugins/legacy-plugin-chart-sankey-loop/package.json
  plugins/legacy-plugin-chart-sankey/package.json
  plugins/legacy-plugin-chart-sunburst/package.json
  plugins/legacy-plugin-chart-time-table/package.json
  plugins/legacy-plugin-chart-treemap/package.json
  plugins/legacy-plugin-chart-world-map/package.json
  plugins/legacy-preset-chart-big-number/package.json
  plugins/legacy-preset-chart-nvd3/package.json
  plugins/plugin-chart-echarts/package.json
  plugins/plugin-chart-pivot-table/package.json
  plugins/plugin-chart-table/package.json
  plugins/plugin-chart-word-cloud/package.json
  plugins/preset-chart-xy/package.json
Due: core-packages, plugins

fix(plugin-chart-echarts): waterfall
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Waterfall/Stories.tsx
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Waterfall/data.ts
  plugins/plugin-chart-echarts/src/Waterfall/EchartsWaterfall.tsx
  plugins/plugin-chart-echarts/src/Waterfall/buildQuery.ts
  plugins/plugin-chart-echarts/src/Waterfall/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Waterfall/images/thumbnail.png
  plugins/plugin-chart-echarts/src/Waterfall/index.ts
  plugins/plugin-chart-echarts/src/Waterfall/transformProps.ts
  plugins/plugin-chart-echarts/src/Waterfall/types.ts
  plugins/plugin-chart-echarts/src/index.ts
Due: core-packages, plugins

chore(core): add new fields to metadata class
  packages/superset-ui-core/src/chart/models/ChartMetadata.ts
Due: core-packages

fix(plugin-chart-echarts): rename
  plugins/plugin-chart-echarts/src/Waterfall/buildQuery.ts
  plugins/plugin-chart-echarts/src/Waterfall/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Waterfall/transformProps.ts
Due: plugins

fix(plugin-chart-echarts): remove some unused code
  plugins/plugin-chart-echarts/src/Waterfall/EchartsWaterfall.tsx
  plugins/plugin-chart-echarts/src/Waterfall/transformProps.ts
  plugins/plugin-chart-echarts/src/Waterfall/types.ts
Due: plugins

fix(plugin-chart-echarts): remove some unused code
  plugins/plugin-chart-echarts/src/Waterfall/controlPanel.tsx
Due: plugins

fix(plugin-chart-echarts): add unit test
  packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Waterfall/Stories.tsx
  plugins/plugin-chart-echarts/test/Waterfall/buildQuery.test.ts
  plugins/plugin-chart-echarts/test/Waterfall/transformProps.test.ts
Due: core-packages, plugins

fix(plugin-chart-echarts): change transformProps 逻辑
  plugins/plugin-chart-echarts/src/Waterfall/buildQuery.ts
  plugins/plugin-chart-echarts/src/Waterfall/controlPanel.tsx
  plugins/plugin-chart-echarts/src/Waterfall/transformProps.ts
  plugins/plugin-chart-echarts/src/Waterfall/types.ts
  plugins/plugin-chart-echarts/test/Waterfall/transformProps.test.ts
Due: plugins

Adding new counrty
  turkey.geojson
Due: none

Adding Country
  plugins/legacy-plugin-chart-country-map/src/countries/turkey.geojson
Due: plugins

Path conditions:
  core-packages: any of: packages
  plugins: any of: plugins
